<div class="wrapper wrapper-content animated fadeInRight" data-ng-init="index()">
  <script>
    $(function(){
      $( ".tabpanel" ).tabs({closable: false, addTab:false}).tabs('overflowResize')
      .find( ".ui-tabs-nav" ).sortable({
        distance: 10
      });
    });
  </script>

  <div class="col-lg-12 col-sm-12 m-t-md">
    <div class="tabpanel">
      <div class="col-lg-12 col-sm-12 tabs-container">
        <ul class="nav nav-tabs">
          <li class=""><a class="" data-toggle="tab" href="#tabs-1" aria-expanded="false">ANEL 1</a></li>
          <li class=""><a class="" data-toggle="tab" href="#tabs-2" aria-expanded="false">ANEL 2</a></li>
          <li class=""><a class="" data-toggle="tab" href="#tabs-3" aria-expanded="false">ANEL 3</a></li>
        </ul>
      </div>

      <div id="tabs-1" class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12 ibox-title white-bg">
          <h1>Anel 1</h1>
        </div>
        <ng-include src="'views/horarios/tabs.html'">
      </div>
      <div id="tabs-2" class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12 ibox-title white-bg">
          <h1>Anel 2</h1>
        </div>
        <ng-include src="'views/horarios/tabs.html'">
      </div>
      <div id="tabs-3" class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12 ibox-title white-bg">
          <h1>Anel 3</h1>
        </div>
        <ng-include src="'views/horarios/tabs.html'">
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12 col-lg-12 bg-border-footer pg-bt-footer actions clearfix">
  <a  tooltips tooltip-template="Salvar" class="btn btn-primary btn-footer right">
    {{ 'geral.crud.salvar' | translate }}
  </a>
  <a goToTop tooltips tooltip-template="Descartar" class="btn btn-outline btn-primary btn-footer right m-r-sm right">
    {{ 'horarios.descartar' | translate }}
  </a>
</div>
<div class="row"></div>
