<div class="wrapper wrapper-content animated fadeInRight" data-ng-init="index()">
  <div class="m-t-md">
    <div class="col-lg-12 col-sm-12 bg-border no-padding">
      <div class="ibox float-e-margins">
        <div class="tabpanel">
          <ul>
            <li><a href="#tabs-1" class="closable">Nunc tincidunt</a></li>
            <li><a href="#tabs-2" class="closable">Proin dolor</a></li>
            <li><a href="#tabs-3" class="closable">Aenean lacinia</a></li>
          </ul>
          <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
            <div class="ui-layout-content tab-content">
              <div id="tabs-1">
                <div class="col-lg-12 col-sm-12 ibox-content no-padding">
                  <h5>{{ horarios.titulo | translate }}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
