.lista-falhas {
  max-height: 500px;
  overflow: scroll;
}

.chart {
  width: 200px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
}

.chart .content-not-available {
  text-align: center;
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
