tr[influunt-evento].removido {
  background-color: lightgrey;
}

tr[influunt-evento].adicionado {
  background-color: lightgreen;
}

.diff-table {
  margin-top: 5px;
}

.diff-table span.versao-usuario {
  padding: 10px;
}
