tr[influunt-evento] {
  &.removido {
    background-color: #FFBDBD;
  }

  &.adicionado {
    background-color: lightgreen;
  }
}

.diff-table {
  margin-top: 5px;

  span.versao-usuario {
    padding: 10px;
  }
}

div.legenda {
  a {
    cursor: default;

    &:hover {
      background-color: white;
    }

    div {
      height: 10px;
      width: 20px;
      display: inline-block;
      margin-right: 5px;

      &.removido {
        background: #FFBDBD;
      }

      &.adicionado {
        background: lightgreen;
      }
    }
  }
}
