.mapa-container {
  .leaflet-left {
    left: 10px;
    transition-duration: 0.8s;
    &.open {
      left: 210px;
    }
  }
  .ajutes {
    &.theme-config {
      height: 100%;
      overflow-y: auto;
      background: #fff;
      border: 1px solid #ddd;
      top: 0;
      left: 0;
      right: auto;
      .theme-config-box {
        margin-left: -240px;
        margin-right: auto;
        &.open {
          margin-left: 0;
          margin-right: auto;
          .skin-setttings {
            margin-right: 0px;
          }
          .spin-icon {
            background-color: #fff;
            color: #ccc;
          }
        }
        .skin-setttings {
          width: 240px;
          display: table;
          padding: 20px 10px;
          margin-left: 0;
          margin-right: 45px;
          background: #ffffff;
          transition-duration: 0.8s;
          .inputAjustes {
            margin-bottom: 20px;
          }
        }
        .spin-icon {
          width: 45px;
          padding: 12px 15px;
          right: 0;
          left: auto;
          border-radius: 0;
          z-index: 2;
        }
      }
    }
    h3 {
      font-size: 13px;
      text-transform: uppercase;
    }
    .btn {
      min-width: 190px;
    }
    .inputAjustes {
      span {
          position: absolute;
          margin-left: 10px;
      }
    }
  }
  .area-mapa {
    width: 100% !important;
    height: 70vh;
    margin-left: 40px;
    border: 1px solid #ddd;
  }
  .acoes {
    width: 270px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -270px;
    display: table;
    padding: 10px;
    background: #ffffff;
    transition-duration: 0.8s;
    &.open-acao-panel {
      right: 0;
    }
    .fecharAcoes {
      display: block;
      padding: 5px;
      cursor: pointer;
    }
    .btnPlanos {
      text-decoration: none;
      display: block;
      margin: 10px 0;
      cursor: pointer;
    }
    ul {
      margin-left: 0px;
      float: left;
      padding-left: 0;
      margin-bottom: 20px;
      &.planos {
        display: none;
        &.openPlanos {
          display: table;
        }
        li {
          list-style: none;
          text-decoration: underline;
          margin-bottom: 5px;
          a {
            color: #1ab394;
          }
        }
      }
    }
    .btn {
      min-width: 180px;
    }
  }
}

#modal-legenda-agrupamentos {
  .agrupamento-sample {
    border: 0.3em dashed;
    width: 50px;
    height: 12px;

    &.rota { border-color: #555; }
    &.corredor { border-color: #2196f3; }
    &.subarea { border-color: #4caf50; }
  }

  .texto-legenda {
    text-align: left;
    font-weight: bold;
  }

  .marker-legenda {
    width: 32px;
    height: 37px;
  }
}
