@import "./variables.scss";

.select2-container.select2-container--default.select2-container--open {
  z-index: 99999;
}

ul.menu-planos {
  li.item-menu {
    span.nome-plano {
      opacity: 0.4;

      &.configurado {
        opacity: 1;
      }
    }
  }
}

.planos.ui-sortable {
  list-style-type: none;
  margin: 0;
  margin-left: 6px;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
  display: flex;

  .sortable-list {
    display: flex;
    padding: 0px;
  }

  li.card-estagio {
    &.add-card-estagio {
      cursor: pointer;
      border-style: dashed;

      .add-card-container {
        height: 250px;
        display: table-cell;
        vertical-align: middle;
      }
    }

    .sortable {
      cursor: -webkit-grab;
    }

    margin: 0 3px 3px 3px;
    padding: 10px;
    font-size: 1.4em;
    height: 250px;
    float: left;

    &.estagio-ativo {
      background: darken(#F9F9F9, 10);
      border-color: darken(#DDDDDD, 10);
    }

    .opcoes-plano-estagio {
      margin-top: 0px;
      cursor: pointer;
    }

    figure {
      display: block;
      width: 180px;
      height: 155px;
      background-color: #ebebeb;
      border: 1px solid #898989;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      margin: 20px auto 10px;

      image {
        width: 155px;
      }
    }
  }
}

/* ==================================
 * Vis timeline
 * ==================================
 */
.vis-title {
  display: none;
}

.vis-item.vis-selected {
  border-color: #97B0F8;
  background-color: #D5DDF6;
  z-index: 2;
}

.vis-item.vis-background {
  border-right: 3px solid black;

  // Declaracao das cores de fundo para os estágios. Gera classes de cores para a list
  // em $bg-colors
  @for $i from 1 through length($bg-colors) {
    $color: nth($bg-colors, $i);
    &.vis-background-E#{$i} {
      background-color: $color;
      opacity: 0.5;
    }
  }
}

.indicacao-apagado {
  color: #fff;
}

// Definicao das cores de sinais.
@each $nome-cor, $cor in $cores-de-sinais {
  .indicacao-#{$nome-cor} {
    @if index($temas-hachurados, $nome-cor) {
      background: $bg-hachurado $cor;
    } @else {
      background: $cor;
    }
    border-color: darken($cor, 20);
  }
}
