@import "./variables.scss";

.simulacao {
  h5 {
    font-size: 16px;
    font-weight: 300;
  }

  .ibox-title {
    background: #fff;
  }
  .fa-trash {
    font-size: 20px;
    padding-top: 6px;
  }
  .simular {
    background-color: #e9eaee;
    padding: 20px 0;
    margin-bottom: 30px;
  }
  .diagrama {
    .guia {
      height: 500px;
      overflow: auto;
      .simulaEspaco {
        width: 2000px;
        height: 800px;
        background: url(https://cloud.githubusercontent.com/assets/19826047/18851706/8b23956e-8413-11e6-98ff-252b551ffbd5.jpg) no-repeat;
        background-position-x: -20px;
        background-position-y: -580px;
        display: block;
      }
    }
  }
  .diagrama100 {
    width: 100% !important;
    -webkit-transition-duration: 0.8s;
  }
  .log {
    div {
      overflow-y: auto;
      max-height: 380px;
    }
    &.logClose {
      display: none !important;
    }
    b {
      margin-right: 30px;
    }
  }
}

#main{
   float: right;
   position: absolute;
   right: 0;

}
#sidebar{
   float: left;
   height: 450px;
   overflow-y: hidden;
}

#dragbar{
  background-color:#e9eaee;
  height:100%;
  float: right;
  padding: 220px 6px 0;
  cursor: col-resize;
  i {
    color: #bdbec1;
  }
}
#ghostbar{
  width:3px;
  background-color:#000;
  opacity:0.5;
  position:absolute;
  cursor: col-resize;
  z-index:999
}

#canvas {
  background-color: #CCC;

  canvas {
    margin: auto;
  }
}

#modal-simulacao .modal-body {
  height: 740px;
}
