$bg-hachurado: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANUlEQVQYV2NkwAM6Ojr+M+KSB0lWVFQwYlUAkwRpxlCALImhAF0SRQE2SbgCXJJgBfgkQQoAFRkeoKyjcMIAAAAASUVORK5CYII=");
$bg-colors: #FFF9C4, #F0F4C3, #DCEDC8, #C8E6C9, #B2DFDB, #B2EBF2, #B3E5FC, #82B1FF, #8C9EFF, #B388FF, #BBDEFB, #C5CAE9, #D1C4E9, #E1BEE7, #F8BBD0, #FFCDD2;
$cores-de-sinais: (verde: #00ad4d, amarelo: #fffb00, intermitente: #fffb00, vermelho-limpeza: #a31100, vermelho-intermitente: #ff1b00, vermelho: #ff1b00, apagado: #3d3d3d);
$temas-hachurados: "vermelho-intermitente", "intermitente";
