<div class="theme-config">
  <div class="theme-config-box">
    <div class="spin-icon">
      <i class="fa fa-search"></i>
    </div>
    <div class="skin-setttings">
      <h3>{{ 'crud.pesquisar' | translate }}</h3>
      <form role="form" name="formularioPesquisa">
        <div class="form-group" data-ng-repeat="campo in campos"
            data-ng-init="ngModel[campo.nome].tipoCampo = campo.tipo">
          <div data-ng-if="campo.tipo === 'texto'">
            <ng-include src="'views/directives/pesquisa-lateral/texto.html'"></ng-include>
          </div>
          <div data-ng-if="campo.tipo === 'numerico'">
            <ng-include src="'views/directives/pesquisa-lateral/numerico.html'"></ng-include>
          </div>
          <div data-ng-if="campo.tipo === 'data'">
            <ng-include src="'views/directives/pesquisa-lateral/data.html'"></ng-include>
          </div>
        </div>

        <div class="col-sm-12 bg-border-footer">
          <input class="btn btn-primary btn-footer right m-r-sm"
              type="submit"
              data-ng-click="pesquisar()"
              value="{{ 'crud.pesquisar' | translate }}">
          <input class="btn btn-primary btn-outline btn-footer right m-r-sm"
              type="button"
              data-ng-click="limparPesquisa()"
              value="{{ 'crud.limparPesquisa' | translate }}">
        </div>
      </form>
    </div>
  </div>
</div>
