<label class="col-sm-2 control-label">{{ campo.label | translate }}</label>
<div class="col-sm-10 campos-pesquisa  m-b">
  <div class="col-sm-12">
    <select ng-model="ngModel[campo.nome].valor" class="form-control">
      <option
          ng-repeat="option in campo.options track by $index"
          value="{{option}}"
          data-ng-if="isArray(campo.options)">
        {{ option | translate}}
      </option>

      <option
          ng-repeat="(key, value) in campo.options track by $index"
          value="{{ value }}"
          data-ng-if="!isArray(campo.options) && isObject(campo.options)">
        {{ key | translate}}
      </option>
    </select>
  </div>
</div>
