<pesquisa-lateral
    data-ng-model="pesquisa.filtro"
    campos="pesquisa.campos"
    on-close="index()">
</pesquisa-lateral>

<div class="wrapper wrapper-content animated fadeInRight" data-ng-init="index()">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{ 'imporConfig.titulo' | translate }}</h5>
        </div>
        <div class="ibox-content">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th class='fit-to-content'></th>
                <th>{{ 'imporConfig.status' | translate }}</th>
                <th>{{ 'imporConfig.cla' | translate }}</th>
                <th>{{ 'imporConfig.local' | translate }}</th>
                <th>{{ 'imporConfig.info' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="anel in lista">
                <td class='fit-to-content'>
                  <div class="ichecks-checkbox">
                    <label class="i-checks">
                      <input type="checkbox"
                        ichecks
                        ng-model="isAnelChecked[anel.id]"
                        data-if-checked="selecionaAnel(anel.id)"
                        data-if-unchecked="desselecionaAnel(anel.id)">
                    </label>
                  </div>
                </td>
                <td>{{ anel.controlador.statusControladorReal | translate }}</td>
                <td>{{ anel.CLA }}</td>
                <td>{{ anel.endereco | nomeEndereco }}</td>
                <td>
                  <influunt-mqtt-transaction-status
                      data-transaction-id="idsTransacoes[anel.controlador.id]"
                      data-current-status="statusTransacoes[anel.controlador.id]"
                      data-is-active="isAnelChecked[anel.id]">
                  </influunt-mqtt-transaction-status>
                  <!-- Modo imposto: Intermitente. Início 26/02/2016 às 16:50. Duração: 180 minutos. <a data-ng-click='liberar'>Liberar</a>. -->
                </td>
              </tr>
            </tbody>
          </table>
          <ng-include src="'views/common/footer-pagination.html'"></ng-include>

          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                  <div class="right">
                    <imposicao-plano
                        aneis-selecionados="aneisSelecionadosObj"
                        ids-transacoes="idsTransacoes">
                    </imposicao-plano>
                    <imposicao-modo
                        aneis-selecionados="aneisSelecionadosObj"
                        ids-transacoes="idsTransacoes">
                    </imposicao-modo>
                    <sincronizacao
                      aneis-selecionados="aneisSelecionadosObj"
                      ids-transacoes="idsTransacoes"></sincronizacao>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
