<pesquisa-lateral
    data-ng-model="pesquisa.filtro"
    campos="pesquisa.campos"
    on-close="index()">
</pesquisa-lateral>

<div class="wrapper wrapper-content animated fadeInRight" data-ng-init="index()">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{ 'imporConfig.titulo' | translate }}</h5>
        </div>
        <div class="ibox-content">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>
                  Status
                </th>
                <th>
                  CLA
                </th>
                <th>
                  Local
                </th>
                <th>
                  Info
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="ichecks-checkbox">
                    <label class="i-checks">
                      <input type="checkbox" ichecks>
                    </label>
                    Configurado
                  </div>
                </td>
                <td>
                  3.000.0004-2
                </td>
                <td>
                  R. Emília Marengo com Rua Serra do Japi
                </td>
                <td>
                  Modo imposto: Intermitente. Início 26/02/2016 às 16:50. Duração: 180 minutos. <a ng-click='liberar'>Liberar</a>.
                </td>
              </tr>
              <tr>
                <td>
                  <div class="ichecks-checkbox">
                    <label class="i-checks">
                      <input type="checkbox" ichecks>
                    </label>
                    Em configuracão
                  </div>
                </td>
                <td>
                  3.000.0004-2
                </td>
                <td>
                  R. Emília Marengo com Rua Serra do Japi
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="ichecks-checkbox">
                    <label class="i-checks">
                      <input type="checkbox" ichecks>
                    </label>
                    Configurado
                  </div>
                </td>
                <td>
                  3.000.0004-2
                </td>
                <td>
                  R. Emília Marengo com Rua Serra do Japi
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="ichecks-checkbox">
                    <label class="i-checks">
                      <input type="checkbox" ichecks>
                    </label>
                    Configurado
                  </div>
                </td>
                <td>
                  3.000.0004-2
                </td>
                <td>
                  R. Emília Marengo com Rua Serra do Japi
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="ichecks-checkbox">
                    <label class="i-checks">
                      <input type="checkbox" ichecks>
                    </label>
                    Configurado
                  </div>
                </td>
                <td>
                  3.000.0004-2
                </td>
                <td>
                  R. Emília Marengo com Rua Serra do Japi
                </td>
                <td>
                  Modo imposto: Intermitente. Início 26/02/2016 às 16:50. Duração: 180 minutos. <a ng-click='liberar'>Liberar</a>.
                </td>
              </tr>
              <tr>
                <td>
                  <div class="ichecks-checkbox">
                    <label class="i-checks">
                      <input type="checkbox" ichecks>
                    </label>
                    Configurado
                  </div>
                </td>
                <td>
                  3.000.0004-2
                </td>
                <td>
                  R. Emília Marengo com Rua Serra do Japi
                </td>
                <td>
                  Sincronizando: 35% <br />
                  <div class="progress sincronizando">
                      <div style="width: 35%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class="progress-bar progress-bar-default">
                          <span class="sr-only">35% Complete (success)</span>
                      </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                  <div class="right">
                    <button data-toggle="modal"
                            data-target="#modal-impor-plano"
                            class="btn btn-w-m btn-primary">
                            Impor plano
                    </button>
                    <button data-toggle="modal"
                            data-target="#modal-impor-modo"
                            class="btn btn-w-m btn-primary">
                            Impor modo
                    </button>
                    <button data-toggle="modal"
                            data-target="#modal-sincronizar"
                            class="btn btn-w-m btn-primary">
                            Sincronizar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal | impor plano -->
<div class="modal inmodal" id="modal-impor-plano" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">

        <form role="form">
          <div class="row text-left">
            <div class="col-sm-12">
              <label>Plano</label>
            </div>
            <div class="col-sm-10">
              <select class="form-control m-b" name="account">
                <option> </option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
              </select>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary " data-dismiss="modal">
                Editar
              </button>
            </div>
          </div>
          <div class="row text-left">
            <div class="col-sm-12">
              <label>Horário de Entrada</label>
            </div>
            <div class="col-sm-3">
              <select class="form-control m-b" name="account">
                <option>Dia</option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control m-b" name="account">
                <option>Mês</option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control m-b" name="account">
                <option>Ano</option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
              </select>
            </div>
            <div class="col-sm-12 clear"></div>
            <div class="col-sm-3">
              <select class="form-control m-b" name="account">
                <option>Hora</option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control m-b" name="account">
                <option>Min.</option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control m-b" name="account">
                <option>Seg.</option>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
              </select>
            </div>
          </div>
          <div class="row text-left">
            <div class="col-sm-12">
              <label>Duração</label>
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary " data-dismiss="modal">
          Impor Plano
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal | impor modo -->
<div class="modal inmodal" id="modal-impor-modo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <div class="row text-left">
          <div class="col-sm-6">
            <section role="complementary" class="">
              <div
                influunt-map
                markers="markers"
                areas="areas"
                agrupamentos="agrupamentos"
                options="{scrollWheelZoom: false}"
                on-click-marker="setCurrentObject($markerData)"
                class="influunt-map area-mapa"></div>
            </section>
          </div>
          <div class="col-sm-6">
            <form role="form">
              <div class="row">
                <div class="col-sm-12">
                  <p>
                    <input type="radio" ichecks value="">
                    Impor modo apagado
                  </p>
                  <p>
                    <input type="radio" ichecks value="">
                    Impor modo interminente
                  </p>
                </div>
              </div>
              <div class="row text-left">
                <div class="col-sm-12">
                  <label>Entrada</label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control m-b" name="account">
                    <option>Dia</option>
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control m-b" name="account">
                    <option>Mês</option>
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control m-b" name="account">
                    <option>Ano</option>
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                  </select>
                </div>
                <div class="col-sm-12 clear"></div>
                <div class="col-sm-4">
                  <select class="form-control m-b" name="account">
                    <option>Hora</option>
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control m-b" name="account">
                    <option>Min.</option>
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control m-b" name="account">
                    <option>Seg.</option>
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                  </select>
                </div>
              </div>
              <div class="row text-left">
                <div class="col-sm-12">
                  <label>Duração</label>
                </div>
                <div class="col-sm-12">
                  <input type="text" class="form-control">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary " data-dismiss="modal">
          Impor modo
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal | sincronizar -->
<div class="modal inmodal" id="modal-sincronizar" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <div class="row text-left">
          <div class="col-sm-12">
            <form role="form">
              <div class="row">
                <div class="col-sm-12">
                  <p>
                    <input type="radio" ichecks value="">
                    Sincronizar apenas Tabela horária
                  </p>
                  <p>
                    <input type="radio" ichecks value="">
                    Sincronizar Tabela Horária e Planos
                  </p>
                  <p>
                    <input type="radio" ichecks value="">
                    Sincronizar Tabela Horária, Planos e Configurações
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary " data-dismiss="modal">
          Sincronizar
        </button>
      </div>
    </div>
  </div>
</div>
