<div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
  <influunt-tabs class="tabpanel"
                 data-on-activate="selecionaAnelRevisao"
                 data-aneis-ativos="aneis">
  </influunt-tabs>
  <div class="ui-layout-content tab-content">
    <div class="col-lg-12 col-sm-12 no-padding-left padding-top-20 text-left">
      <edit-in-revisao condition="assertControlador.assertStepAneis(objeto) && podeEditarControlador()"
          on-click="editarEmRevisao(objeto, 'app.wizard_controladores.aneis')"
          tooltip="{{ 'geral.tooltip.editar' | translate }} {{ 'controladores.aneis.titulo' | translate }}">
      </edit-in-revisao>

      <div class="col-lg-3 col-sm-3 no-padding-left">
        <p><strong>{{ 'controladores.CLA' | translate }}:</strong> {{ dadosCurrentAnel.CLA }}</p>
        <p><strong>{{ 'controladores.localizacao' | translate }}:</strong> {{ dadosCurrentAnel.localizacao }}</p>
        <p><strong>{{ 'controladores.numeroSMEE' | translate }}:</strong> {{ dadosCurrentAnel.numeroSMEE }}</p>
      </div>
      <div class="col-lg-3 col-sm-3 no-padding-left">
        <p><strong>{{ 'controladores.gruposPedestres' | translate }}:</strong> {{ dadosCurrentAnel.numGruposPedestre }}</p>
        <p><strong>{{ 'controladores.gruposSinaisVeiculares' | translate }}:</strong> {{ dadosCurrentAnel.numGruposVeicular }}</p>
        <p><strong>{{ 'controladores.numeroDetectoresPedestres' | translate }}:</strong> {{ dadosCurrentAnel.numDetectoresPedestre }}</p>
        <p><strong>{{ 'controladores.numeroDetectores' | translate }}:</strong> {{ dadosCurrentAnel.numDetectoresVeicular }}</p>
      </div>
      <div class="col-lg-6 col-sm-6 no-padding-left">
        <img data-ng-src="{{ dadosCurrentAnel.croqui }}">
      </div>
    </div>

    <div class="col-lg-12 col-sm-12 no-padding">
      <div class="col-lg-6 col-sm-6 no-padding-left text-left">
        <div class="col-lg-12 col-sm-12 no-padding">
          <div class="col-lg-9 col-sm-9">
            <h2>{{ 'controladores.gruposSemaforicos.titulo' | translate }}</h2>
          </div>
          <div class="col-lg-3 col-sm-3" style="margin-top: 15px;">
            <edit-in-revisao condition="assertControlador.assertStepConfiguracaoGrupos(objeto) && podeEditarControlador()"
                on-click="editarEmRevisao(objeto, 'app.wizard_controladores.configuracao_grupo')"
                tooltip="{{ 'geral.tooltip.editar' | translate }} {{ 'controladores.gruposSemaforicos.titulo' | translate }}">
            </edit-in-revisao>
          </div>
        </div>
        <ng-include src="'views/directives/influunt-revisao/_grupos-semaforicos.html'" data-ng-if="dadosCurrentGruposSemaforicos.length > 0"></ng-include>
        <ng-include src="'views/directives/influunt-revisao/_vazio.html'" data-ng-if="!(dadosCurrentGruposSemaforicos && dadosCurrentGruposSemaforicos.length > 0)"></ng-include>
      </div>

      <div class="col-lg-6 col-sm-6 no-padding-left text-left">
        <div class="col-lg-12 col-sm-12 no-padding">
          <div class="col-lg-9 col-sm-9">
            <h2>{{ 'controladores.associacao.titulo' | translate }}</h2>
          </div>
          <div class="col-lg-3 col-sm-3 no-padding-right" style="margin-top: 15px;">
            <edit-in-revisao condition="assertControlador.assertStepAssociacao(objeto) && podeEditarControlador()"
                on-click="editarEmRevisao(objeto, 'app.wizard_controladores.associacao')"
                tooltip="{{ 'geral.tooltip.editar' | translate }} {{ 'controladores.associacao.titulo' | translate }}">
            </edit-in-revisao>
          </div>
        </div>
        <ng-include src="'views/directives/influunt-revisao/_estagios.html'" data-ng-if="dadosCurrentEstagios.length > 0"></ng-include>
        <ng-include src="'views/directives/influunt-revisao/_vazio.html'" data-ng-if="!(dadosCurrentEstagios && dadosCurrentEstagios.length > 0)"></ng-include>
      </div>
    </div>

    <div class="col-sm-12 no-padding">
      <div class="col-sm-6 no-padding-left padding-top-20 text-left">
        <div class="col-lg-12 col-sm-12 no-padding">
          <div class="col-lg-9 col-sm-9">
            <h2>{{ 'controladores.verdesConflitantes.titulo' | translate }}</h2>
          </div>
          <div class="col-lg-3 col-sm-3" style="margin-top: 15px;">
            <edit-in-revisao condition="assertControlador.assertStepVerdesConflitantes(objeto) && podeEditarControlador()"
                on-click="editarEmRevisao(objeto, 'app.wizard_controladores.verdes_conflitantes')"
                tooltip="{{ 'geral.tooltip.editar' | translate }} {{ 'controladores.verdesConflitantes.titulo' | translate }}">
            </edit-in-revisao>
          </div>
        </div>
        <ng-include src="'views/directives/influunt-revisao/_verdes-conflitantes.html'" data-ng-if="dadosCurrentVerdesConflitantes.length > 0"></ng-include>
        <ng-include src="'views/directives/influunt-revisao/_vazio.html'" data-ng-if="!(dadosCurrentVerdesConflitantes && dadosCurrentVerdesConflitantes.length > 0)"></ng-include>
      </div>

      <div class="col-sm-6 no-padding-left padding-top-20 text-left">
        <div class="col-lg-12 col-sm-12 no-padding">
          <div class="col-lg-9 col-sm-9">
            <h2>{{ 'controladores.transicoesProibidas.titulo' | translate }}</h2>
          </div>
          <div class="col-lg-3 col-sm-3 no-padding-right" style="margin-top: 15px;">
            <edit-in-revisao condition="assertControlador.assertStepTransicoesProibidas(objeto) && podeEditarControlador()"
                on-click="editarEmRevisao(objeto, 'app.wizard_controladores.transicoes_proibidas')"
                tooltip="{{ 'geral.tooltip.editar' | translate }} {{ 'controladores.transicoesProibidas.titulo' | translate }}">
            </edit-in-revisao>
          </div>
        </div>
        <ng-include src="'views/directives/influunt-revisao/_transicoes-proibidas.html'"
            data-ng-if="dadosCurrentTransicoesProibidas1.length > 0 || dadosCurrentTransicoesProibidas2.length > 0">
        </ng-include>
        <ng-include src="'views/directives/influunt-revisao/_vazio.html'"
          data-ng-if="!(dadosCurrentTransicoesProibidas1 && dadosCurrentTransicoesProibidas2 && dadosCurrentTransicoesProibidas1.length + dadosCurrentTransicoesProibidas2.length > 0)"></ng-include>
      </div>

      <div class="col-sm-12 no-padding">
        <div class="col-sm-6 no-padding-left padding-top-20 text-left">
          <div class="col-lg-12 col-sm-12 no-padding">
            <div class="col-lg-9 col-sm-9">
              <h2>{{ 'controladores.entreVerdes.titulo' | translate }}</h2>
            </div>
            <div class="col-lg-3 col-sm-3" style="margin-top: 15px;">
              <edit-in-revisao condition="assertControlador.assertStepEntreVerdes(objeto) && podeEditarControlador()"
                  on-click="editarEmRevisao(objeto, 'app.wizard_controladores.entre_verdes')"
                  tooltip="{{ 'geral.tooltip.editar' | translate }} {{ 'controladores.entreVerdes.titulo' | translate }}">
              </edit-in-revisao>
            </div>
          </div>
          <ng-include src="'views/directives/influunt-revisao/_tabelas-entre-verdes.html'"
              data-ng-if="currentTabelasEntreVerdes.length > 0">
          </ng-include>
          <ng-include src="'views/directives/influunt-revisao/_vazio.html'"
              data-ng-if="!(dadosCurrentGruposSemaforicos && currentTabelasEntreVerdes.length > 0)">
          </ng-include>
        </div>

        <div class="col-sm-6 no-padding-left padding-top-20 text-left">
          <div class="col-lg-12 col-sm-12 no-padding">
            <div class="col-lg-9 col-sm-9">
              <h2>{{ 'controladores.atrasoDeGrupo.titulo' | translate }}</h2>
            </div>
            <div class="col-lg-3 col-sm-3 no-padding-right" style="margin-top: 15px;">
              <edit-in-revisao condition="assertControlador.assertStepAtrasoDeGrupo(objeto) && podeEditarControlador()"
                  on-click="editarEmRevisao(objeto, 'app.wizard_controladores.atraso_de_grupo')"
                  tooltip="{{ 'geral.tooltip.editar' | translate }} {{ 'controladores.atrasoDeGrupo.titulo' | translate }}">
              </edit-in-revisao>
            </div>
          </div>
          <ng-include src="'views/directives/influunt-revisao/_atraso-grupos.html'"
              data-ng-if="currentAtrasosdeGrupo.length > 0">
          </ng-include>
          <ng-include src="'views/directives/influunt-revisao/_vazio.html'"
              data-ng-if="!(dadosCurrentGruposSemaforicos && currentAtrasosdeGrupo.length > 0)">
          </ng-include>
        </div>

      </div>

      <div class="col-sm-12 no-padding">
        <div class="col-lg-6 col-sm-6 no-padding-left padding-top-20 text-left">
          <div class="col-lg-12 col-sm-12 no-padding">
            <div class="col-lg-9 col-sm-9">
              <h2>{{ 'controladores.associacaoDetectores.titulo' | translate }}</h2>
            </div>
            <div class="col-lg-3 col-sm-3" style="margin-top: 15px;">
              <edit-in-revisao condition="assertControlador.assertStepAssociacaoDetectores(objeto) && podeEditarControlador()"
                  on-click="editarEmRevisao(objeto, 'app.wizard_controladores.associacao_detectores')"
                  tooltip="{{ 'geral.tooltip.editar' | translate }} {{ 'controladores.associacaoDetectores.titulo' | translate }}">
              </edit-in-revisao>
            </div>
          </div>
          <ng-include src="'views/directives/influunt-revisao/_associacao.html'" data-ng-if="dadosCurrentDetectores.length > 0"></ng-include>
          <ng-include src="'views/directives/influunt-revisao/_vazio.html'" data-ng-if="!(dadosCurrentDetectores && dadosCurrentDetectores.length > 0)"></ng-include>
        </div>
      </div>
    </div>
  </div>
</div>
