<div class="col-lg-12 col-sm-12 no-padding padding-top-20 ibox-content">
  <div class="col-lg-1 col-sm-1"></div>
  <div class="col-lg-2 col-sm-2">
    <p><strong>{{ 'controladores.revisao.estagio' | translate }}</strong></p>
  </div>
  <div class="col-lg-3 col-sm-3">
    <p><strong>{{ 'controladores.associacaoDetectores.monitoramentoFalha' | translate }}</strong></p>
  </div>
  <div class="col-lg-3 col-sm-3">
    <p><strong>{{ 'controladores.revisao.ausenciaDeteccao' | translate }}</strong></p>
  </div>
  <div class="col-lg-3 col-sm-3">
    <p><strong>{{ 'controladores.revisao.ausenciaDeteccaoPermanente' | translate }}</strong></p>
  </div>
</div>
<div class="col-sm-12 no-padding" data-ng-repeat="detector in dadosCurrentDetectores">
  <div class="col-lg-1 col-sm-1">
    <p><strong>{{ detector.nome }}</strong></p>
  </div>
  <div class="col-lg-2 col-sm-2">
    <p class="view-group"><strong>E{{ detector.estagio.posicao }}</strong></p>
  </div>
  <div class="col-lg-3 col-sm-3">
    <p data-ng-if="detector.monitorado"><i class="fa fa-check com-monitoramento" aria-hidden="true"></i></p>
    <p data-ng-if="!detector.monitorado"><i class="fa fa-times sem-monitoramento" aria-hidden="true"></i></p>
  </div>
  <div class="col-lg-3 col-sm-3">
    <p>{{ detector.tempoAusenciaDeteccao }} min</p>
  </div>
  <div class="col-lg-3 col-sm-3">
    <p>{{ detector.tempoDeteccaoPermanente }} min</p>
  </div>
</div>
