<div class="col-lg-3 col-sm-6">
  <p><strong>{{ 'controladores.cidade' | translate }}:</strong> {{ dadosBasicos.cidade.nome }}</p>
  <p><strong>{{ 'controladores.area' | translate }}:</strong> {{ dadosBasicos.area.descricao }}</p>
  <p><strong>{{ 'controladores.subarea' | translate }}:</strong> {{dadosBasicos.subarea.numero}} - {{ dadosBasicos.subarea.nome }}</p>
  <p><strong>{{ 'controladores.numeroSMEE' | translate }}:</strong> {{ dadosBasicos.numeroSMEE }}</p>
  <p><strong>{{ 'controladores.CLC' | translate }}:</strong> {{ objeto.CLC }}</p><br>
  <p><strong>{{ 'controladores.numeroSMEEConjugado1' | translate }}:</strong> {{ dadosBasicos.numeroSMEEConjugado1 }}</p>
  <p><strong>{{ 'controladores.numeroSMEEConjugado2' | translate }}:</strong> {{ dadosBasicos.numeroSMEEConjugado2 }}</p>
  <p><strong>{{ 'controladores.numeroSMEEConjugado3' | translate }}:</strong> {{ dadosBasicos.numeroSMEEConjugado3 }}</p>
</div>
<div class="col-lg-3 col-sm-6">
  <p><strong>{{ 'controladores.fabricante' | translate }}:</strong> {{ dadosBasicos.fabricante.nome }}</p>
  <p><strong>{{ 'controladores.modelo' | translate }}:</strong> {{ dadosBasicos.modelo.descricao }}</p><br>
  <p><strong>{{ 'controladores.estagios.titulo' | translate }}:</strong> {{ dadosBasicos.numEstagios }}</p>
  <p><strong>{{ 'controladores.totalAneis' | translate }}:</strong> {{ dadosBasicos.numAneisAtivos }}</p>
  <p><strong>{{ 'controladores.maxDetectorVeicular' | translate }}:</strong> {{ dadosBasicos.numDetectoresVeicular }}</p>
  <p><strong>{{ 'controladores.maxDetectorPedestre' | translate }}:</strong> {{ dadosBasicos.numDetectoresPedestre }}</p>
</div>

<div class="col-lg-3 col-sm-6 padding-bottom-20" name="croqui">
  <img data-ng-src="{{ dadosBasicos.croqui }}">
</div>

<div class="col-lg-3 col-sm-6">
  <p><strong>{{ 'controladores.nomeEndereco' | translate }}:</strong> {{ dadosBasicos.endereco }}</p>
  <figure>
    <div influunt-map markers="markerEnderecoControlador" mapa-id="popup-revisao" class="influunt-map"></div>
  </figure>
</div>
