<div class="m-t-md">
  <div class="col-lg-12 col-sm-12 bg-border no-padding margin-botton ibox revisao">
    <div class="col-lg-12 col-sm-12 text-left">
      <h2>
        {{ 'controladores.dadosBasicos.titulo' | translate }}
        <span class="badge badge-flask" data-ng-if="dadosBasicos.exclusivoParaTeste">
          <i class="fa fa-flask"></i> {{ 'controladores.teste' | translate }}
        </span>
      </h2>
    </div>
    <div class="col-lg-12 col-sm-12 ibox-content no-padding-left no-padding-right padding-top-20">
      <ng-include src="'views/directives/influunt-revisao/_dados_basicos.html'" data-ng-if="objeto"></ng-include>
      <ng-include src="'views/directives/influunt-revisao/_vazio.html'" data-ng-if="!objeto"></ng-include>
    </div>
  </div>
</div>

<!-- Abas de aneis -->
<div class="m-t-md">
  <div class="col-lg-12 col-sm-12 bg-border no-padding revisao">
    <div class="ibox float-e-margins">
      <div class="tabpanel">
        <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
          <ng-include src="'views/directives/influunt-revisao/_aneis.html'" data-ng-if="aneis.length > 0"></ng-include>
        </div>
      </div>
    </div>
  </div>
</div>
