.DS_Store
log
logs
log
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
imagens/*
/bin/
1.sql
npm-debug.log
*mosquittorarolabscombr*
*.mapdb*
influunt-api/default-create-all.sql
influunt-api/default-drop-all.sql
influunt-api/central-tcp*
influunt-bin/instaladores/*
db
