<div id="form" data-ng-init="show()">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>
              {{ 'geral.crud.editar' | translate }}
              <small style="margin-left: 2px;">{{ objeto.nome }} - #{{ minid }}</small>
            </h5>
          </div>

          <ng-include src="'views/subareas/form.html'"></ng-include>
      </div>
    </div>
  </div>
</div>

