<div id="form" data-ng-init="init()">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>
              {{ 'geral.crud.editar' | translate }}
              <small class="margin-left-2">Faixas de Valores</small>
            </h5>
          </div>

          <ng-include src="'views/faixas_de_valores/form.html'"></ng-include>
      </div>
    </div>
  </div>
</div>

