<div class="ibox-content">
  <form class="simple_form form-horizontal"
      method="post"
      name="formFaixasDeValores"
      novalidate="novalidate"
      data-ng-submit="save()">

    <influunt-faixa-valores name="'faixas_de_valores.tempoDefasagem'" 
                            min="objeto.tempoDefasagemMin" 
                            max="objeto.tempoDefasagemMax"
                            unidade="'geral.segundo'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoAmarelo'" 
                            min="objeto.tempoAmareloMin" 
                            max="objeto.tempoAmareloMax"
                            unidade="'geral.segundo'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoVermelhoIntermitente'" 
                            min="objeto.tempoVermelhoIntermitenteMin" 
                            max="objeto.tempoVermelhoIntermitenteMax"
                            unidade="'geral.segundo'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoVermelhoLimpezaVeicular'" 
                            min="objeto.tempoVermelhoLimpezaVeicularMin" 
                            max="objeto.tempoVermelhoLimpezaVeicularMax"
                            unidade="'geral.segundo'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoVermelhoLimpezaPedestre'" 
                            min="objeto.tempoVermelhoLimpezaPedestreMin" 
                            max="objeto.tempoVermelhoLimpezaPedestreMax"
                            unidade="'geral.segundo'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoAtrasoGrupo'" 
                            min="objeto.tempoAtrasoGrupoMin" 
                            max="objeto.tempoAtrasoGrupoMax"
                            unidade="'geral.segundo'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoVerdeSegurancaVeicular'" 
                            min="objeto.tempoVerdeSegurancaVeicularMin" 
                            max="objeto.tempoVerdeSegurancaVeicularMax"
                            unidade="'geral.segundo'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoVerdeSegurancaPedestre'" 
                            min="objeto.tempoVerdeSegurancaPedestreMin" 
                            max="objeto.tempoVerdeSegurancaPedestreMax"
                            unidade="'geral.segundo'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoMaximoPermanenciaEstagio'" 
                            min="objeto.tempoMaximoPermanenciaEstagioMin" 
                            max="objeto.tempoMaximoPermanenciaEstagioMax"
                            unidade="'geral.segundo'" />

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.defaultTempoMaximoPermanenciaEstagioVeicular' | translate }}</label>
      <div class="col-sm-5" data-ng-class="{'has-error': errors.tempoMaximoPermanenciaEstagioVeicularValido || errors.tempoMaximoPermanenciaEstagioVeicularValido }">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.valor' | translate }}</span>
          <input type="number" class="input-sm form-control" name="defaultTempoMaximoPermanenciaEstagioVeicular" ng-model="objeto.defaultTempoMaximoPermanenciaEstagioVeicular">
          <span class="input-group-addon">{{ 'geral.segundo' | translate }}</span>
        </div>
        <span class="help-block error-msg" data-ng-repeat="error in errors.tempoMaximoPermanenciaEstagioVeicularValido || errors.tempoMaximoPermanenciaEstagioVeicularValido">
          {{ error }}
        </span>
      </div>
    </div>

    <influunt-faixa-valores name="'faixas_de_valores.tempoCiclo'" 
                            min="objeto.tempoCicloMin" 
                            max="objeto.tempoCicloMax"
                            unidade="'geral.segundo'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoVerdeMinimo'" 
                            min="objeto.tempoVerdeMinimoMin" 
                            max="objeto.tempoVerdeMinimoMax"
                            unidade="'geral.segundo'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoVerdeMaximo'" 
                            min="objeto.tempoVerdeMaximoMin" 
                            max="objeto.tempoVerdeMaximoMax"
                            unidade="'geral.segundo'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoVerdeIntermediario'" 
                            min="objeto.tempoVerdeIntermediarioMin" 
                            max="objeto.tempoVerdeIntermediarioMax"
                            unidade="'geral.segundo'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoExtensaoVerde'" 
                            min="objeto.tempoExtensaoVerdeMin" 
                            max="objeto.tempoExtensaoVerdeMax"
                            unidade="'geral.segundo'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoVerde'" 
                            min="objeto.tempoVerdeMin" 
                            max="objeto.tempoVerdeMax"
                            unidade="'geral.segundo'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoAusenciaDeteccao'" 
                            min="objeto.tempoAusenciaDeteccaoMin" 
                            max="objeto.tempoAusenciaDeteccaoMax"
                            unidade="'geral.minuto'" />

    <influunt-faixa-valores name="'faixas_de_valores.tempoDeteccaoPermanente'" 
                            min="objeto.tempoDeteccaoPermanenteMin" 
                            max="objeto.tempoDeteccaoPermanenteMax"
                            unidade="'geral.minuto'" />

    <div class="form-group" permission permission-only="'editarFaixasDeValores'">
      <div class="col-sm-4 col-sm-offset-2">
        <input class="btn btn-primary" name="commit" type="submit" value="{{ 'geral.crud.salvar' | translate }}">
        <a class="btn btn-default" ui-sref="app.main">{{ 'geral.crud.voltar' | translate }}</a>
      </div>
    </div>

  </form>
</div>
