<div class="ibox-content">
  <form class="simple_form form-horizontal"
      method="post"
      name="formFaixasDeValores"
      novalidate="novalidate"
      data-ng-submit="save()">

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoDefasagem' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="defasagemMin"
                 ng-model="objeto.tempoDefasagemMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="defasagemMax"
                 ng-model="objeto.tempoDefasagemMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoAmarelo' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="amareloMin"
                 ng-model="objeto.tempoAmareloMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="amareloMax"
                 ng-model="objeto.tempoAmareloMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoVermelhoIntermitente' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="vermelhoIntermitenteMin"
                 ng-model="objeto.tempoVermelhoIntermitenteMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="vermelhoIntermitenteMax"
                 ng-model="objeto.tempoVermelhoIntermitenteMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoVermelhoLimpezaVeicular' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVermelhoLimpezaVeicularMin"
                 ng-model="objeto.tempoVermelhoLimpezaVeicularMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVermelhoLimpezaVeicularMax"
                 ng-model="objeto.tempoVermelhoLimpezaVeicularMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoVermelhoLimpezaPedestre' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVermelhoLimpezaPedestreMin"
                 ng-model="objeto.tempoVermelhoLimpezaPedestreMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVermelhoLimpezaPedestreMax"
                 ng-model="objeto.tempoVermelhoLimpezaPedestreMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoAtrasoGrupo' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoAtrasoGrupoMin"
                 ng-model="objeto.tempoAtrasoGrupoMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoAtrasoGrupoMax"
                 ng-model="objeto.tempoAtrasoGrupoMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoVerdeSegurancaVeicular' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVerdeSegurancaVeicularMin"
                 ng-model="objeto.tempoVerdeSegurancaVeicularMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVerdeSegurancaVeicularMax"
                 ng-model="objeto.tempoVerdeSegurancaVeicularMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoVerdeSegurancaPedestre' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVerdeSegurancaPedestreMin"
                 ng-model="objeto.tempoVerdeSegurancaPedestreMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVerdeSegurancaPedestreMax"
                 ng-model="objeto.tempoVerdeSegurancaPedestreMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoMaximoPermanenciaEstagio' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoMaximoPermanenciaEstagioMin"
                 ng-model="objeto.tempoMaximoPermanenciaEstagioMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoMaximoPermanenciaEstagioMax"
                 ng-model="objeto.tempoMaximoPermanenciaEstagioMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.default' | translate }} {{ 'faixas_de_valores.veicular' | translate }}</span>
          <input type="number" class="input-sm form-control" name="defaultTempoMaximoPermanenciaEstagioVeicular" ng-model="objeto.defaultTempoMaximoPermanenciaEstagioVeicular">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoCiclo' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoCicloMin"
                 ng-model="objeto.tempoCicloMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoCicloMax"
                 ng-model="objeto.tempoCicloMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoVerdeMinimo' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVerdeMinimoMin"
                 ng-model="objeto.tempoVerdeMinimoMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVerdeMinimoMax"
                 ng-model="objeto.tempoVerdeMinimoMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoVerdeMaximo' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVerdeMaximoMin"
                 ng-model="objeto.tempoVerdeMaximoMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVerdeMaximoMax"
                 ng-model="objeto.tempoVerdeMaximoMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoVerdeIntermediario' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVerdeIntermediarioMin"
                 ng-model="objeto.tempoVerdeIntermediarioMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVerdeIntermediarioMax"
                 ng-model="objeto.tempoVerdeIntermediarioMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoExtensaoVerde' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoExtensaoVerdeMin"
                 ng-model="objeto.tempoExtensaoVerdeMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoExtensaoVerdeMax"
                 ng-model="objeto.tempoExtensaoVerdeMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoVerde' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVerdeMin"
                 ng-model="objeto.tempoVerdeMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoVerdeMax"
                 ng-model="objeto.tempoVerdeMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoAusenciaDeteccao' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoAusenciaDeteccaoMin"
                 ng-model="objeto.tempoAusenciaDeteccaoMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoAusenciaDeteccaoMax"
                 ng-model="objeto.tempoAusenciaDeteccaoMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2 control-label">{{ 'faixas_de_valores.tempoDeteccaoPermanente' | translate }}</label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">{{ 'faixas_de_valores.de' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoDeteccaoPermanenteMin"
                 ng-model="objeto.tempoDeteccaoPermanenteMin"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
          <span class="input-group-addon">{{ 'faixas_de_valores.ate' | translate }}</span>
          <input type="number"
                 class="input-sm form-control"
                 name="tempoDeteccaoPermanenteMax"
                 ng-model="objeto.tempoDeteccaoPermanenteMax"
                 permission
                 permission-only="'editarFaixasDeValores'"
                 permission-on-authorized="PermissionStrategies.enableElement"
                 permission-on-unauthorized="PermissionStrategies.disableElement">
        </div>
      </div>
    </div>

    <div class="form-group" permission permission-only="'editarFaixasDeValores'">
      <div class="col-sm-4 col-sm-offset-2">
        <input class="btn btn-primary" name="commit" type="submit" value="{{ 'geral.crud.salvar' | translate }}">
        <a class="btn btn-default" ui-sref="app.main">{{ 'geral.crud.voltar' | translate }}</a>
      </div>
    </div>

  </form>
</div>
