<fieldset data-ng-init="inicializaAneis()">
  <div class="m-t-md">
    <div class="col-lg-12 col-sm-12 bg-border no-padding">
      <div class="ibox float-e-margins">

        <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
          <influunt-tabs class="tabpanel"
                         data-on-add="ativarProximoAnel"
                         data-on-remove="desativarUltimoAnel"
                         data-before-remove="deletarUltimoAnelAtivo"
                         data-on-activate="selecionaAnelLocal"
                         data-aneis-ativos="aneis"
                         data-error-check="anelTemErro"
                         data-can-add-tabs="true"
                         data-can-remove-tabs="true"
                         data-max-tabs="objeto.limiteAnel"></influunt-tabs>
          <div class="ui-layout-content tab-content">
            <div id="tabs-1">
              <uib-alert type="danger" close="closeAlert(currentAnelIndex)" data-ng-if="errors.aneis[currentAnelIndex].general">
                <div style="padding-left: 12px;">
                  <ul>
                    <li data-ng-repeat="message in errors.general">{{ message }}</li>
                    <li data-ng-repeat="message in errors.aneis[currentAnelIndex].general">{{ message }}</li>
                  </ul>
                </div>
              </uib-alert>
              <div class="row col-lg-12 col-sm-12">
                <div class="row col-lg-12 col-sm-12 padding-top-20">
                  <h3>{{ 'controladores.estagios.titulo' | translate }}</h3>
                </div>
              </div>


              <div class="col-lg-12 col-sm-12 movements">
                <form class="dropzone"
                      id="estagios"
                      imagens-url="dados.imagensUrl"
                      enctype="multipart/form-data"
                      influunt-dropzone
                      anel="currentAnel"
                      on-success="adicionarEstagio(upload, imagem, anelIdJson)"
                      on-delete="removerEstagio(imagem)"
                      remove-button-text="{{ 'controladores.aneis.remover_estagio' | translate }}">
                  <fake-dropzone-preview
                      controlador="objeto"
                      anel="currentAnel"
                      imagens="imagensDeEstagios"
                      remove-button-text="{{ 'controladores.aneis.remover_estagio' | translate }}"
                      on-delete="deletarEstagio">
                  </fake-dropzone-preview>
                  <div class="dz-default dz-message"><span>{{ 'geral.dropzone.mensagem' | translate }}</span></div>
                  <div class="fallback">
                    <input name="file" type="file" multiple />
                  </div>
                </form>
              </div>


              <div class="col-lg-12 col-sm-12 groups ibox-content no-padding padding-top-20">
                <div class="col-lg-6 col-sm-6 no-padding-left">
                  <div class="col-lg-12 col-sm-12">
                    <div class="form-group">
                      <label class="control-label">{{ 'controladores.localizacao' | translate }}</label>
                      <input type="text" name="localizacao" placeholder="" class="form-control" data-ng-model="currentAnel.localizacao" disabled="disabled" readonly></textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label">{{ 'controladores.numeroSMEE' | translate }}</label>
                      <input type="text" name="numeroSMEE" placeholder="" class="form-control" ng-value="dadosBasicos.numeroSMEE" data-ng-model="currentAnel.numeroSMEE">
                    </div>
                    <div class="form-group">
                      <label class="control-label">{{ 'controladores.CLA' | translate }}</label>
                      <input type="text" name="CLA" class="form-control"
                        data-ng-model="currentAnel.CLA" disabled="disabled" readonly>
                    </div>
                  </div>

                  <div class="col-lg-12 col-sm-12">
                    <div class="form-group">
                      <figure>
                        <div influunt-map
                          markers="currentEndereco"
                          class="influunt-map">
                        </div>
                      </figure>
                    </div>
                  </div>

                  <div class="col-lg-6 col-sm-6" data-ng-class="{ 'has-error': errors.aneis[currentAnelIndex].endereco.localizacao }">
                    <div class="form-group" data-ng-class="{ 'has-error': errors.aneis[currentAnelIndex].endereco.localizacao }">
                      <label class="control-label">{{ 'controladores.localizacao' | translate }}:</label>
                      <helper-endereco ng-model="currentEndereco.localizacao" localizacao="currentEndereco.localizacao" latitude="currentEndereco.latitude" longitude="currentEndereco.longitude"></helper-endereco>
                      <p class="help-block error-msg" data-ng-repeat="error in errors.aneis[currentAnelIndex].endereco.localizacao">{{ error }}</p>
                    </div>
                    <div class="form-group" data-ng-class="{ 'has-error': errors.aneis[currentAnelIndex].endereco.latitude }">
                      <label class="control-label">{{ 'controladores.latitude' | translate }}:</label>
                      <input type="number" name="enderecos[0].latitude" class="form-control" data-ng-model="currentEndereco.latitude">
                      <p class="help-block error-msg" data-ng-repeat="error in errors.aneis[currentAnelIndex].endereco.latitude">{{ error }}</p>
                    </div>
                    <div class="form-group" data-ng-class="{ 'has-error': errors.aneis[currentAnelIndex].endereco.longitude }">
                      <label class="control-label">{{ 'controladores.longitude' | translate }}:</label>
                      <input type="number" name="enderecos[0].longitude" class="form-control" data-ng-model="currentEndereco.longitude">
                      <p class="help-block error-msg" data-ng-repeat="error in errors.aneis[currentAnelIndex].endereco.longitude">{{ error }}</p>
                    </div>
                  </div>

                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group" data-ng-class="{ 'has-error': errors.aneis[currentAnelIndex].endereco.localizacao2 }">
                      <label class="control-label">{{ 'controladores.localizacao2' | translate }}:</label>
                      <helper-endereco ng-model="currentEndereco.localizacao2" localizacao="currentEndereco.localizacao2" latitude="currentEndereco.latitude2" longitude="currentEndereco.longitude2"></helper-endereco>
                      <p class="help-block error-msg" data-ng-repeat="error in errors.aneis[currentAnelIndex].endereco.localizacao2">{{ error }}</p>
                    </div>
                    <div class="form-group" data-ng-class="{ 'has-error': errors.aneis[currentAnelIndex].endereco.alturaNumerica }">
                      <label class="control-label">{{ 'controladores.alturaNumerica' | translate }}:</label>
                      <input type="number" name="endereco.alturaNumerica" class="form-control" data-ng-model="currentEndereco.alturaNumerica">
                      <p class="help-block error-msg" data-ng-repeat="error in errors.aneis[currentAnelIndex].endereco.alturaNumerica">{{ error }}</p>
                    </div>
                    <div class="form-group" data-ng-class="{ 'has-error': errors.aneis[currentAnelIndex].endereco.referencia }">
                      <label class="control-label">{{ 'controladores.referencia' | translate }}:</label>
                      <input type="text" name="endereco.referencia" class="form-control" data-ng-model="currentEndereco.referencia">
                      <p class="help-block error-msg" data-ng-repeat="error in errors.aneis[currentAnelIndex].endereco.referencia">{{ error }}</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                  <h4>{{ 'geral.croqui' | translate }}</h4>
                  <div class="col-lg-12 col-sm-12 croqui movements">
                    <form class="dropzone croqui"
                          id="croqui_{{currentAnelIndex}}"
                          imagens-url="dados.imagensUrl"
                          enctype="multipart/form-data"
                          influunt-dropzone
                          anel="currentAnel"
                          options="{thumbnailWidth: 2000, thumbnailHeight: 2000, maxFiles: 1}"
                          on-success="adicionarCroqui(upload, imagem, anelIdJson)"
                          on-delete="removerCroquiLocal(imagem)"
                          remove-button-text="{{ 'controladores.aneis.remover_croqui' | translate }}">
                      <fake-dropzone-preview
                          controlador="objeto"
                          anel="currentAnel"
                          imagens="imagemCroqui"
                          on-delete="removerCroqui"
                          remove-button-text="{{ 'controladores.aneis.remover_croqui' | translate }}">
                      </fake-dropzone-preview>
                      <div class="dz-default dz-message"><span>{{ 'geral.dropzone.mensagem' | translate }}</span></div>
                      <div class="fallback">
                        <input name="file" type="file" multiple />
                      </div>
                      </form>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

	<div class="row">
    <div class="col-lg-12 col-sm-12 bg-border-footer pg-bt-footer actions clearfix">
      <a data-toggle="modal" data-target="#myModal" class="left btn btn-info btn-footer" tooltips tooltip-template="{{ 'plugins.steps.labels.last_screen' | translate }}">
        <i class="fa fa-eye"></i> {{ 'plugins.steps.labels.last_screen' | translate }}
      </a>
      <div class="right">
        <a go-to-top data-ng-click="submitForm({$valid: true}, 'aneis', 'app.wizard_controladores.configuracao_grupo')" tooltips tooltip-template="<b>{{ 'geral.tooltip.salvarAvancarPara' | translate }}</b> {{ 'controladores.gruposSemaforicos.titulo' | translate }}" class="go-to-top btn btn-primary btn-footer right">
          {{ 'plugins.steps.labels.saveNext' | translate }} <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="right">
        <a data-ng-click="submitForm({$valid: true}, 'aneis', 'app.wizard_controladores.aneis');" tooltips tooltip-template="<b>{{ 'geral.tooltip.salvarPermanecer' | translate }}</b> {{ 'controladores.aneis.titulo' | translate }}" class="btn btn-outline btn-primary btn-footer right m-r-sm right">{{ 'plugins.steps.labels.save' | translate }}
        </a>
      </div>
      <div class="right">
        <a ng-click="voltarSemSalvar('app.wizard_controladores.dados_basicos')" tooltips tooltip-template="<b><span>{{ 'geral.tooltip.voltarSemPara' | translate }}</span></b> {{ 'controladores.dadosBasicos.titulo' | translate }}" class="btn btn-outline btn-primary btn-footer right m-r-sm right">
          <i class="fa fa-arrow-left"></i> {{ 'plugins.steps.labels.back' | translate }}
        </a>
      </div>
    </div>
  </div>
</fieldset>


<ng-include src="'views/controladores/wizard/common/popup-revisao.html'">
