<fieldset>
  <div class="row">
    <div class="text-center">
      <div class="col-lg-2 col-sm-2 no-padding">
        <div class="col-lg-12 col-sm-12 no-padding association">
         <nav>
           <ul>
             <li>
               <a href=""><label for="">ANEL 1</label></a>
             </li>
             <li>
               <a href=""><label for="">ANEL 2</label></a>
             </li>
             <li>
               <a href=""><label for="">ANEL 3</label></a>
             </li>
             <li>
               <a href=""><label for="">ANEL 4</label></a>
             </li>
           </ul>
         </nav>
        </div>
      </div>
      <div class="col-lg-7 col-sm-7 stages">
        <nav>
          <ul class="handle">
            <li class="ibox">
              <div class="title-stages">
                <hgroup>
                  <p>E1</p>
                </hgroup>
              </div>
              <div class="stage-stages">
                <div class="exist-figure">
                  <figure><img src="" /></figure>
                  <figcaption>Imgname.jpg</figcaption>
                </div>
                <div class="upload-figure">
                  <figure>
                    <form action="" method="">
                      <hgroup>
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <label title="Adicione um Estágio a este Movimento" for="anel-1" class="">
                          <input type="file" class="imgInp hide" id="anel-1" />Adicione um Estágioa este Movimento
                          <img class="attrImg" src="#" alt="" width="250" />
                        </label>
                      </hgroup>
                    </form>
                  </figure>
                </div>
              </div>
              <div class="times-stages">
                <div class="col-lg-6 col-sm-6 no-padding left">
                  <div class="col-lg-8 col-sm-8"><label class="control-label no-padding">Tempo max. de permanência</label></div>
                  <div class="col-lg-3 col-sm-3 no-padding"><input type="text" placeholder="" class="form-control"></div>
                </div>
                <div class="col-lg-6 col-sm-6 no-padding left">
                <label class="checkbox-inline i-checks right">
                    <div class="col-lg-10 col-sm-10 left">Demanda prioritária</div>
                    <input type="checkbox" value="option1"></label>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12 col-sm-12 form-group group-selectons no-padding">
                    <label class="checkbox-inline i-checks"><p>G1</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G2</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G3</p><input type="checkbox" value="option3"></label>
                    <label class="checkbox-inline i-checks"><p>G4</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G5</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G6</p><input type="checkbox" value="option3"></label>
                    <label class="checkbox-inline i-checks"><p>G7</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G8</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G9</p><input type="checkbox" value="option3"></label>
                    <label class="checkbox-inline i-checks"><p>G10</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G11</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G12</p><input type="checkbox" value="option3"></label>
                  </div>
                </div>
            </li>
            <li class="ibox">
              <div class="title-stages">
                <hgroup>
                  <p>E2</p>
                </hgroup>
              </div>
              <div class="stage-stages">
                <div class="exist-figure">
                  <figure><img src="" /></figure>
                  <figcaption>Imgname.jpg</figcaption>
                </div>
                <div class="upload-figure">
                  <figure>
                    <form action="" method="">
                      <hgroup>
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <label title="Adicione um Estágio a este Movimento" for="anel-2" class="">
                          <input type="file" class="imgInp hide" id="anel-2" />Adicione um Estágioa este Movimento
                          <img class="attrImg" src="#" alt="" width="250" />
                        </label>
                      </hgroup>
                    </form>
                  </figure>
                </div>
              </div>
              <div class="times-stages">
                <div class="col-lg-6 col-sm-6 no-padding left">
                  <div class="col-lg-8 col-sm-8"><label class="control-label no-padding">Tempo max. de permanência</label></div>
                  <div class="col-lg-3 col-sm-3 no-padding"><input type="text" placeholder="" class="form-control"></div>
                </div>
                <div class="col-lg-6 col-sm-6 no-padding left">
                <label class="checkbox-inline i-checks right">
                    <div class="col-lg-10 col-sm-10 left">Demanda prioritária</div>
                    <input type="checkbox" value="option1"></label>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12 col-sm-12 form-group group-selectons no-padding">
                    <label class="checkbox-inline i-checks"><p>G1</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G2</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G3</p><input type="checkbox" value="option3"></label>
                    <label class="checkbox-inline i-checks"><p>G4</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G5</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G6</p><input type="checkbox" value="option3"></label>
                    <label class="checkbox-inline i-checks"><p>G7</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G8</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G9</p><input type="checkbox" value="option3"></label>
                    <label class="checkbox-inline i-checks"><p>G10</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G11</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G12</p><input type="checkbox" value="option3"></label>
                  </div>
                </div>
            </li>
            <li class="ibox">
              <div class="title-stages">
                <hgroup>
                  <p>E3</p>
                </hgroup>
              </div>
              <div class="stage-stages">
                <div class="exist-figure">
                  <figure><img src="" /></figure>
                  <figcaption>Imgname.jpg</figcaption>
                </div>
                <div class="upload-figure">
                  <figure>
                    <form action="" method="">
                      <hgroup>
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <label title="Adicione um Estágio a este Movimento" for="anel-3" class="">
                          <input type="file" class="imgInp hide" id="anel-3" />Adicione um Estágioa este Movimento
                          <img class="attrImg" src="#" alt="" width="250" />
                        </label>
                      </hgroup>
                    </form>
                  </figure>
                </div>
              </div>
              <div class="times-stages">
                <div class="col-lg-6 col-sm-6 no-padding left">
                  <div class="col-lg-8 col-sm-8"><label class="control-label no-padding">Tempo max. de permanência</label></div>
                  <div class="col-lg-3 col-sm-3 no-padding"><input type="text" placeholder="" class="form-control"></div>
                </div>
                <div class="col-lg-6 col-sm-6 no-padding left">
                <label class="checkbox-inline i-checks right">
                    <div class="col-lg-10 col-sm-10 left">Demanda prioritária</div>
                    <input type="checkbox" value="option1"></label>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12 col-sm-12 form-group group-selectons no-padding">
                    <label class="checkbox-inline i-checks"><p>G1</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G2</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G3</p><input type="checkbox" value="option3"></label>
                    <label class="checkbox-inline i-checks"><p>G4</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G5</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G6</p><input type="checkbox" value="option3"></label>
                    <label class="checkbox-inline i-checks"><p>G7</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G8</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G9</p><input type="checkbox" value="option3"></label>
                    <label class="checkbox-inline i-checks"><p>G10</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G11</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G12</p><input type="checkbox" value="option3"></label>
                  </div>
                </div>
            </li>
            <li class="ibox">
              <div class="title-stages">
                <hgroup>
                  <p>E4</p>
                </hgroup>
              </div>
              <div class="stage-stages">
                <div class="exist-figure">
                  <figure><img src="" /></figure>
                  <figcaption>Imgname.jpg</figcaption>
                </div>
                <div class="upload-figure">
                  <figure>
                    <form action="" method="">
                      <hgroup>
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <label title="Adicione um Estágio a este Movimento" for="anel-4" class="">
                          <input type="file" class="imgInp hide" id="anel-4" />Adicione um Estágioa este Movimento
                          <img class="attrImg" src="#" alt="" width="250" />
                        </label>
                      </hgroup>
                    </form>
                  </figure>
                </div>
              </div>
              <div class="times-stages">
                <div class="col-lg-6 col-sm-6 no-padding left">
                  <div class="col-lg-8 col-sm-8"><label class="control-label no-padding">Tempo max. de permanência</label></div>
                  <div class="col-lg-3 col-sm-3 no-padding"><input type="text" placeholder="" class="form-control"></div>
                </div>
                <div class="col-lg-6 col-sm-6 no-padding left">
                <label class="checkbox-inline i-checks right">
                    <div class="col-lg-10 col-sm-10 left">Demanda prioritária</div>
                    <input type="checkbox" value="option1"></label>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12 col-sm-12 form-group group-selectons no-padding">
                    <label class="checkbox-inline i-checks"><p>G1</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G2</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G3</p><input type="checkbox" value="option3"></label>
                    <label class="checkbox-inline i-checks"><p>G4</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G5</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G6</p><input type="checkbox" value="option3"></label>
                    <label class="checkbox-inline i-checks"><p>G7</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G8</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G9</p><input type="checkbox" value="option3"></label>
                    <label class="checkbox-inline i-checks"><p>G10</p><input type="checkbox" value="option1"></label>
                    <label class="checkbox-inline i-checks"><p>G11</p><input type="checkbox" value="option2"></label>
                    <label class="checkbox-inline i-checks"><p>G12</p><input type="checkbox" value="option3"></label>
                  </div>
                </div>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 col-sm-3 deactivation">
        <form method="get" class="form-horizontal">
          <nav role="navigation">
            <ul>
              <li>
                <hgroup>
                  <label class="checkbox-inline i-checks"><p class="label-name">G1</p>
                    <input type="checkbox" value="option1"></label>
                    <p class="label-status">Desativado</p>
                  </hgroup>
                  <div class="form-group select right">
                    <div class="col-lg-12 col-sm-12"><select class="form-control m-b" name="account">
                      <option>Veicular</option>
                      <option>Pedestre</option>
                    </select>
                  </div>
                </div>
                <div class="form-group input">
                  <div class="ol-lg-12 col-sm-12"><input type="text" placeholder="Comentário" class="form-control"></div>
                </div>
              </li>
              <li>
                <hgroup>
                  <label class="checkbox-inline i-checks"><p class="label-name">G2</p>
                    <input type="checkbox" value="option1"></label>
                    <p class="label-status">Desativado</p>
                  </hgroup>
                  <div class="form-group select right">
                    <div class="col-lg-12 col-sm-12"><select class="form-control m-b" name="account">
                      <option>Veicular</option>
                      <option>Pedestre</option>
                    </select>
                  </div>
                </div>
                <div class="form-group input">
                  <div class="ol-lg-12 col-sm-12"><input type="text" placeholder="Comentário" class="form-control"></div>
                </div>
              </li>
              <li>
                <hgroup>
                  <label class="checkbox-inline i-checks"><p class="label-name">G1</p>
                    <input type="checkbox" value="option1"></label>
                    <p class="label-status">Desativado</p>
                  </hgroup>
                  <div class="form-group select right">
                    <div class="col-lg-12 col-sm-12"><select class="form-control m-b" name="account">
                      <option>Veicular</option>
                      <option>Pedestre</option>
                    </select>
                  </div>
                </div>
                <div class="form-group input">
                  <div class="ol-lg-12 col-sm-12"><input type="text" placeholder="Comentário" class="form-control"></div>
                </div>
              </li>
              <li>
                <hgroup>
                  <label class="checkbox-inline i-checks"><p class="label-name">G1</p>
                    <input type="checkbox" value="option1"></label>
                    <p class="label-status">Desativado</p>
                  </hgroup>
                  <div class="form-group select right">
                    <div class="col-lg-12 col-sm-12"><select class="form-control m-b" name="account">
                      <option>Veicular</option>
                      <option>Pedestre</option>
                    </select>
                  </div>
                </div>
                <div class="form-group input">
                  <div class="ol-lg-12 col-sm-12"><input type="text" placeholder="Comentário" class="form-control"></div>
                </div>
              </li>
              <li>
                <hgroup>
                  <label class="checkbox-inline i-checks"><p class="label-name">G1</p>
                    <input type="checkbox" value="option1"></label>
                    <p class="label-status">Desativado</p>
                  </hgroup>
                  <div class="form-group select right">
                    <div class="col-lg-12 col-sm-12"><select class="form-control m-b" name="account">
                      <option>Veicular</option>
                      <option>Pedestre</option>
                    </select>
                  </div>
                </div>
                <div class="form-group input">
                  <div class="ol-lg-12 col-sm-12"><input type="text" placeholder="Comentário" class="form-control"></div>
                </div>
              </li>
              <li>
                <hgroup>
                  <label class="checkbox-inline i-checks"><p class="label-name">G1</p>
                    <input type="checkbox" value="option1"></label>
                    <p class="label-status">Desativado</p>
                  </hgroup>
                  <div class="form-group select right">
                    <div class="col-lg-12 col-sm-12"><select class="form-control m-b" name="account">
                      <option>Veicular</option>
                      <option>Pedestre</option>
                    </select>
                  </div>
                </div>
                <div class="form-group input">
                  <div class="ol-lg-12 col-sm-12"><input type="text" placeholder="Comentário" class="form-control"></div>
                </div>
              </li>
              <li>
                <hgroup>
                  <label class="checkbox-inline i-checks"><p class="label-name">G1</p>
                    <input type="checkbox" value="option1"></label>
                    <p class="label-status">Desativado</p>
                  </hgroup>
                  <div class="form-group select right">
                    <div class="col-lg-12 col-sm-12"><select class="form-control m-b" name="account">
                      <option>Veicular</option>
                      <option>Pedestre</option>
                    </select>
                  </div>
                </div>
                <div class="form-group input">
                  <div class="ol-lg-12 col-sm-12"><input type="text" placeholder="Comentário" class="form-control"></div>
                </div>
              </li>
              <li>
                <hgroup>
                  <label class="checkbox-inline i-checks"><p class="label-name">G1</p>
                    <input type="checkbox" value="option1"></label>
                    <p class="label-status">Desativado</p>
                  </hgroup>
                  <div class="form-group select right">
                    <div class="col-lg-12 col-sm-12"><select class="form-control m-b" name="account">
                      <option>Veicular</option>
                      <option>Pedestre</option>
                    </select>
                  </div>
                </div>
                <div class="form-group input">
                  <div class="ol-lg-12 col-sm-12"><input type="text" placeholder="Comentário" class="form-control"></div>
                </div>
              </li>
            </ul>
          </nav>
        </form>
    </div>
    </div>
  </div>
  <a ui-sref="app.wizard_contrladores.dados-basicos" class="btn btn-default">{{ 'plugins.steps.labels.previous' | translate }}</a>
  <a ui-sref="app.wizard_contrladores.verdes-conflitantes" class="btn btn-primary">{{ 'plugins.steps.labels.next' | translate }}</a>
</fieldset>

<script>
  $(document).ready(function(){

    WinMove();

    function WinMove() {
      var element = ".handle";
      var handle = ".title-stages";
      var connect = ".handle";
      $(element).sortable(
      {
        handle: handle,
        connectWith: connect,
        tolerance: 'pointer',
        forcePlaceholderSize: true,
        opacity: 0.8
      })
      .disableSelection();
    };


    function readURL() {
      var $input = $(this);
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $input.next('.attrImg').attr('src', e.target.result).show();
        }
        reader.readAsDataURL(this.files[0]);
      }
    }

    $(".imgInp").change(readURL);
    $(".imgInp").change(function(){
      $(this).parents().eq(3).addClass('change');
    });

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });
  });
</script>
