<fieldset data-ng-init="inicializaAssociacaoDetectores()">
  <div class="row">
    <uib-alert type="danger" close="closeAlert(currentAnelIndex, 'all')" data-ng-if="errors.general || errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosDePedestre || errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosVeiculares">
      <div style="padding-left: 12px;">
        <ul>
          <li data-ng-repeat="message in errors.general">{{ message }}</li>
          <li data-ng-repeat="message in errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosDePedestre">{{ message }}</li>
          <li data-ng-repeat="message in errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosVeiculares">{{ message }}</li>
        </ul>
      </div>
    </uib-alert>

    <div class="text-center m-t-md pd-lf-rt">
      <div class="col-lg-2 col-sm-2 no-padding">
        <div class="col-lg-12 col-sm-12 association">
          <ng-include src="'views/controladores/wizard/common/seleciona-aneis.html'"></ng-include>
      </div>
    </div>
    <div class="col-lg-10 col-sm-10 tableless association-detectors">
      <table class="tg" border="1" cellpadding="1" width="100%">
        <thead>
          <tr>
            <th>DETECTOR</th>
            <th data-ng-repeat="estagio in currentAnel.estagios">E{{ estagio.posicao }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td data-ng-repeat="estagio in currentAnel.estagios" data-ng-cloak>
              <figure>
                <img ng-src="{{ estagio.imagem.id | imageSource }}" width="120px">
              </figure>
            </td>
          </tr>
          <tr data-ng-repeat="detector in currentAnel.detectores">
            <td><strong>{{ detector | nomeDetector }}</strong></td>
            <td data-ng-repeat="estagio in currentAnel.estagios" data-ng-click="associaDetector(estagio, detector)"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-lg-12 no-pading bg-border pg-bt m-t-lg">
      <a data-ng-click="submitForm({$valid: true}, 'associacao_grupos_semaforicos', 'app.wizard_controladores.aneis')" class="btn btn-default left m-r-sm">{{ 'plugins.steps.labels.previous' | translate }}</a>
      <a data-ng-click="submitForm({$valid: true}, 'associacao_grupos_semaforicos', 'app.wizard_controladores.verdes_conflitantes')" class="btn btn-primary left">{{ 'plugins.steps.labels.next' | translate }}</a>
    </div>
  </div>
</div>
</fieldset>

<script>
  $(document).ready(function(){
    $( ".td-yp2l" ).click(function() {
      $( this ).toggleClass( "checked" );
    });
  });
</script>
