<fieldset data-ng-init="inicializaAssociacao()">
  <div class="row">
    <uib-alert type="danger" close="closeAlert(currentAnelIndex, 'all')" data-ng-if="errors.general || errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosDePedestre || errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosVeiculares">
      <div style="padding-left: 12px;">
        <ul>
          <li data-ng-repeat="message in errors.general">{{ message }}</li>
          <li data-ng-repeat="message in errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosDePedestre">{{ message }}</li>
          <li data-ng-repeat="message in errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosVeiculares">{{ message }}</li>
        </ul>
      </div>
    </uib-alert>

    <div class="text-center m-t-md pd-lf-rt">
      <div class="col-lg-2 col-sm-2 no-padding-left">
        <div class="col-lg-12 col-sm-12 association">
          <ng-include src="'views/controladores/wizard/common/seleciona-aneis.html'"></ng-include>
        </div>
      </div>

      <div class="col-lg-10 col-sm-10 ibox-title botton-title">
        <h2>Anel {{ currentAnel.posicao }}</h2>
      </div>

      <div class="col-lg-10 col-sm-10 no-padding stages">
        <div class="col-lg-12 col-sm-12">
          <div class="row">
            <div class="col-lg-1 title-stages-top"><i class="fa fa-arrows-v"></i></div>
            <div class="col-lg-3 title-stages-top"><p class="text-left">{{ 'controladores.estagios' | translate }}</p></div>
            <div class="col-lg-3 title-stages-top"><p class="text-left">{{ 'controladores.gruposAssociados' | translate }}</p></div>
            <div class="col-lg-5 title-stages-top"><p class="text-left">{{ 'controladores.opcoes' | translate }}</p></div>
          </div>
        </div>

        <nav>
          <ul class="handle" ui-sortable="sortableOptions" data-ng-model="currentAnel.estagios">
          <li class="ibox" data-ng-repeat="(indexEstagio, estagio) in currentAnel.estagios" data-ng-click="selecionaEstagio(indexEstagio)">
            <div class="col-lg-12 col-sm-12" data-ng-class="{'estagio-selecionado-bg': indexEstagio === currentEstagioId}">
              <div class="row">
                <div class="col-lg-1 title-stages" data-ng-class="{'estagio-selecionado': indexEstagio === currentEstagioId}">
                  <hgroup>
                    <span class="badge badge-danger badge-notification"
                      data-ng-show="estagioTemErro(currentAnelIndex, indexEstagio)"
                      inf-tooltip
                      messages="errors.aneis[currentAnelIndex].estagios[currentEstagioId]">
                      <i class="fa fa-exclamation"></i>
                    </span>
                    <p>E{{ estagio.posicao }}</p>
                  </hgroup>

                </div>
                <div class="col-lg-3 padding-top-20">
                  <div class="exist-figure">
                    <figure>
                      <img ng-src="{{ estagio.imagem.id | imageSource }}" style="width: 155px;">
                    </figure>
                  </div>
                </div>
                <div class="col-lg-3 padding-top-20 text-left">
                  <label class="checkbox-inline i-checks" data-ng-repeat="(indexGrupo, grupo) in currentAnel.gruposSemaforicos">
                    <p>{{ grupo.label }}</p>
                    <input type="checkbox" ichecks data-ng-model="grupo.estagiosRelacionados[estagio.id]" i-changed="associaEstagiosGrupoSemaforico(grupo, estagio)">
                  </label>
                </div>
                <div class="col-lg-5 padding-top-20 text-left">
                  <div class="col-lg-6">
                    <label class="control-label no-padding text-left">Monitorar tempo máximo</label>

                    <div class="input-group m-b">
                      <span class="input-group-addon padding-5">
                        <input type="checkbox" ichecks data-ng-model="estagio.tempoMaximoPermanenciaAtivo" if-unchecked="limpaTempoPermanencia(estagio)">
                      </span>
                      <input type="number" ng-model="estagio.tempoMaximoPermanencia"data-ng-disabled="!estagio.tempoMaximoPermanenciaAtivo" class="form-control">
                      <span class="input-group-addon" style="padding: 6px;">seg.</span>

                    </div>
                  </div>
                  <div class="col-lg-6">
                    <label class="demanda-prioritaria no-padding text-left">Demanda prioritária</label>
                    <input type="checkbox" ichecks data-ng-model="estagio.demandaPrioritaria">
                  </div>

              </div>
            </div>
          </li>
        </ul>
      </nav>

      </div>


    <div class="row">
      <div class="col-sm-12 col-lg-12 bg-border-footer pg-bt-footer actions clearfix">
        <a ui-sref="app.wizard_controladores.verdes_conflitantes({id: objeto.id})" target="_blank" data-toggle="tooltip" data-placement="top" class="left btn btn-info btn-footer" title="Ver Tela de Verdes Conflitantes">
          <i class="fa fa-eye"></i> {{ 'plugins.steps.labels.last_screen' | translate }}
        </a>
        <a data-ng-click="submitForm({$valid: true}, 'associacao_grupos_semaforicos', 'app.wizard_controladores.transicoes_proibidas')" data-toggle="tooltip" data-placement="top" title="Transições Proíbidas" class="btn btn-primary btn-footer right">
          <i class="fa fa-arrow-right"></i> {{ 'plugins.steps.labels.next' | translate }}
        </a>
        <a data-ng-click="submitForm({$valid: true}, 'associacao_grupos_semaforicos', 'app.wizard_controladores.verdes_conflitantes')" data-toggle="tooltip" data-placement="top" title="Verdes Conflitantes" class="btn btn-inverse btn-footer right m-r-sm right">
          <i class="fa fa-arrow-left"></i> {{ 'plugins.steps.labels.previous' | translate }}
        </a>
      </div>
    </div>
  </div>
</fieldset>
