<fieldset data-ng-init="inicializaAssociacaoDetectores()">
  <div class="m-t-md">
    <div class="col-lg-12 col-sm-12 bg-border no-padding">
      <div class="ibox float-e-margins">
        <div class="tabpanel">
          <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
            <influunt-tabs class="tabpanel"
                           data-on-activate="selecionaAnelAssociacaoDetectores"
                           data-aneis-ativos="aneis"
                           data-error-check="anelTemErro">
            </influunt-tabs>
            <div class="ui-layout-content tab-content">
              <div class="row">
                <uib-alert type="danger" close="closeAlert(currentAnelIndex, 'all')" data-ng-if="errors.aneis[currentAnelIndex].general">
                  <div style="padding-left: 12px;">
                    <ul>
                      <li data-ng-repeat="message in errors.aneis[currentAnelIndex].general">{{ message }}</li>
                    </ul>
                  </div>
                </uib-alert>
              </div>
              <div id="tabs-1">
                <div class="col-lg-12 col-sm-12 padding-top-20 tableless association-detectors association-detectors-body">
                  <table class="tg" border="1" cellpadding="1" width="100%">
                    <thead>
                      <tr>
                        <th>{{ 'controladores.associacaoDetectores.detector' | translate | uppercase }}</th>
                        <th data-ng-repeat="estagio in currentEstagios track by $index">
                          {{ 'controladores.geral.prefixoEstagio' | translate | uppercase }}{{ estagio.posicao }}
                          <span class="badge badge-danger badge-notification badge-detector"
                            data-ng-show="errors.aneis[currentAnelIndex].estagios[$index]"
                            inf-tooltip
                            messages="errors.aneis[currentAnelIndex].estagios[$index]">
                            <i class="fa fa-exclamation" style="font-size: inherit;"></i>
                          </span>
                        </th>
                        <th></th>
                      </tr>
                      <tr>
                        <td></td>
                        <td class="stage-images" data-ng-repeat="estagio in currentEstagios track by $index">
                          <figure>
                            <img ng-src="{{ getImagemDeEstagio(estagio) }}">
                          </figure>
                        </td>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="detector in currentDetectores"
                          data-ng-click="selecionaDetector(detector, $index)">
                        <td class="titulo text-center">
                          <strong>{{ detector | nomeDetector }}</strong>
                          <span class="badge badge-danger badge-notification badge-detector"
                            data-ng-show="errors.detectores[$index] || errors.aneis[currentAnelIndex].detectores[$index]"
                            inf-tooltip
                            messages="[errors.detectores[$index], errors.aneis[currentAnelIndex].detectores[$index]]">
                            <i class="fa fa-exclamation" style="font-size: inherit;"></i>
                          </span>
                          <br/>
                          <button type="button" class="btn btn-primary btn-xs center" data-toggle="modal" data-target="#Config">
                            {{ 'geral.crud.configurar' | translate }}
                          </button>
                        </td>
                        <td data-ng-repeat="estagio in currentEstagios track by $index"
                            data-ng-class="{disabled: estagio.temDetector && detector.estagio.idJson !== estagio.idJson}"
                            data-ng-click="toggleAssociacaoDetector(estagio, detector)">
                          <span>
                           <i class="fa fa-check" aria-hidden="true" data-ng-if="detector.estagio.idJson === estagio.idJson"></i>
                          </span>
                        </td>
                        <td class="text-center">
                          <a ng-click="excluirDetector(detector, $index)" class="btn btn-xs btn-danger">{{ 'geral.crud.excluir' | translate }}</a>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="{{ currentEstagios.length + 2 }}">
                          <div class="btn-group dropup left"
                              style="padding: 12px;">
                            <button type="button" class="btn btn-primary left"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                data-ng-disabled="currentDetectores.length >= currentEstagios.length">
                              {{ 'controladores.associacaoDetectores.adicionarDetector' | translate }}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li style="list-style: none;" data-ng-click="adicionaDetector('PEDESTRE')" data-ng-if="podeDetectorPedestre">
                                <a>{{ 'controladores.associacaoDetectores.pedestre' | translate }}</a>
                              </li>
                              <li style="list-style: none;"  data-ng-click="adicionaDetector('VEICULAR')" data-ng-if="podeDetectorVeicular">
                                <a>{{ 'controladores.associacaoDetectores.veicular' | translate }}</a>
                              </li>
                            </ul>
                            <p class="both">{{ 'controladores.associacaoDetectores.mensagemMaxDetectores' | translate }} {{ currentEstagios.length }} {{ 'controladores.associacaoDetectores.titulo' | translate }}</p>
                          </div>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL -->
  <div class="modal inmodal" id="Config" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog associacao-modal">
      <div class="modal-content animated bounceInRight">
        <div class="modal-body">
          <div class="row">
            <div data-ng-if="currentDetector" class="col-lg-12 col-sm-12">
              <div class="col-lg-4 col-sm-4 estagio-detalhe">
                <h3>{{ currentDetector | nomeDetector }}</h3><br/>
                <input type="checkbox" ichecks data-ng-model="currentDetector.monitorado">
                <strong>{{ 'controladores.associacaoDetectores.monitoramentoFalha' | translate }}</strong>
              </div>
              <div class="knob">
                <div class="col-lg-4 col-sm-4 text-center knob-item">
                  <influunt-knob
                      title="{{ 'controladores.associacaoDetectores.ausencia' | translate }}" label="MIN"
                      min="objeto.ausenciaDeteccaoMin" max="objeto.ausenciaDeteccaoMax"
                      data-ng-model="currentDetector.tempoAusenciaDeteccao">
                  </influunt-knob>
                </div>
                <div class="col-lg-4 col-sm-4 text-center knob-item">
                  <influunt-knob
                      title="{{ 'controladores.associacaoDetectores.deteccao' | translate }}" label="MIN"
                      min="objeto.deteccaoPermanenteMin" max="objeto.deteccaoPermanenteMax"
                      data-ng-model="currentDetector.tempoDeteccaoPermanente">
                  </influunt-knob>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'geral.crud.fechar' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-12 bg-border-footer pg-bt-footer actions clearfix">
    <a data-toggle="modal" data-target="#myModal" class="left btn btn-info btn-footer" tooltips tooltip-template="{{ 'plugins.steps.labels.last_screen' | translate }}">
      <i class="fa fa-eye"></i> {{ 'plugins.steps.labels.last_screen' | translate }}
    </a>
    <div class="right">
      <a go-to-top data-ng-click="submitForm({$valid: true}, 'associacao_detectores', 'app.wizard_controladores.revisao')" tooltips tooltip-template="<b>{{ 'geral.tooltip.salvarAvancarPara' | translate }}</b> {{ 'controladores.revisao.titulo' | translate }}" class="go-to-top  btn btn-primary btn-footer right">
        {{ 'plugins.steps.labels.saveNext' | translate }} <i class="fa fa-arrow-right"></i>
      </a>
    </div>
    <div class="right">
      <a go-to-top data-ng-click="submitForm({$valid: true}, 'associacao_detectores', 'app.wizard_controladores.entre_verdes')" tooltips tooltip-template="<b>{{ 'geral.tooltip.salvarVoltarPara' | translate }}</b> {{ 'controladores.entreVerdes.titulo' | translate }}" class="btn btn-outline btn-primary btn-footer right m-r-sm right">
        <i class="fa fa-arrow-left"></i> {{ 'plugins.steps.labels.saveBack' | translate }}
      </a>
    </div>
    <div class="right">
      <a data-ng-click="voltarSemSalvar('app.wizard_controladores.entre_verdes')" tooltips tooltip-template="<b><span>{{ 'geral.tooltip.voltarSemPara' | translate }}</span></b> {{ 'controladores.entreVerdes.titulo' | translate }}" class="btn btn-outline btn-primary btn-footer right m-r-sm right">
        <i class="fa fa-arrow-left"></i> {{ 'plugins.steps.labels.back' | translate }}
      </a>
    </div>
  </div>
</fieldset>

<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" style="width: 95%;">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <influunt-revisao objeto="objeto" data-ng-controller="ControladoresRevisaoCtrl" data-show-footer="false"></influunt-revisao>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'geral.crud.fechar' | translate }}</button>
      </div>
    </div>
  </div>
</div>
