<fieldset data-ng-init="inicializaAssociacao()">
  <div class="row">
    <div class="m-t-md">
      <div class="col-lg-12 col-sm-12 bg-border no-padding">
        <div class="ibox float-e-margins">
          <div class="tabpanel">
            <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">

              <influunt-tabs class="tabpanel"
                             data-on-activate="selecionaAnelAssociacao"
                             data-aneis-ativos="aneis"
                             data-error-check="anelTemErro">
              </influunt-tabs>

              <div class="ui-layout-content tab-content">
                <div id="tabs-1">
                  <div class="col-lg-12 col-sm-12 no-padding stages">
                    <div class="col-lg-12 col-sm-12">
                      <div class="row">
                        <div class="col-lg-1 col-sm-1 title-stages-top"><i class="fa fa-arrows-v"></i></div>
                        <div class="col-lg-3 col-sm-3 title-stages-top"><p class="text-left">{{ 'controladores.estagios' | translate }}</p></div>
                        <div class="col-lg-3 col-sm-3 title-stages-top"><p class="text-left">{{ 'controladores.gruposAssociados' | translate }}</p></div>
                        <div class="col-lg-5 col-sm-5 title-stages-top"><p class="text-left">{{ 'controladores.opcoes' | translate }}</p></div>
                      </div>
                    </div>

                    <nav>
                      <ul class="handle" ui-sortable="sortableOptions" data-ng-model="currentEstagios">
                      <li class="ibox" data-ng-repeat="(indexEstagio, estagio) in currentEstagios">
                        <div class="col-lg-12 col-sm-12 table-hover">
                          <div class="row">
                            <div class="title-stages small">
                              <hgroup>
                                <span class="badge badge-danger badge-notification"
                                  data-ng-show="estagioTemErro(currentAnelIndex, indexEstagio)"
                                  inf-tooltip
                                  messages="errors.aneis[currentAnelIndex].estagios[indexEstagio]">
                                  <i class="fa fa-exclamation"></i>
                                </span>
                                <p>E{{ estagio.posicao }}</p>
                                <button type="button" class="btn btn-primary btn-xs" data-ng-click="leftEstagio($index)" ng-disabled="$first">
                                  <i class="fa fa-arrow-up" />
                                </button>
                                <button type="button" class="btn btn-primary btn-xs" data-ng-click="rightEstagio($index)"  ng-disabled="$last">
                                  <i class="fa fa-arrow-down" />
                                </button>
                              </hgroup>

                            </div>
                            <div class="col-lg-3 col-sm-3 padding-top-20">
                              <div class="exist-figure stage-images">
                                <figure>
                                  <img ng-src="{{ getImagemDeEstagio(estagio) }}">
                                </figure>
                              </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 padding-top-20 text-left group">
                              <div class="ichecks-checkbox" data-ng-repeat="(indexGrupo, grupo) in currentGruposSemaforicos">
                                <label class="i-checks">
                                  <input type="checkbox" ichecks data-ng-model="grupo.estagiosRelacionados[estagio.id]" i-changed="associaEstagiosGrupoSemaforico(grupo, estagio)">
                                </label>
                                <p>{{ grupo.label }}</p>
                              </div>
                            </div>
                            <div class="col-lg-5 col-sm-5 padding-top-20 text-left">
                              <div class="col-lg-4 col-sm-4 priority">
                                <div class="knob-item text-center">
                                  <influunt-knob
                                  label="SEG" min="objeto.maximoPermanenciaEstagioMin" max="objeto.maximoPermanenciaEstagioMax" read-only=!estagio.tempoMaximoPermanenciaAtivado
                                  data-ng-model="estagio.tempoMaximoPermanencia"></influunt-knob>
                                </div>
                              </div>
                              <div class="col-lg-8 col-sm-8 priority">
                                  <label>
                                    <input type="checkbox" ichecks data-ng-model="estagio.tempoMaximoPermanenciaAtivado" if-unchecked="limpaTempoPermanencia(estagio)">
                                    <span>Ativar monitoramento de tempo máximo de permanencia</span>
                                  </label>
                                  <label>
                                    <input type="checkbox" ichecks data-ng-model="estagio.demandaPrioritaria">
                                    <span>Demanda prioritária</span>
                                  </label>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-12 bg-border-footer pg-bt-footer actions clearfix">
        <a data-toggle="modal" data-target="#myModal" class="left btn btn-info btn-footer" tooltips tooltip-template="Ver Resumo">
          <i class="fa fa-eye"></i> {{ 'plugins.steps.labels.last_screen' | translate }}
        </a>
        <div class="right">
          <a go-to-top data-ng-click="submitForm({$valid: true}, 'associacao_grupos_semaforicos', 'app.wizard_controladores.transicoes_proibidas')" tooltips tooltip-template="Transições Proíbidas" class="go-to-top btn btn-primary btn-footer right">
            {{ 'plugins.steps.labels.saveNext' | translate }} <i class="fa fa-arrow-right"></i>
          </a>
        </div>
        <div class="right">
          <a go-to-top data-ng-click="submitForm({$valid: true}, 'associacao_grupos_semaforicos', 'app.wizard_controladores.verdes_conflitantes')" tooltips tooltip-template="Verdes Conflitantes" class="btn btn-outline btn-primary btn-footer right m-r-sm right">
            <i class="fa fa-arrow-left"></i> {{ 'plugins.steps.labels.saveBack' | translate }}
          </a>
        </div>
        <div class="right">
          <a go-to-top data-ng-click="submitForm({$valid: true}, 'associacao_grupos_semaforicos', 'app.wizard_controladores.verdes_conflitantes')" tooltips tooltip-template="Verdes Conflitantes" class="btn btn-outline btn-primary btn-footer right m-r-sm right">
            <i class="fa fa-arrow-left"></i> {{ 'plugins.steps.labels.back' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" style="width: 95%;">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <influunt-revisao objeto="objeto" data-ng-controller="ControladoresRevisaoCtrl" data-show-footer="false"></influunt-revisao>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
