<fieldset data-ng-init="inicializaAssociacaoDetectores()">
  <div class="row">
    <uib-alert type="danger" close="closeAlert(currentAnelIndex, 'all')" data-ng-if="errors.general || errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosDePedestre || errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosVeiculares">
      <div style="padding-left: 12px;">
        <ul>
          <li data-ng-repeat="message in errors.general">{{ message }}</li>
        </ul>
      </div>
    </uib-alert>

    <div class="text-center m-t-md pd-lf-rt">
      <div class="col-lg-2 col-sm-2 no-padding">
        <div class="col-lg-12 col-sm-12 association">
          <ng-include src="'views/controladores/wizard/common/seleciona-aneis.html'"></ng-include>
      </div>
    </div>
    <div class="col-lg-10 col-sm-10 tableless association-detectors">
      <table class="tg" border="1" cellpadding="1" width="100%">
        <thead>
          <tr>
            <th>DETECTOR</th>
            <th data-ng-repeat="estagio in currentAnel.estagios">E{{ estagio.posicao }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td data-ng-repeat="estagio in currentAnel.estagios" data-ng-cloak>
              <figure>
                <img ng-src="{{ estagio.imagem.id | imageSource }}" width="120px">
              </figure>
            </td>
          </tr>
          <tr data-ng-repeat="detector in currentAnel.detectores">
            <td>
              <strong>{{ detector | nomeDetector }}</strong>
              <span class="badge badge-danger badge-notification"
                data-ng-show="errors.aneis[currentAnelIndex].detectores[$index]"
                inf-tooltip
                messages="errors.aneis[currentAnelIndex].detectores[$index]">
                <i class="fa fa-exclamation"></i>
              </span>
            </td>
            <td data-ng-repeat="estagio in currentAnel.estagios" data-ng-click="toggleAssociacaoDetector(estagio, detector)">
              <i class="fa fa-check" aria-hidden="true" data-ng-if="detector.estagio.id === estagio.id"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <div class="col-sm-12 col-lg-12 no-pading bg-border pg-bt m-t-lg">
        <a data-ng-click="submitForm({$valid: true}, 'associacao_detectores', 'app.wizard_controladores.entre_verdes')" class="btn btn-default left m-r-sm">{{ 'plugins.steps.labels.previous' | translate }}</a>
        <a data-ng-click="submitForm({$valid: true}, 'associacao_detectores', 'app.controladores')" class="btn btn-primary left">{{ 'plugins.steps.labels.next' | translate }}</a>
      </div>
    </div>
  </div>
</div>
</fieldset>

<script>
  $(document).ready(function(){
    $( ".td-yp2l" ).click(function() {
      $( this ).toggleClass( "checked" );
    });
  });
</script>
