<fieldset data-ng-init="inicializaAssociacao()">
  <div class="row">
    <uib-alert type="danger" close="closeAlert(currentAnelIndex, 'all')" data-ng-if="errors.general || errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosDePedestre || errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosVeiculares">
      <div style="padding-left: 12px;">
        <ul>
          <li data-ng-repeat="message in errors.general">{{ message }}</li>
          <li data-ng-repeat="message in errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosDePedestre">{{ message }}</li>
          <li data-ng-repeat="message in errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosVeiculares">{{ message }}</li>
        </ul>
      </div>
    </uib-alert>

    <div class="text-center m-t-md pd-lf-rt">
      <div class="col-lg-2 col-sm-2 no-padding">
        <div class="col-lg-12 col-sm-12 association">
          <nav>
            <ul>
              <li data-ng-repeat="anel in aneis"
              data-ng-click="selecionaAnel($index)"
              data-ng-class="{'anel-selecionado': $index === currentAnelIndex}" class="row">
              <div class="col-xs-7">
                <label>Anel {{ anel.posicao }}</label>
              </div>
              <div class="col-xs-1">
                <span class="badge badge-danger badge-notification" ng-show="anelTemErro($index)">
                  <i class="fa fa-exclamation"></i>
                </span>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-lg-10 col-sm-10 tableless association-detectors">
      <table class="tg" border="1" cellpadding="1" width="100%">
        <thead>
          <tr>
            <th>DETECTOR</th>
            <th>ESTÁGIO 1</th>
            <th>ESTÁGIO 2</th>
            <th>ESTÁGIO 3</th>
            <th>ESTÁGIO 4</th>
            <th>ESTÁGIO 5</th>
            <th>ESTÁGIO 6</th>
            <th>ESTÁGIO 7</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td><figure><img src="http://bit.ly/29gWJLk" alt="" width="120"></figure></td>
            <td><figure></td>
            <td><figure></td>
            <td><figure></td>
            <td><figure></td>
            <td><figure></td>
            <td><figure></td>
          </tr>
          <tr>
            <td><strong>DP 1</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="td-yp2l"><i class="fa fa-check" aria-hidden="true"></i></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>DP 2</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>DP 3</strong></td>
            <td class="td-yp2l"><i class="fa fa-check" aria-hidden="true"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>DP 4</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>DP 5</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>DP 6</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>DP 7</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="td-yp2l"><i class="fa fa-check" aria-hidden="true"></i></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>DP 8</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-lg-12 no-pading bg-border pg-bt m-t-lg">
      <a data-ng-click="submitForm({$valid: true}, 'associacao_grupos_semaforicos', 'app.wizard_controladores.aneis')" class="btn btn-default left m-r-sm">{{ 'plugins.steps.labels.previous' | translate }}</a>
      <a data-ng-click="submitForm({$valid: true}, 'associacao_grupos_semaforicos', 'app.wizard_controladores.verdes_conflitantes')" class="btn btn-primary left">{{ 'plugins.steps.labels.next' | translate }}</a>
    </div>
  </div>
</div>
</fieldset>

<script>
  $(document).ready(function(){
    $( ".td-yp2l" ).click(function() {
      $( this ).toggleClass( "checked" );
    });
  });
</script>
