<fieldset data-ng-init="inicializaAtrasoDeGrupo(0)">
  <div class="m-t-md">
    <div class="col-lg-12 col-sm-12 bg-border no-padding">
      <div class="ibox float-e-margins">
        <div class="tabpanel">
          <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
            <influunt-tabs class="tabpanel"
                           data-on-activate="selecionaAnelAtrasoDeGrupo"
                           data-aneis-ativos="aneis"
                           data-error-check="anelTemErro">
            </influunt-tabs>
            <div class="ui-layout-content tab-content">
              <div id="tabs-1">
                <div class="col-lg-12 col-sm-12 ibox-content no-padding">
                  <div class="row">
                    <div class="col-sm-2 association min-green side-menu">
                      <nav>
                        <ul id="side-menu" influunt-metis>
                          <li data-ng-repeat="grupoSemaforico in currentGruposSemaforicos" data-ng-class="{ 'active': ($index === currentGrupoSemaforicoIndex) && (currentGrupoSemaforicoIdentifier == currentAnelIndex.toString() + $index.toString()) }" data-ng-click="selecionaGrupoSemaforico(grupoSemaforico, $index)">
                            <a href="">G{{ grupoSemaforico.posicao }}
                              <span class="badge badge-danger badge-notification pull-right m-t-sm" ng-show="grupoSemaforicoTemErro(anelIndex, $index)">
                                <i class="fa fa-exclamation grupo-semaforico-error"></i>
                              </span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>

                    <div class="col-sm-10">
                      <div class="row">
                        <div class="col-sm-12 association tables-associated white-bg">
                          <div class="ibox-title">
                            <h5>{{ 'controladores.perdaDePassagem' | translate }}</h5>
                          </div>

                          <nav>
                            <ul>
                              <li data-ng-repeat="transicao in currentTransicoes">
                                <div class="group-figures col-lg-5 col-sm-5 no-padding">
                                  <div class="col-lg-6 col-sm-6 group-figure stage-images">
                                    <figure>
                                      <label for="">E{{ currentTabelaOrigensEDestinos[transicao.idJson].origem.posicao }}</label>
                                      <img ng-src="{{ getImagemDeEstagio(currentTabelaOrigensEDestinos[transicao.idJson].origem) }}" alt="{{ currentTabelaOrigensEDestinos[transicao.idJson].origem.descricao }}">
                                    </figure>
                                  </div>
                                  <div class="col-lg-6 col-sm-6 group-figure stage-images">
                                    <figure>
                                      <label for="">E{{ currentTabelaOrigensEDestinos[transicao.idJson].destino.posicao }}</label>
                                      <img ng-src="{{ getImagemDeEstagio(currentTabelaOrigensEDestinos[transicao.idJson].destino) }}" alt="{{ currentTabelaOrigensEDestinos[transicao.idJson].destino.descricao }}">
                                    </figure>
                                  </div>
                                </div>
                                <div class="group-figures col-lg-7 col-sm-7 no-padding initial-position">
                                  <div class="knob">
                                    <div class="text-center">
                                      <div class="knob-item" id="tv_{{$index + 1}}" data-ng-class="{ 'col-lg-4 col-sm-4': currentTabelaEntreVerdes.posicao === 1, 'col-lg-6 col-sm-6': currentTabelaEntreVerdes.posicao !== 1 } ">
                                        <span class="badge badge-danger badge-notification"
                                          data-ng-show="possuiErroAtrasoDeGrupo(currentAnelIndex, currentGrupoSemaforicoIndex, $index)"
                                          inf-tooltip
                                          messages="errors.aneis[currentAnelIndex].gruposSemaforicos[currentGrupoSemaforicoIndex].transicoes[$index]">
                                          <i class="fa fa-exclamation"></i>
                                        </span>
                                        <influunt-knob
                                          title="Atraso de Grupo"
                                          label="SEG"
                                          min="atrasoGrupoMin"
                                          max="atrasoGrupoMax"
                                          data-ng-model="transicao.atrasoDeGrupo.atrasoDeGrupo"
                                          data-ng-click="inicializaConfirmacaoNadaHaPreencher()">
                                        </influunt-knob>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </nav>
                        </div>

                        <div class="col-sm-12 association tables-associated white-bg">
                          <div class="ibox-title">
                            <h5>{{ 'controladores.ganhoDePassagem' | translate }}</h5>
                          </div>

                          <nav>
                            <ul>
                              <li data-ng-repeat="transicao in currentTransicoesComGanhoDePassagem">
                                <div class="group-figures col-lg-5 col-sm-5 no-padding">
                                  <div class="col-lg-6 col-sm-6 group-figure stage-images">
                                    <figure>
                                      <label for="">E{{ currentTabelaOrigensEDestinos[transicao.idJson].origem.posicao }}</label>
                                      <img ng-src="{{ getImagemDeEstagio(currentTabelaOrigensEDestinos[transicao.idJson].origem) }}" alt="{{ currentTabelaOrigensEDestinos[transicao.idJson].origem.descricao }}">
                                    </figure>
                                  </div>
                                  <div class="col-lg-6 col-sm-6 group-figure stage-images">
                                    <figure>
                                      <label for="">E{{ currentTabelaOrigensEDestinos[transicao.idJson].destino.posicao }}</label>
                                      <img ng-src="{{ getImagemDeEstagio(currentTabelaOrigensEDestinos[transicao.idJson].destino) }}" alt="{{ currentTabelaOrigensEDestinos[transicao.idJson].destino.descricao }}">
                                    </figure>
                                  </div>
                                </div>
                                <div class="group-figures col-lg-7 col-sm-7 no-padding initial-position">
                                  <div class="knob">
                                    <div class="text-center">
                                      <div class="knob-item" id="tv_{{$index +1}}" data-ng-class="{ 'col-lg-4 col-sm-4': currentTabelaEntreVerdes.posicao === 1, 'col-lg-6 col-sm-6': currentTabelaEntreVerdes.posicao !== 1 }">
                                        <span class="badge badge-danger badge-notification"
                                          data-ng-show="possuiErroAtrasoDeGrupo(currentAnelIndex, currentGrupoSemaforicoIndex, $index + currentTransicoes.length)"
                                          inf-tooltip
                                          messages="errors.aneis[currentAnelIndex].gruposSemaforicos[currentGrupoSemaforicoIndex].transicoes[$index + currentTransicoes.length]">
                                          <i class="fa fa-exclamation"></i>
                                        </span>
                                        <influunt-knob
                                          title="Atraso de Grupo"
                                          label="SEG"
                                          min="atrasoGrupoMin"
                                          max="atrasoGrupoMax"
                                          data-ng-model="transicao.atrasoDeGrupo.atrasoDeGrupo">
                                        </influunt-knob>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-12 pg-bt-footer padding-top-20 padding-bottom-20" data-ng-show="!possuiInformacoesPreenchidas()">
                  <div class="right">
                    <input type="checkbox" ichecks data-ng-model="confirmacao[currentAnel.posicao]" data-if-changed="confirmacaoNadaHaPreencher()">
                    <span>{{ 'plugins.steps.confirmation' | translate }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <wizard-footer url="atraso_de_grupo"
      current-step="app.wizard_controladores.atraso_de_grupo"
      next-step="app.wizard_controladores.associacao_detectores"
      previous-step="app.wizard_controladores.entre_verdes"
      require-assertion="true">
  </wizard-footer>
</fieldset>

<ng-include src="'views/controladores/wizard/common/popup-revisao.html'">
