<fieldset data-ng-init="inicializaConfiguracaoGrupos()">
  <div class="row">

    <div class="m-t-md">
      <div class="col-lg-12 col-sm-12 bg-border no-padding">
        <div class="ibox float-e-margins">
          <div class="tabpanel">
            <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">

              <influunt-tabs class="tabpanel"
                             data-on-activate="selecionaAnelGruposSemaforicos"
                             data-aneis-ativos="aneis"
                             data-error-check="anelTemErro">
              </influunt-tabs>
              <div class="ui-layout-content tab-content">

                <uib-alert type="danger" close="closeAlert(currentAnelIndex, 'all')" data-ng-if="errors.aneis[currentAnelIndex].general">
                  <div style="padding-left: 12px;">
                    <ul>
                      <li data-ng-repeat="message in errors.aneis[currentAnelIndex].general">{{ message }}</li>
                    </ul>
                  </div>
                </uib-alert>

                <div id="tabs-1">
                  <div class="col-lg-12 col-sm-12 padding-top-20">
                    <h3>{{ 'controladores.estagios' | translate }}</h3>
                  </div>
                  <div class="col-lg-12 col-sm-12 no-padding figures ibox-content">
                    <div class="bxslider">
                      <ul class="bxslider">
                        <div>
                          <li data-ng-repeat="estagio in currentEstagios"  class="stage-images">
                            <figure class="rings-{{ currentAnel.posicao }}">
                              <img src="{{ getImagemDeEstagio(estagio) }}">
                            </figure>
                          </li>
                        </div>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-12 col-sm-12 no-padding padding-top-20 stages ibox-content">
                    <div class="col-lg-12 col-sm-12">
                      <div class="row">
                        <div class="col-lg-1 col-sm-1 groups-stages-null"></div>
                        <div class="col-lg-2 col-sm-2 title-stages-top">
                          <p class="text-left">{{ 'controladores.configuracaoGrupo.tipo' | translate }}</p>
                        </div>
                        <div class="col-lg-2 col-sm-2 title-stages-top">
                          <p class="text-left">{{ 'controladores.configuracaoGrupo.verdeSeguro' | translate }}</p>
                        </div>
                        <div class="col-lg-3 col-sm-3 title-stages-top">
                          <p class="text-left">{{ 'controladores.configuracaoGrupo.faseVermelha' | translate }}</p>
                        </div>
                        <div class="col-lg-4 col-sm-4 title-stages-top">
                          <p class="text-left">{{ 'controladores.configuracaoGrupo.descricao' | translate }}</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12 col-sm-12">
                      <form method="get" class="form-horizontal">
                        <div class="row botton-line-grey" data-ng-repeat="grupo in currentGruposSemaforicos">
                          <div class="col-lg-1 col-sm-1 groups-stages-top">
                            <hgroup>
                              <label class="checkbox-inline i-checks">
                                <h3 class="label-name">G{{ grupo.posicao }}</h3>
                              </label>
                            </hgroup>
                          </div>
                          <div class="col-lg-2 col-sm-2 groups-stages">
                            <select class="form-control m-b" data-ng-model="grupo.tipo" data-ng-change="atualizaTempoVerdeSeguranca(grupo)" name="tipoGrupoSemaforico">
                              <option value="VEICULAR">{{ 'controladores.configuracaoGrupo.veicular' | translate }}</option>
                              <option value="PEDESTRE">{{ 'controladores.configuracaoGrupo.pedestre' | translate }}</option>
                            </select>
                          </div>
                          <div class="col-lg-2 col-sm-2 priority">
                            <div class="knob-item text-center" data-ng-if="grupo.tipo === 'VEICULAR'">
                              <influunt-knob
                              label="SEG" min="objeto.verdeSegurancaVeicularMin" max="objeto.verdeSegurancaVeicularMax"
                              data-ng-model="grupo.tempoVerdeSeguranca"></influunt-knob>
                            </div>
                            <div class="knob-item text-center" data-ng-if="grupo.tipo === 'PEDESTRE'">
                              <influunt-knob
                              label="SEG" min="objeto.verdeSegurancaPedestreMin" max="objeto.verdeSegurancaPedestreMax"
                              data-ng-model="grupo.tempoVerdeSeguranca"></influunt-knob>
                            </div>
                          </div>
                          <div class="col-lg-3 col-sm-3 groups-stages">
                            <select ng-model="grupo.faseVermelhaApagadaAmareloIntermitente" class="form-control m-b"
                                ng-options="o.v as o.n for o in [{ n: '{{ 'controladores.configuracaoGrupo.naoAmarelo' | translate }}', v: false }, { n: '{{ 'controladores.configuracaoGrupo.simAmarelo' | translate }}', v: true }]">
                            </select>
                          </div>
                          <div class="col-lg-3 col-sm-3 groups-stages">
                            <textarea type="text" rows="4" class="form-control m-b" placeholder="{{ 'controladores.configuracaoGrupo.descricao' | translate }}" data-ng-model="grupo.descricao"></textarea>
                          </div>
                          <div class="col-lg-1 col-sm-1 groups-stages">
                            <a ng-click="removeGrupo($index)" class="btn btn-xs btn-danger">{{ 'geral.crud.excluir' | translate }}</a>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-1 col-sm-1 groups-stages-null">
                            <hgroup>
                              <label class="checkbox-inline i-checks">
                                <h3 class="label-name"></h3>
                              </label>
                            </hgroup>
                          </div>

                          <div class="col-lg-11 col-sm-11 groups-stages" data-ng-if="podeAdicionarGrupoSemaforico()">
                            <a tooltips tooltip-template="{{ 'controladores.configuracaoGrupo.addGrupo' | translate }}" class="btn btn-primary left" data-ng-click="adicionaGrupoSemaforico()">{{ 'controladores.adicionarGrupo' | translate }}</a>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-12 bg-border-footer pg-bt-footer actions clearfix">
        <div class="left">
          <a ui-sref="app.wizard_controladores.aneis({id: objeto.id})" target="_blank" class="btn btn-info btn-footer" tooltips tooltip-template="{{ 'controladores.configuracaoGrupo.verAneis' | translate }}">
            <i class="fa fa-eye"></i> {{ 'plugins.steps.labels.last_screen' | translate }}
          </a>
        </div>
        <div class="right">
          <a goToTop data-ng-click="submitForm({$valid: true}, 'grupos_semaforicos', 'app.wizard_controladores.verdes_conflitantes')" tooltips tooltip-template="{{ 'controladores.verdes_conflitantes' | translate }}" class="goToTop btn btn-primary btn-footer">
          {{ 'plugins.steps.labels.next' | translate }} <i class="fa fa-arrow-right"></i>
          </a>
        </div>
        <div class="right">
          <a goToTop data-ng-click="submitForm({$valid: true}, 'grupos_semaforicos', 'app.wizard_controladores.aneis')" tooltips tooltip-template="{{ 'controladores.aneis' | translate }}" class="btn btn-outline btn-primary btn-footer m-r-sm">
            <i class="fa fa-arrow-left"></i> {{ 'plugins.steps.labels.previous' | translate }}
          </a>
        </div>
      </div>
    </div>

  </div>
</fieldset>
