<fieldset data-ng-init="inicializaWizard()">
  <div class="text-center m-t-md">
    <div class="col-lg-12 col-sm-12 bg-border no-padding">
      <div class="ibox float-e-margins">
        <div class="">
          <form name="formDadosBasicos" novalidate>

            <div class="col-lg-5 col-sm-5">
              <div class="form-group" />

              <div class="form-group">
                <label>{{ 'controladores.cidade' | translate }}:</label>
                <select name="cidade" class="form-control"
                  data-ng-model="helpers.cidade"
                  data-ng-options="cidade as cidade.nome for cidade in data.cidades track by cidade.id"></select>
              </div>

              <div class="form-group" data-ng-class="{'has-error': errors.area}">
                <label class="col-sm-12 no-padding control-label">{{ 'controladores.area' | translate }}:</label>
                <select name="area" class="form-control"
                  data-ng-options="area.id as area.descricao for area in helpers.cidade.areas"
                  data-ng-model="objeto.area.id"></select>
                <p class="help-block error-msg">{{ errors.area }}</p>
              </div>

              <div class="form-group" data-ng-class="{'has-error': errors.localizacao}">
                <label class="col-sm-12 no-padding control-label">{{ 'controladores.localizacao' | translate }}:</label>
                <textarea type="text" name="localizacao" class="form-control"
                  data-ng-model="objeto.localizacao"></textarea>
                <p class="help-block error-msg">{{ errors.localizacao }}</p>
              </div>

              <div class="form-group">
                <label>{{ 'controladores.numeroSMEE' | translate }}:</label>
                <input type="text" name="numeroSMEE" class="form-control"
                  data-ng-model="objeto.numeroSMEE">
              </div>

              <div class="form-group">
                <label>{{ 'controladores.CLC' | translate }}:</label>
                <input type="text" name="CLC" class="form-control"
                  data-ng-model="objeto.CLC" readonly>
              </div>

              <div class="col-lg-12 col-sm-12 no-padding conjugate">
                <div class="col-lg-4 col-sm-4 no-padding">
                  <div class="form-group">
                    <label>{{ 'controladores.numeroSMEEConjugado1' | translate }}:</label>
                    <input type="text" name="numeroSMEEConjugado1" class="form-control"
                      data-ng-model="objeto.numeroSMEEConjugado1">
                  </div>
                </div>

                <div class="col-lg-4 col-sm-4 no-padding-right">
                  <div class="form-group">
                    <label>{{ 'controladores.numeroSMEEConjugado2' | translate }}:</label>
                    <input type="text" name="numeroSMEEConjugado2" class="form-control"
                      data-ng-model="objeto.numeroSMEEConjugado2">
                  </div>
                </div>

                <div class="col-lg-4 col-sm-4 no-padding-right">
                  <div class="form-group">
                    <label>{{ 'controladores.numeroSMEEConjugado3' | translate }}:</label>
                    <input type="text" name="numeroSMEEConjugado3" class="form-control"
                      data-ng-model="objeto.numeroSMEEConjugado3">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>{{ 'controladores.versaoFirmware' | translate }}:</label>
                <input type="text" name="firmware" class="form-control"
                  data-ng-model="objeto.firmware">
              </div>

              <footer class="form-group">
                <p><small>{{ 'geral.auditoria.dataCriacao' | translate }}: {{ objeto.dataCriacao | date:"short" }}</small></p>
                <p><small>{{ 'geral.auditoria.dataAtualizacao' | translate }}: {{ objeto.dataAtualizacao | date:"short" }}</small></p>
                <p><small>{{ 'geral.auditoria.atualizadoPor' | translate}}: {{ objeto.atualizadoPor }}</small></p>
              </footer>

            </div>
            <div class="col-lg-4 col-sm-4 maps">
              <figure>
                <div influunt-map
                  latitude="objeto.latitude"
                  longitude="objeto.longitude"
                  class="influunt-map">
                </div>
              </figure>

              <div class="col-lg-12 col-sm-12 no-padding">
                <div class="form-group">
                  <label>{{ 'controladores.endereco' | translate }}:</label>
                  <helper-endereco ng-model="endereco" latitude="objeto.latitude" longitude="objeto.longitude"></helper-endereco>
                </div>
              </div>

              <div class="col-lg-6 col-sm-6 no-padding" data-ng-class="{'has-error': errors.latitude}">
                <div class="form-group">
                  <label class="col-sm-12 no-padding control-label">{{ 'controladores.latitude' | translate }}:</label>
                  <input type="number" name="latitude" class="form-control"
                    data-ng-model="objeto.latitude">
                  <p class="help-block error-msg" data-ng-show="errors.latitude">{{ errors.latitude }}</p>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 no-padding-right" data-ng-class="{'has-error': errors.longitude}">
                <div class="form-group">
                  <label class="col-sm-12 no-padding control-label">{{ 'controladores.longitude' | translate }}:</label>
                  <input type="number" name="longitude" class="form-control"
                    data-ng-model="objeto.longitude">
                  <p class="help-block error-msg" data-ng-show="errors.longitude">{{ errors.longitude }}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-3 divider">
              <div class="form-group">
                <label class="col-sm-12 no-padding control-label">{{ 'controladores.fornecedor' | translate }}</label>
                <div class="col-sm-12 no-padding">
                  <select name="fornecedor" class="form-control"
                    data-ng-options="fornecedor as fornecedor.nome for fornecedor in data.fabricantes track by fornecedor.id"
                    data-ng-model="helpers.fornecedor"></select>
                </div>
              </div>
              <div class="form-group" data-ng-class="{'has-error': errors.modelo}">
                <label class="col-sm-12 no-padding control-label">{{ 'controladores.modelo' | translate }}</label>
                <div class="col-sm-12 no-padding">
                  <select name="modelo" class="form-control"
                    data-ng-options="modelo as modelo.descricao for modelo in helpers.fornecedor.modelos track by modelo.id"
                    data-ng-model="objeto.modelo"></select>
                  <p class="help-block error-msg" data-ng-show="errors.modelo">{{ errors.modelo }}</p>
                </div>
              </div>

              <div class="col-lg-4 col-sm-4 no-padding">
                <h1><b>{{ objeto.modelo.configuracao.limiteEstagio || 0 }}</b></h1>
                <p>{{ 'controladores.maxEstagios' | translate }}</p>
              </div>
              <div class="col-lg-4 col-sm-4 no-padding-right">
                <h1><b>{{ objeto.modelo.configuracao.limiteGrupoSemaforico || 0 }}</b></h1>
                <p>{{ 'controladores.maxGrupoSemaforos' | translate }}</p>
              </div>
              <div class="col-lg-4 col-sm-4 no-padding-right">
                <h1><b>{{ objeto.modelo.configuracao.limiteAnel || 0 }}</b></h1>
                <p>{{ 'controladores.maxAneis' | translate }}</p>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-4 col-sm-4 no-padding">
                <h1><b>{{ objeto.modelo.configuracao.limiteDetectorVeicular || 0 }}</b></h1>
                <p>{{ 'controladores.maxDetectorVeicular' | translate }}</p>
              </div>
               <div class="col-lg-4 col-sm-4 no-padding-right">
                <h1><b>{{ objeto.modelo.configuracao.limiteDetectorPedestre || 0 }}</b></h1>
                <p>{{ 'controladores.maxDetectorPedestre' | translate }}</p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-12 col-lg-12 m-b-lg">
        <a data-ng-click="submitForm(formDadosBasicos, 'dados_basicos', 'app.wizard_controladores.aneis')" class="btn btn-primary left">{{ 'plugins.steps.labels.next' | translate }}</a>
      </div>
    </div>
  </div>
</fieldset>
