<fieldset data-ng-init="inicializaAssociacao()">
  <div class="row">
    <uib-alert type="danger" close="closeAlertAnel(currentAnelIndex, 'all')" data-ng-if="errors.general || errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosDePedestre || errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosVeiculares">
      <div style="padding-left: 12px;">
        <ul>
          <li data-ng-repeat="message in errors.general">{{ message }}</li>
          <li data-ng-repeat="message in errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosDePedestre">{{ message }}</li>
          <li data-ng-repeat="message in errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosVeiculares">{{ message }}</li>
        </ul>
      </div>
    </uib-alert>
    <div class="text-center m-t-md pd-lf-rt">
      <div class="col-lg-2 col-sm-2 no-padding">
        <div class="col-lg-12 col-sm-12 association min-green side-menu">
          <nav>
            <ul class="" id="side-menu">
              <li class="active">
                <a href="index.html"><span class="nav-label">ANEL 1</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li class="active"><a href="">G1</a></li>
                  <li><a href="">G2</a></li>
                  <li><a href="">G3</a></li>
                  <li><a href="">G4</a></li>
                </ul>
              </li>
              <li class="">
                <a href="index.html"><span class="nav-label">ANEL 2</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li class="active"><a href="">G1</a></li>
                  <li><a href="">G2</a></li>
                  <li><a href="">G3</a></li>
                  <li><a href="">G4</a></li>
                </ul>
              </li>
              <li class="">
                <a href="index.html"><span class="nav-label">ANEL 3</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li class="active"><a href="">G1</a></li>
                  <li><a href="">G2</a></li>
                  <li><a href="">G3</a></li>
                  <li><a href="">G4</a></li>
                </ul>
              </li>
              <li class="">
                <a href="index.html"><span class="nav-label">ANEL 4</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li class="active"><a href="">G1</a></li>
                  <li><a href="">G2</a></li>
                  <li><a href="">G3</a></li>
                  <li><a href="">G4</a></li>
                </ul>
              </li>
            </ul>
        </nav>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3">
      <div class="col-lg-12 col-sm-12 association table-entry-green min-green relative">
        <nav>
          <ul>
            <li><div class="col-lg-12 col-sm-12"><label for="">TABELA AMARELO</label></div></li> 
            <li><div class="col-lg-12 col-sm-12"><label for="">TABELA VERMELHO</label></div></li> 
            <li><div class="col-lg-12 col-sm-12"><label for="">TABELA AZUL</label></div></li>          
          </ul>
        </nav>
        <footer>
          <a href="/" target="Nova tabela">Nova tabela</a>
        </footer>
      </div>
    </div>
    <div class="col-lg-7 col-sm-7 association tables-associated">
      <header class="col-lg-12 col-sm-12">
        <div class="form-group">
          <label>Email</label>
          <input type="email" placeholder="Enter email" class="form-control">
        </div>
      </header>
      <!-- table sem o tempo de atraso de grupo -->
      <nav class="association-know" style="display:none;">
        <ul>
          <li>
            <div class="group-figures col-lg-5 col-sm-5 no-padding">
              <div class="group-figure">                
                <figure>  
                  <label for="">E1</label>              
                  <img src="http://bit.ly/29gWJLk" alt="" width="160">
                </figure>
              </div>
              <div class="group-figure">                
                <figure>   
                  <label for="">E3</label>             
                  <img src="" alt="">
                </figure>
              </div>
            </div>
            <div class="group-figures col-lg-7 col-sm-7 no-padding">
              <div class="knob">
                <div class="text-center">    
                  <div class="knob-item col-lg-6 col-sm-6">
                    <p>Amarelo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="20" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                  <div class="knob-item col-lg-6 col-sm-6">
                    <p>Amarelo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="90" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>    
          <li>
            <div class="group-figures col-lg-5 col-sm-5 no-padding">
              <div class="group-figure">                
                <figure>  
                  <label for="">E1</label>              
                  <img src="http://bit.ly/29gWJLk" alt="" width="160">
                </figure>
              </div>
              <div class="group-figure">                
                <figure>   
                  <label for="">E3</label>             
                  <img src="" alt="">
                </figure>
              </div>
            </div>
            <div class="group-figures col-lg-7 col-sm-7 no-padding">
              <div class="knob">
                <div class="text-center">    
                  <div class="knob-item col-lg-6 col-sm-6">
                    <p>Amarelo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="5" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                  <div class="knob-item col-lg-6 col-sm-6">
                    <p>Amarelo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="20" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>    
          <li>
            <div class="group-figures col-lg-5 col-sm-5 no-padding">
              <div class="group-figure">                
                <figure>  
                  <label for="">E1</label>              
                  <img src="http://bit.ly/29gWJLk" alt="" width="160">
                </figure>
              </div>
              <div class="group-figure">                
                <figure>   
                  <label for="">E3</label>             
                  <img src="" alt="">
                </figure>
              </div>
            </div>
            <div class="group-figures col-lg-7 col-sm-7 no-padding">
              <div class="knob">
                <div class="text-center">    
                  <div class="knob-item col-lg-6 col-sm-6">
                    <p>Amarelo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="15" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                  <div class="knob-item col-lg-6 col-sm-6">
                    <p>Amarelo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="80" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>    
          <li>
            <div class="group-figures col-lg-5 col-sm-5 no-padding">
              <div class="group-figure">                
                <figure>  
                  <label for="">E1</label>              
                  <img src="http://bit.ly/29gWJLk" alt="" width="160">
                </figure>
              </div>
              <div class="group-figure">                
                <figure>   
                  <label for="">E3</label>             
                  <img src="" alt="">
                </figure>
              </div>
            </div>
            <div class="group-figures col-lg-7 col-sm-7 no-padding">
              <div class="knob">
                <div class="text-center">    
                  <div class="knob-item col-lg-6 col-sm-6">
                    <p>Amarelo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="20" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                  <div class="knob-item col-lg-6 col-sm-6">
                    <p>Amarelo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="75" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>            
        </ul>
      </nav>
      <!-- table com a coluna tempo de atraso de grupo -->
      <nav class="association-know" style="display">
        <ul>
          <li>
            <div class="group-figures col-lg-5 col-sm-5 no-padding">
              <div class="group-figure">                
                <figure>  
                  <label for="">E1</label>              
                  <img src="http://bit.ly/29gWJLk" alt="" width="160">
                </figure>
              </div>
              <div class="group-figure">                
                <figure>   
                  <label for="">E3</label>             
                  <img src="" alt="">
                </figure>
              </div>
            </div>
            <div class="group-figures col-lg-7 col-sm-7 no-padding initial-position">
              <div class="knob">
                <div class="text-center">    
                  <div class="knob-item col-lg-4 col-sm-4">
                    <p>Amarelo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="75" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                  <div class="knob-item col-lg-4 col-sm-4">
                    <p>Amarelo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="75" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                  <div class="knob-item col-lg-4 col-sm-4 delay-time">
                    <p>Tempo de atraso de grupo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="75" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>  
          <li>
            <div class="group-figures col-lg-5 col-sm-5 no-padding">
              <div class="group-figure">                
                <figure>  
                  <label for="">E1</label>              
                  <img src="http://bit.ly/29gWJLk" alt="" width="160">
                </figure>
              </div>
              <div class="group-figure">                
                <figure>   
                  <label for="">E3</label>             
                  <img src="" alt="">
                </figure>
              </div>
            </div>
            <div class="group-figures col-lg-7 col-sm-7 no-padding initial-position">
              <div class="knob">
                <div class="text-center">    
                  <div class="knob-item col-lg-4 col-sm-4">
                    <p>Amarelo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="50" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                  <div class="knob-item col-lg-4 col-sm-4">
                    <p>Amarelo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="35" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                  <div class="knob-item col-lg-4 col-sm-4 delay-time">
                    <p>Tempo de atraso de grupo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="75" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>     
          <li>
            <div class="group-figures col-lg-5 col-sm-5 no-padding">
              <div class="group-figure">                
                <figure>  
                  <label for="">E1</label>              
                  <img src="http://bit.ly/29gWJLk" alt="" width="160">
                </figure>
              </div>
              <div class="group-figure">                
                <figure>   
                  <label for="">E3</label>             
                  <img src="" alt="">
                </figure>
              </div>
            </div>
            <div class="group-figures col-lg-7 col-sm-7 no-padding initial-position">
              <div class="knob">
                <div class="text-center">    
                  <div class="knob-item col-lg-4 col-sm-4">
                    <p>Amarelo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="75" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                  <div class="knob-item col-lg-4 col-sm-4">
                    <p>Amarelo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="50" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                  <div class="knob-item col-lg-4 col-sm-4 delay-time">
                    <p>Tempo de atraso de grupo</p>           
                    <div class="inline meters relative">     
                      <label>SEG</label>               
                      <input type="text" value="20" class="dial m-r-sm" data-fgColor="#1AB394" data-width="85" data-height="85" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>           
        </ul>
      </nav>
    </div>
    <div class="col-sm-12 col-lg-12 no-pading bg-border pg-bt m-t-lg">
      <a data-ng-click="submitForm({$valid: true}, 'associacao_grupos_semaforicos', 'app.wizard_controladores.aneis')" class="btn btn-default left m-r-sm">{{ 'plugins.steps.labels.previous' | translate }}</a>
      <a data-ng-click="submitForm({$valid: true}, 'associacao_grupos_semaforicos', 'app.wizard_controladores.verdes_conflitantes')" class="btn btn-primary left">{{ 'plugins.steps.labels.next' | translate }}</a>
    </div>
  </div>
</div>
</fieldset>
<!-- {{ objeto }} -->

<script>
  $(document).ready(function(){

    WinMove();

    //jQuery Knob
    $(".dial").knob();

    // MetsiMenu
    $('#side-menu').metisMenu();

    function WinMove() {
      var element = ".handle";
      var handle = ".title-stages";
      var connect = ".handle";
      $(element).sortable(
      {
        handle: handle,
        connectWith: connect,
        tolerance: 'pointer',
        forcePlaceholderSize: true,
        opacity: 0.8
      })
      .disableSelection();
    };


    function readURL() {
      var $input = $(this);
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $input.next('.attrImg').attr('src', e.target.result).show();
        }
        reader.readAsDataURL(this.files[0]);
      }
    }

    $(".imgInp").change(readURL);
    $(".imgInp").change(function(){
      $(this).parents().eq(3).addClass('change');
    });

    // $('.i-checks').iCheck({
    //     checkboxClass: 'icheckbox_square-green',
    //     radioClass: 'iradio_square-green',
    // });
  });
</script>
