<fieldset data-ng-init="inicializaEntreVerdes()">
  <div class="row">
    <uib-alert type="danger" data-ng-if="possuiErrosNumeroTabelasEntreVerdes()">
      <div style="padding-left: 12px;">
        <ul>
          <li data-ng-repeat="message in errosNumeroTabelasEntreVerdes()">{{ message }}</li>
        </ul>
      </div>
    </uib-alert>
    <div class="text-center m-t-md pd-lf-rt">
      <div class="col-lg-2 col-sm-2 no-padding">
        <div class="col-lg-12 col-sm-12 association min-green side-menu">
          <nav>
            <ul id="side-menu" influunt-metis>
              <li data-ng-repeat="anel in aneis" data-ng-class="{ 'active': $index === currentAnelIndex }" data-ng-click="selecionaAnel($index)" data-ng-init="anelIndex = $index">
                <a href="#">
                  <span class="nav-label">ANEL {{ anel.posicao }}</span>
                  <span class="badge badge-danger badge-notification entre-verdes-anel-error" ng-show="anelTemErro($index)">
                    <i class="fa fa-exclamation"></i>
                  </span>
                  <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                  <li data-ng-repeat="grupoSemaforico in anel.gruposSemaforicos" data-ng-class="{ 'active': ($index === currentGrupoSemaforicoIndex) && (currentGrupoSemaforicoIdentifier == anelIndex.toString() + $index.toString()) }" data-ng-click="selecionaGrupoSemaforico($index)">
                    <a href="">G{{ grupoSemaforico.posicao }}
                      <span class="badge badge-danger badge-notification pull-right m-t-sm" ng-show="grupoSemaforicoTemErro(anelIndex, $index)">
                        <i class="fa fa-exclamation grupo-semaforico-error"></i>
                      </span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3">
        <div class="col-lg-12 col-sm-12 association table-entry-green min-green relative tabelas-entre-verdes">
          <nav>
            <ul>
              <li data-ng-repeat="tabelaEntreVerdes in currentGrupoSemaforico.tabelasEntreVerdes" data-ng-class="{ 'active': $index == currentTabelaEntreVerdesIndex }" data-ng-click="selecionaTabelaEntreVerdes($index)">
                <div class="col-lg-12 col-sm-12">
                  <label for="">TABELA {{ tabelaEntreVerdes.descricao }}</label><i class="fa fa-times pull-right m-t-sm remove-tabela-entre-verdes" data-ng-if="$index !== 0" data-ng-click="removerTabelaEntreVerdes($index)"></i>
                </div>
              </li>
            </ul>
          </nav>
          <footer data-ng-show="currentGrupoSemaforico.tabelasEntreVerdes.length < limiteTabelasEntreVerdes">
            <a target="Nova tabela" data-ng-click="adicionarTabelaEntreVerdes()">Nova tabela</a>
          </footer>
        </div>
      </div>
      <div class="col-lg-7 col-sm-7 association tables-associated">
        <header class="col-lg-12 col-sm-12">
          <div class="form-group">
            <label>Descrição</label>
            <input type="text" placeholder="Descrição" class="form-control" ng-model="currentTabelaEntreVerdes.descricao">
          </div>
        </header>

        <nav class="association-know" style="display:block;">
          <ul>
            <li data-ng-repeat="tevTransicao in tabelasEntreVerdesTransicoes">
              <div class="group-figures col-lg-5 col-sm-5 no-padding">
                <div class="group-figure">
                  <figure>
                    <label for="">E{{ tevTransicao.transicao.origem.posicao }}</label>
                    <img ng-src="{{ tevTransicao.transicao.origem.imagem.id | imageSource }}" width="160" alt="{{ tevTransicao.transicao.origem.descricao }}">
                  </figure>
                </div>
                <div class="group-figure">
                  <figure>
                    <label for="">E{{ tevTransicao.transicao.destino.posicao }}</label>
                    <!-- <img src="" alt=""> -->
                    <img ng-src="{{ tevTransicao.transicao.destino.imagem.id | imageSource }}" width="160" alt="{{ tevTransicao.transicao.destino.descricao }}">
                  </figure>
                </div>
              </div>
              <div class="group-figures col-lg-7 col-sm-7 no-padding initial-position">
                <div class="knob">
                  <div class="text-center">
                    <div class="knob-item" data-ng-class="{ 'col-lg-4 col-sm-4': currentTabelaEntreVerdes.posicao === 1, 'col-lg-6 col-sm-6': currentTabelaEntreVerdes.posicao !== 1 }">
                      <!-- <pre>{{possuiErroAmareloOuVermelho(currentGrupoSemaforico, $index)}}</pre> -->
                      <span class="badge badge-danger badge-notification"
                        data-ng-show="possuiErroAmareloOuVermelho(currentGrupoSemaforico, $index)"
                        inf-tooltip
                        messages="[errosAmareloOuVermelho(currentGrupoSemaforico, $index)]">
                        <i class="fa fa-exclamation"></i>
                      </span>
                      <influunt-knob title="{{ amareloOuVermelho(currentGrupoSemaforico) }}" label="SEG" min="limites(tevTransicao.transicao.grupoSemaforico)[amareloOuVermelho(currentGrupoSemaforico, true)].min" max="limites(tevTransicao.transicao.grupoSemaforico)[amareloOuVermelho(currentGrupoSemaforico, true)].max" data-ng-model="tevTransicao[amareloOuVermelho(currentGrupoSemaforico, true)]"></influunt-knob>
                    </div>
                    <div class="knob-item col-lg-4 col-sm-4">
                      <span class="badge badge-danger badge-notification"
                        data-ng-show="possuiErroVermelhoLimpeza(currentGrupoSemaforico, $index)"
                        inf-tooltip
                        messages="[errosVermelhoLimpeza(currentGrupoSemaforico, $index)]">
                        <i class="fa fa-exclamation"></i>
                      </span>
                      <influunt-knob title="Vermelho de Limpeza" label="SEG" min="limites(tevTransicao.transicao.grupoSemaforico).tempoVermelhoLimpeza.min" max="limites(tevTransicao.transicao.grupoSemaforico).tempoVermelhoLimpeza.max" data-ng-model="tevTransicao.tempoVermelhoLimpeza"></influunt-knob>
                    </div>
                    <div class="knob-item col-lg-4 col-sm-4 delay-time" data-ng-if="currentTabelaEntreVerdes.posicao === 1">
                      <span class="badge badge-danger badge-notification"
                        data-ng-show="possuiErroAtrasoGrupo(currentGrupoSemaforico, $index)"
                        inf-tooltip
                        messages="[errosAtrasoGrupo(currentGrupoSemaforico, $index)]">
                        <i class="fa fa-exclamation"></i>
                      </span>
                      <influunt-knob
                          title="Atraso de Grupo"
                          label="SEG"
                          min="limites(tevTransicao.transicao.grupoSemaforico).tempoAtrasoGrupo.min"
                          max="limites(tevTransicao.transicao.grupoSemaforico).tempoAtrasoGrupo.max"
                          data-ng-model="tevTransicao.tempoAtrasoGrupo">
                      </influunt-knob>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-12 col-lg-12 no-pading bg-border pg-bt m-t-lg">
        <a data-ng-click="submitForm({$valid: true}, 'entre_verdes', 'app.wizard_controladores.transicoes_proibidas')" class="btn btn-default left m-r-sm">{{ 'plugins.steps.labels.previous' | translate }}</a>
        <a data-ng-click="submitForm({$valid: true}, 'entre_verdes', 'app.wizard_controladores.associacao_detectores')" class="btn btn-primary left">{{ 'plugins.steps.labels.next' | translate }}</a>
      </div>
    </div>
  </div>
</fieldset>
<!-- {{ objeto }} -->

<script>
  $(document).ready(function(){

    WinMove();

    function WinMove() {
      var element = ".handle";
      var handle = ".title-stages";
      var connect = ".handle";
      $(element).sortable(
      {
        handle: handle,
        connectWith: connect,
        tolerance: 'pointer',
        forcePlaceholderSize: true,
        opacity: 0.8
      })
      .disableSelection();
    };


    function readURL() {
      var $input = $(this);
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $input.next('.attrImg').attr('src', e.target.result).show();
        }
        reader.readAsDataURL(this.files[0]);
      }
    }

    $(".imgInp").change(readURL);
    $(".imgInp").change(function(){
      $(this).parents().eq(3).addClass('change');
    });
  });
</script>
