<fieldset data-ng-init="inicializaEntreVerdes()">
  <div class="m-t-md">
    <div class="col-lg-12 col-sm-12 bg-border no-padding">
      <div class="ibox float-e-margins">
        <div class="tabpanel">
          <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
            <influunt-tabs class="tabpanel"
                           data-on-activate="selecionaAnelEntreVerdes"
                           data-aneis-ativos="aneis"
                           data-error-check="anelTemErro">
            </influunt-tabs>
            <div class="ui-layout-content tab-content">
              <uib-alert type="danger" data-ng-if="possuiErrosNumeroTabelasEntreVerdes()">
                <div style="padding-left: 12px;">
                  <ul>
                    <li data-ng-repeat="message in errosNumeroTabelasEntreVerdes()">{{ message }}</li>
                  </ul>
                </div>
              </uib-alert>

              <div id="tabs-1">
                <div class="col-lg-12 col-sm-12 ibox-content no-padding">
                  <!-- menu tabelas entre-verdes -->
                  <div class="col-lg-2 col-sm-2 association min-green side-menu">
                    <nav>
                      <ul id="side-menu" influunt-metis>
                        <li data-ng-repeat="grupoSemaforico in currentGruposSemaforicos" data-ng-class="{ 'active': ($index === currentGrupoSemaforicoIndex) && (currentGrupoSemaforicoIdentifier == currentAnelIndex.toString() + $index.toString()) }" data-ng-click="selecionaGrupoSemaforico(grupoSemaforico, $index)">
                          <a href="">G{{ grupoSemaforico.posicao }}
                            <span class="badge badge-danger badge-notification pull-right m-t-sm" ng-show="grupoSemaforicoTemErro(anelIndex, $index)">
                              <i class="fa fa-exclamation grupo-semaforico-error"></i>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <div class="col-lg-3 col-sm-3">
                    <div class="col-lg-12 col-sm-12 association table-entry-green min-green relative tabelas-entre-verdes">
                      <div class="ibox-title">
                        <h5>TABELAS</h5>
                        <a data-ng-show="currentTabelasEntreVerdes.length < limiteTabelasEntreVerdes" class="btn btn-primary btn-xs m-l right" target="Nova tabela" data-ng-click="adicionarTabelaEntreVerdes()" data-toggle="tooltip" data-placement="top" title="Adicionar uma nova tabela padrão">
                          Nova tabela <i class="fa fa-plus"></i>
                        </a>
                      </div>
                      <nav>
                        <ul>
                          <li data-ng-repeat="tabelaEntreVerdes in currentTabelasEntreVerdes" data-ng-class="{ 'active': $index == currentTabelaEntreVerdesIndex }" data-ng-click="selecionaTabelaEntreVerdes(tabelaEntreVerdes, $index)">
                            <div class="col-lg-12 col-sm-12">
                              <label for="">TABELA {{ tabelaEntreVerdes.descricao }}</label>
                              <i class="fa fa-times pull-right m-t-sm remove-tabela-entre-verdes" data-ng-if="$last && $index !== 0" data-ng-click="removerTabelaEntreVerdes(tabelaEntreVerdes)"></i>
                            </div>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>

                  <!-- menu transicoes -->
                  <div class="col-lg-7 col-sm-7 association tables-associated white-bg">
                    <header class="col-lg-12 col-sm-12 no-padding">
                      <div class="form-group">
                        <label>Descrição</label>
                        <input type="text" placeholder="Descrição" class="form-control" ng-model="currentTabelaEntreVerdes.descricao">
                      </div>
                    </header>

                    <nav style="display:block;">
                      <ul>
                        <li data-ng-repeat="tevTransicao in currentTabelasEntreVerdesTransicoes" data-origem="E{{ currentTabelaOrigensEDestinos[tevTransicao.transicao.idJson].origem.posicao }}" data-destino="E{{ currentTabelaOrigensEDestinos[tevTransicao.transicao.idJson].destino.posicao }}">
                          <div class="group-figures col-lg-5 col-sm-5 no-padding">
                            <div class="col-lg-6 col-sm-6 group-figure stage-images">
                              <figure>
                                <label for="">E{{ currentTabelaOrigensEDestinos[tevTransicao.transicao.idJson].origem.posicao }}</label>
                                <img ng-src="{{ getImagemDeEstagio(currentTabelaOrigensEDestinos[tevTransicao.transicao.idJson].origem) }}" alt="{{ currentTabelaOrigensEDestinos[tevTransicao.transicao.idJson].origem.descricao }}">
                              </figure>
                            </div>
                            <div class="col-lg-6 col-sm-6 group-figure stage-images">
                              <figure>
                                <label for="">E{{ currentTabelaOrigensEDestinos[tevTransicao.transicao.idJson].destino.posicao }}</label>
                                <!-- <img src="" alt=""> -->
                                <img ng-src="{{ getImagemDeEstagio(currentTabelaOrigensEDestinos[tevTransicao.transicao.idJson].destino) }}" alt="{{ currentTabelaOrigensEDestinos[tevTransicao.transicao.idJson].destino.descricao }}">
                              </figure>
                            </div>
                          </div>
                          <div class="group-figures col-sm-7 no-padding initial-position">
                            <div class="knob">
                              <div class="text-center row">
                                <div class="knob-item col-sm-6">
                                  <span class="badge badge-danger badge-notification"
                                    data-ng-show="possuiErroAmareloOuVermelho(currentGrupoSemaforico, $index)"
                                    inf-tooltip
                                    messages="errors.aneis[currentAnelIndex].gruposSemaforicos[currentGrupoSemaforicoIndex].transicoes[$index].tabelaEntreVerdesTransicoes[currentTabelaEntreVerdesIndex]">
                                    <i class="fa fa-exclamation"></i>
                                  </span>
                                  <influunt-knob
                                    title="{{ amareloOuVermelho(currentGrupoSemaforico) }}"
                                    class="{{ amareloOuVermelhoColor(currentGrupoSemaforico) }}"
                                    label="SEG"
                                    min="limites(currentGrupoSemaforico)[amareloOuVermelho(currentGrupoSemaforico, true)].min"
                                    max="limites(currentGrupoSemaforico)[amareloOuVermelho(currentGrupoSemaforico, true)].max"
                                    data-ng-model="tevTransicao[amareloOuVermelho(currentGrupoSemaforico, true)]">
                                  </influunt-knob>
                                </div>
                                <div class="knob-item col-sm-6">
                                  <span class="badge badge-danger badge-notification"
                                    data-ng-show="possuiErroVermelhoLimpeza(currentGrupoSemaforico, $index)"
                                    inf-tooltip
                                    messages="[errosVermelhoLimpeza(currentGrupoSemaforico, $index)]">
                                    <i class="fa fa-exclamation"></i>
                                  </span>
                                  <influunt-knob
                                    title="Vermelho de Limpeza"
                                    class="vermelho-limpeza"
                                    label="SEG"
                                    min="limites(currentGrupoSemaforico).tempoVermelhoLimpeza.min"
                                    max="limites(currentGrupoSemaforico).tempoVermelhoLimpeza.max"
                                    data-ng-model="tevTransicao.tempoVermelhoLimpeza">
                                  </influunt-knob>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <div class="col-sm-12 col-lg-12 pg-bt-footer padding-top-20 padding-bottom-20" data-ng-show="!possuiInformacoesPreenchidas()">
                    <div class="right">
                      <input type="checkbox" ichecks data-ng-model="confirmacao[currentGrupoSemaforico.posicao]" data-if-changed="confirmacaoNadaHaPreencher()">
                      <span>{{ 'plugins.steps.confirmationDefault' | translate }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- bptão proximo voltar -->
  <div class="col-sm-12 col-lg-12 no-pading pg-bt m-t-lg">
    <div class="left">
      <a data-toggle="modal" data-target="#myModal" class="left btn btn-info btn-footer" tooltips tooltip-template="{{ 'plugins.steps.labels.last_screen' | translate }}">
        <i class="fa fa-eye"></i> {{ 'plugins.steps.labels.last_screen' | translate }}
      </a>
    </div>
    <div class="right">
      <a data-ng-if="podeSalvar()" go-to-top data-ng-click="submitForm({$valid: true}, 'entre_verdes', 'app.wizard_controladores.associacao_detectores')" tooltips tooltip-template="<b>{{ 'geral.tooltip.salvarAvancarPara' | translate }}</b> {{ 'controladores.associacaoDetectores.titulo' | translate }}" class="go-to-top btn btn-primary btn-footer right">
        {{ 'plugins.steps.labels.saveNext' | translate }} <i class="fa fa-arrow-right"></i>
      </a>
      <a data-ng-if="!podeSalvar()" disabled="disabled" tooltips tooltip-template="<b><span>{{ mensagemConfirmacao() }}</span></b>" class="go-to-top btn btn-primary btn-footer right">
        {{ 'plugins.steps.labels.saveNext' | translate }} <i class="fa fa-arrow-right"></i>
      </a>
    </div>
    <div class="right">
      <a data-ng-if="podeSalvar()" go-to-top data-ng-click="submitForm({$valid: true}, 'entre_verdes', 'app.wizard_controladores.entre_verdes')" tooltips tooltip-template="<b>{{ 'geral.tooltip.salvarPermanecer' | translate }}</b> {{ 'controladores.entreVerdes.titulo' | translate }}" class="btn btn-outline btn-primary btn-footer right m-r-sm right">
        {{ 'plugins.steps.labels.save' | translate }}
      </a>
      <a data-ng-if="!podeSalvar()" disabled="disabled" tooltips tooltip-template="<b><span>{{ mensagemConfirmacao() }}</span></b>" class="btn btn-primary btn-footer right m-r-sm right">
        {{ 'plugins.steps.labels.save' | translate }}
      </a>
    </div>
    <div class="right">
      <a data-ng-click="voltarSemSalvar('app.wizard_controladores.atraso_de_grupo')" tooltips tooltip-template="<b><span>{{ 'geral.tooltip.voltarSemPara' | translate }}</span></b> {{ 'controladores.atrasoDeGrupo.titulo' | translate }}" class="btn btn-outline btn-primary btn-footer right m-r-sm right">
        <i class="fa fa-arrow-left"></i> {{ 'plugins.steps.labels.back' | translate }}
      </a>
    </div>
  </div>
</fieldset>

<ng-include src="'views/controladores/wizard/common/popup-revisao.html'">
