<fieldset data-ng-init="inicializaAssociacao()">
  <div class="row">
    <div class="text-center m-t-md pd-lf-rt">

      <div class="col-lg-12 col-sm-12 no-padding">
        <div class="col-lg-2 col-sm-2 no-padding">2</div>
        <div class="col-lg-10 col-sm-10 no-padding">10</div>
      </div>

      <div class="col-lg-2 col-sm-2 no-padding">
        <div class="col-lg-12 col-sm-12 association stages-page">
          <nav>
            <ul>
              <li>
                <label>ANEL 1</label>
              </li>
              <li>
                <label>ANEL 2</label>
              </li>
              <li>
                <label>ANEL 3</label>
              </li>
              <li>
                <label>ANEL 4</label>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-12 col-sm-12 association alternative m-t-md">
          <h1>Estágios alternativos</h1>
          <div class="col-lg-6">
            <p>Transição proibida</p>
            <nav>
              <ul>
                <li><h1>E2-E1</h1></li>
                <li><h1>E2-E8</h1></li>
                <li><h1>E2-E2</h1></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-6">
            <p>Alternativa</p>
            <nav>
              <ul>
                <li><input type="text" name="" placeholder="" value="E2-E1"></li>
                <li><input type="text" name="" placeholder="" value="E2-E8"></li>
                <li><input type="text" name="" placeholder="" value="E2-E2"></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-sm-10 early-stage no-padding-right">
        <article class="col-lg-10 col-sm-10 no-padding early-area">
          <nav>
            <ul>
              <li>
                  <header role="heading">
                      <h1>ESTÁGIO 1</h1>
                  </header>
                  <figure></figure>
                  <p>NomeDaImagem.jpg</p>
              </li>
              <li>
                  <header role="heading">
                      <h1>ESTÁGIO 2</h1>
                  </header>
                  <div class="upload-figure">
                  <figure>
                    <hgroup>
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <label title="Adicione um estágio a este movimento" for="stage-1" class="">Adicione um Estágioa este Movimento</label>                      
                    </hgroup>
                    <input type='file' class="imgInp hide" id="stage-1" />  
                    <img class="attrImg" src="#" alt="" width="300px" />
                  </figure>
                  </div>
                  <p>NomeDaImagem.jpg</p>
              </li>
              <li>
                  <header role="heading">
                      <h1>ESTÁGIO 3</h1>
                  </header>
                  <figure></figure>
                  <p>NomeDaImagem.jpg</p>
              </li>
              <li>
                  <header role="heading">
                      <h1>ESTÁGIO 4</h1>
                  </header>
                  <figure></figure>
                  <p>NomeDaImagem.jpg</p>
              </li>
              <li>
                  <header role="heading">
                      <h1>ESTÁGIO 5</h1>
                  </header>
                  <div class="upload-figure">
                  <figure>
                    <hgroup>
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <label title="Adicione um estágio a este movimento" for="stage-2" class="">Adicione um Estágioa este Movimento</label>                      
                    </hgroup>
                    <input type='file' class="imgInp hide" id="stage-2" />  
                    <img class="attrImg" src="#" alt="" width="300px" />
                  </figure>
                  </div>
                  <p>NomeDaImagem.jpg</p>
              </li>
              <li>
                  <header role="heading">
                      <h1>ESTÁGIO 6</h1>
                  </header>
                  <figure></figure>
                  <p>NomeDaImagem.jpg</p>
              </li>
              <li>
                  <header role="heading">
                      <h1>ESTÁGIO 7</h1>
                  </header>
                  <figure></figure>
                  <p>NomeDaImagem.jpg</p>
              </li>
              <li>
                  <header role="heading">
                      <h1>ESTÁGIO 3</h1>
                  </header>
                  <figure></figure>
                  <p>NomeDaImagem.jpg</p>
              </li>
              <li>
                  <header role="heading">
                      <h1>ESTÁGIO 4</h1>
                  </header>
                  <figure></figure>
                  <p>NomeDaImagem.jpg</p>
              </li>
              <li>
                  <header role="heading">
                      <h1>ESTÁGIO 3</h1>
                  </header>
                  <figure></figure>
                  <p>NomeDaImagem.jpg</p>
              </li>
              <li>
                  <header role="heading">
                      <h1>ESTÁGIO 4</h1>
                  </header>
                  <figure></figure>
                  <p>NomeDaImagem.jpg</p>
              </li>
            </ul>
          </nav>
        </article>
      </div>
      <div class="col-lg-10 col-sm-10 early-stage no-padding-right tableless tableless-stages">
      <table class="tg" border="1" cellpadding="1" width="100%">
        <thead>
          <tr>    
            <th></th>        
            <th>E1</th>
            <th>E1</th>
            <th>E3</th>
            <th>E4</th>
          </tr>
        </thead>
        <tbody>
          <tr>           
            <td class="tg-yw4l">
              <strong>E1</strong>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
          </tr>
          <tr>           
            <td class="tg-yw4l">
              <strong>E1</strong>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
          </tr>
          <tr>           
            <td class="tg-yw4l">
              <strong>E1</strong>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
          </tr>
          <tr>           
            <td class="tg-yw4l">
              <strong>E1</strong>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
          </tr>
          <tr>           
            <td class="tg-yw4l">
              <strong>E1</strong>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
            <td class="clickable">
              <i class="fa fa-times sinal-verde-conflitante"></i>
            </td>
          </tr>
        </tbody>
      </table>
     </div>
      <div class="col-sm-12 col-lg-12 no-pading bg-border pg-bt m-t-lg">
        <a data-ng-click="submitForm({$valid: true}, 'associacao_grupos_semaforicos', 'app.wizard_controladores.aneis')" class="btn btn-default left m-r-sm">{{ 'plugins.steps.labels.previous' | translate }}</a>
        <a data-ng-click="submitForm({$valid: true}, 'associacao_grupos_semaforicos', 'app.wizard_controladores.verdes_conflitantes')" class="btn btn-primary left">{{ 'plugins.steps.labels.next' | translate }}</a>
      </div>
    </div>
  </div>
</fieldset>

<script>
  $(document).ready(function(){

    function readURL() {
      var $input = $(this);
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $input.next('.attrImg').attr('src', e.target.result).show();
        }
        reader.readAsDataURL(this.files[0]);
      }
    }

    $(".imgInp").change(readURL);
    $(".imgInp").change(function(){
      $(this).parent().addClass('change');
    });

  });
</script>