<fieldset data-ng-init="inicializaRevisao()">
  <div class="m-t-md">
    <div class="col-lg-12 col-sm-12 bg-border no-padding margin-botton ibox">
      <div class="col-lg-12 col-sm-12 text-left">
        <h2>{{ 'controladores.dadosBasicos' | translate }}</h2>
      </div>
      <div class="col-lg-12 col-sm-12 ibox-content no-padding-left no-padding-right padding-top-20">
        <div class="col-lg-4 col-sm-3">
          <p><b>{{ 'controladores.cidade' | translate }}:</b> São Paulo</p>
          <p><b>{{ 'controladores.area' | translate }}:</b> Norte</p></br>
          <p><b>{{ 'controladores.numeroSMEE' | translate }}:</b> 446469</p>
          <p><b>{{ 'controladores.CLC' | translate }}:</b> 364654</p></br>
          <p><b>{{ 'controladores.numeroSMEEConjugado1' | translate }}:</b> 646878</p>
          <p><b>{{ 'controladores.numeroSMEEConjugado2' | translate }}:</b> 646878</p>
          <p><b>{{ 'controladores.numeroSMEEConjugado3' | translate }}:</b> 646878</p>
        </div>
        <div class="col-lg-4 col-sm-3">
          <p><b>{{ 'controladores.Fabricante' | translate }}:</b> Nome do Fabricante</p>
          <p><b>{{ 'controladores.modelo' | translate }}:</b> 65465454654</p></br>
          <p><b>{{ 'controladores.estagios' | translate }}:</b> 16</p>
          <p><b>{{ 'controladores.estagios' | translate }}:</b> 12</p>
          <p><b>{{ 'controladores.aneis' | translate }}:</b> 5</p>
          <p><b>{{ 'controladores.maxDetectorVeicular' | translate }}:</b> 8</p>
          <p><b>{{ 'controladores.maxDetectorPedestre' | translate }}:</b> 6</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <p><b>{{ 'controladores.localizacao' | translate }}:</b> Av. Paulista 632</p>
          <figure>
            <div influunt-map
              latitude="objeto.enderecos[0].latitude"
              longitude="objeto.enderecos[0].longitude"
              class="influunt-map">
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(function(){
      $( ".tabpanel" ).tabs({closable: false, addTab:false}).tabs('overflowResize')
      .find( ".ui-tabs-nav" ).sortable({
        distance: 10
      });
    });
  </script>

  <div class="m-t-md">
    <div class="col-lg-12 col-sm-12 bg-border no-padding">
      <div class="ibox float-e-margins">
        <div class="tabpanel">
          <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
            <ul class="nav nav-tabs">
              <li class=""><a class="" data-toggle="tab" href="#tabs-1" aria-expanded="false">{{ 'controladores.anel' | translate }} {{ currentAnel.posicao }}</a></li>
              <li class=""><a class="" data-toggle="tab" href="#tabs-2" aria-expanded="false">{{ 'controladores.anel' | translate }} 02</a></li>
              <li class=""><a class="" data-toggle="tab" href="#tabs-3" aria-expanded="false">{{ 'controladores.anel' | translate }} 03</a></li>
            </ul>
            <div class="ui-layout-content tab-content">
              <div id="tabs-1">
                <div class="col-lg-12 col-sm-12 no-padding-left padding-top-20 text-left">
                  <div class="col-lg-3 col-sm-3 no-padding-left">
                    <p><b>{{ 'controladores.codigo' | translate }}:</b> São Paulo</p>
                    <p><b>{{ 'controladores.local' | translate }}:</b> Norte</p>
                    <p><b>{{ 'controladores.SMEE' | translate }}:</b> 446469</p>
                  </div>
                  <div class="col-lg-3 col-sm-3 no-padding-left">
                    <p><b>{{ 'controladores.gruposPedestres' | translate }}:</b> São Paulo</p>
                    <p><b>{{ 'controladores.gruposSinaisVeiculares' | translate }}:</b> Norte</p>
                  </div>
                  <div class="col-lg-3 col-sm-3 no-padding-left">
                    <p><b>{{ 'controladores.detectores' | translate }}:</b> São Paulo</p>
                    <p><b>{{ 'controladores.detectores' | translate }}:</b> Norte</p>
                  </div>
                </div>

                <div class="col-lg-12 col-sm-12 no-padding">
                  <div class="col-lg-6 col-sm-6 no-padding-left text-left">
                    <div class="col-lg-12 col-sm-12 no-padding">
                      <h2>Grupos</h2>
                    </div>
                    <div class="col-lg-12 col-sm-12 no-padding padding-top-20 ibox-content">
                      <div class="col-lg-4 col-sm-4">
                        <h3>Grupo 1</h3>
                        <p>Lorem ipsun</p>
                        <p><b>Tipo:</b> 13665</p>
                        <p><b>Fase Vermelha:</b> Nada</p>
                      </div>
                      <div class="col-lg-4 col-sm-4 changeRed">
                        <h3>Grupo 2</h3>
                        <p><b>Tipo:</b> 13665</p>
                        <p><b>Fase Vermelha:</b> Nada</p>
                      </div>
                      <div class="col-lg-4 col-sm-4 changeGreen">
                        <h3>Grupo 3</h3>
                        <p>Lorem ipsun</p>
                        <p><b>Tipo:</b> 13665</p>
                        <p><b>Fase Vermelha:</b> Nada</p>
                      </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 no-padding padding-top-20">
                      <div class="col-lg-4 col-sm-4">
                        <h3>Grupo 4</h3>
                        <p>Lorem ipsun</p>
                        <p><b>Tipo:</b> 13665</p>
                        <p><b>Fase Vermelha:</b> Nada</p>
                      </div>
                      <div class="col-lg-4 col-sm-4">
                        <h3>Grupo 5</h3>
                        <p>Lorem ipsun</p>
                        <p><b>Tipo:</b> 13665</p>
                        <p><b>Fase Vermelha:</b> Nada</p>
                      </div>
                      <div class="col-lg-4 col-sm-4">
                        <h3>Grupo 6</h3>
                        <p>Lorem ipsun</p>
                        <p><b>Tipo:</b> 13665</p>
                        <p><b>Fase Vermelha:</b> Nada</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-sm-6 no-padding-left text-left">
                    <div class="col-lg-12 col-sm-12 no-padding">
                      <h2>Estágios</h2>
                    </div>
                    <div class="col-lg-12 col-sm-12 no-padding padding-top-20 ibox-content">
                      <div class="col-lg-6 col-sm-6 review-page">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/iannnnn/128.jpg">
                        <h3>Grupo 3</h3>
                        <p>Lorem ipsun</p>
                        <p><b>Tipo:</b> 13665</p>
                        <p><b>Fase Vermelha:</b> Nada</p>
                      </div>
                      <div class="col-lg-6 col-sm-6 review-page">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/iannnnn/128.jpg">
                        <h3>Grupo 3</h3>
                        <p>Lorem ipsun</p>
                        <p><b>Tipo:</b> 13665</p>
                        <p><b>Fase Vermelha:</b> Nada</p>
                      </div>
                      <div class="col-lg-6 col-sm-6 review-page changeRed">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/iannnnn/128.jpg">
                        <h3>Grupo 3</h3>
                        <p>Lorem ipsun</p>
                        <p><b>Tipo:</b> 13665</p>
                        <p><b>Fase Vermelha:</b> Nada</p>
                      </div>
                      <div class="col-lg-6 col-sm-6 review-page changeGreen">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/iannnnn/128.jpg">
                        <h3>Grupo 3</h3>
                        <p>Lorem ipsun</p>
                        <p><b>Tipo:</b> 13665</p>
                        <p><b>Fase Vermelha:</b> Nada</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-sm-12 no-padding">
                  <div class="col-lg-6 col-sm-6 no-padding-left padding-top-20 text-left">
                    <div class="col-lg-12 col-sm-12 no-padding">
                      <h2>Verdes Conflitantes</h2>
                    </div>
                    <div class="col-lg-12 col-sm-12 no-padding padding-top-20 ibox-content">
                      <div class="col-lg-2 col-sm-2 no-padding-left">
                        <p class="view-group"><b>E1-G2 <i class="fa fa-eye"></i></b></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 no-padding-left padding-top-20 text-left">
                    <div class="col-lg-12 col-sm-12 no-padding">
                      <h2>Transicoes Proibidas</h2>
                    </div>
                    <div class="col-lg-12 col-sm-12 no-padding padding-top-20 ibox-content">
                      <div class="col-lg-12 col-sm-12 no-padding">
                        <div class="col-lg-3 col-sm-3 no-padding">
                          <p><b>TRANSIÇÃO PROIBIDA</b></p>
                        </div>
                        <div class="col-lg-3 col-sm-3 no-padding">
                          <p><b>ALTERNATIVA</b></p>
                        </div>
                        <div class="col-lg-3 col-sm-3 no-padding">
                          <p><b>TRANSIÇÃO PROIBIDA</b></p>
                        </div>
                        <div class="col-lg-3 col-sm-3 no-padding">
                          <p><b>ALTERNATIVA</b></p>
                        </div>
                      </div>
                      <div class="col-lg-12 col-sm-12 no-padding">
                        <div class="col-lg-6 col-sm-6 changeRed">
                          <div class="col-lg-6 col-sm-6 no-padding">
                            <b class="gray-box">E1-G2</b> <i class="fa fa-eye view-group"></i>
                          </div>
                          <div class="col-lg-6 col-sm-6 no-padding">
                            <b class="white-box">E1-G2</b> <i class="fa fa-eye view-group"></i>
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 changeGreen">
                          <div class="col-lg-6 col-sm-6 no-padding">
                            <b class="gray-box">E1-G2</b> <i class="fa fa-eye view-group"></i>
                          </div>
                          <div class="col-lg-6 col-sm-6 no-padding">
                            <b class="white-box">E1-G2</b> <i class="fa fa-eye view-group"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-sm-12 no-padding">
                        <div class="col-lg-6 col-sm-6 ">
                          <div class="col-lg-6 col-sm-6 no-padding">
                            <b class="gray-box">E1-G2</b> <i class="fa fa-eye view-group"></i>
                          </div>
                          <div class="col-lg-6 col-sm-6 no-padding">
                            <b class="white-box">E1-G2</b> <i class="fa fa-eye view-group"></i>
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                          <div class="col-lg-6 col-sm-6 no-padding">
                            <b class="gray-box">E1-G2</b> <i class="fa fa-eye view-group"></i>
                          </div>
                          <div class="col-lg-6 col-sm-6 no-padding">
                            <b class="white-box">E1-G2</b> <i class="fa fa-eye view-group"></i>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="col-lg-12 col-sm-12 no-padding">
                    <div class="col-lg-6 col-sm-6 no-padding-left padding-top-20 text-left">
                      <div class="col-lg-12 col-sm-12 no-padding">
                        <h2>Entre-Verdes</h2>
                      </div>
                    <div class="col-lg-7 col-sm-7 no-padding">
                      <div class="col-lg-12 col-sm-12 no-padding padding-top-20 ibox-content">
                        <div class="col-lg-12 col-sm-12">
                          <h3><b>TABELA AMARELO</b></h3>
                        </div>
                        <div class="col-lg-3 col-sm-3 no-padding-left">
                        </div>
                        <div class="col-lg-3 col-sm-3 no-padding-left">
                          <p>AMARELO</p>
                        </div>
                        <div class="col-lg-3 col-sm-3 no-padding-left">
                          <p>VERMELHO DE LIMPEZA</p>
                        </div>
                        <div class="col-lg-3 col-sm-3 no-padding-left">
                          <p>TEMPO DE ATRASO</p>
                        </div>
                      </div>
                      <div class="col-lg-12 col-sm-12 changeRed">
                        <div class="col-lg-3 col-sm-3">
                          <p class="view-group"><b>E1-G2 <i class="fa fa-eye"></i></b></p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                          <p>15s</p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                          <p>15s</p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                          <p>15s</p>
                        </div>
                      </div>
                      <div class="col-lg-12 col-sm-12 changeGreen">
                        <div class="col-lg-3 col-sm-3">
                          <p class="view-group"><b>E1-G2 <i class="fa fa-eye"></i></b></p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                          <p>15s</p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                          <p>15s</p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                          <p>15s</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-5 col-sm-5 no-padding">
                      <div class="col-lg-12 col-sm-12 no-padding padding-top-20 ibox-content">
                        <div class="col-lg-12 col-sm-12">
                          <h3><b>TABELA VERMELHO</b></h3>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                        </div>
                        <div class="col-lg-4 col-sm-4">
                          <p>AMARELO</p>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                          <p>VERMELHO DE LIMPEZA</p>
                        </div>
                      </div>
                      <div class="col-lg-12 col-sm-12">
                        <div class="col-lg-4 col-sm-4">
                          <p class="view-group"><b>E1-G2 <i class="fa fa-eye"></i></b></p>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                          <p>15s</b></p>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                          <p>15s</p>
                        </div>
                      </div>
                      <div class="col-lg-12 col-sm-12">
                        <div class="col-lg-4 col-sm-4">
                          <p class="view-group"><b>E1-G2 <i class="fa fa-eye"></i></b></p>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                          <p>15s</b></p>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                          <p>15s</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 no-padding-left padding-top-20 text-left">
                    <div class="col-lg-12 col-sm-12 no-padding">
                      <h2>Associacão detectores</h2>
                    </div>
                    <div class="col-lg-12 col-sm-12 padding-top-20 ibox-content">
                      <div class="col-lg-2 col-sm-2">
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p><b>ESTÁGIO</b></p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                          <p><b>AUSÊNCIA DE DETECÇÃO MÍNIMA</b></p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p><b>AUSÊNCIA DE DETECÇÃO MÁXIMA</b></p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p><b>DETECÇÃO PERMANENTE MÍNIMA</b></p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p><b>DETECÇÃO PERMANENTE MÁXIMA</b></p>
                      </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 changeRed">
                      <div class="col-lg-2 col-sm-2">
                        <p><b>DP 1</b></p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p class="view-group"><b>E1-G2 <i class="fa fa-eye"></i></b></p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p>25s</p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p>25s</p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p>25s</p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p>25s</p>
                      </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 changeGreen">
                      <div class="col-lg-2 col-sm-2">
                        <p><b>DP 1</b></p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p class="view-group"><b>E1-G2 <i class="fa fa-eye"></i></b></p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p>25s</p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p>25s</p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p>25s</p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p>25s</p>
                      </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                      <div class="col-lg-2 col-sm-2">
                        <p><b>DP 1</b></p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p class="view-group"><b>E1-G2 <i class="fa fa-eye"></i></b></p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p>25s</p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p>25s</p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p>25s</p>
                      </div>
                      <div class="col-lg-2 col-sm-2">
                        <p>25s</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-12 bg-border-footer pg-bt-footer actions clearfix">
      <a ui-sref="app.wizard_controladores.verdes_conflitantes({id: objeto.id})" target="_blank" data-toggle="tooltip" data-placement="top" class="left btn btn-info btn-footer" title="Ver Tela de Verdes Conflitantes">
        <i class="fa fa-eye"></i> {{ 'plugins.steps.labels.last_screen' | translate }}
      </a>
      <a ui-sref="app.controladores" data-toggle="tooltip" data-placement="top" title="Salvar" class="btn btn-primary btn-footer right">
        <i class="fa fa-arrow-right"></i> {{ 'geral.crud.salvar' | translate }}
      </a>
      <a ui-sref="app.wizard_controladores.associacao_detectores({id: $state.params.id})" data-toggle="tooltip" data-placement="top" title="Verdes Conflitantes" class="btn btn-outline btn-primary btn-footer right m-r-sm right">
        <i class="fa fa-arrow-left"></i> {{ 'plugins.steps.labels.previous' | translate }}
      </a>
    </div>
  </div>
</fieldset>
