<table class="tg" border="1" cellpadding="1" width="100%">
  <thead>
    <tr>
      <th rowspan="2" colspan="2"></th>
      <th colspan="{{ currentAnel.estagios.length }}">Para</th>
    </tr>
    <tr>
      <th data-ng-repeat="estagio in currentAnel.estagios">E{{ $index + 1 }}</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="tr in currentAnel.estagios">

      <td rowspan="{{ currentAnel.estagios.length }}" data-ng-if="$first">
        <strong>De</strong>
      </td>

      <td class="tg-yw4l" style="font-size: 15px;">
        <strong>E{{ $index + 1 }}</strong>
      </td>

      <td data-ng-repeat="td in currentAnel.estagios" class="clickable"
        data-ng-class="{disabled: tr === td }"
        data-ng-click="toggleTransicaoProibida(td, tr, (tr.id === td.id))">
        <i class="fa fa-times sinal-verde-conflitante"
        data-ng-class="{ ativo : currentAnel.transicoesProibidas['E' + td.posicao + '-E' + tr.posicao] }"></i>
      </td>
    </tr>
  </tbody>
</table>
