<table class="tg table-diagonal table-wizard" border="1" cellpadding="1" style="table-layout: fixed !important; display: block !important; width: 100%;">
  <thead>
		<tr>
			<th class="diagonal no-padding">
		    <div class="text-right m-r-xs">De</div>
		    <div class="text-left m-l-xs">Para</div>
	    </th>
      <th data-ng-repeat="estagio in currentAnel.estagios">E{{ $index + 1 }}</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="tr in currentAnel.estagios">
      <td class="tg-yw4l" style="font-size: 15px;">
        <strong>E{{ $index + 1 }}</strong>
      </td>

      <td data-ng-repeat="td in currentAnel.estagios" class="clickable"
        data-ng-class="{disabled: tr === td }"
        data-ng-click="toggleTransicaoProibida(td, tr, (tr.id === td.id))">
        <i class="fa fa-times transicao-proibida"
        data-ng-class="{ ativo : currentAnel.transicoesProibidas['E' + td.posicao + '-E' + tr.posicao] }"></i>
      </td>
    </tr>
  </tbody>
</table>
