<table class="tg table-wizard" border="1" cellpadding="1">
  <thead>
    <tr>
      <th class="tg-031e"></th>
      <th data-ng-repeat="grupo in currentGruposSemaforicos">G{{ grupo.posicao }}</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="tr in currentGruposSemaforicos">
      <!-- Coluna com a label do grupo. -->
      <td class="tg-yw4l" style="font-size: 15px;">
        <strong>G{{ tr.posicao }}</strong>
      </td>

      <!--
        Cria as relações de verdes conflitantes. As interseções dos elementos iguals (G1xG1) ou dos grupos
        que não serão utilizados já aparecem desmarcados.
       -->
      <td data-ng-repeat="td in currentGruposSemaforicos"
        class="clickable"
        data-ng-class="{disabled: tr.posicao === td.posicao}"
        data-ng-click="toggleVerdeConflitante(tr.posicao - 1, td.posicao - 1, (tr.posicao === td.posicao))"
        data-grupo-id="{{ grupoIds[td.posicao - 1] }}">
        <i class="fa fa-times sinal-verde-conflitante" data-ng-class="{ ativo : verdesConflitantes[tr.posicao - 1][td.posicao - 1]}"></i>
      </td>
    </tr>
  </tbody>
</table>
