<table class="tg table-diagonal table-wizard" border="1" cellpadding="1">
  <thead>
		<tr>
			<th class="diagonal no-padding">
		    <div class="text-right m-r-xs">{{ 'controladores.transicoesProibidas.de' | translate }}</div>
		    <div class="text-left m-l-xs">{{ 'controladores.transicoesProibidas.para' | translate }}</div>
	    </th>
      <th data-ng-repeat="estagio in currentEstagios">E{{ estagio.posicao }}</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="tr in currentEstagios">
      <td class="tg-yw4l" style="font-size: 15px;">
        <strong>E{{ tr.posicao }}</strong>
      </td>

      <td data-ng-repeat="td in currentEstagios" class="clickable"
        data-ng-class="{disabled: tr === td }"
        data-ng-click="toggleTransicaoProibida(td, tr, (tr.id === td.id))">
        <i class="fa fa-times transicao-proibida"
        data-ng-class="{ ativo : currentTransicoesProibidas['E' + td.posicao + '-E' + tr.posicao] }"></i>
      </td>
    </tr>
  </tbody>
</table>
