<fieldset data-ng-init="inicializaTransicoesProibidas()">

  <div class="m-t-md">
    <div class="col-lg-12 col-sm-12 bg-border no-padding">
      <div class="ibox float-e-margins">
        <div class="tabpanel">
          <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
            <influunt-tabs class="tabpanel"
                           data-on-activate="selecionaAnelTransicoesProibidas"
                           data-aneis-ativos="aneis"
                           data-error-check="anelTemErro">
            </influunt-tabs>
            <div class="ui-layout-content tab-content">
              <div id="tabs-1">
                <div class="col-lg-12 col-sm-12 padding-top-20">
                  <h3>{{ 'controladores.estagios' | translate }}</h3>
                </div>
                <div class="col-lg-12 col-sm-12 early-stage no-padding">
                  <div class="col-lg-12 col-sm-12 figures no-padding ibox-content">
                    <div class="bxslider">
                      <ul class="bxslider">
                        <li data-ng-repeat="estagio in currentEstagios" class="stage-images">
                          <h4>E{{ estagio.posicao }}</h4>
                          <figure>
                            <img ng-src="{{ getImagemDeEstagio(estagio) }}">
                          </figure>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-3 no-padding-left">
                  <div class="col-lg-12 col-sm-12 association alternative m-t-md">
                    <div class="col-lg-12 col-sm-12"><h1>{{ 'controladores.transicoesProibidas.estagiosAlt' | translate }}</h1></div>
                    <div class="col-lg-6 col-sm-6">
                      <p>{{ 'controladores.transicoesProibidas.transicaoProibida' | translate }}</p>
                      <nav>
                        <ul>
                          <li data-ng-repeat="(key, value) in currentTransicoesProibidas">
                            <h1>{{ key }}</h1>
                          </li>
                        </ul>
                      </nav>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <p>{{ 'controladores.transicoesProibidas.alternativa' | translate }}</p>
                      <nav>
                        <ul>
                          <li data-ng-repeat="(key, value) in currentTransicoesProibidas" id="estagio-alternativo-{{ key }}"
                            data-ng-class="{'has-error': getErrosEstagiosAlternativos(value.origem, value.destino)}">
                            <select ng-model="value.alternativo.idJson" class="form-control"
                              data-ng-options="estagio.idJson as ('E' + estagio.posicao) for estagio in currentEstagios | filter:filterEstagiosAlternativos(value.origem, value.destino)"
                              data-ng-change="marcarTransicaoAlternativa(value)"
                              inf-tooltip
                              messages="getErrosEstagiosAlternativos(value.origem, value.destino)">
                            </select>

                            <span class="badge badge-danger badge-estagio-alternativo pull-right"
                              data-ng-if="getErrosEstagiosAlternativos(value.origem, value.destino)"
                              inf-tooltip
                              messages="getErrosEstagiosAlternativos(value.origem, value.destino)">
                              <i class="fa fa-exclamation"></i>
                            </span>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
                <div class="col-lg-9 col-sm-9 early-stage no-padding tableless tableless-stages">
                  <ng-include src="'views/controladores/wizard/tabela-estagios-proibidos.html'"></ng-include="template"></ng-include>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

	<div class="row">
    <div class="col-sm-12 col-lg-12 bg-border-footer pg-bt-footer actions clearfix">
      <div class="left">
        <a ui-sref="app.wizard_controladores.associacao({id: objeto.id})" target="_blank" class="btn btn-info btn-footer" tooltips tooltip-template="{{ 'controladores.transicoesProibidas.verAssociacao' | translate }}">
          <i class="fa fa-eye"></i> {{ 'plugins.steps.labels.last_screen' | translate }}
        </a>
      </div>
      <div class="right">
        <a goToTop data-ng-click="submitForm({$valid: true}, 'transicoes_proibidas', 'app.wizard_controladores.entre_verdes')" tooltips tooltip-template="{{ 'controladores.transicoesProibidas.tabelaVerdes' | translate }}" class="goToTop btn btn-primary btn-footer">
        {{ 'plugins.steps.labels.next' | translate }} <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="right">
        <a goToTop data-ng-click="submitForm({$valid: true}, 'transicoes_proibidas', 'app.wizard_controladores.associacao')" tooltips tooltip-template="{{ 'controladores.associacao' | translate }}" class="btn btn-outline btn-primary btn-footer m-r-sm">
          <i class="fa fa-arrow-left"></i> {{ 'plugins.steps.labels.previous' | translate }}
        </a>
      </div>
    </div>
  </div>

</fieldset>
