<fieldset data-ng-init="inicializaVerdesConflitantes()">

  <div class="m-t-md">
    <div class="col-lg-12 col-sm-12 bg-border no-padding">
      <div class="ibox float-e-margins">
        <div class="tabpanel">
          <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">

            <influunt-tabs class="tabpanel"
                           data-on-activate="selecionaAnelVerdesConflitantes"
                           data-aneis-ativos="aneis"
                           data-error-check="anelTemErro">
            </influunt-tabs>

            <div class="ui-layout-content tab-content">
              <div id="tabs-1">
                <div class="col-lg-12 col-sm-12 tableless no-padding">
                  <uib-alert type="danger" close="closeMensagensVerdes()" data-ng-if="messages.aneis[currentAnelIndex].length > 0">
                    <div style="padding-left: 12px;">
                      <ul>
                        <li data-ng-repeat="message in messages.aneis[currentAnelIndex] | orderBy:'posicao'" style="text-align: left;">{{ message.texto }}</li>
                      </ul>
                    </div>
                  </uib-alert>
                </div>
                <div class="col-lg-12 col-sm-12 padding-top-20">
                  <h3>{{ 'controladores.estagios.titulo' | translate }}</h3>
                </div>
                <div class="col-lg-12 col-sm-12 no-padding figures ibox-content">
                  <div class="bxslider">
                    <ul class="bxslider">
                      <div>
                        <li data-ng-repeat="estagio in currentEstagios"  class="stage-images">
                          <figure class="rings-{{ currentAnel.posicao }}">
                            <img ng-src="{{ getImagemDeEstagio(estagio) }}">
                          </figure>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-12 col-sm-12 tableless no-padding padding-top-20 ibox-content">
                  <ng-include src="'views/controladores/wizard/tabela-verdes-conflitantes.html'"></ng-include>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

	<div class="row">
    <div class="col-sm-12 col-lg-12 bg-border-footer pg-bt-footer actions clearfix">
      <a data-toggle="modal" data-target="#myModal" class="left btn btn-info btn-footer" tooltips tooltip-template="{{ 'plugins.steps.labels.last_screen' | translate }}">
        <i class="fa fa-eye"></i> {{ 'plugins.steps.labels.last_screen' | translate }}
      </a>
      <div class="right">
        <a go-to-top data-ng-click="submitForm({$valid: true}, 'verdes_conflitantes', 'app.wizard_controladores.associacao')" tooltips tooltip-template="<b>{{ 'geral.tooltip.salvarAvancarPara' | translate }}</b> {{ 'controladores.associacao.titulo' | translate }}" class="go-to-top btn btn-primary btn-footer right">
          {{ 'plugins.steps.labels.saveNext' | translate }} <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="right">
        <a go-to-top data-ng-click="submitForm({$valid: true}, 'verdes_conflitantes', 'app.wizard_controladores.verdes_conflitantes')" tooltips tooltip-template="<b>{{ 'geral.tooltip.salvarPermanecer' | translate }}</b> {{ 'controladores.verdesConflitantes.titulo' | translate }}" class="btn btn-outline btn-primary btn-footer right m-r-sm right">
          <i class="fa"></i> {{ 'plugins.steps.labels.save' | translate }}
        </a>
      </div>
      <div class="right">
        <a data-ng-click="voltarSemSalvar('app.wizard_controladores.configuracao_grupo')" tooltips tooltip-template="<b><span>{{ 'geral.tooltip.voltarSemPara' | translate }}</span></b> {{ 'controladores.gruposSemaforicos.titulo' | translate }}" class="btn btn-outline btn-primary btn-footer right m-r-sm right">
          <i class="fa fa-arrow-left"></i> {{ 'plugins.steps.labels.back' | translate }}
        </a>
      </div>
    </div>
  </div>
</fieldset>

<ng-include src="'views/controladores/wizard/common/popup-revisao.html'">
