<fieldset>
  <div class="text-center m-t-md">
    <div class="col-lg-12 col-sm-12 figures">
      <div class="bxslider">
        <ul class="bxslider">
          <li>
            <figure class="rings-1"><img src="http://placehold.it/180x150&text=FooBar1" /></figure>
            <p>NomeDaImagem.jpg</p>
          </li>
           <li>
            <figure class="rings-1"><img src="http://placehold.it/180x150&text=FooBar2" /></figure>
            <p>Imgname.jpg</p>
          </li>
           <li>
            <figure class="rings-2"><img src="http://placehold.it/180x150&text=FooBar2" /></figure>
            <p>Imgname.jpg</p>
          </li>
           <li>
            <figure><img src="http://placehold.it/180x150&text=FooBar4" /></figure>
            <p>NomeDaImagem.jpg</p>
          </li>
           <li>
            <figure><img src="http://placehold.it/180x150&text=FooBar5" /></figure>
            <p>NomeLongoDeImagem... .jpg</p>
          </li>
           <li>
            <figure class="rings-3"><img src="http://placehold.it/180x150&text=FooBar6" /></figure>
            <p>NomeLongoDeImagem... .jpg</p>
          </li>
           <li>
            <figure class="rings-4"><img src="http://placehold.it/180x150&text=FooBar7" /></figure>
            <p>NomeDaImagem.jpg</p>
          </li>
          <li>
            <figure class=""><img src="http://placehold.it/180x150&text=FooBar8" /></figure>
            <p>NomeDaImagem.jpg</p>
          </li>
          <li>
            <figure><img src="http://placehold.it/180x150&text=FooBar9" /></figure>
            <p>NomeDaImagem.jpg</p>
          </li>
          <li>
            <figure><img src="http://placehold.it/180x150&text=FooBar10" /></figure>
            <p>NomeDaImagem.jpg</p>
          </li>
          <li>
            <figure><img src="http://placehold.it/180x150&text=FooBar11" /></figure>
            <p>NomeDaImagem.jpg</p>
          </li>
           <li>
            <figure><img src="http://placehold.it/180x150&text=FooBar12" /></figure>
            <p>Imgname.jpg</p>
          </li>
        </ul>
      </div>
    </div>
     <div class="col-lg-12 col-sm-12 tableless">
      <table class="tg" border="1" cellpadding="1" width="100%">
        <thead>
          <tr>
          <th colspan="2" class="tg-031e"></th>
          <th>G1</th>
          <th>G2</th>
          <th>G3</th>
          <th>G4</th>
          <th>G5</th>
          <th>G6</th>
          <th>G7</th>
          <th>G8</th>
          <th>G9</th>
          <th>G10</th>
          <th>G11</th>
          <th>G12</th>
          <th>G13</th>
          <th>G14</th>
          <th>G15</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td rowspan="6" class="tg-031e rings-1">Anel 1</td>
          <td class="tg-yw4l">G1</td>
          <td class="clickable disabled"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickableclickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
        </tr>
          <tr>
          <td class="tg-yw4l">G2</td>
          <td class="clickable"></td>
          <td class="clickable disabled"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          </tr>
          <tr>
          <td class="tg-yw4l">G3</td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable disabled"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          </tr>
          <tr>
          <td class="tg-yw4l">G4</td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable disabled"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          </tr>
          <tr>
          <td class="tg-yw4l">G5</td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable disabled"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          </tr>
          <tr>
          <td class="tg-yw4l">G6</td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable disabled"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          </tr>
          <tr>
          <td rowspan="3" class="tg-031e rings-2">Anel 2</td>
          <td class="tg-yw4l">G7</td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable disabled"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          </tr>
          <tr>
          <td class="tg-yw4l">G8</td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable disabled"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          </tr>
          <tr>
          <td class="tg-yw4l">G9</td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable disabled"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          <td class="clickable"></td>
          </tr>
        </tbody>
      </table>
     </div>
  </div>
</fieldset>
<fieldset class="m-t-md">
  <a ui-sref="app.wizard_controladores.aneis" class="btn btn-default">{{ 'plugins.steps.labels.previous' | translate }}</a>
  <button type="submit" class="btn btn-primary">{{ 'plugins.steps.labels.finish' | translate }}</button>
</fieldset>
