<fieldset data-ng-init="inicializaVerdesConflitantes()">
  <div class="text-center m-t-md">
    <div class="col-lg-12 col-sm-12 figures">
      <div class="bxslider">
        <ul class="bxslider">
          <div data-ng-repeat="anel in objeto.aneis">
            <li data-ng-repeat="movimento in anel.movimentos">
              <figure class="rings-{{ anel.posicao }}">
                <img ng-src="{{ movimento.imagem.id | imageSource }}" style="width: 180px; height: 150px;">
                <p>{{ movimento.imagem.descricao }}</p>
              </figure>
            </li>
          </div>
        </ul>
      </div>
    </div>
     <div class="col-lg-12 col-sm-12 tableless">
      <table class="tg" border="1" cellpadding="1" width="100%">
        <thead>
          <tr>
            <th colspan="2" class="tg-031e"></th>
            <th data-ng-repeat="grupo in grupos">{{ grupo }}</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="(indexTR, tr) in grupos">
            <!-- Cria a coluna que relaciona a quantidade de grupos a cada anel. -->
            <td data-ng-repeat="intervalo in intervalosAneis"
                data-ng-if="intervalo === indexTR && !$last"
                rowspan="{{ intervalosAneis[$index + 1] - intervalosAneis[$index] }}"
                class="tg-031e rings-{{ $index + 1 }}">Anel {{ $index + 1 }}</td>
            <!-- Cria uma coluna indicando os grupos que não deverão ser utilizados por não conter anel. -->
            <td data-ng-repeat="intervalo in intervalosAneis"
                data-ng-if="intervalo === indexTR && $last"
                rowspan="{{ grupos.length - intervalo }}"
                class="tg-031e">-</td>
            <!-- Coluna com a label do grupo. -->
            <td class="tg-yw4l" style="font-size: 15px;">
              <strong>{{ tr }}</strong>
            </td>

            <!--
              Cria as relações de verdes conflitantes. As interseções dos elementos iguals (G1xG1) ou dos grupos
              que não serão utilizados já aparecem desmarcados.
             -->
            <td data-ng-repeat="(indexTD, td) in grupos"
              class="clickable"
              data-ng-class="{disabled: tr === td || indexTR >= gruposUtilizados || indexTD >= gruposUtilizados}"
              data-ng-click="toggleVerdeConflitante(indexTD, indexTR, (tr === td || indexTR >= gruposUtilizados || indexTD >= gruposUtilizados))">
              <i class="fa fa-times sinal-verde-conflitante" data-ng-class="{ ativo : verdesConflitantes[indexTD][indexTR]}"></i>
            </td>
          </tr>
        </tbody>
      </table>
     </div>
  </div>
</fieldset>
<div class="col-sm-12 col-lg-12 m-b-lg">
<fieldset class="m-t-md">
  <a ui-sref="app.wizard_controladores.aneis" class="btn btn-default">{{ 'plugins.steps.labels.previous' | translate }}</a>
  <button type="submit" class="btn btn-primary">{{ 'plugins.steps.labels.finish' | translate }}</button>
</fieldset>
</div>
