<div class="container-fluid wrapper wrapper-content animated fadeInRight" data-ng-init="initWizard()">
  <section role="complementary" class="basic-wizard">
    <div class="col-lg-12 col-sm-12 no-padding">
      <div class="ibox float-e-margins">
        <div class="steps-wrapper wizard clearfix">
          <div class="steps clearfix">
            <ul>
              <li ui-sref-active="current">
                <a ui-sref=".dados_basicos" class="btn-default">{{ 'controladores.dadosBasicos' | translate }}</a>
              </li>
              <li ui-sref-active="current">
                <a ui-sref=".aneis" class="btn-default">{{ 'controladores.aneis' | translate }}</a>
              </li>
              <li ui-sref-active="current">
                <a ui-sref=".verdes_conflitantes" class="btn-default">{{ 'controladores.verdes_conflitantes' | translate }}</a>
              </li>
            </ul>
          </div>

          <div class="content clearfix">
            <div class="step-content body">
              <div class="p-lg">
                <uib-alert type="danger" close="closeAlert()" ng-if="validacoes.alerts.length > 0">
                  <div style="padding-left: 12px;">
                    <ul>
                      <li ng-repeat="alert in validacoes.alerts" ng-bind-html="alert.msg | translate"></li>
                    </ul>
                  </div>
                </uib-alert>

                <div id="form-views" ui-view></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
