<div class="container-fluid wrapper wrapper-content animated fadeInRight">
  <section role="complementary" class="basic-wizard">
    <div class="col-lg-12 col-sm-12 no-padding">
      <div class="ibox float-e-margins">
        <div class="steps-wrapper wizard clearfix">
          <div class="content clearfix wizard-body">
            <div class="step-content body">
              <div class="col-lg-12 col-md-12 no-padding">
                <div id="form-views" ui-view></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
