<div id="form" data-ng-init="show()">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>
              {{ pageTitle | translate }}
              <small style="margin-left: 2px;">{{ objeto.nome }} - #{{ minid }}</small>
            </h5>
          </div>
          <div class="ibox-content">
            <div class="widget-box">
              <div class="widget-body">
                <div class="widget-main">
                  <table class="table table-bordered table-striped">
                    <tbody>
                      <tr>
                        <th>{{ 'agrupamentos.nome' | translate }}</th>
                        <td> {{ objeto.nome }} </td>
                      </tr>
                      <tr>
                        <th>{{ 'agrupamentos.numero' | translate }}</th>
                        <td> {{ objeto.numero }} </td>
                      </tr>
                      <tr>
                        <th>{{ 'agrupamentos.tipo' | translate }}</th>
                        <td> {{ objeto.tipo }} </td>
                      </tr>
                      <tr>
                        <th>{{ 'agrupamentos.aneis' | translate }}</th>
                        <td data-ng-bind-html="objeto.aneis | orderBy: 'CLA' | resourceListToString: 'CLA' "></td>
                      </tr>
                      <tr>
                        <th>{{ 'agrupamentos.plano' | translate }}</th>
                        <td>Plano {{ objeto.posicaoPlano }} ({{ objeto.diaDaSemana | diaDaSemana }} às {{ objeto.horario | influuntDate: 'HH:mm:ss' }})</td>
                        <!-- <td data-ng-bind-html="objeto.aneis | orderBy: 'CLA' | resourceListToString: 'CLA' "></td> -->
                      </tr>
                      <tr>
                        <th>{{ 'geral.auditoria.dataCriacao' | translate }}</th>
                        <td>{{ objeto.dataCriacao | date }}</td>
                      </tr>
                      <tr>
                        <th>{{ 'geral.auditoria.dataAtualizacao' | translate }}</th>
                        <td>{{ objeto.dataAtualizacao | date }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <hr>
            <a class="btn btn-default" ui-sref="app.agrupamentos">{{ 'geral.crud.voltar' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
