<!--Necessario carregar essas imagens para serem usadas como textura no simulador. Não remover -->
<img src="/images/simulador/modo_vi.png" id="modo_vi" style="display:none">
<img src="/images/simulador/modo_ai.png" id="modo_ai" style="display:none">
<!-- fim -->
<div class='container-fluid wrapper wrapper-content animated fadeInRight' data-ng-init='init()'>
  <div class='row simulacao'>
    <div class='col-sm-12'>

      <div class='ibox float-e-margins'>
        <div class='col-sm-3'>
          <div class='ibox float-e-margins' >
            <div class='ibox-title'>
              <h5>{{ 'simulacao.parametros' | translate }}</h5>
              <div class='ibox-tools'>
                <a class='collapse-link'>
                  <i class='fa fa-chevron-up'></i>
                </a>
              </div>
            </div>
            <div class='ibox-content'>
              <div class='row'>

                <div class='col-sm-12'>
                  <div class='row form-group' data-ng-class="{ 'has-error': errors.velocidade }">
                    <div class='col-sm-12'>
                      <label class="control-label">{{ 'simulacao.velocidade' | translate }}</label>
                    </div>
                    <div class='col-sm-4 form-group' data-ng-repeat="velocidade in velocidades">
                      <label>
                        <input type="radio" class="form-control" name="velocidade{{ velocidade.value }}x" ichecks value="{{ velocidade.value }}" data-ng-model="parametrosSimulacao.velocidade">
                        {{ velocidade.value }}x
                      </label>
                    </div>
                    <div class="col-sm-12">
                      <p class="help-block error-msg velocidade-error" data-ng-repeat="error in errors.velocidade">{{ error }}</p>
                    </div>
                  </div>
                </div>

                <div class='col-sm-12'>
                  <div class='row form-group'>
                    <div class='col-sm-12' data-ng-class="{ 'has-error': errors.inicioControlador }">
                      <label class="control-label">{{ 'simulacao.inicioControl' | translate }}</label>
                      <input type="text"
                             class="form-control text-center"
                             uib-datepicker-popup="dd/MM/yyyy"
                             ng-model="inicioControlador.date"
                             ng-click="inicioControlador.opened = true"
                             is-open="inicioControlador.opened"
                             datepicker-options="dateOptions"
                             ng-required="true"
                             close-text="{{ 'simulacao.datepicker.fechar' | translate }}"
                             clear-text="{{ 'simulacao.datepicker.limpar' | translate }}"
                             current-text="{{ 'simulacao.datepicker.hoje' | translate }}">
                      <p class="help-block error-msg" data-ng-repeat="error in errors.inicioControlador">{{ error }}</p>
                    </div>
                    <div class="col-sm-12 m-t">
                      <div class="row">
                        <div class='col-sm-4'>
                          <select class='form-control m-b' name='account' data-ng-model="inicioControlador.hora">
                            <option data-ng-repeat="hora in horas track by $index" value="{{$index}}">{{ hora }}</option>
                          </select>
                        </div>
                        <div class='col-sm-4'>
                          <select class='form-control m-b' name='account' data-ng-model="inicioControlador.minuto">
                            <option data-ng-repeat="minuto in minutos track by $index" value="{{$index}}">{{ minuto }}</option>
                          </select>
                        </div>
                        <div class='col-sm-4'>
                          <select class='form-control m-b' name='account' data-ng-model="inicioControlador.segundo">
                            <option data-ng-repeat="segundo in segundos track by $index" value="{{$index}}">{{ segundo }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class='col-sm-12'>
                  <div class='row form-group'>
                    <div class='col-sm-12' data-ng-class="{ 'has-error': errors.inicioSimulacao }">
                      <label class="control-label">{{ 'simulacao.inicioSimulacao' | translate }}</label>
                      <input type="text"
                             class="form-control text-center"
                             uib-datepicker-popup="dd/MM/yyyy"
                             ng-model="inicioSimulacao.date"
                             ng-click="inicioSimulacao.opened = true"
                             is-open="inicioSimulacao.opened"
                             datepicker-options="dateOptions"
                             ng-required="true"
                             close-text="{{ 'simulacao.datepicker.fechar' | translate }}"
                             clear-text="{{ 'simulacao.datepicker.limpar' | translate }}"
                             current-text="{{ 'simulacao.datepicker.hoje' | translate }}">
                      <p class="help-block error-msg" data-ng-repeat="error in errors.inicioSimulacao">{{ error }}</p>
                    </div>
                    <div class="col-sm-12 m-t">
                      <div class="row">
                        <div class='col-sm-4'>
                          <select class='form-control m-b' name='account' data-ng-model="inicioSimulacao.hora">
                            <option data-ng-repeat="hora in horas track by $index" value="{{$index}}">{{ hora }}</option>
                          </select>
                        </div>
                        <div class='col-sm-4'>
                          <select class='form-control m-b' name='account' data-ng-model="inicioSimulacao.minuto">
                            <option data-ng-repeat="minuto in minutos track by $index" value="{{$index}}">{{ minuto }}</option>
                          </select>
                        </div>
                        <div class='col-sm-4'>
                          <select class='form-control m-b' name='account' data-ng-model="inicioSimulacao.segundo">
                            <option data-ng-repeat="segundo in segundos track by $index" value="{{$index}}">{{ segundo }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class='col-sm-12'>
                  <div class='row form-group'>
                    <div class='col-sm-12' data-ng-class="{ 'has-error': errors.fimSimulacao }">
                      <label class="control-label">{{ 'simulacao.fimSimulacao' | translate }}</label>
                      <input type="text"
                             class="form-control text-center"
                             uib-datepicker-popup="dd/MM/yyyy"
                             ng-model="fimSimulacao.date"
                             ng-click="fimSimulacao.opened = true"
                             is-open="fimSimulacao.opened"
                             datepicker-options="dateOptions"
                             ng-required="true"
                             close-text="{{ 'simulacao.datepicker.fechar' | translate }}"
                             clear-text="{{ 'simulacao.datepicker.limpar' | translate }}"
                             current-text="{{ 'simulacao.datepicker.hoje' | translate }}">
                      <p class="help-block error-msg" data-ng-repeat="error in errors.fimSimulacao">{{ error }}</p>
                    </div>
                    <div class="col-sm-12 m-t">
                      <div class="row">
                        <div class='col-sm-4'>
                          <select class='form-control m-b' name='account' data-ng-model="fimSimulacao.hora">
                            <option data-ng-repeat="hora in horas track by $index" value="{{$index}}">{{ hora }}</option>
                          </select>
                        </div>
                        <div class='col-sm-4'>
                          <select class='form-control m-b' name='account' data-ng-model="fimSimulacao.minuto">
                            <option data-ng-repeat="minuto in minutos track by $index" value="{{$index}}">{{ minuto }}</option>
                          </select>
                        </div>
                        <div class='col-sm-4'>
                          <select class='form-control m-b' name='account' data-ng-model="fimSimulacao.segundo">
                            <option data-ng-repeat="segundo in segundos track by $index" value="{{$index}}">{{ segundo }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class='col-sm-9'>
          <div class='ibox float-e-margins collapsed'>
            <div class='ibox-title'>
              <h5>{{ 'simulacao.progDisparo' | translate }}</h5>
              <div class='ibox-tools'>
                <a class='collapse-link'>
                  <i class='fa fa-chevron-up'></i>
                </a>
              </div>
            </div>
            <div class='ibox-content'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class="row">
                    <div class='col-sm-3'>
                      <h4>{{ 'simulacao.detector' | translate }}</h4>
                    </div>
                    <div class='col-sm-2'>
                      <h4>{{ 'simulacao.tipo' | translate }}</h4>
                    </div>
                    <div class='col-sm-3'>
                      <h4>{{ 'simulacao.dataDisparo' | translate }}</h4>
                    </div>
                    <div class='col-sm-4'>
                      <h4>{{ 'simulacao.horarioDisparo' | translate }}</h4>
                    </div>
                  </div>

                  <div class='row' data-ng-repeat="disparoDetector in parametrosSimulacao.disparoDetectores">
                    <div class='col-sm-3'>
                      <select class='form-control m-b'
                              name='detector'
                              data-ng-disabled="!detectores"
                              data-ng-options="detector as detector.nome for detector in detectores"
                              data-ng-model="disparoDetector.detector"></select>
                    </div>

                    <div data-ng-show="disparoDetector.detector">
                      <div class='col-sm-2'>
                        <p>
                          {{ 'simulacao.detector' | translate }} {{ disparoDetector.detector.tipo }}
                        </p>
                      </div>
                      <div class='col-sm-3' data-ng-class="{ 'has-error': errors.detectores[$index].disparo }">
                        <input type="text"
                               class="form-control text-center"
                               uib-datepicker-popup="dd/MM/yyyy"
                               ng-model="disparosDetectores.disparos[$index].date"
                               ng-click="disparosDetectores.disparos[$index].opened = true"
                               is-open="disparosDetectores.disparos[$index].opened"
                               datepicker-options="dateOptions"
                               ng-required="true"
                               close-text="{{ 'simulacao.datepicker.fechar' | translate }}"
                               clear-text="{{ 'simulacao.datepicker.limpar' | translate }}"
                               current-text="{{ 'simulacao.datepicker.hoje' | translate }}">
                        <p class="help-block error-msg" data-ng-repeat="error in errors.detectores[$index].disparo">{{ error }}</p>
                      </div>
                      <div class='col-sm-1' data-ng-class="{ 'has-error': errors.detectores[$index].disparo }">
                        <select class='form-control m-b' name='account' data-ng-model="disparosDetectores.disparos[$index].hora">
                          <option data-ng-repeat="hora in horas track by $index" value="{{$index}}">{{ hora }}</option>
                        </select>
                        <p class="help-block error-msg simulacao-horario-error" data-ng-repeat="error in errors.detectores[$index].disparo">{{ error }}</p>
                      </div>
                      <div class='col-sm-1' data-ng-class="{ 'has-error': errors.detectores[$index].disparo }">
                        <select class='form-control m-b' name='account' data-ng-model="disparosDetectores.disparos[$index].minuto">
                          <option data-ng-repeat="minuto in minutos track by $index" value="{{$index}}">{{ minuto }}</option>
                        </select>
                      </div>
                      <div class='col-sm-1' data-ng-class="{ 'has-error': errors.detectores[$index].disparo }">
                        <select class='form-control m-b' name='account' data-ng-model="disparosDetectores.disparos[$index].segundo">
                          <option data-ng-repeat="segundo in segundos track by $index" value="{{$index}}">{{ segundo }}</option>
                        </select>
                      </div>
                      <div class='col-sm-1'>
                        <a data-ng-click="removerDisparoDetector($index)">
                          <i class='fa fa-trash text-danger'></i>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class='ibox float-e-margins collapsed'>
            <div class='ibox-title'>
              <h5>{{ 'simulacao.progImposicao' | translate }}</h5>
              <div class='ibox-tools'>
                <a class='collapse-link'>
                  <i class='fa fa-chevron-up'></i>
                </a>
              </div>
            </div>
            <div class='ibox-content'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='row'>
                    <div class='col-sm-3'>
                      <h4>{{ 'simulacao.plano' | translate }}</h4>
                    </div>
                    <div class='col-sm-2'>
                      <h4>{{ 'simulacao.descricao' | translate }}</h4>
                    </div>
                    <div class='col-sm-3'>
                      <h4>{{ 'simulacao.dataImposicao' | translate }}</h4>
                    </div>
                    <div class='col-sm-4'>
                      <h4>{{ 'simulacao.horarioImposicao' | translate }}</h4>
                    </div>
                  </div>

                  <div class='row' data-ng-repeat="imposicaoPlano in parametrosSimulacao.imposicaoPlanos">
                    <div class='col-sm-3'>
                      <select class='form-control m-b'
                              name='plano'
                              data-ng-disabled="!planos"
                              data-ng-options="plano as plano.nome for plano in planos"
                              data-ng-model="imposicaoPlano.plano"></select>
                    </div>
                    <div data-ng-show="imposicaoPlano.plano">
                      <div class="col-sm-2">
                        {{ imposicaoPlano.plano.descricao }}
                      </div>
                      <div class='col-sm-3' data-ng-class="{ 'has-error': errors.imposicoes[$index].disparo }">
                        <input type="text"
                               class="form-control text-center"
                               uib-datepicker-popup="dd/MM/yyyy"
                               ng-model="imposicoesPlanos.imposicoes[$index].date"
                               ng-click="imposicoesPlanos.imposicoes[$index].opened = true"
                               is-open="imposicoesPlanos.imposicoes[$index].opened"
                               datepicker-options="dateOptions"
                               ng-required="true"
                               close-text="{{ 'simulacao.datepicker.fechar' | translate }}"
                               clear-text="{{ 'simulacao.datepicker.limpar' | translate }}"
                               current-text="{{ 'simulacao.datepicker.hoje' | translate }}">
                        <p class="help-block error-msg" data-ng-repeat="error in errors.imposicoes[$index].disparo">{{ error }}</p>
                      </div>
                      <div class='col-sm-1' data-ng-class="{ 'has-error': errors.imposicoes[$index].disparo }">
                        <select class='form-control m-b' name='account' data-ng-model="imposicoesPlanos.imposicoes[$index].hora">
                          <option data-ng-repeat="hora in horas track by $index" value="{{$index}}">{{ hora }}</option>
                        </select>
                        <p class="help-block error-msg simulacao-horario-error" data-ng-repeat="error in errors.imposicoes[$index].disparo">{{ error }}</p>
                      </div>
                      <div class='col-sm-1' data-ng-class="{ 'has-error': errors.imposicoes[$index].disparo }">
                        <select class='form-control m-b' name='account' data-ng-model="imposicoesPlanos.imposicoes[$index].minuto">
                          <option data-ng-repeat="minuto in minutos track by $index" value="{{$index}}">{{ minuto }}</option>
                        </select>
                      </div>
                      <div class='col-sm-1' data-ng-class="{ 'has-error': errors.imposicoes[$index].disparo }">
                        <select class='form-control m-b' name='account' data-ng-model="imposicoesPlanos.imposicoes[$index].segundo">
                          <option data-ng-repeat="segundo in segundos track by $index" value="{{$index}}">{{ segundo }}</option>
                        </select>
                      </div>
                      <div class='col-sm-1'>
                        <a data-ng-click="removerImposicaoPlano($index)">
                          <i class='fa fa-trash text-danger'></i>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class='ibox float-e-margins collapsed'>
            <div class='ibox-title'>
              <h5>{{ 'simulacao.progAlarmes' | translate }}</h5>
              <div class='ibox-tools'>
                <a class='collapse-link'>
                  <i class='fa fa-chevron-up'></i>
                </a>
              </div>
            </div>
            <div class='ibox-content'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='row'>
                    <div class='col-sm-5'>
                      <h4>{{ 'simulacao.alarme' | translate }}</h4>
                    </div>
                    <div class='col-sm-3'>
                      <h4>{{ 'simulacao.dataAlarme' | translate }}</h4>
                    </div>
                    <div class='col-sm-3'>
                      <h4>{{ 'simulacao.horarioAlarme' | translate }}</h4>
                    </div>
                  </div>

                  <div class='row' data-ng-repeat="alarmeControlador in parametrosSimulacao.alarmesControlador">
                    <div class='col-sm-5'>
                      <select class='form-control m-b'
                              name='plano'
                              data-ng-disabled="!alarmes"
                              data-ng-options="alarme as alarme.descricao for alarme in alarmes"
                              data-ng-model="alarmeControlador.alarme"></select>
                    </div>
                    <div data-ng-show="alarmeControlador.alarme">
                      <div class='col-sm-3' data-ng-class="{ 'has-error': errors.alarmes[$index].disparo }">
                        <input type="text"
                               class="form-control text-center"
                               uib-datepicker-popup="dd/MM/yyyy"
                               ng-model="alarmesControlador.alarmes[$index].date"
                               ng-click="alarmesControlador.alarmes[$index].opened = true"
                               is-open="alarmesControlador.alarmes[$index].opened"
                               datepicker-options="dateOptions"
                               ng-required="true"
                               close-text="{{ 'simulacao.datepicker.fechar' | translate }}"
                               clear-text="{{ 'simulacao.datepicker.limpar' | translate }}"
                               current-text="{{ 'simulacao.datepicker.hoje' | translate }}">
                        <p class="help-block error-msg" data-ng-repeat="error in errors.alarmes[$index].disparo">{{ error }}</p>
                      </div>
                      <div class='col-sm-1' data-ng-class="{ 'has-error': errors.alarmes[$index].disparo }">
                        <select class='form-control m-b' name='account' data-ng-model="alarmesControlador.alarmes[$index].hora">
                          <option data-ng-repeat="hora in horas track by $index" value="{{$index}}">{{ hora }}</option>
                        </select>
                        <p class="help-block error-msg simulacao-horario-error" data-ng-repeat="error in errors.alarmes[$index].disparo">{{ error }}</p>
                      </div>
                      <div class='col-sm-1' data-ng-class="{ 'has-error': errors.alarmes[$index].disparo }">
                        <select class='form-control m-b' name='account' data-ng-model="alarmesControlador.alarmes[$index].minuto">
                          <option data-ng-repeat="minuto in minutos track by $index" value="{{$index}}">{{ minuto }}</option>
                        </select>
                      </div>
                      <div class='col-sm-1' data-ng-class="{ 'has-error': errors.alarmes[$index].disparo }">
                        <select class='form-control m-b' name='account' data-ng-model="alarmesControlador.alarmes[$index].segundo">
                          <option data-ng-repeat="segundo in segundos track by $index" value="{{$index}}">{{ segundo }}</option>
                        </select>
                      </div>

                      <div class='col-sm-1'>
                        <a data-ng-click="removerDisparoAlarme($index)">
                          <i class='fa fa-trash text-danger'></i>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class='ibox float-e-margins collapsed'>
            <div class='ibox-title'>
              <h5>{{ 'simulacao.progFalhas' | translate }}</h5>
              <div class='ibox-tools'>
                <a class='collapse-link'>
                  <i class='fa fa-chevron-up'></i>
                </a>
              </div>
            </div>

            <div class='ibox-content'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='row'>
                    <div class='col-sm-3'>
                      <h4>{{ 'simulacao.falha' | translate }}</h4>
                    </div>
                    <div class='col-sm-3'>
                      <h4>{{ 'simulacao.tipoParametro' | translate }}</h4>
                    </div>
                    <div class='col-sm-2'>
                      <h4>{{ 'simulacao.dataFalha' | translate }}</h4>
                    </div>
                    <div class='col-sm-3'>
                      <h4>{{ 'simulacao.horarioFalha' | translate }}</h4>
                    </div>
                  </div>

                  <div class='row' data-ng-repeat="falhaControlador in parametrosSimulacao.falhasControlador">
                    <div class='col-sm-3'>
                      <select class='form-control m-b'
                              name='falha'
                              data-ng-options="falha as falha.descricao for falha in falhas"
                              data-ng-model="falhaControlador.falha"></select>
                    </div>
                    <div data-ng-show="falhaControlador.falha">
                      <div class='col-sm-1'>
                          {{ falhaControlador.falha.descricaoParam }}
                      </div>
                      <div class='col-sm-2'>
                        <select ng-show="falhaControlador.falha.tipoParam === 'GRUPO_SEMAFORICO'" class='form-control m-b'
                              name='param-grupo-semaforico'
                              data-ng-options="grupo as grupo.descricao for grupo in controlador.gruposSemaforicos | orderBy: 'posicao'"
                              data-ng-model="falhaControlador.parametro"></select>

                        <select ng-show="falhaControlador.falha.tipoParam === 'DETECTOR_VEICULAR'" class='form-control m-b'
                              name='param-detector-veicular'
                              data-ng-options="detector as detector.nome for detector in detectoresVeicular"
                              data-ng-model="falhaControlador.parametro"></select>

                        <select ng-show="falhaControlador.falha.tipoParam === 'DETECTOR_PEDESTRE'" class='form-control m-b'
                              name='param-detector-pedestre'
                              data-ng-options="detector as detector.nome for detector in detectoresPedestre"
                              data-ng-model="falhaControlador.parametro"></select>

                        <select ng-show="falhaControlador.falha.tipoParam === 'ANEL'" class='form-control m-b'
                              name='param-anel'
                              data-ng-options="anel as anel.posicao for anel in controlador.aneis"
                              data-ng-model="falhaControlador.parametro"></select>
                      </div>
                      <div class='col-sm-2' data-ng-class="{ 'has-error': errors.falhas[$index].disparo }">
                        <input type="text"
                               class="form-control text-center"
                               uib-datepicker-popup="dd/MM/yyyy"
                               ng-model="falhasControlador.falhas[$index].date"
                               ng-click="falhasControlador.falhas[$index].opened = true"
                               is-open="falhasControlador.falhas[$index].opened"
                               datepicker-options="dateOptions"
                               ng-required="true"
                               close-text="{{ 'simulacao.datepicker.fechar' | translate }}"
                               clear-text="{{ 'simulacao.datepicker.limpar' | translate }}"
                               current-text="{{ 'simulacao.datepicker.hoje' | translate }}">
                        <p class="help-block error-msg" data-ng-repeat="error in errors.falhas[$index].disparo">{{ error }}</p>
                      </div>
                      <div class='col-sm-1' data-ng-class="{ 'has-error': errors.falhas[$index].disparo }">
                        <select class='form-control m-b' name='account' data-ng-model="falhasControlador.falhas[$index].hora">
                          <option data-ng-repeat="hora in horas track by $index" value="{{$index}}">{{ hora }}</option>
                        </select>
                        <p class="help-block error-msg simulacao-horario-error" data-ng-repeat="error in errors.falhas[$index].disparo">{{ error }}</p>
                      </div>
                      <div class='col-sm-1' data-ng-class="{ 'has-error': errors.falhas[$index].disparo }">
                        <select class='form-control m-b' name='account' data-ng-model="falhasControlador.falhas[$index].minuto">
                          <option data-ng-repeat="minuto in minutos track by $index" value="{{$index}}">{{ minuto }}</option>
                        </select>
                      </div>
                      <div class='col-sm-1' data-ng-class="{ 'has-error': errors.falhas[$index].disparo }">
                        <select class='form-control m-b' name='account' data-ng-model="falhasControlador.falhas[$index].segundo">
                          <option data-ng-repeat="segundo in segundos track by $index" value="{{$index}}">{{ segundo }}</option>
                        </select>
                      </div>
                      <div class='col-sm-1'>
                        <a data-ng-click="removerFalhaControlador($index)">
                          <i class='fa fa-trash text-danger'></i>
                        </a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class='col-sm-12'>
      <div class='row'>
        <div class='col-sm-12 text-center simular'>
          <button type='button'
                  class='btn btn-primary'
                  name='button'
                  data-ng-click="submitForm()">
            <i class='fa fa-play'></i> {{ 'simulacao.simular' | translate }}
          </button>
          <button type='button'
                  class='btn btn-info'
                  name='button'
                  data-toggle="modal"
                  data-target="#myModal">
            <i class='fa fa-eye'></i> {{ 'plugins.steps.labels.last_screen' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal inmodal" id="modal-simulacao" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="pararSimulacao()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>{{ 'simulacao.titulo' | translate }}</h3>
      </div>
      <div class="modal-body">
        <div id="canvas"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="pararSimulacao()">
          {{ 'geral.crud.fechar' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<ng-include src="'views/controladores/wizard/common/popup-revisao.html'" />

<script type='text/javascript'>
  // Collapse ibox function
  $('.collapse-link').click(function() {
    var ibox = $(this).closest('div.ibox');
    var button = $(this).find('i');
    var content = ibox.find('div.ibox-content');
    content.slideToggle(200);
    button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
    ibox.toggleClass('').toggleClass('border-bottom');
    setTimeout(function() {
      ibox.resize();
      ibox.find('[id^=map-]').resize();
    }, 50);
  });
  // Dragbar
  var i = 0;
  var dragging = false;
  $('#dragbar').mousedown(function(e) {
    e.preventDefault();

    dragging = true;
    var main = $('#main');
    var ghostbar = $('<div>', {
      id: 'ghostbar',
      css: {
        height: main.outerHeight(),
        top: main.offset().top,
        left: main.offset().left
      }
    }).appendTo('body');

    $(document).mousemove(function(e) {
      ghostbar.css('left', e.pageX + 2);
    });

  });

  $(document).mouseup(function(e) {
    if (dragging) {
      var percentage = (e.pageX / window.innerWidth) * 100;
      var mainPercentage = 100 - percentage;

      $('#console').text('side:' + percentage + ' main:' + mainPercentage);
      $('#sidebar').css('width', percentage + '%');
      $('#main').css('width', mainPercentage + '%');
      $('#ghostbar').remove();
      $(document).unbind('mousemove');
      dragging = false;
    }
  });

  //Fecha Log
  $( '.btnLog' ).click(function() {
  $ ( '.log' ).slideToggle('fast',function() {});
  $('.diagrama').toggleClass('diagrama100');
  $(this).find('.fa-chevron-up').toggleClass('fa-chevron-down');
  $('#dragbar').slideToggle();
  });
</script>
