/*
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
*/
/*
*
*   INSPINIA - Responsive Admin Theme
*   version 2.4
*
*/
.wrapper-content .basic-wizard .steps ul li a:after,
.wrapper-content .basic-wizard .steps ul li.current a:after,
.wrapper-content .basic-wizard .steps ul li.disabled a:after {
  background: url("../images/wizard-steps-after.png") no-repeat;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  position: absolute;
  display: block;
  height: 48px;
  content: "";
  width: 24px;
  right: 0;
  top: 0;
}

.wrapper-content .basic-wizard .steps ul li.current a:after {
  background: url("../images/wizard-steps-after-cr.png") no-repeat;
}

.wrapper-content .basic-wizard .steps ul li:not(:nth-child(1)) a:before,
.wrapper-content .basic-wizard .steps ul li.current:not(:nth-child(1)) a:before,
.wrapper-content .basic-wizard .steps ul li.disabled a:before {
  background: url("../images/wizard-steps-before.png") no-repeat;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  position: absolute;
  display: block;
  height: 48px;
  content: "";
  width: 29px;
  left: 0;
  top: 0;
}

.wrapper-content .basic-wizard .steps ul li.current a:before {
  background: url("../images/wizard-steps-before-cr.png") no-repeat !important;
}

.wrapper-content .basic-wizard .content .body .association-detectors-body .estagio-detalhe {
  border-right: 1px solid #e7eaec;
  height: 120px;
}

.wrapper-content .basic-wizard .content .body .tableless.association-detectors {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: auto;
}

.wrapper-content .basic-wizard .content .body .tableless.association-detectors table thead tr td figure img {
  width: 120%;
}

.wrapper-content .basic-wizard .content .body .tableless.association-detectors table thead tr td figure {
  border: 1px solid #898989;
  background: #ebebeb;
  display: block;
  margin: 15px auto;
  box-sizing: border-box;
  max-height: 120px;
  max-width: 120px;
  overflow: hidden;
  height: 120px;
  width: 120px;
}

.wrapper-content .basic-wizard .content .body .tableless.association-detectors table tbody tr td strong {
  font-size: 16px;
}

.wrapper-content .basic-wizard .content .body .tableless.association-detectors table tbody tr td i {
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  font-size: 28px;
  color: #19b4a8;
}

.wrapper-content .basic-wizard .content .body .tableless.association-detectors table tbody tr td:hover i {
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  color: #f7f7f7;
}

.wrapper-content .basic-wizard .content .body .tableless table td {
  text-align: center;
  font-size: 25px;
}

.wrapper-content .basic-wizard .content .body .tableless table tbody tr td.checked {
  background: #e5e5e5;
}

.wrapper-content .basic-wizard .content .body .tableless table tbody tr td.checked i {
  color: #fff;
}

.wrapper-content .basic-wizard .content .body .tableless table tbody tr td:hover {
  background: #e5e5e5;
}

.wrapper-content .basic-wizard .content .body .tableless.tableless-stages {
  margin: 20px 0 0;
}

.wrapper-content .basic-wizard .content .body .early-stage .early-area {
  min-height: 250px;
  max-height: 250px;
  background: #f5f5f5;
  overflow: hidden;
  width: 100%;
}

.wrapper-content .basic-wizard .content .body .early-stage ul li .upload-figure {
  float: left;
  width: 100%;
}

.wrapper-content .basic-wizard .content .body .early-stage ul li .upload-figure figure img,
.wrapper-content .basic-wizard .content .body .early-stage ul li .upload-figure figure.change hgroup {
  display: none;
}

.wrapper-content .basic-wizard .content .body .early-stage ul li .upload-figure figure {
  background: #fff;
  border: 1px dotted #898989;
  border-radius: 3px;
  height: 155px;
  margin: 20px auto 10px;
}

.bg-border,
.wrapper-content .filters header {
  border-top: 4px solid #e7eaec;
}

.wrapper-content .basic-wizard .content .body .early-stage ul li .upload-figure figure hgroup {
  margin-top: 40px;
}

.wrapper-content .basic-wizard .content .body .early-stage ul li .upload-figure figure hgroup i {
  font-size: 25px;
}

.wrapper-content .basic-wizard .content .body .early-stage ul li .upload-figure figure hgroup label {
  float: left;
  font-size: 12px;
  color: #676a6c;
  text-align: center;
  cursor: pointer;
  margin-top: 7px;
  line-height: 20px;
}

.wrapper-content .basic-wizard .content .body .early-stage ul li p {
  text-align: left;
  padding-left: 15px;
}

.wrapper-content .basic-wizard .content .body .stages nav li .group .ichecks-checkbox label {
  margin: 0;
  padding: 0;
  float: left;
}

.wrapper-content .basic-wizard .content .body .stages nav li .group .ichecks-checkbox p {
  float: left;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 0;
  margin-left: 5px;
}

.wrapper-content .basic-wizard .content .body .stages nav li .group .ichecks-checkbox {
  float: left;
  margin: 0;
  padding: 0 10px;
  margin-bottom: 15px;
}

.wrapper-content .basic-wizard .content .body .stages nav li {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  background: #fff;
  list-style: none;
  min-height: 200px;
  width: 100%;
  float: left;
  margin-bottom: 0;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.no-padding-right {
  padding-left: 15px !important;
  padding-right: 0;
}

.no-padding-left {
  padding-right: 15px !important;
  padding-left: 0;
}

.overflow {
  overflow: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

.bg-border {
  background: #fff;
  padding-top: 30px;
}

.lightgray-bg {
  background: #d9d9d9;
}

.lightgray-bg > .table > tbody > tr > td {
  border-top: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

.gray-bg > div > .table > tbody > tr:hover {
  background: #f9f9f9;
}

.gray-bg .ibox-title {
  background: transparent;
}

.ibox-title i.white {
  color: #fff;
}

.bg-border-footer {
  padding-top: 10px;
  padding-bottom: 60px;
}

.pg-bt {
  padding-bottom: 20px;
}

.pg-bt {
  padding-bottom: 25px;
}

.pd-lf-rt {
  padding: 0 10px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.initial-position {
  position: initial;
}

header .nav-first {
  background: #2f4050;
  height: 70px;
}

header .nav-secon {
  border-bottom: 1px solid #e7eaec;
  background: #fff;
  height: 62px;
}

header .nav-secon ul {
  padding: 0;
  margin: 0;
}

header .nav-secon li {
  list-style: none;
  line-height: 62px;
}

header .nav-secon li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #999;
}

.content.clearfix.wizard-body {
  padding: 0;
}

.wrapper-content .filters header h1 {
  font-size: 14px;
  display: block;
  line-height: 50px;
  padding: 0 20px;
  margin: 0;
}

.wrapper-content .filters form ul {
  padding: 0 20px;
  margin: 0;
}

.wrapper-content .filters form ul li {
  list-style: none;
  font-size: 13px;
  height: 37px;
  line-height: 37px;
}

.wrapper-content .filters form ul li .i-checks label {
  width: 100%;
}

.wrapper-content .filters form ul li .i-checks label div {
  float: right;
  margin: 8px 0 0;
}

.wrapper-content .filters form ul li .i-checks {
  float: right;
  width: 100%;
}

.wrapper-content .filters form ul li label {
  font-size: 13px;
  font-weight: 400;
}

.wrapper-content .filters form {
  border-top: 1px solid #e7eaec;
  padding: 20px 0 0;
  background: #fff;
  float: left;
  width: 100%;
}

.wrapper-content .filters {
  background: #fff;
  display: block;
  width: 100%;
}

.wrapper-content .filters form input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}

.wrapper-content .filters form input[type=checkbox]:checked + label {
  color: red;
  font-style: normal;
}

.wrapper-content .controller {
  margin: 15px 0 0;
}

.wrapper-content .controller ul {
  margin: 0;
  padding: 0;
}

.wrapper-content .controller li {
  width: 20%;
  float: left;
  list-style: none;
  padding-right: 1%;
}

.wrapper-content .basic-wizard .content .body .buttons-wizard a {
  width: 122px;
}

.wrapper-content .basic-wizard .content .body .buttons-wizard {
  min-height: 60px;
}

.wrapper-content .basic-wizard .content .body .tableless table {
  border: 1px solid #e1e1e1;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}

.wrapper-content .basic-wizard .content .body .tableless table .tg-031e.rings-1 {
  background: #00ac9e;
}

.wrapper-content .basic-wizard .content .body .tableless table .tg-031e.rings-2 {
  background: #f8d334;
}

.wrapper-content .basic-wizard .content .body .tableless table .tg-031e.rings-3 {
  background: #a23737;
}

.wrapper-content .basic-wizard .content .body .tableless table .tg-031e.rings-4 {
  background: #2f4050;
}

.wrapper-content .basic-wizard .content .body .tableless table .tg-031e {
  background: #e5e5e5;
  text-align: center;
  font-weight: 700;
  font-size: 19px;
  color: #fff;
  min-width: 112px !important;
  max-width: 112px !important;
}

.wrapper-content .basic-wizard .content .body .tableless table .disabled {
  background: #a6a6a6;
}

.wrapper-content .basic-wizard .content .body .tableless table .tg-yw4l {
  background: #e5e5e5;
  text-align: center;
}

.wrapper-content .basic-wizard .content .body .tableless table tbody tr td.active::before {
  color: #ed5766;
  font-size: 25px;
  content: "\f00d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
}

.wrapper-content .basic-wizard .content .body .tableless table tbody tr td {
  height: 74px;
  /*    width: 5%;*/
  min-width: 74px;
  max-width: 74px;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  cursor: pointer;
}

.wrapper-content .basic-wizard .content .body .tableless table thead tr th {
  height: 74px;
  text-align: center;
  font-size: 15px;
  color: #676a6c;
  border: 1px solid #cacaca;
  /*    width: 5%;*/
  min-width: 74px;
  max-width: 74px;
  background: #e5e5e5;
}

.wrapper-content .basic-wizard .content .body .figures div.bxslider {
  overflow: auto;
  background: #f5f5f5;
  padding: 20px;
}

.wrapper-content .basic-wizard .content .body .figures ul.bxslider {
  width: 7000px;
}

.wrapper-content .basic-wizard .content .body .figures {
  min-height: 190px;
}

.wrapper-content .basic-wizard .content .body .figures li {
  margin-right: 20px;
  list-style: none;
  float: left;
  display: list-item;
}

.wrapper-content .basic-wizard .content .body .movements {
  background: #f2f4f5;
  height: 220px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.wrapper-content .basic-wizard .content .body .movements button {
  margin: 0 auto;
  display: block;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 35%;
}

.wrapper-content .basic-wizard .content .body .movements .dz-default.dz-message span {
  display: block;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  width: 150px;
  height: 150px;
  padding: 46px 20px 0 20px;
  margin: 20px 0;
}

.wrapper-content .basic-wizard .content .body .movements .dz-image-preview button.remove-image {
  margin-left: 140px;
  cursor: pointer;
}

.wrapper-content .basic-wizard .content .body .movements label {
  width: 100%;
  text-align: left;
}

.wrapper-content .basic-wizard .content .body .min-green ul li label {
  margin: 0;
}

.wrapper-content .basic-wizard .content .body .min-green.plans {
  min-height: 830px;
}

.wrapper-content .basic-wizard .content .body .min-green {
  min-height: 730px;
}

.wrapper-content .basic-wizard .content .body .association.plans {
  padding: 0;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans {
  float: right;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans ul {
  padding: 0;
  margin: 0;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans li span {
  display: block;
  width: 100%;
  height: 16px;
  margin-bottom: 10px;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans li p {
  margin: 0;
  padding: 0;
  color: #676a6c;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 2px;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* column | row */
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans li {
  position: relative;
  float: left;
  line-height: inherit;
  height: inherit;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans li:hover {
  background: inherit;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans ul.subnav li {
  width: 50%;
  padding: 0 10px;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans ul.subnav {
  -webkit-border-radius: 4px;
  border: 1px solid #e7eaec;
  border-radius: 4px;
  position: absolute;
  background: white;
  min-width: 270px;
  z-index: 99;
  right: 0;
  padding: 20px 10px;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans li a i {
  padding-left: 10px;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans li a {
  height: 34px;
  float: right;
  color: white;
  display: block;
  font-size: 14px;
  line-height: 34px;
  background: #cdcdcd;
  padding: 0 25px 0 30px;
  border-radius: 4px;
}

.wrapper-content .basic-wizard .content .body .association .developing-plans {
  padding: 0;
  float: left;
  text-align: left;
  min-height: 78px;
  padding-left: 20px;
}

.wrapper-content .basic-wizard .content .body .association .developing-plans span {
  font-weight: bold;
  font-size: 13px;
  color: #999;
  margin: 15px 0 5px;
  display: block;
}

.wrapper-content .basic-wizard .content .body .association .developing-plans h1 {
  font-weight: lighter;
  font-size: 24px;
  color: #999;
  margin: 0;
}

.wrapper-content .basic-wizard .content .body .association.stage-time .knob .knob-item p {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper-content .basic-wizard .content .body .association.stage-time .knob .knob-item label {
  position: absolute;
  font-size: 11px;
  padding: 0;
  margin: 0;
  right: 0;
  top: 50%;
  left: 0;
}

.wrapper-content .basic-wizard .content .body .association.stage-time {
  min-height: 150px;
}

.wrapper-content .basic-wizard .content .body .association.side-menu ul {
  padding: 0;
  margin: 0;
}

.wrapper-content .basic-wizard .content .body .association.side-menu ul#side-menu {
  padding-right: 5px;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li .nav-second-level li .fa-files-o {
  float: right;
  line-height: 40px;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li .nav-second-level li .fa-plus-circle {
  line-height: 40px;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li .nav-second-level li {
  background: #308b83;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li .nav-second-level li.active {
  background: #1caf92;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li .nav-second-level li:hover {
  background: #1caf92;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li .nav-second-level li a:focus {
  background: inherit;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li .nav-second-level li a:hover {
  background: #1caf92;
  color: white;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li .nav-second-level li a {
  color: white;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li {
  padding: 0px 10px;
  cursor: default;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li i {
  cursor: pointer;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li.active {
  background: #1caf92;
  height: auto;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li.active a {
  color: white;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li:hover {
  background: #1caf92;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li a:hover {
  color: white;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li {
  height: auto;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li a {
  font-weight: bold;
  padding: 0 20px;
}

.wrapper-content .basic-wizard .content .body .association.side-menu li a .arrow {
  line-height: 40px;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans {
  padding: 15px 0 0;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans section .table-create-plan li.origem-transicao-proibida, .wrapper-content .basic-wizard .content .body .association.table-creation-plans section .table-create-plan li.destino-transicao-proibida {
  border: 1px solid #d54343;
  background-color: #de6d6d;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans section .table-create-plan thead tr .tg-031e label {
  text-transform: uppercase;
  margin: 15px 15px 10px;
  cursor: all-scroll;
  font-weight: bold;
  text-align: left;
  font-size: 16px;
  color: #676a6c;
  width: 100%;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans section .table-create-plan thead tr .tg-031e figure {
  border: 1px solid #363636;
  margin: 0 15px 20px 20px;
  box-sizing: border-box;
  background-color: #b7b7b7;
  position: relative;
  min-height: 85px;
  max-height: 85px;
  overflow: hidden;
  min-width: 85px;
  max-width: 85px;
  float: left;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans section .table-create-plan tbody .ty-547j {
  padding: 9px 15px 8px 10px;
  background-color: #f7f7f7;
  min-width: 80px;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans section .table-create-plan tbody .ty-547j label {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans section .table-create-plan tbody .ty-547j label i {
  padding-left: 5px;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans section .table-create-plan tr {
  height: 20px;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans header {
  min-height: 70px;
  max-height: 70px;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans header h1 {
  padding: 0;
  float: left;
  color: #676a6c;
  font-size: 21px;
  line-height: 70px;
  margin: 0 0 0 15px;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans header nav {
  margin-right: 15px;
  float: right;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans header nav li {
  min-width: 85px;
  max-width: 85px;
  margin-left: 10px;
  display: inline-block;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans header nav li:hover {
  background: inherit;
  color: inherit;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans header nav li p {
  text-transform: uppercase;
  margin: 10px 0 2px 0;
  line-height: 15px;
  font-weight: bold;
  text-align: left;
  font-size: 11px;
  padding: 0;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans header nav li span {
  height: 16px;
  display: block;
  min-width: 85px;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans article label {
  font-size: 11px;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans article .knob {
  margin-top: 35px;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans article .knob .knob-item p {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper-content .basic-wizard .content .body .association.table-creation-plans article aside {
  float: left;
  width: 100%;
  min-height: 571px;
  padding-bottom: 0;
  padding: 0px 15px;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans li .green {
  background: #00ad4d;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans li .yellow {
  background: #fffb00;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans li .red-flashing {
  background: url("../images/lines.png") #ff1b00;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans li .red-cleaning {
  background: #a31100;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans li .red {
  background: #ff1b00;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans li .yellow-flashing {
  background: url("../images/lines.png") #fffb00;
}

.wrapper-content .basic-wizard .content .body .association.plans nav.plans li .wiped {
  background: #3d3d3d;
}

.wrapper-content .basic-wizard .content .body .association.plans .indicacao-vermelho-intermitente {
  background: url("../images/lines.png") #ff1b00;
}

.wrapper-content .basic-wizard .content .body .association.plans .indicacao-vermelho-intermitente .vis-item-content {
  background: rgba(255, 255, 255, 0.8);
  font-weight: 700;
}

.wrapper-content .basic-wizard .content .body .association.plans .indicacao-intermitente {
  background: url("../images/lines.png") #fffb00;
}

.wrapper-content .basic-wizard .content .body .association.plans .indicacao-intermitente .vis-item-content {
  background: rgba(255, 255, 255, 0.8);
  font-weight: 700;
}

.wrapper-content .basic-wizard .content .body .association.tables-associated .association-know {
  max-height: 626px;
  overflow: auto;
  display: block;
  width: 100%;
  float: left;
}

.wrapper-content .basic-wizard .content .body .association.tables-associated .knob .knob-item {
  float: left;
}

.wrapper-content .basic-wizard .content .body .association.tables-associated .knob .knob-item.delay-time {
  background: #e5e5e5;
  position: absolute;
  padding: 25px 15px;
  width: 20%;
  right: 0;
  top: 0;
}

.wrapper-content .basic-wizard .content .body .association.tables-associated .knob .knob-item p {
  font-size: 11px;
  text-transform: uppercase;
  min-height: 30px;
}

.wrapper-content .basic-wizard .content .body .association.tables-associated {
  padding: 15px 0 0;
}

.wrapper-content .basic-wizard .content .body .association.tables-associated header {
  border-bottom: 1px solid #e5e5e5;
}

.wrapper-content .basic-wizard .content .body .association.tables-associated nav li:hover {
  background: inherit;
  color: inherit;
}

.wrapper-content .basic-wizard .content .body .association.tables-associated nav li {
  float: left;
  width: 100%;
  height: inherit;
  position: relative;
  overflow: hidden;
  line-height: initial;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #e5e5e5;
}

.wrapper-content .basic-wizard .content .body .association.tables-associated nav li .group-form {
  padding: 0 25px 0 20px;
  float: left;
  width: 25%;
}

.wrapper-content .basic-wizard .content .body .association.tables-associated nav li .time-group {
  width: 17%;
  background: #ededed;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 15px;
  top: 0;
}

.wrapper-content .basic-wizard .content .body .association.tables-associated nav li .time-group label {
  margin-top: 35px;
}

.wrapper-content .basic-wizard .content .body .association.tables-associated nav li .group-form .form-group {
  margin: 0;
  padding: 0;
}

.wrapper-content .basic-wizard .content .body .association.tables-associated nav li .group-form .form-group label,
.wrapper-content .basic-wizard .content .body .association.tables-associated nav li .time-group label {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
  text-transform: capitalize;
}

.wrapper-content .basic-wizard .content .body .association.alternative nav ul li {
  line-height: 34px;
  height: 34px;
  background: #ebebeb;
  margin-bottom: 15px;
}

.wrapper-content .basic-wizard .content .body .association.alternative nav ul li h1 {
  width: 100%;
  line-height: 34px;
  border: 0;
  font-size: 14px;
  color: #555759;
  padding-left: 10px;
}

.wrapper-content .basic-wizard .content .body .association.alternative nav ul li:hover {
  background: inherit;
  color: inherit;
}

.wrapper-content .basic-wizard .content .body .association.alternative nav ul li input {
  width: 100%;
  margin: 0;
  padding: 0 0 0 10px;
  height: 34px;
  line-height: 34px;
}

.wrapper-content .basic-wizard .content .body .association.alternative {
  padding: 0 0 20px;
}

.wrapper-content .basic-wizard .content .body .association.alternative p {
  margin: 10px 0;
  min-height: 35px;
  max-height: 35px;
}

.wrapper-content .basic-wizard .content .body .association.alternative h1 {
  font-size: 16px;
  margin: 0;
  border-bottom: 1px solid #e7eaec;
  line-height: 55px;
  font-weight: 700;
}

.wrapper-content .basic-wizard .content .body .association.stages-page {
  overflow: scroll;
  min-height: 250px;
  max-height: 250px;
}

.wrapper-content .basic-wizard .content .body .association {
  padding: 0;
  background: #f5f5f5;
}

.wrapper-content .basic-wizard .content .body .association nav li:hover {
  background: #19b4a8;
  color: #fff;
}

.wrapper-content .basic-wizard .content .body .association nav li.active {
  background: #19b4a8;
  color: #fff;
}

.wrapper-content .basic-wizard .content .body .association nav li a:hover {
  color: #fff;
}

.wrapper-content .basic-wizard .content .body .association nav li a {
  padding: 0 0 0 20px;
  cursor: pointer;
  color: #676a6c;
  display: block;
  margin: 0;
}

.wrapper-content .basic-wizard .content .body .association nav li label {
  padding-left: 15px;
  text-transform: uppercase;
}

.wrapper-content .basic-wizard .content .body .association.table-entry-green footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  border-top: 1px solid #e5e5e5;
}

.wrapper-content .basic-wizard .content .body .association.table-entry-green footer a {
  text-align: center;
  color: white;
  background: #19b4a8;
  display: block;
  width: 80%;
  margin: 20px auto;
  height: 31px;
  line-height: 31px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
}

.wrapper-content .basic-wizard .content .body .association.table-entry-green nav li {
  line-height: 40px;
  height: 40px;
}

.wrapper-content .basic-wizard .content .body .association.table-entry-green nav li label {
  padding: 0 0 0 15px;
  line-height: 40px;
  height: 40px;
  margin: 0;
}

.wrapper-content .basic-wizard .content .body .association nav li {
  line-height: 40px;
  list-style: none;
  text-align: left;
  font-size: 16px;
  height: 40px;
  padding: 0;
  margin: 0;
}

.wrapper-content .basic-wizard .content .body .early-stage ul li header {
  width: 100%;
  min-height: 45px;
  background: #e5e5e5;
}

.wrapper-content .basic-wizard .content .body .early-stage ul li header h1 {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 45px;
}

.wrapper-content .basic-wizard .content .body .stages nav li hgroup p {
  line-height: 200px;
  font-size: 16px;
  color: #676a6c;
  padding: 0;
  margin: 0;
}

.wrapper-content .basic-wizard .content .body .stages .title-stages hgroup p {
  text-align: center;
}

.wrapper-content .basic-wizard .content .body .stages nav li.title-stages {
  min-width: 50px;
}

.wrapper-content .basic-wizard .content .body .stages nav li.ibox {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  background: #fff;
  list-style: none;
  min-height: 200px;
  width: 100%;
  float: left;
  margin-bottom: 0;
}

.wrapper-content .basic-wizard .content .body .deactivation nav li .select {
  width: 45%;
  float: right;
  margin-bottom: 10px;
}

.wrapper-content .basic-wizard .content .body .deactivation nav li .input {
  margin-bottom: 20px;
}

.wrapper-content .basic-wizard .content .body .deactivation nav li hgroup {
  float: left;
  width: 50%;
}

.wrapper-content .basic-wizard .content .body .deactivation nav li hgroup label {
  float: left;
  width: 45%;
}

.wrapper-content .basic-wizard .content .body .deactivation nav li hgroup .label-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.wrapper-content .basic-wizard .content .body .deactivation nav li hgroup .label-status {
  line-height: 35px;
}

.wrapper-content .basic-wizard .content .body .deactivation nav li hgroup p {
  float: left;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}

.wrapper-content .basic-wizard .content .body .deactivation nav li:last-child {
  border-bottom: 0;
}

.wrapper-content .basic-wizard .content .body .deactivation nav li:first-child {
  margin-top: 0;
}

.wrapper-content .basic-wizard .content .body .deactivation nav li {
  list-style: none;
  width: 100%;
  float: left;
  border-bottom: 1px solid #ebebeb;
  margin-top: 15px;
  margin-bottom: 0;
}

.wrapper-content .basic-wizard .content .body .deactivation {
  /*max-height: 550px;*/
  overflow: auto;
  padding: 25px;
}

.wrapper-content .basic-wizard .content .body .stages .priority .knob-item {
  left: 0;
  right: 0;
  display: table;
  margin: auto;
}

.wrapper-content .basic-wizard .content .body .stages .priority p.desc {
  float: right;
  color: #676a6c;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0;
  padding-left: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper-content .basic-wizard .content .body .stages .title-stages.small hgroup p {
  text-align: center;
}

.wrapper-content .basic-wizard .content .body .stages .title-stages.small {
  min-width: 44px;
}

.wrapper-content .basic-wizard .content .body .stages .title-stages {
  background: #e5e5e5;
  position: relative;
  height: 100%;
  float: left;
  cursor: all-scroll;
}

.wrapper-content .basic-wizard .content .body .stages .botton-line-grey {
  border-bottom: 1px solid #cfcfcf;
}

.wrapper-content .basic-wizard .content .body .stages .botton-line-white {
  border-bottom: 1px solid #FFFFFF;
}

.wrapper-content .basic-wizard .content .body .stages .groups-stages {
  padding-top: 12px;
}

.wrapper-content .basic-wizard .content .body .stages .groups-stages-top {
  background: #e5e5e5;
  position: relative;
  float: left;
  padding-top: 45px;
  padding-bottom: 45px;
}

.wrapper-content .basic-wizard .content .body .stages .groups-stages-null {
  background: #e5e5e5;
  padding-top: 25px;
  padding-bottom: 15px;
}

.wrapper-content .basic-wizard .content .body .stages .title-stages-top {
  background: #e5e5e5;
  position: relative;
  float: left;
  cursor: all-scroll;
  padding-top: 8px;
}

.wrapper-content .basic-wizard .content .body .stages .title-stages-top p {
  font-size: 16px;
  text-transform: uppercase;
}

.wrapper-content .basic-wizard .content .body .stages .title-stages-top i {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.wrapper-content .basic-wizard .content .body .stages .times-stages {
  margin-top: 20px;
  text-align: left;
  float: left;
  width: 56%;
}

.wrapper-content .basic-wizard .content .body .stages .stage-stages {
  float: left;
  margin-top: 20px;
  margin-right: 1%;
}

.wrapper-content .basic-wizard .content .body .stages .stage-stages .upload-figure hgroup {
  float: left;
  margin-top: 30px;
}

.wrapper-content .basic-wizard .content .body .stages .stage-stages .upload-figure {
  float: left;
}

.wrapper-content .basic-wizard .content .body .stages .stage-stages .upload-figure .img-preview-sm {
  left: -10px;
  top: -10px;
  height: 155px;
  width: 185px;
}

.wrapper-content .basic-wizard .content .body .stages .stage-stages .upload-figure figure i {
  font-size: 25px;
}

.wrapper-content .basic-wizard .content .body .stages .stage-stages .upload-figure figure label img {
  display: none;
}

.wrapper-content .basic-wizard .content .body .stages .stage-stages .upload-figure figure label {
  float: left;
  font-size: 12px;
  color: #676a6c;
  text-align: center;
  cursor: pointer;
  margin-top: 7px;
}

.wrapper-content .basic-wizard .content .body .stages .stage-stages .exist-figure {
  float: left;
  margin: 0 13px 0 25px;
}

.wrapper-content .basic-wizard .content .body .stages .stage-stages .exist-figure figure {
  margin: 0 0 5px;
  overflow: hidden;
  max-width: 155px;
  max-height: 135px;
  min-width: 155px;
  min-height: 135px;
  box-sizing: border-box;
  border: 1px solid #898989;
  background: #ebebeb;
  display: block;
}

.tooltipster-sidetip.tooltipster-error-tag .tooltipster-arrow-background,
.wrapper-content .basic-wizard .content .body .stages .upload-figure figure.change hgroup i,
.wrapper-content .basic-wizard .steps ul li a .number {
  display: none;
}

.wrapper-content .basic-wizard .content .body .stages .stage-stages .exist-figure figcaption {
  font-size: 13px;
  color: #676a6c;
  text-align: left;
  font-weight: 400;
}

.wrapper-content .basic-wizard .content .body .stages .times-stages label {
  font-size: 13px;
  font-weight: 700;
  word-wrap: break-word;
}

.wrapper-content .basic-wizard .content .body .stages .times-stages .group-selectons {
  margin-top: 10px;
}

.wrapper-content .basic-wizard .content .body .stages .times-stages .group-selectons label p {
  float: left;
  width: 60%;
  font-size: 12px;
  overflow: hidden;
  text-align: right;
}

.wrapper-content .basic-wizard .content .body .stages .times-stages .group-selectons label {
  margin: 0;
  width: 24.7%;
}

.wrapper-content .basic-wizard .content .body .stages .times-stages .group-selectons label div {
  margin-left: 0;
  float: right;
}

.wrapper-content .basic-wizard .content .body .groups-ass {
  background-color: #e5e5e5;
}

.wrapper-content .basic-wizard .content .body .groups-ass .col-lg-10 {
  background-color: #FFF;
  padding: 10px;
}

.wrapper-content .basic-wizard .content .body .rings .rings-status {
  margin-right: 1.2%;
  min-height: 856px;
  width: 23.8%;
}

.wrapper-content .basic-wizard .content .body .rings .groups {
  min-height: 780px;
}

.wrapper-content .basic-wizard .content .body .rings .activ {
  text-align: left;
  text-indent: 20%;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
}

.wrapper-content .basic-wizard .content .body .rings li {
  list-style: none;
  float: left;
  width: 100%;
  height: 45px;
  line-height: 45px;
}

.wrapper-content .basic-wizard .content .body .rings li label {
  font-size: 16px;
  width: 100%;
}

.wrapper-content .basic-wizard .content .body .rings li .number {
  float: left;
  font-size: 16px;
  text-indent: 10px;
  font-weight: 700;
}

.wrapper-content .basic-wizard .content .body .rings li label div {
  float: left;
}

.wrapper-content .basic-wizard .content .body .divider {
  border-left: 2px solid #e7eaec;
  position: absolute;
  margin: 25px 0 0;
  height: 95%;
  right: 0;
}

.wrapper-content .basic-wizard .content .body .maps {
  margin: 25px 0 0;
}

.wrapper-content .basic-wizard .content .body .maps iframe {
  pointer-events: none;
}

.wrapper-content .basic-wizard .content .body .stages .upload-figure figure.change {
  border: 0;
}

.wrapper-content .basic-wizard .content .body .stages .upload-figure figure.change hgroup img {
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper-content .basic-wizard .content .body .stages .upload-figure figure.change hgroup {
  margin: 0;
}

.wrapper-content .basic-wizard .content .body .stages .upload-figure figure {
  overflow: hidden;
  min-height: 135px;
  max-height: 135px;
  border-radius: 3px;
  min-width: 155px;
  max-width: 155px;
  position: relative;
  border: 2px dotted #898989;
  box-sizing: border-box;
}

.wrapper-content .basic-wizard .content .body footer.form-group {
  margin: 60px 0 40px;
}

.wrapper-content .basic-wizard .content .body footer.form-group p {
  line-height: 10px;
}

.wrapper-content .basic-wizard .content .body .form-group {
  text-align: left;
}

.wrapper-content .basic-wizard .content .body {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0 20px;
}

.wrapper-content .basic-wizard .content {
  background: initial;
}

.wrapper-content .basic-wizard .steps ul li a {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  margin: 0 20px 0 25px;
  height: 48px;
  line-height: 48px;
  font-size: 13px;
  padding: 0px 5px;
  text-indent: inherit;
}

.wrapper-content .basic-wizard .steps ul li:nth-child(1) a {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  margin: 0 20px 0 0px;
  height: 48px;
  line-height: 48px;
  font-size: 13px;
  padding: 0px 9px;
  text-indent: inherit;
}

/* current */
.wrapper-content .basic-wizard .steps ul li.current a:hover:before {
  background: url("../images/wizard-steps-before-cr.png") no-repeat;
}

.wrapper-content .basic-wizard .steps ul li.current a:hover:after {
  background: url("../images/wizard-steps-after-cr.png") no-repeat;
}

/* hover */
.wrapper-content .basic-wizard .steps ul li a:hover:before {
  background: url("../images/wizard-steps-before-hr.png") no-repeat;
}

.wrapper-content .basic-wizard .steps ul li a:hover:after {
  background: url("../images/wizard-steps-after-hr.png") no-repeat;
}

.wrapper-content .controller li .ibox-content .status {
  margin: 0 0 5px;
}

.wrapper-content .controller li .ibox-content .title {
  margin: 0 0 20px;
}

.wrapper-content .controller li .ibox-content .status-active i,
.wrapper-content .controller li .ibox-content hgroup button {
  margin-right: 5px;
}

.wrapper-content .controller li .ibox-content hgroup {
  text-align: right;
}

.slider {
  width: auto;
  margin: 30px 50px 50px;
}

.slick-slide {
  background: red;
  color: #fff;
  padding: 40px 0;
  font-size: 30px;
  font-family: Arial, Helvetica;
  text-align: center;
}

.slick-next:before,
.slick-prev:before {
  color: #000;
}

.slick-dots {
  bottom: -30px;
}

.slick-slide:nth-child(odd) {
  background: #000;
}

.ibox-content #vertical-timeline::before {
  left: 29px;
}

.ibox-content .vertical-timeline-icon i {
  font-size: 20px;
  margin-top: -11px;
  margin-left: -11px;
}

.ibox-content .vertical-timeline-icon {
  width: 60px;
  height: 60px;
}

.ibox-content .vertical-timeline-content p {
  margin: 0;
  width: 83%;
  float: right;
}

.ibox-content .vertical-timeline-content {
  margin-left: 80px;
}

.ibox-content .vertical-timeline-content hgroup {
  float: left;
  min-width: 140px;
  margin-right: 20px;
  margin-left: 10px;
}

.ibox-content .vertical-timeline-content hgroup .btn {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 12px;
  width: 100%;
}

.ibox-content .vertical-timeline-content hgroup .vertical-date {
  font-size: 14px;
  font-weight: lighter;
}

.ibox-content .vertical-timeline-content hgroup .vertical-date small {
  font-size: 12px;
  font-weight: lighter;
}

@media screen and (max-width: 1820px) {
  .wrapper-content .basic-wizard .content .body .stages .times-stages {
    width: 52%;
  }
}

@media screen and (max-width: 1750px) {
  .wrapper-content .basic-wizard .content .body .groups .col-lg-3 label {
    min-height: 46px;
  }
  a {
    color: #000;
  }
}

@media screen and (max-width: 1620px) {
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .group-form {
    width: 30%;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .time-group {
    width: 15%;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .time-group label {
    line-height: 25px !important;
  }
  .wrapper-content .basic-wizard .content .body .stages .times-stages {
    width: 47%;
  }
  .wrapper-content .basic-wizard .content .body .stages .times-stages .group-selectons label {
    width: 24.5%;
  }
}

@media screen and (max-width: 1450px) {
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .group-form {
    width: 29%;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .time-group {
    width: 14%;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .time-group label {
    line-height: 25px !important;
    font-size: 12px;
  }
  .wrapper-content .basic-wizard .content .body .stages .stage-stages {
    margin-right: 0;
    width: 44%;
  }
  .wrapper-content .basic-wizard .content .body .stages .stage-stages .exist-figure {
    margin: 0 10px;
  }
  .wrapper-content .basic-wizard .content .body .stages .stage-stages .exist-figure figure {
    max-width: 145px;
    max-height: 135px;
    min-width: 145px;
    min-height: 135px;
  }
  .wrapper-content .basic-wizard .content .body .stages .stage-stages .upload-figure figure {
    min-height: 135px;
    max-height: 135px;
    min-width: 140px;
    max-width: 140px;
    position: relative;
  }
  .wrapper-content .basic-wizard .content .body .stages .times-stages label {
    font-size: 12px;
  }
  .wrapper-content .basic-wizard .content .body .stages .times-stages {
    width: 49%;
  }
  .wrapper-content .basic-wizard .content .body .stages .times-stages .group-selectons label {
    width: 24.5%;
  }
}

@media screen and (max-width: 1340px) {
  .ibox-content .vertical-timeline-content p {
    width: 80%;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .group-form .form-group label {
    font-size: 11px;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .group-figures figure {
    width: 100%;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .group-form {
    width: 28%;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .time-group {
    width: 15%;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .time-group label {
    line-height: 25px !important;
  }
  .wrapper-content .basic-wizard .content .body .tableless.association-detectors table thead tr td figure {
    height: 100px;
    width: 100px;
    max-height: 100px;
    max-width: 100px;
  }
  .wrapper-content .basic-wizard .content .body .stages .times-stages label {
    font-size: 11px;
  }
  .wrapper-content .basic-wizard .content .body .stages .times-stages {
    width: 48%;
  }
  .wrapper-content .basic-wizard .content .body .stages .times-stages .group-selectons label {
    width: 24.9%;
  }
}

@media screen and (max-width: 1280px) {
  .ibox-content .vertical-timeline-content p {
    width: 75%;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .group-form .form-group label {
    font-size: 11px;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .group-figures figure {
    width: 100%;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .group-form {
    width: 28%;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .time-group {
    width: 15%;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .time-group .wrapper-content .basic-wizard .content .body .stages .times-stages {
    width: 60%;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated nav li .time-group .wrapper-content .basic-wizard .content .body .stages .stage-stages {
    width: 30%;
  }
  .tooltipster-sidetip.tooltipster-error-tag .tooltipster-box {
    background: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 6px;
    box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.4);
  }
  .tooltipster-sidetip.tooltipster-error-tag .tooltipster-content {
    color: #a94442;
    padding: 8px;
  }
  .tooltipster-sidetip.tooltipster-error-tag.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #ebccd1;
  }
  .tooltipster-sidetip.tooltipster-error-tag.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #ebccd1;
  }
  .tooltipster-sidetip.tooltipster-error-tag.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #ebccd1;
  }
  .tooltipster-sidetip.tooltipster-error-tag.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #f2dede;
  }
  .badge.badge-danger.badge-notification {
    font-size: 8px;
    color: white;
  }
  tr td span.badge.badge-danger.badge-notification {
    margin-top: -5px;
  }
  tr td span.badge.badge-danger.badge-notification i {
    font-size: 10px !important;
    color: white !important;
  }
  .container-fluid {
    width: 100%;
  }
  .knob-shape {
    width: 80px !important;
    height: 80px !important;
  }
}

@media screen and (max-width: 996px) {
  .wrapper-content .basic-wizard .content .body .movements .dz-default.dz-message span {
    line-height: 15px;
    padding: 55px 20px;
  }
  .wrapper-content .basic-wizard .content .body .association.tables-associated .ng-scope .group-figures .stage-images {
    padding-left: 5px;
    padding-right: 5px;
  }
  .wrapper-content .basic-wizard .content .body .association.table-entry-green nav li label {
    padding: 0 0 0 7px;
    line-height: 20px;
    height: 20px;
    margin: 0;
    font-size: 13px;
  }
  .wrapper-content .basic-wizard .content .body .association.table-entry-green .ibox-title .m-l {
    margin-left: 0px;
  }
  .wrapper-content .basic-wizard .content .body .association.table-entry-green .ibox-title .right {
    float: none;
  }
}

.badge.badge-danger.badge-estagio-alternativo {
  margin-top: -40px;
}

.remove-tabela-entre-verdes {
  cursor: pointer;
}

.btn-inverse {
  background-color: #c2c2c2;
  color: #fff;
}

.btn-footer {
  min-width: 130px;
}

.padding-top-30 {
  padding: 30px 0;
}

.margin-top-25 {
  margin: 25px 0;
}

td.estagio-ativo {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/* TABELA DIAGONAL  TRANSICOES */
table.table-diagonal:nth-of-type(1) th.diagonal {
  background-color: #e5e5e5 !important;
  background-image: -webkit-linear-gradient(bottom left, transparent 48%, #cacaca, transparent 52%) !important;
  background-image: linear-gradient(to top right, transparent 48%, #cacaca, transparent 52%) !important;
}

.table-wizard {
  border: none !important;
  table-layout: fixed !important;
  display: block !important;
  width: 100%;
  overflow: auto;
}

.alert {
  width: 99%;
  margin: 20px auto;
  padding: 20px;
}

.alert-danger {
  color: #fff;
  background-color: #a94442;
  border-color: #bc6d6b;
  font-weight: 700;
  font-stretch: condensed;
  font-size: 14px;
  box-shadow: 0px 0px 15px #a94442;
}

.alert-danger button.close {
  padding: 0 20px;
}

.botton-title {
  margin-bottom: 20px;
}

.ibox-title {
  text-align: left;
}

.movements h3 {
  text-transform: uppercase;
}

.dropzone {
  position: relative;
  border: 0;
  background: transparent;
}

.dz-default.dz-message span {
  border: 1px dashed #898989;
  margin: 0;
}

.dropzone .dz-default.dz-message {
  position: relative;
  width: 100%;
  height: 250px;
  margin-left: 0;
  margin-top: 0;
  top: 0;
  left: 0;
}

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message span {
  cursor: pointer;
}

.dropzone .dz-preview .dz-details img, .dropzone-previews .dz-preview .dz-details img {
  width: 100%;
  height: auto;
}

.dropzone .dz-preview, .dropzone-previews .dz-preview {
  border: 0;
  padding: 0;
}

.dropzone .dz-preview .dz-progress, .dropzone-previews .dz-preview .dz-progress {
  left: 7px;
  right: 7px;
  height: 5px;
}

.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
  margin-bottom: 5px;
}

.dropzone .dz-preview, .dropzone-previews .dz-preview {
  background: transparent;
  box-shadow: none;
}

.blockUI.blockOverlay {
  z-index: 4000 !important;
}

.blockUI.blockMsg.blockPage {
  border: none !important;
  background-color: transparent !important;
  z-index: 4001 !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.ibox-title {
  border-top: 0;
  border-bottom: 1px solid #e5e5e5;
}

.associacao-modal {
  width: 800px;
}

td.ng-scope {
  text-align: center;
}

ul li span.bubble {
  cursor: pointer;
}

img.sample-img-estagios {
  width: 200px;
  height: 150px;
}

.stage-images figure {
  max-width: 150px;
  background: #dddddd;
}

.stage-images img {
  max-width: 100%;
  max-height: 150px;
}

.stage-images h4 {
  background: #999999;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.stage-images label {
  background: #999999;
  color: #fff;
  text-align: center;
  padding: 5px;
  display: block !important;
  margin: 0 !important;
}

.planos.ui-sortable li.card-estagio.estagio-ativo {
  background: #FFFFFF !important;
  border: 0;
}

.planos.ui-sortable li.card-estagio {
  height: auto !important;
}

.planos.ui-sortable li.card-estagio:hover {
  background: #dddddd;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: transparent;
  border: 0;
}

.planos.ui-sortable li.card-estagio figure {
  width: 150px !important;
  height: 150px !important;
  border: 0 !important;
  margin: 0 0 10px 0 !important;
}

.ui-widget-header {
  background: transparent;
}

.review-page > img {
  float: left;
  margin-right: 10px;
  width: 115px;
}

b.gray-box {
  background: #f5f5f5;
  border: 1px solid #e1e1e1;
  padding: 5px 20px;
  display: inline-block;
}

b.white-box {
  background: #FFFFFF;
  border: 1px solid #e1e1e1;
  padding: 5px 20px;
  display: inline-block;
}

.col-lg-6 .review-page {
  margin-bottom: 20px;
}

.view-group {
  color: #1AB394;
  cursor: default;
}

li.initialTab {
  margin-right: 50px !important;
}

.horarioLeft {
  position: absolute;
  width: 10px;
  height: 100%;
}

.horaStripes {
  background: url(../images/stripe-white.png) repeat;
}

.horario10px {
  width: 10px;
}

.horarioColor1 {
  background-color: #ED0A3F;
}

.horarioColor2 {
  background-color: #03BB85;
}

.horarioColor3 {
  background-color: #b81b6c;
}

.horarioColor4 {
  background-color: #3b17a0;
}

.horarioColor5 {
  background-color: #f26522;
}

.horarioColor6 {
  background-color: #534741;
}

.horarioColor7 {
  background-color: #00a651;
}

+ .horarioColor8 {
  background-color: #A78B00;
}

.horarioColor9 {
  background-color: #FFC1CC;
}

.horarioColor10 {
  background-color: #9966CC;
}

.horarioColor11 {
  background-color: #FF3F34;
}

.horarioColor12 {
  background-color: #FFDF00;
}

.horarioColor13 {
  background-color: #788193;
}

.horarioColor14 {
  background-color: #006A93;
}

.horarioColor15 {
  background-color: #6E7F80;
}

.horarioColor16 {
  background-color: #FF861F;
}

.horarioColor17 {
  background-color: #8B8680;
}

.horarioColor18 {
  background-color: #514E49;
}

.horarioColor19 {
  background-color: #867200;
}

.horarioColor20 {
  background-color: #0070FF;
}

.horarioColor21 {
  background-color: #FBE870;
}

.horarioColor22 {
  background-color: #0A6B0D;
}

.horarioColor23 {
  background-color: #0095B6;
}

.horarioColor24 {
  background-color: #E2B631;
}

.horarioColor25 {
  background-color: #21ABCD;
}

.horarioColor26 {
  background-color: #C5E17A;
}

.horarioColor27 {
  background-color: #8FD8D8;
}

.horarioColor28 {
  background-color: #F4FA9F;
}

.horarioColor29 {
  background-color: #6EEB6E;
}

.horarioColor30 {
  background-color: #85BB65;
}

.horarioColor31 {
  background-color: #01A368;
}

.horarioColor32 {
  background-color: #F653A6;
}

.horarioColor33 {
  background-color: #FED8B1;
}

.horarioColor34 {
  background-color: #FFC800;
}

.horarioColor35 {
  background-color: #32CD32;
}

.horarioColor36 {
  background-color: #76D7EA;
}

.horarioColor37 {
  background-color: #CA3435;
}

.horarioColor38 {
  background-color: #C32148;
}

.horarioColor39 {
  background-color: #CC99BA;
}

.horarioColor40 {
  background-color: #00FF7F;
}

.horarioColor41 {
  background-color: #0066FF;
}

.horarioColor42 {
  background-color: #FFCBA4;
}

.horarioColor43 {
  background-color: #01796F;
}

.horarioColor44 {
  background-color: #00003B;
}

.horarioColor45 {
  background-color: #E5B73B;
}

.horarioColor46 {
  background-color: #8359A3;
}

.horarioColor47 {
  background-color: #CD919E;
}

.horarioColor48 {
  background-color: #E96792;
}

.horarioColor49 {
  background-color: #BC6CAC;
}

.horarioColor50 {
  background-color: #E2E3E4;
}

.horarioColor51 {
  background-color: #996398;
}

.horarioColor52 {
  background-color: #FA9D5A;
}

.horarioColor53 {
  background-color: #FF91A4;
}

.horarioColor54 {
  background-color: #DCCCD7;
}

.horarioColor55 {
  background-color: #FF007F;
}

.horarioColor56 {
  background-color: #AF593E;
}

.horarioColor57 {
  background-color: #A36F40;
}

.horarioColor58 {
  background-color: #404E5A;
}

.horarioColor59 {
  background-color: #EBE1C2;
}

.horarioColor60 {
  background-color: #ECD540;
}

.horarioColor61 {
  background-color: #000000;
}

.horarioColor62 {
  background-color: #FFAE42;
}

.horarioColor63 {
  background-color: #6CDAE7;
}

.horarioColor64 {
  background-color: #A6AAAE;
}

.horarioColor65 {
  background-color: #0FC0FC;
}

.horarioColor66 {
  background-color: #B99685;
}

.horarioColor67 {
  background-color: #746CC0;
}

.horarioColor68 {
  background-color: #0086A7;
}

.horarioColor69 {
  background-color: #3CD070;
}

.ibox-tools a {
  color: #1ab394;
}

.ui-widget-content {
  box-sizing: border-box;
}

.changeRed {
  background: #f49ba6;
  color: #a8515b;
  padding-top: 5px;
  padding-bottom: 5px;
}

.changeRed b.gray-box {
  background: #ea919c;
  border-color: #ea919c;
  color: #9c4450;
}

.changeRed b.white-box {
  background: #f49ba6;
  border-color: #ea919c;
  color: #9c4450;
}

.changeRed i {
  color: #796878;
}

.changeRed img {
  opacity: 0.7;
}

.changeGreen {
  background: #90e4ab;
  color: #3f9259;
  padding-top: 5px;
  padding-bottom: 5px;
}

.changeGreen b.gray-box {
  background: #86daa1;
  border-color: #86daa1;
  color: #3a8d54;
}

.changeGreen b.white-box {
  background: #90e4ab;
  border-color: #86daa1;
  color: #3a8d54;
}

.changeGreen i {
  color: #20bb7a;
}

.changeGreen img {
  opacity: 0.7;
}

.wrapper-content .basic-wizard .content .body .stages .priority label span {
  padding-left: 10px;
  display: table;
  text-transform: uppercase;
}

.wrapper-content .basic-wizard .content .body .stages .priority label div {
  float: left;
}

.wrapper-content .basic-wizard .horarios thead tr th {
  text-align: center;
}

.wrapper-content .basic-wizard .horarios tbody td {
  width: 85px;
}

.wrapper-content .basic-wizard .horarios td.programacao {
  line-height: 1px !important;
  height: 4px !important;
  padding: 0px !important;
  border-top: 0 !important;
  border-left: 1px solid #e7eaec !important;
}

.wrapper-content .basic-wizard .horarios td.programacao-first {
  border-top: 1px solid #e7eaec !important;
}

#myModal .links-revisao {
  display: none !important;
}

tooltip tip {
  min-width: 160px;
}

tip-tip b {
  color: #1ab394;
}

tip-tip span {
  color: #de2424;
}

.wrapper-content .basic-wizard .content .body span.badge.badge-danger.badge-notification.tooltipstered {
  display: block;
  border-radius: 0;
  font-size: 15px;
  position: absolute;
  width: 100%;
  padding: 5px;
  cursor: help;
}

.rs-tooltip.hover, .rs-tooltip.edit:hover {
  border: 1px solid #1ab394;
}

.rs-tooltip .rs-input {
  background: #fff;
  padding: 0px;
  height: 20px !important;
  color: #1ab394;
  font-weight: 600;
}

<<<<<<< 549e4fbb48822ffb653d6645e3be3076d78c3a21
.revisao strong {
  text-transform: uppercase;
=======
#croqui.dropzone .dz-preview, .dropzone-previews .dz-preview {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  padding: 0;
}

#croqui.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: table;
  top: 45px;
}

#croqui.dropzone .dz-preview .dz-details img, .dropzone-previews .dz-preview .dz-details img {
  width: 100%;
  height: auto !important;
}

#croqui {
  padding: 0;
}

#croqui.dropzone .dz-preview .dz-progress, .dropzone-previews .dz-preview .dz-progress {
  top: 6px;
}

#croqui.dropzone .dz-preview .dz-details .dz-size, .dropzone-previews .dz-preview .dz-details .dz-size {
  display: none;
}

#croqui.dropzone .dz-preview a.dz-remove, .dropzone-previews a.dz-remove {
  margin-top: 0;
  position: relative;
}

.wrapper-content .basic-wizard .content .body .movements #croqui .dz-default.dz-message span {
  display: block;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  height: 250px;
  padding: 120px 20px 0 20px;
  margin: 20px 0;
}

.col-lg-12.col-sm-12.croqui.movements {
  height: auto !important;
  min-height: 680px;
  overflow: auto !important;
>>>>>>> dropzone croqui
}
