<div class="container-fluid wrapper wrapper-content animated fadeInRight" data-ng-init="init()">
  <section role="complementary" class="basic-wizard">
    <div class="content clearfix wizard-body">
      <div class="step-content body">
        <fieldset>
          <influunt-tabs class="tabpanel"
                         data-on-activate="selecionaAnelPlanos"
                         data-aneis-ativos="aneis"
                         data-error-check="anelTemErro">
          </influunt-tabs>
          <div class="row">
            <uib-alert type="danger" close="closeAlertAnel(currentAnelIndex, 'all')" data-ng-if="errors.general || errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosDePedestre || errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosVeiculares">
              <div style="padding-left: 12px;">
                <ul>
                  <li data-ng-repeat="message in errors.general">{{ message }}</li>
                </ul>
              </div>
            </uib-alert>
          </div>
          <div class="m-t-md">
            <div class="col-lg-12 col-sm-12 bg-border no-padding">
              <div class="ibox float-e-margins">
                <div class="tabpanel">
                  <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
                    <div class="ui-layout-content tab-content">
                      <div id="tabs-1">
                        <div class="col-lg-12 col-sm-12 ibox-content no-padding">
                          <div class="col-lg-2 col-sm-2 association min-green side-menu">
                            <div class="ibox-title">
                              <h5>Planos</h5>
                              <a class="btn btn-primary btn-xs m-l right" data-toggle="tooltip" data-placement="top" title="Adicionar plano" data-ng-click="adicionarNovoPlano()">
                                <i class="fa fa-plus"></i>
                                Plano
                              </a>
                          </div>
                            <nav>
                              <ul id="side-menu">
                                <li data-ng-repeat="plano in currentPlanos track by plano.idJson"
                                  data-ng-click="selecionaPlano(plano, $index)"
                                  data-ng-class="{active: $index === currentPlanoIndex}">
                                    PLANO {{ plano.posicao }}
                                    <i class="fa fa-times pull-right m-t-sm remove-tabela-entre-verdes" data-ng-if="$index !== 0" data-ng-click="removerPlano(plano, $index)"></i>
                                    <i class="fa fa-files-o pull-right m-t-sm" data-ng-click="duplicarPlano(plano)" aria-hidden="true"></i>
                                </li>
                              </ul>
                            </nav>
                          </div>
                          <div class="col-lg-10 col-sm-10">
                              <div class="col-lg-2 col-sm-2 association table-creation-plans min-green">
                                <article>
                                  <div class="col-lg-12 col-sm-12 no-padding">
                                    <aside>
                                      <div class="form-group">
                                        <label>MODO DE OPERAÇÃO</label>
                                        <select class="form-control" name="modoOperacao" data-ng-model="currentPlano.modoOperacao">
                                          <option value="ATUADO">Atuado</option>
                                          <option value="COORDENADO">Coordenado</option>
                                          <option value="TEMPO_FIXO_ISOLADO">Isolado</option>
                                          <option value="INTERMITENTE">Intermitente</option>
                                          <option value="APAGADO">Apagado</option>
                                        </select>
                                      </div>
                                      <div class="form-group" data-ng-if="currentPlano.modoOperacao !== 'INTERMITENTE' && currentPlano.modoOperacao !== 'APAGADO'">
                                        <label>TABELA DE ENTRE-VERDES</label>
                                        <select class="form-control" name="tabelaEntreverdes" data-ng-model="currentPlano.posicaoTabelaEntreVerde" data-ng-options="tabela.posicao as tabela.descricao for tabela in currentTabelasEntreVerdes">
                                        </select>
                                      </div>

                                      <div class="knob" style="display: block;">
                                        <ng-include src="'views/planos/opcoes-lateral.html'"></ng-include>
                                      </div>
                                    </aside>
                                  </div>
                                </article>
                              </div>
                              <div class="col-lg-10 col-sm-10 no-padding-right">
                                <div class="col-lg-12 col-sm-12 association table-creation-plans">
                                  <section>
                                    <div class="col-lg-12 col-sm-12 no-padding table-create-plan overflow">
                                      <ul class="ui-sortable planos">
                                        <!-- elementos para adicionar novos estágios à sequencia -->
                                        <li class="ui-state-default card-estagio add-card-estagio"
                                            data-ng-repeat="estagio in currentEstagios | estagioForaSequencia:currentEstagiosPlanos"
                                            data-ng-click="adicionarEstagio(estagio)">
                                          <div class="add-card-container">
                                            <p>+E{{ estagio.posicao }}</p>
                                          </div>
                                        </li>

                                        <!-- elementos da sequencia. -->
                                        <div ui-sortable="sortableOptions" data-ng-model="currentEstagiosPlanos" class="sortable-list">
                                          <li class="ui-state-default stage-images card-estagio sortable-card estagio-ativo" 
                                              data-ng-repeat="estagioPlano in currentEstagiosPlanos"
                                              data-ng-click="selecionaEstagioPlano(estagioPlano, $index)">
                                            <div class="sortable">
                                                <h4 class="ng-binding">
                                                  E{{ getEstagio(estagioPlano).posicao }}
                                                  <i class="fa fa-trash pull-right opcoes-plano-estagio" data-ng-click="removerEstagioPlano(estagioPlano, $index)" data-ng-if="currentEstagiosPlanos.length > 2"></i>
                                                  <i class="fa fa-files-o pull-right opcoes-plano-estagio" data-ng-click="adicionarEstagioPlano(estagioPlano)" aria-hidden="true"></i>
                                                </h4>
                                              <figure>
                                                <img ng-src="{{ getImagemDeEstagio(estagioPlano) }}" width="100%">
                                              </figure>
                                              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
                                                <i class="fa fa-cog" />
                                                Configurar
                                              </button>
                                            </div>
                                          </li>
                                        </div>
                                      </ul>
                                    </div>
                                  </section>
                                </div>

                                <div class="col-lg-12 col-sm-12 association plans stage-time m-t-md">
                                  <div class="ibox-title">
                                    <h5>Tabela de Planos</h5>
                                    <ng-include src="'views/planos/header-buttons.html'" class="right"></ng-include>
                                  </div>

                                  <section>
                                    <div class="col-lg-12 col-sm-12 no-padding table-create-plan overflow">
                                      <ng-include src="'views/planos/tabela-planos.html'"></ng-include>
                                    </div>
                                  </section>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-12 no-pading pg-bt m-t-lg">
            <a data-ng-click="submitForm()" class="btn btn-primary btn-footer right m-r-sm right">{{ 'geral.crud.salvar' | translate }}</a>
          </div>

          <!-- MODAL -->
          <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                  <ng-include src="'views/planos/opcoes-inferior.html'"></ng-include>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>

        </fieldset>
      </div>
    </div>
  </section>
</div>
