<div class="container-fluid wrapper wrapper-content animated fadeInRight" data-ng-init="init()">
  <section role="complementary" class="basic-wizard">
    <div class="content clearfix wizard-body">
      <div class="step-content tabs-container body">
        <fieldset>

          <div class="row" ng-if="somenteVisualizacao">
            <div class="col-sm-12 col-lg-12 actions clearfix padding-right-20">
              <div class="right">
                <a class="btn btn-primary" tooltips tooltip-side="bottom" tooltip-template="{{ 'geral.tooltip.ver' | translate }} {{ 'controladores.geral.historico' | translate }}" type="button" data-target="#modal-timeline" data-toggle="modal">
                  <i class="fa fa-code-fork"></i> {{ 'controladores.geral.historico' | translate }}
                </a>
                <a class="btn btn-primary" tooltips tooltip-side="bottom" tooltip-template="{{ 'geral.tooltip.editar' | translate }} {{ 'controladores.geral.planos' | translate }}"  type="button" ng-click="editarPlano(objeto.id)" data-ng-if="currentVersaoPlano.statusVersao === 'EDITANDO' || currentVersaoPlano.statusVersao === undefined">
                  <i class="fa fa-edit"></i> {{ 'crud.editar' | translate }}
                </a>
                <a class="btn btn-primary " tooltips tooltip-side="bottom" tooltip-template="{{ 'geral.tooltip.editar' | translate }} {{ 'controladores.geral.planos' | translate }}"  type="button" ng-click="clonarPlanos(objeto.id)" data-ng-if="currentVersaoPlano.statusVersao === 'ATIVO'">
                  <i class="fa fa-edit"></i> {{ 'crud.editar' | translate }}
                </a>
              </div>
            </div>
          </div>

          <div class="row" ng-if="!somenteVisualizacao">
            <div class="col-sm-12 col-lg-12 actions clearfix padding-right-20">
              <div class="right">
                <a class="btn btn-primary btn-danger"
                   tooltips tooltip-side="bottom" tooltip-template="{{ 'controladores.geral.cancelarEdicao' | translate }} {{ 'controladores.geral.planos' | translate }}"
                   type="button" data-ng-if="currentVersaoPlano.statusVersao === 'EDITANDO' || objeto.versoesPlanos.length > 1" ng-click="cancelarEdicao(currentPlano.idJson)">
                  <i class="fa fa-trash"></i> {{ 'controladores.geral.cancelarEdicao' | translate }}
                </a>
              </div>
            </div>
          </div>

          <influunt-tabs class="tabpanel"
                         data-on-activate="selecionaAnelPlanos"
                         data-aneis-ativos="aneis"
                         data-error-check="anelTemErro">
          </influunt-tabs>

            <div class="col-lg-12 col-sm-12 ibox white-bg no-padding">
              <div class="ibox float-e-margins">
                <div class="tabpanel">
                  <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
                    <div class="ui-layout-content tab-content">
                      <div id="tabs-1">
                        <div class="col-lg-12 col-sm-12 ibox-content no-padding">

                          <div class="col-lg-2 col-sm-3 association min-green side-menu">
                            <nav>
                              <ul id="side-menu" class="menu-planos">
                                <li data-ng-repeat="plano in currentPlanos track by plano.idJson"
                                  data-ng-click="selecionaPlano(plano, $index)"
                                  data-ng-class="{active: $index === currentPlanoIndex}"
                                  class="item-menu">
                                    <input type="checkbox" ichecks data-ng-model="plano.configurado" data-if-unchecked="resetarPlano(plano, $index)" data-is-disabled="$first" data-if-changed="selecionaPlano(plano, $index)" ng-if="!somenteVisualizacao">
                                    <span class="nome-plano" data-ng-class="{configurado: plano.configurado}">
                                      {{'tabelaHorarios.plano' | translate}} {{ plano.posicao }}
                                    </span>
                                    <span class="badge badge-danger badge-notification pull-right m-t-sm"
                                        data-ng-if="errors.aneis[currentAnelIndex].versoesPlanos[currentVersaoPlanoIndex].planos[$index]"
                                        style="margin-left: .3em;">
                                      <i class="fa fa-exclamation"></i>
                                    </span>

                                    <!-- copiar plano. -->
                                    <i class="fa fa-files-o pull-right m-t-sm"
                                        data-ng-click="copiarPlano(plano)"
                                        data-ng-if="plano.configurado && !somenteVisualizacao"
                                        data-toggle="modal" data-target="#modal-copiar-plano"
                                        aria-hidden="true">
                                    </i>

                                    <!-- renomear plano. -->
                                    <i class="fa fa-pencil pull-right m-t-sm"
                                        data-ng-click="renomearPlano(plano)"
                                        data-ng-if="plano.configurado && !somenteVisualizacao"
                                        aria-hidden="true">
                                    </i>
                                    <span class="desc-plano">{{ plano.descricao }}</span>
                                </li>
                              </ul>
                            </nav>
                          </div>
                          <div class="col-lg-10 col-sm-9" data-ng-if="currentPlano.configurado">
                            <div class="col-l-12 col-sm-12 border-bottom p-sm">
                              <h1>{{'tabelaHorarios.plano' | translate}} {{ plano.posicao }} - {{ plano.descricao }}</h1>
                            </div>
                            <div class="col-lg-2 col-sm-3">
                              <article>
                                <div class="col-lg-12 col-sm-12 no-padding">
                                  <aside>
                                    <div class="form-group">
                                      <label>{{'planos.modoOperacao' | translate}}</label>
                                      <select class="form-control" name="modoOperacao" data-ng-model="currentPlano.modoOperacao" data-ng-change="limpaDadosPlano()" ng-disabled="somenteVisualizacao">
                                        <option value="ATUADO">
                                          {{'planos.modosOperacao.atuado' | translate}}
                                        </option>
                                        <option value="TEMPO_FIXO_COORDENADO">
                                          {{'planos.modosOperacao.tempoFixoCoordenado' | translate}}
                                        </option>
                                        <option value="TEMPO_FIXO_ISOLADO">
                                          {{'planos.modosOperacao.tempoFixoIsolado' | translate}}
                                        </option>
                                        <option value="INTERMITENTE">
                                          {{'planos.modosOperacao.intermitente' | translate}}
                                        </option>
                                        <option value="APAGADO">
                                          {{'planos.modosOperacao.apagado' | translate}}
                                        </option>
                                      </select>
                                    </div>
                                    <div class="form-group" data-ng-if="currentPlano.modoOperacao !== 'INTERMITENTE' && currentPlano.modoOperacao !== 'APAGADO'">
                                      <label>{{'controladores.entreVerdes.titulo' | translate}}</label>
                                      <select class="form-control" name="tabelaEntreverdes" data-ng-model="currentPlano.posicaoTabelaEntreVerde" data-ng-options="tabela.posicao as tabela.descricao for tabela in currentTabelasEntreVerdes" ng-disabled="somenteVisualizacao">
                                      </select>
                                    </div>

                                    <div class="knob" style="display: block;">
                                      <ng-include src="'views/planos/opcoes-lateral.html'"></ng-include>
                                    </div>
                                  </aside>
                                </div>
                              </article>
                            </div>
                            <div class="col-lg-10 col-sm-9 no-padding-right">
                              <div class="col-lg-12 col-sm-12 association table-creation-plans">
                                <section>


                                  <div class="col-lg-12 col-sm-12 no-padding table-create-plan overflow panel-estagios">
                                    <uib-alert type="danger" data-ng-if="getErrosPlanos(errors.aneis[currentAnelIndex].versoesPlanos[currentVersaoPlanoIndex].planos[currentPlanoIndex]).length > 0">
                                      <div style="padding-left: 12px;">
                                        <ul>
                                          <li data-ng-repeat="message in getErrosPlanos(errors.aneis[currentAnelIndex].versoesPlanos[currentVersaoPlanoIndex].planos[currentPlanoIndex])">{{ message }}</li>
                                        </ul>
                                      </div>
                                    </uib-alert>

                                    <ul class="ui-sortable planos">
                                      <!-- elementos para adicionar novos estágios à sequencia -->
                                      <li class="ui-state-default card-estagio add-card-estagio"
                                          data-ng-repeat="estagio in currentEstagios | estagioForaSequencia:currentEstagiosPlanos"
                                          data-ng-click="adicionarEstagio(estagio)">
                                        <div class="add-card-container">
                                          <p>+E{{ estagio.posicao }}</p>
                                        </div>
                                      </li>

                                      <!-- elementos da sequencia. -->
                                      <div ui-sortable="sortableOptions" data-ng-model="currentEstagiosPlanos" class="sortable-list">
                                        <li class="ui-state-default stage-images card-estagio sortable-card"
                                            data-ng-repeat="estagioPlano in currentEstagiosPlanos"
                                            data-ng-click="selecionaEstagioPlano(estagioPlano, $index)"
                                            data-ng-class="{'origem-transicao-proibida': estagioPlano.origemTransicaoProibida, 'destino-transicao-proibida': estagioPlano.destinoTransicaoProibida}">
                                          <div class="sortable">
                                              <h4 class="ng-binding" id="E{{ getEstagio(estagioPlano).posicao }}">
                                                <span class="badge badge-danger"
                                                  data-ng-if="getErrosEstagiosPlanos($index)"
                                                  inf-tooltip
                                                  messages="getErrosEstagiosPlanos($index)">
                                                  <i class="fa fa-exclamation"></i>
                                                </span>
                                                E{{ getEstagio(estagioPlano).posicao }}
                                                <i class="fa fa-trash pull-right opcoes-plano-estagio" data-ng-click="removerEstagioPlano(estagioPlano, $index)" data-ng-if="(currentEstagiosPlanos.length > 2) && !somenteVisualizacao"></i>
                                                <i class="fa fa-files-o pull-right opcoes-plano-estagio" data-ng-click="adicionarEstagioPlano(estagioPlano)" aria-hidden="true" ng-if="!somenteVisualizacao"></i>
                                              </h4>
                                            <figure>
                                              <img ng-src="{{ getImagemDeEstagio(estagioPlano) }}" width="100%">
                                            </figure>
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-configuracao-estagio" ng-disabled="somenteVisualizacao">
                                              <i class="fa fa-cog" />
                                              {{'crud.configurar' | translate}}
                                            </button>
                                            <button type="button" class="btn btn-primary btn-xs" data-ng-click="leftEstagio($index)" ng-disabled="$first || somenteVisualizacao">
                                              <i class="fa fa-arrow-left" />
                                            </button>
                                            <button type="button" class="btn btn-primary btn-xs" data-ng-click="rightEstagio($index)"  ng-disabled="$last || somenteVisualizacao">
                                              <i class="fa fa-arrow-right" />
                                            </button>
                                          </div>
                                        </li>
                                      </div>
                                    </ul>
                                  </div>
                                </section>
                              </div>
                              <div class="col-lg-12 col-sm-12 association plans stage-time m-t-md" data-ng-if="currentPlano.modoOperacao !== 'ATUADO'">
                                <div class="ibox-title">
                                  <h5>{{ 'diagramaIntervalos.titulo' | translate }}</h5>
                                  <ng-include src="'views/planos/header-buttons.html'" class="right"></ng-include>
                                </div>

                                <section>
                                  <div class="col-lg-12 col-sm-12 no-padding table-create-plan overflow">
                                    <ng-include src="'views/planos/tabela-planos.html'"></ng-include>
                                  </div>
                                </section>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          <div class="col-sm-12 col-lg-12 no-pading pg-bt m-t-lg" ng-if="!somenteVisualizacao">
            <div class="right">
              <a tooltips tooltip-template="Descartar" ui-sref="app.controladores" class="btn btn-outline btn-info btn-footer right m-r-sm right">
                {{ 'tabelaHorarios.descartar' | translate }}
              </a>
              <a disabled="disabled" tooltips tooltip-template="É necessário resolver todos os problemas antes de salvar" data-ng-if="dadosDiagrama.erros.length > 0" class="btn btn-primary btn-footer m-r-sm right">
                {{ 'geral.crud.salvar' | translate }}
              </a>
              <a data-ng-click="submitForm()" go-to-top class="btn btn-primary btn-footer m-r-sm right" data-ng-if="dadosDiagrama.erros.length === 0">
                {{ 'geral.crud.salvar' | translate }}
              </a>
            </div>
          </div>





          <!-- MODAIS -->
          <!-- copia de planos. -->
          <div class="modal inmodal" id="modal-copiar-plano" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                  <h3>{{ 'planos.copiarPlano.mensagem' | translate }}<strong>{{ planoCopiado.descricao }}</strong></h3>
                  <div class="form-group">
                    <div class="col-sm-12 form-group">
                      <select select2
                          name="controladores" class="form-control"
                          data-ng-options="option as option.descricao for option in currentPlanos track by option.idJson"
                          data-ng-model="planosDestino"
                          multiple="multiple"
                          style="width: 100%;">
                      </select>
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="confirmacaoCopiarPlano()">
                    {{ 'geral.crud.copiar' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- configuracao de estagios -->
          <div class="modal inmodal" id="modal-configuracao-estagio" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                  <h3>{{ currentEstagioPlano.posicao }}&ordm; {{ 'planos.estagioSequencia' | translate }} - {{ 'controladores.geral.prefixoEstagio' | translate }}{{ getEstagio(currentEstagioPlano).posicao }}</h3>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <ng-include src="'views/planos/opcoes-inferior.html'"></ng-include>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">
                    {{ 'geral.crud.fechar' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /MODAIS -->

          <!-- timeline -->
          <influunt-modal-timeline></influunt-modal-timeline>
          <!-- /MODAIS -->
        </fieldset>
      </div>
    </div>
  </section>
</div>
