<nav class="plans">
    <div class="btn-group">
      <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle" aria-expanded="false">Legenda <span class="caret"></span></button>
      <ul class="dropdown-menu pull-right subnav">
        <li><p>VERDE</p><span class="green"></span></li>
        <li><p>AMARELO</p><span class="yellow"></span></li>
        <li><p>VERMELHO DE LIMPEZA</p><span class="red-cleaning"></span></li>
        <li><p>VERMELHO INTERMITENTE</p><span class="red-flashing"></span></li>
        <li><p>VERMELHO</p><span class="red"></span></li>
        <li><p>AMARELO INTERMITENTE</p><span class="yellow-flashing"></span></li>
        <li><p>APAGADO</p><span class="wiped"></span></li>
      </ul>
    </div>
</nav>
