<div class="text-center" data-ng-if="currentPlano.modoOperacao === 'COORDENADO'">
  <div class="knob-item col-lg-12 col-sm-12">
    <influunt-knob ng-model="currentPlano.tempoCiclo"
      min="min" max="max"
      title="TEMPO DE CICLO" label="SEG">
    </influunt-knob>
  </div>
  <div class="knob-item col-lg-12 col-sm-12">
    <influunt-knob ng-model="currentPlano.defasagem"
      min="objeto.defasagemMin" max="objeto.defasagemMax"
      title="DEFASAGEM" label="SEG">
    </influunt-knob>
  </div>
</div>

<div class="text-center" data-ng-if="currentPlano.modoOperacao === 'TEMPO_FIXO_ISOLADO'">
  <div class="knob-item col-lg-12 col-sm-12">
    <influunt-knob ng-model="currentPlano.tempoCiclo"
      min="min" max="max"
      title="TEMPO DE CICLO" label="SEG">
    </influunt-knob>
  </div>
</div>
