<div class="text-center" data-ng-if="currentPlano.modoOperacao === 'ATUADO'">
  <div class="knob-item col-lg-2 col-sm-2">
    <influunt-knob ng-model="currentSequenciaEstagios[currentPlanoEstagioIndex].tempoVerdeMinimo"
      min="objeto.verdeMinimoMin" max="objeto.verdeMinimoMax"
      title="TEMPO DE VERDE MIN." label="SEG">
    </influunt-knob>
  </div>

  <div class="knob-item col-lg-2 col-sm-2">
    <influunt-knob ng-model="currentSequenciaEstagios[currentPlanoEstagioIndex].tempoVerdeMaximo"
      min="objeto.verdeMaximoMin" max="objeto.verdeMaximoMax"
      title="TEMPO DE VERDE MAX." label="SEG">
    </influunt-knob>
  </div>

  <div class="knob-item col-lg-2 col-sm-2">
    <influunt-knob ng-model="currentSequenciaEstagios[currentPlanoEstagioIndex].tempoVerdeIntermediario"
      min="objeto.verdeIntermediarioMin" max="objeto.verdeIntermediarioMax"
      title="TEMPO DE VERDE INTERMEDIÁRIO" label="SEG">
    </influunt-knob>
  </div>

  <div class="knob-item col-lg-2 col-sm-2">
    <influunt-knob ng-model="currentSequenciaEstagios[currentPlanoEstagioIndex].tempoExtensaoVerde"
      min="objeto.extensaVerdeMin" max="objeto.extensaVerdeMax"
      title="EXTENSÃO DE VERDE" label="SEG">
    </influunt-knob>
  </div>

  <div class="col-lg-3 col-sm-3">
    <div class="form-group">
      <label>ESTÁGIO DISPENSÁVEL</label>
      <p>
        <input type="checkbox" name="dispensavel"
            data-ng-model="currentSequenciaEstagios[currentPlanoEstagioIndex].dispensavel" ichecks>
      </p>
    </div>
  </div>
</div>

<div class="text-center" data-ng-if="currentPlano.modoOperacao === 'COORDENADO'">
  <div class="knob-item col-lg-2 col-sm-2">
    <influunt-knob ng-model="currentSequenciaEstagios[currentPlanoEstagioIndex].tempoVerde"
      min="objeto.verdeMin" max="objeto.verdeMax"
      title="TEMPO DE VERDE" label="SEG">
    </influunt-knob>
  </div>

  <div class="col-lg-3 col-sm-3">
    <div class="form-group">
      <label>ESTÁGIO DISPENSÁVEL</label>
      <p>
        <input type="checkbox" name="dispensavel"
            data-ng-model="currentSequenciaEstagios[currentPlanoEstagioIndex].dispensavel" ichecks>
      </p>
    </div>
  </div>
  <div class="col-lg-3 col-sm-3">
    <div class="form-group" data-ng-if="currentSequenciaEstagios[currentPlanoEstagioIndex].dispensavel">
      <label>ESTÁGIO QUE RECEBE TEMPO DO ESTÁGIO DISPENSÁVEL</label>
      <select data-ng-options="estagio as 'E' + estagio.posicao for estagio in opcoesEstagiosDisponiveis"
        data-ng-model="currentSequenciaEstagios[currentPlanoEstagioIndex].tipoEstagioDispensavel"
        name="tipoEstagio" class="form-control">
      </select>
    </div>
  </div>
</div>

<div class="text-center" data-ng-if="currentPlano.modoOperacao === 'TEMPO_FIXO_ISOLADO'">
  <div class="knob-item col-lg-2 col-sm-2">
    <influunt-knob ng-model="currentSequenciaEstagios[currentPlanoEstagioIndex].tempoVerde"
      min="objeto.verdeMin" max="objeto.verdeMax"
      title="TEMPO DE VERDE" label="SEG">
    </influunt-knob>
  </div>

  <div class="col-lg-3 col-sm-3">
    <div class="form-group">
      <label>ESTÁGIO DISPENSÁVEL</label>
      <p>
        <input type="checkbox" name="dispensavel"
            data-ng-model="currentSequenciaEstagios[currentPlanoEstagioIndex].dispensavel" ichecks>
      </p>
    </div>
  </div>
  <div class="col-lg-3 col-sm-3">
    <div class="form-group" data-ng-if="currentSequenciaEstagios[currentPlanoEstagioIndex].dispensavel">
      <label>ESTÁGIO QUE RECEBE TEMPO DO ESTÁGIO DISPENSÁVEL</label>
      <select data-ng-options="estagio as 'E' + estagio.posicao for estagio in opcoesEstagiosDisponiveis"
        data-ng-model="currentSequenciaEstagios[currentPlanoEstagioIndex].tipoEstagioDispensavel"
        name="tipoEstagio" class="form-control">
      </select>
    </div>
  </div>
</div>
