<div class="text-center" data-ng-if="currentPlano.modoOperacao === 'ATUADO'">
  <div class="knob-item col-lg-3 col-sm-3">
    <influunt-knob ng-model="currentEstagioPlano.tempoVerdeMinimo"
      min="objeto.verdeMinimoMin" max="objeto.verdeMinimoMax"
      title="TEMPO DE VERDE MIN." label="SEG" read-only="somenteVisualizacao">
    </influunt-knob>
  </div>

  <div class="knob-item col-lg-3 col-sm-3">
    <influunt-knob ng-model="currentEstagioPlano.tempoVerdeMaximo"
      min="objeto.verdeMaximoMin" max="objeto.verdeMaximoMax"
      title="TEMPO DE VERDE MAX." label="SEG" read-only="somenteVisualizacao">
    </influunt-knob>
  </div>

  <div class="knob-item col-lg-3 col-sm-3">
    <influunt-knob ng-model="currentEstagioPlano.tempoVerdeIntermediario"
      min="objeto.verdeIntermediarioMin" max="objeto.verdeIntermediarioMax"
      title="TEMPO DE VERDE INTERMEDIÁRIO" label="SEG" read-only="somenteVisualizacao">
    </influunt-knob>
  </div>

  <div class="knob-item col-lg-3 col-sm-3">
    <influunt-knob ng-model="currentEstagioPlano.tempoExtensaoVerde"
      min="objeto.extensaVerdeMin" max="objeto.extensaVerdeMax"
      title="EXTENSÃO DE VERDE" label="SEG" read-only="somenteVisualizacao">
    </influunt-knob>
  </div>
</div>
<div class="text-center" data-ng-if="currentPlano.modoOperacao === 'TEMPO_FIXO_COORDENADO' || currentPlano.modoOperacao === 'TEMPO_FIXO_ISOLADO'">
  <div class="knob-item col-lg-3 col-sm-3">
    <influunt-knob ng-model="currentEstagiosPlanos[currentEstagioPlanoIndex].tempoVerde"
      min="objeto.verdeMin" max="objeto.verdeMax"
      title="TEMPO DE VERDE" label="SEG" read-only="somenteVisualizacao"
      mostrar-percentual="true"
      max-percentual="currentPlano.tempoCiclo">
    </influunt-knob>
  </div>
</div>

<div class="text-center" data-ng-if="currentPlano.modoOperacao === 'TEMPO_FIXO_COORDENADO' || currentPlano.modoOperacao === 'TEMPO_FIXO_ISOLADO' || currentPlano.modoOperacao === 'ATUADO'">
  <div class="col-lg-3 col-sm-3">
    <div class="form-group">
      <label>ESTÁGIO DISPENSÁVEL</label>
      <p>
        <input type="checkbox" name="dispensavel" is-disabled="somenteVisualizacao"
            data-ng-model="currentEstagioPlano.dispensavel" ichecks>
      </p>
    </div>
  </div>
  <div class="col-lg-6 col-sm-6" data-ng-if="currentPlano.modoOperacao === 'TEMPO_FIXO_COORDENADO'">
    <div class="form-group" data-ng-if="currentEstagioPlano.dispensavel">
      <label>ESTÁGIO QUE RECEBE TEMPO DO ESTÁGIO DISPENSÁVEL</label>
      <select data-ng-options="estagio.idJson as 'E' + estagio.posicao for estagio in opcoesEstagiosDisponiveis"
        data-ng-model="currentEstagioPlano.estagioQueRecebeEstagioDispensavel.idJson"
        name="tipoEstagio" class="form-control" ng-disabled="somenteVisualizacao">
      </select>
    </div>
  </div>
</div>
