<ul ui-sortable="sortableOptions" data-ng-model="currentPlano.sequenciaEstagios" class="ui-sortable planos">
  <li class="ui-state-default card-estagio" data-ng-repeat="estagio in currentPlano.sequenciaEstagios"
      data-ng-class="{'estagio-ativo': $index === currentEstagioIndex}"
      data-ng-click="selecionaEstagio($index)">
    <header class="sortable-header" role="heading">
      <p class="ng-binding">E{{ estagio.posicao }}</p>
    </header>
    <figure>
      <img ng-src="{{ estagio.imagem.id | imageSource }}" width="150">
    </figure>
  </li>
</ul>

<div vis id="visualization"
  grupos="dadosDiagrama.gruposSemaforicos" estagios="dadosDiagrama.estagios"
  style="margin: 10px; margin-top: 0px;"
  class="white-bg">
</div>
