<!-- Wrapper-->
<div id="wrapper" class="top-navigation">

    <!-- Navigation -->
    <div ng-include="'views/common/top_navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg page-{{$state.current.name.replace('app.', '')}}">
        <toaster-container></toaster-container>
        <ng-include src="'views/common/breadcrumbs.html'"></ng-include>
        <ng-include src="'views/common/paho-disconnected-warning.html'"></ng-include>

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
<ng-include src="'views/common/modal-idle-warning.html'"></ng-include>
