<div class="dz-preview dz-processing dz-image-preview" data-anel-id="{{ data.idAnel }}">
  <div class="dz-details">
    <div class="dz-filename"><span data-dz-name="">{{ data.nome }}</span>
    </div>
    <div class="dz-size" data-dz-size=""><strong>9.4</strong> KiB</div> <img data-dz-thumbnail="" alt="{{ data.nome }}" src="{{ data.source | imageSource }}"> </div>
  <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress="" style="width: 100%;"></span>
  </div>
  <div class="dz-success-mark"><span>✔</span>
  </div>
  <div class="dz-error-mark"><span>✘</span>
  </div>
  <div class="dz-error-message"><span data-dz-errormessage=""></span>
  </div>
</div>
