<footer class="table-footer">
  <div class="row">

    <div class="col-md-6 page-num-info">
      <span data-ng-if="!esconderPerPage">
        {{ 'geral.crud.itensPorPagina' | translate }}
        <input type="number" min="0" step="1" ng-model="pagination.perPage" data-ng-change="onPerPageChange()">
      </span>
    </div>

    <div class="col-md-6 text-right pagination-container">
      <ul class="pagination-sm"
          uib-pagination
          previous-text="Anterior"
          next-text="Próximo"
          total-items="pagination.totalItems"
          items-per-page="pagination.perPage"
          ng-model="pagination.current"
          num-pages="pagination.numPages"
          max-size="pagination.maxSize"
          boundary-link-numbers="true"
          data-ng-change="onPageChange()"
          rotate="false">
      </ul>
    </div>

  </div>
</footer>
