<div class="row border-bottom white-bg">
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <i class="fa fa-reorder"></i>
      </button>
      <!-- <a href="#" class="navbar-brand"> -->
      <a class="navbar-brand" ui-sref="app.main">
        <img src="images/logo-claro-horizontal.png" alt="{{ 'appname' | translate }}" class="img-responsive" style="height:23px;">
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li uib-dropdown data-ng-repeat="menu in menus">
          <a ui-sref="{{ menu.route }}" data-ng-if="!menu.children">{{ menu.label | translate | uppercase }}</a>
          <a href uib-dropdown-toggle data-ng-if="menu.children">{{ menu.label | translate | uppercase }}<span class="caret"></span></a>
          <ul role="menu" uib-dropdown-menu data-ng-if="menu.children">
            <li data-ng-repeat="submenu in menu.children">
              <a ui-sref="{{ submenu.route }}">{{ submenu.label | translate }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-right">
        <li uib-dropdown>
            <a class="count-info" href uib-dropdown-toggle>
                <i class="fa fa-user"></i>{{getUsuario().login}}
                <b class="caret"></b>
            </a>
            <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                <li><a ui-sref="app.usuarios_edit({id: getUsuario().id})">{{ 'usuarios.editar_perfil' | translate }}</a></li>
            </ul>
        </li>
        <li>
          <a data-ng-click="sair()">
            <i class="fa fa-sign-out"></i> {{ 'menu.sair' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
