.dropzone {
  border: 0;
  background: transparent;
}

.dropzone.dz-clickable {
  max-height: none;
  padding-right: 20px;
  padding-left: 150px;
  width: 100%;
  height: auto;
}

.dz-default.dz-message span {
  border: 1px dashed #898989;
  margin: 0;
}

.dropzone .dz-preview, .dropzone-previews .dz-preview {
  width: 150px;
  height: 150px;
  margin: 7px 10px;
  display: table-cell;
  padding: 7px;
}

.dropzone .dz-default.dz-message {
  position: absolute;
  width: 100%;
  height: 100px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
  top: 0;
  left: 0;
}

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message span {
  cursor: pointer;
}

.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: block;
}

.dropzone .dz-preview .dz-details img, .dropzone-previews .dz-preview .dz-details img {
  width: 150px;
  height: 150px !important;
}

.dropzone .dz-filename span {
  display: none;
}

.dropzone .dz-preview a.dz-remove, .dropzone-previews a.dz-remove{
  margin-top: -5px;
}

.dropzone .dz-preview .dz-progress, .dropzone-previews .dz-preview .dz-progress {
  top: 152px;
}

.img-preview-sm {
  height: 300px;
  width: 100%;
  overflow: auto;
  background: #f2f4f5;
}

.img-preview.img-preview-sm img {
  width: 100%;
}
