li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active {
  background: #1AB394;
  padding: 0px;
  border-radius: 20px 20px 0 0;
  z-index: 99;
  box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.3);
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active {
  height: 45px;
  background: #1AB394;
  padding: 0px;
  border-radius: 20px 20px 0 0;
  z-index: 99;
  box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.3);
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active a {
  padding: 15px 30px 15px 20px;
  background: transparent;
  color: #fff;
  border: none;
  border: 0;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab {
  background: #e7eaec;
  padding: 0px;
  border-radius: 20px 20px 0 0;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab {
  background: #e7eaec;
  padding: 0px;
  border-radius: 20px 20px 0 0;
  height: 45px;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab a {
  color: #c8c8c8;
  background: transparent;
  padding: 15px 30px 15px 20px;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-state-hover {
  background: #cccccc;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-state-hover a {
  color: #fff;
}

li.addTab.button.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab {
  margin-left: 15px;
  border-radius: 100px;
  padding: 0px 40px 0px 0px;
  background: #1AB394;
  font-size: 16px;
  margin-top: 8px;
  height: auto;
}

li.addTab.button.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab a {
  color: #ffffff;
  padding: 5px 15px 5px 13px;
}

.tabs-container .nav-tabs {
  border-bottom: 3px solid #1ab394;
  padding-bottom: 1px;
}

li.ui-tabs-tab {
  span.ui-icon.ui-icon-circle-close {
    position: absolute;
    top: -37px;
    right: 0px;
    font-size: 16px;
  }

  span.badge.badge-danger.badge-notification {
      position: absolute;
      top: 0px;
      left: 6px;
      border-radius: 0;
  }
}

li.ui-state-active {
  span.ui-icon.ui-icon-circle-close {
    top: -34px;
  }
}
