.influunt-map {
  border: 1px solid black;
  width: 100%;
  height: 280px;
}

.influunt-map.large {
  height: 450px;
}

.influunt-map .leaflet-marker-icon.disabled {
  opacity: 0.3;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-label-overlay {
  line-height: 0px;
  margin-top: 9px;
  position: absolute;
}
