<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder>
      <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="WARN" />
  <logger name="application" level="INFO" />
  <logger name="org.hibernate.type" level="WARN" />
  <logger name="org.hibernate" level="WARN" />
  <logger name="org.hibernate.SQL"  level="WARN" />
  <logger name="com.zaxxer.hikari" level="WARN"/>
  <logger name="org.mongodb.driver" level="WARN"/>
  <logger name="Influunt" level="INFO"/>


  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="org.avaje.ebean.TXN" level="WARN" />
  <logger name="org.avaje.ebean.SQL" level="WARN"/>
  <logger name="com.avaje.ebeaninternal.server.deploy.parse.DeployCreateProperties" level="WARN" />
  <logger name="com.avaje.ebeaninternal.server.deploy.BeanDescriptorManager" level="WARN" />
  <logger name="com.avaje.ebeaninternal.server.core.DefaultContainer" level="WARN" />
  <logger name="com.avaje.ebean.dbmigration.DdlRunner" level="WARN" />
  <logger name="akka.event.slf4j.Slf4jLogger" level="WARN" />
  <logger name="org.reflections.Reflections" level="WARN" />
  <logger name=" os72c.client.handlers.*" level="WARN" />
  <logger name="akka.actor" level="WARN" />


  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />


  <logger name="org.jdbcdslog.ConnectionLogger" level="OFF"  /> <!-- Won' logger connections -->
  <logger name="org.jdbcdslog.StatementLogger"  level="OFF" /> <!-- Will logger all statements -->
  <logger name="org.jdbcdslog.ResultSetLogger"  level="OFF"  /> <!-- Won' logger result sets -->

  <root level="WARN">
    <appender-ref ref="ASYNCFILE" />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
