<pesquisa-lateral
    data-ng-model="pesquisaPermissoes.filtro"
    campos="pesquisaPermissoes.campos"
    on-close="show()">
</pesquisa-lateral>

<div id="form" data-ng-init="inicializaPermissoes()">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>
              {{ pageTitle | translate }}
              <small style="margin-left: 2px;">{{ objeto.nome }} - #{{ minid }}</small>
            </h5>
          </div>
          <div class="ibox-content">
            <div class="widget-box">
              <div class="widget-body">
                <div class="widget-main">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th sortable-th
                          data-ng-model="pesquisaPermissoes"
                          data-name="descricao"
                          data-label="{{ 'perfis.permissoes.descricao' | translate }}"
                          data-ng-click="show()">
                        </th>
                        <th>{{ 'perfis.permissoes.permite' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="role in roles">
                        <td>{{ role.nome }}</td>
                        <td width="5%">
                          <input type="checkbox"
                                 ichecks
                                 data-ng-model="rolesAtivados[role.id]"
                                 data-if-checked="atualizarPermissoes()"
                                 data-if-unchecked="atualizarPermissoes()">
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <ng-include src="'views/common/footer-pagination.html'"></ng-include>
                </div>
              </div>
            </div>
            <hr>

            <input class="btn btn-primary" data-ng-click="save()" type="submit" value="{{ 'geral.crud.salvar' | translate }}">
            <a class="btn btn-default" ui-sref="app.perfis">{{ 'geral.crud.voltar' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
