<div id="form" data-ng-init="inicializaPermissoes()">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>
              {{ pageTitle | translate }}
              <small style="margin-left: 2px;">{{ objeto.nome }} - #{{ minid }}</small>
            </h5>
          </div>
          <div class="ibox-content">
            <div class="widget-box">
              <div class="widget-body">
                <div class="widget-main">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>{{ 'perfis.permissoes.descricao' | translate}}</th>
                        <th>{{ 'perfis.permissoes.permite' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-repeat="permissao in permissoes">
                        <td>{{ permissao.descricao }}</td>
                        <td width="5%">
                          <input type="checkbox" ichecks data-if-changed="atualizaListaPermissoes(permissao)" data-ng-model="permissoesAtivadas[permissao.id]">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <hr>

            <input class="btn btn-primary" data-ng-click="save()" type="submit" value="{{ 'geral.crud.salvar' | translate }}">
            <a class="btn btn-default" ui-sref="app.perfis">{{ 'geral.crud.voltar' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
