<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>

<div style="margin:20px 10px;padding:20px 0;background-color:#f5f5f5">
    <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#F5F5F" style="border-spacing:0">
        <tbody>
        <tr>
            <td align="center" valign="top" bgcolor="#F5F5F" style="background-color:#f5f5f5;border-collapse:collapse">
                <div style="margin-bottom:30px">
                    <table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border-spacing:0;font-family:&quot;Proxima Nova&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;color:#50525a;line-height:1.5;border-radius:2px">
                        <tbody>
                        <tr>
                            <td style="border-collapse:collapse;padding:20px 30px 25px 30px;background-color:#f5f5f5;text-align:center;">
                                <img src="/assets/images/logo-escura.png" style="width: 200px; height: auto; margin: auto;">
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff"
                                style="background-color:#ffffff;padding-left:30px;padding-right:30px;padding-top:15px;padding-bottom:25px;border-collapse:collapse">
                                <h3>Olá [[${nome}]],</h3>
                                <p>
                                    Seu e-mail pediu alteração de sua senha na plataforma influunt, no dia [[${data}]].
                                    Este e-mail irá expirar em 24 horas.<br/>
                                    Se você não fez a requisição, desconsidere este e-mail.
                                </p>
                                <a href="#" th:href="${link}"
                                   style="color:#fff;text-decoration:none;margin-bottom:10px;background-color:#1ab394;border-radius:4px;display:block;font-size:16px;font-weight:normal;min-height:20px;padding:12px 24px;line-height:1.3;text-align:center"
                                   target="_blank">Clique aqui</a>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#F5F5F0"
                                       style="border-spacing:0;font-family:&quot;Proxima Nova&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;color:#50525a;line-height:1.5;padding-left:30px;padding-right:30px;padding-top:15px;padding-bottom:25px;">
                                    <tbody>
                                    <tr>
                                        <td bgcolor="#F5F5F0"
                                            style="background-color:#f5f5f0;border-collapse:collapse;font-size:11px">
                                            <p>
                                                Copyright © 2016. Todos os direitos reservados.
                                            </p>
                                        </td>
                                        <td bgcolor="#F5F5F0"
                                            style="background-color:#f5f5f0;border-collapse:collapse;font-size:11px">
                                            <a href="#" style="color:#1ab394;text-decoration:underline" target="_blank">CETSP</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>