<form role="form">
  <div class="row">
    <div class="col-sm-10">
      <p permission permission-only="'colocarControladorManutencao'">
        <input type="radio" ichecks value="colocar_manutencao" data-ng-model="dataStatus.tipo">
        {{ 'imporConfig.colocarEmManutencao' | translate }}
      </p>
      <p permission permission-only="'desativarControlador'">
        <input type="radio" ichecks value="inativar" data-ng-model="dataStatus.tipo">
        {{ 'imporConfig.inativar' | translate }}
      </p>
      <p permission permission-only="'ativarControlador'">
        <input type="radio" ichecks value="ativar" data-ng-model="dataStatus.tipo">
        {{ 'imporConfig.ativarControlador' | translate }}
      </p>
    </div>
  </div>

  <div class="text-center" style="padding: 15px;">
    <button type="button" class="btn btn-primary ng-binding" id="alterar-stauts-submit" data-ng-click="alterar()" data-ng-disabled="!dataStatus.tipo">
      {{ 'imporConfig.alterarStatus' | translate }}
    </button>
  </div>
</form>
