<fieldset data-ng-init="inicializaRevisao()">
  <div class="m-t-md">
    <div class="col-lg-12 col-sm-12 bg-border no-padding margin-botton ibox">
      <div class="col-lg-12 col-sm-12 text-left">
        <h2>{{ 'controladores.dadosBasicos' | translate }}</h2>
      </div>
      <div class="col-lg-12 col-sm-12 ibox-content no-padding-left no-padding-right padding-top-20">
        <div class="col-lg-4 col-sm-3">
          <p><strong>{{ 'controladores.cidade' | translate }}:</strong> {{ dadosBasicos.cidade.nome }}</p>
          <p><strong>{{ 'controladores.area' | translate }}:</strong> {{ dadosBasicos.area.descricao }}</p></br>
          <p><strong>{{ 'controladores.numeroSMEE' | translate }}:</strong> {{ dadosBasicos.numeroSMEE }}</p>
          <p><strong>{{ 'controladores.CLC' | translate }}:</strong> {{ objeto.CLC }}</p></br>
          <p><strong>{{ 'controladores.numeroSMEEConjugado1' | translate }}:</strong> {{ dadosBasicos.numeroSMEEConjugado1 }}</p>
          <p><strong>{{ 'controladores.numeroSMEEConjugado2' | translate }}:</strong> {{ dadosBasicos.numeroSMEEConjugado2 }}</p>
          <p><strong>{{ 'controladores.numeroSMEEConjugado3' | translate }}:</strong> {{ dadosBasicos.numeroSMEEConjugado3 }}</p>
        </div>
        <div class="col-lg-4 col-sm-3">
          <p><strong>{{ 'controladores.Fabricante' | translate }}:</strong> {{ dadosBasicos.fabricante.nome }}</p>
          <p><strong>{{ 'controladores.modelo' | translate }}:</strong> {{ dadosBasicos.modelo.descricao }}</p></br>
          <p><strong>{{ 'controladores.estagios' | translate }}:</strong> {{ dadosBasicos.numEstagios }}</p>
          <p><strong>{{ 'controladores.aneis' | translate }}:</strong> {{ dadosBasicos.numAneisAtivos }}</p>
          <p><strong>{{ 'controladores.maxDetectorVeicular' | translate }}:</strong> {{ dadosBasicos.numDetectoresVeicular }}</p>
          <p><strong>{{ 'controladores.maxDetectorPedestre' | translate }}:</strong> {{ dadosBasicos.numDetectoresPedestre }}</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <p><strong>{{ 'controladores.localizacao' | translate }}:</strong> {{ dadosBasicos.endereco }}</p>
          <figure>
            <div influunt-map
              markers="objeto.todosEnderecos[0]"
              class="influunt-map">
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>

<!-- Abas de aneis -->
  <div class="m-t-md">
    <div class="col-lg-12 col-sm-12 bg-border no-padding">
      <div class="ibox float-e-margins">
        <div class="tabpanel">
          <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
            <influunt-tabs class="tabpanel"
                           data-on-activate="selecionaAnelRevisao"
                           data-aneis-ativos="aneis">
            </influunt-tabs>
            <div class="ui-layout-content tab-content">
              <div id="tabs-1">
                <div class="col-lg-12 col-sm-12 no-padding-left padding-top-20 text-left">
                  <div class="col-lg-3 col-sm-3 no-padding-left">
                    <p><strong>{{ 'controladores.CLA' | translate }}:</strong> {{ dadosCurrentAnel.CLA }}</p>
                    <p><strong>{{ 'controladores.localizacao' | translate }}:</strong> {{ dadosCurrentAnel.localizacao }}</p>
                    <p><strong>{{ 'controladores.numeroSMEE' | translate }}:</strong> {{ dadosCurrentAnel.numeroSMEE }}</p>
                  </div>
                  <div class="col-lg-3 col-sm-3 no-padding-left">
                    <p><strong>{{ 'controladores.gruposPedestres' | translate }}:</strong> {{ dadosCurrentAnel.numGruposPedestre }}</p>
                    <p><strong>{{ 'controladores.gruposSinaisVeiculares' | translate }}:</strong> {{ dadosCurrentAnel.numGruposVeicular }}</p>
                  </div>
                  <div class="col-lg-3 col-sm-3 no-padding-left">
                    <p><strong>{{ 'controladores.numeroDetectoresPedestres' | translate }}:</strong> {{ dadosCurrentAnel.numDetectoresPedestre }}</p>
                    <p><strong>{{ 'controladores.numeroDetectores' | translate }}:</strong> {{ dadosCurrentAnel.numDetectoresVeicular }}</p>
                  </div>
                </div>

                <div class="col-lg-12 col-sm-12 no-padding">
                  <div class="col-lg-6 col-sm-6 no-padding-left text-left">
                    <div class="col-lg-12 col-sm-12 no-padding">
                      <h2>Grupos</h2>
                    </div>
                    <div class="col-lg-12 col-sm-12 no-padding padding-top-20" data-ng-repeat="gruposSemaforicos in dadosCurrentGruposSemaforicos" data-ng-class="{ 'ibox-content': $index === 0 }">
                      <div class="col-lg-4 col-sm-4 no-padding-left" data-ng-repeat="grupoSemaforico in gruposSemaforicos">
                        <h3>Grupo {{ grupoSemaforico.posicao }}</h3>
                        <p>{{ grupoSemaforico.descricao }}</p>
                        <p><strong>Tipo:</strong> {{ grupoSemaforico.tipo }}</p>
                        <p><strong>Fase Vermelha:</strong> {{ grupoSemaforico.faseVermelha }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-sm-6 no-padding-left text-left">
                    <div class="col-lg-12 col-sm-12 no-padding">
                      <h2>Estágios</h2>
                    </div>
                    <div class="col-lg-12 col-sm-12 no-padding padding-top-20 ibox-content">
                      <div class="col-sm-6 no-padding-left review-page" data-ng-repeat="estagio in dadosCurrentEstagios">
                        <img data-ng-src="{{ estagio.imagem }}">
                        <h3>E{{ estagio.posicao }}</h3>
                        <div>{{ estagio.gruposSemaforicosStr }}</div>
                        <div class="m-t-xs" data-ng-if="estagio.tempoMaximoPermanenciaAtivado">Desativ. Tempo max: {{ estagio.tempoMaximoPermanencia }}s</div>
                        <div class="m-t-xs" data-ng-if="estagio.demandaPrioritaria">Demanda prioritária</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 no-padding">
                  <div class="col-sm-6 no-padding-left padding-top-20 text-left">
                    <div class="col-sm-12 no-padding">
                      <h2>Verdes Conflitantes</h2>
                    </div>
                    <div class="col-sm-12 no-padding padding-top-20 ibox-content">

                      <div class="col-sm-2 no-padding-left" data-ng-repeat="verdeConflitante in dadosCurrentVerdesConflitantes">
                        <p class="view-group"><strong>G{{ verdeConflitante.origem.posicao }}-G{{ verdeConflitante.destino.posicao }} <i class="fa fa-eye"></i></strong></p>
                      </div>

                    </div>
                  </div>


                  <div class="col-sm-6 no-padding-left padding-top-20 text-left">
                    <div class="col-sm-12 no-padding">
                      <h2>Transicoes Proibidas</h2>
                    </div>
                    <div class="col-sm-12 no-padding padding-top-20 ibox-content">
                      <div class="col-sm-6 no-padding-left review-page">
                        <div class="row">
                          <div class="col-sm-6 no-padding text-center">
                            <p><strong>TRANSIÇÃO PROIBIDA</strong></p>
                          </div>
                          <div class="col-sm-6 no-padding text-center">
                            <p><strong>ALTERNATIVA</strong></p>
                          </div>
                        </div>
                        <div class="row text-center">
                          <div class="col-sm-6 no-padding" data-ng-repeat-start="transicaoProibida in dadosCurrentTRansicoesProibidas1">
                            <p><b class="gray-box">E{{ transicaoProibida.origem.posicao }}-E{{ transicaoProibida.destino.posicao }}</b> <i class="fa fa-eye view-group"></i></p>
                          </div>
                          <div class="col-sm-6 no-padding" data-ng-repeat-end>
                            <p><b class="white-box">E{{ transicaoProibida.alternativo.posicao }}</b> <i class="fa fa-eye view-group"></i></p>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 no-padding-left review-page">
                        <div class="row">
                          <div class="col-sm-6 no-padding text-center">
                            <p><strong>TRANSIÇÃO PROIBIDA</strong></p>
                          </div>
                          <div class="col-sm-6 no-padding text-center">
                            <p><strong>ALTERNATIVA</strong></p>
                          </div>
                        </div>
                        <div class="row text-center">
                          <div class="col-sm-6 no-padding" data-ng-repeat-start="transicaoProibida in dadosCurrentTRansicoesProibidas2">
                            <p><b class="gray-box">E{{ transicaoProibida.origem.posicao }}-E{{ transicaoProibida.destino.posicao }}</b> <i class="fa fa-eye view-group"></i></p>
                          </div>
                          <div class="col-sm-6 no-padding" data-ng-repeat-end>
                            <p><b class="white-box">E{{ transicaoProibida.alternativo.posicao }}</b> <i class="fa fa-eye view-group"></i></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



                  <div class="col-sm-12 no-padding">
                    <div class="col-sm-6 no-padding-left padding-top-20 text-left">
                      <div class="col-sm-12 no-padding">
                        <h2>Entre-Verdes</h2>
                      </div>

                      <div class="col-sm-6 no-padding">
                        <div class="col-sm-12 no-padding padding-top-20 ibox-content">
                          <div class="col-sm-12 no-padding-left">
                            <h3><strong>TABELA PADRÃO</strong></h3>
                          </div>
                          <div class="col-sm-4 no-padding-left">
                          </div>
                          <div class="col-sm-4 no-padding-left">
                            <p>AMARELO</p>
                          </div>
                          <div class="col-sm-4 no-padding-left">
                            <p>VERMELHO DE LIMPEZA</p>
                          </div>
                        </div>
                        <div class="col-sm-12 no-padding">
                          <div class="col-sm-4" data-ng-repeat-start="tabelaPadrao in dadosCurrentTabelasentreVerdesPadrao">
                            <p class="view-group"><strong>E{{ tabelaPadrao.origem.posicao }}-E{{ tabelaPadrao.destino.posicao }} <i class="fa fa-eye"></i></strong></p>
                          </div>
                          <div class="col-sm-4">
                            <p>{{ tabelaPadrao.tempoAmarelo || tabelaPadrao.tempoVermelhoIntermitente }}s</p>
                          </div>
                          <div class="col-sm-4" data-ng-repeat-end>
                            <p>{{ tabelaPadrao.tempoVermelhoLimpeza }}s</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 no-padding">
                        <div class="col-sm-12 no-padding padding-top-20 ibox-content">
                          <div class="col-sm-12 no-padding-left" data-ng-if="dadosCurrentTabelasentreVerdesOutra[0]">
                            <h3><strong>{{ dadosCurrentTabelasentreVerdesOutra[0].nome }}</strong></h3>
                          </div>
                          <div class="col-sm-4 no-padding-left" data-ng-if="dadosCurrentTabelasentreVerdesOutra[0]">
                          </div>
                          <div class="col-sm-4 no-padding-left" data-ng-if="dadosCurrentTabelasentreVerdesOutra[0]">
                            <p>AMARELO</p>
                          </div>
                          <div class="col-sm-4 no-padding-left" data-ng-if="dadosCurrentTabelasentreVerdesOutra[0]">
                            <p>VERMELHO DE LIMPEZA</p>
                          </div>
                        </div>
                        <div class="col-sm-12 no-padding">
                          <div class="col-sm-4" data-ng-repeat-start="tabelaOutra in dadosCurrentTabelasentreVerdesOutra">
                            <p class="view-group"><strong>E{{ tabelaOutra.origem.posicao }}-E{{ tabelaOutra.destino.posicao }} <i class="fa fa-eye"></i></strong></p>
                          </div>
                          <div class="col-sm-4">
                            <p>{{ tabelaOutra.tempoAmarelo || tabelaOutra.tempoVermelhoIntermitente }}s</p>
                          </div>
                          <div class="col-sm-4" data-ng-repeat-end>
                            <p>{{ tabelaOutra.tempoVermelhoLimpeza }}s</p>
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="col-lg-6 col-sm-6 no-padding-left padding-top-20 text-left">
                      <div class="col-lg-12 col-sm-12 no-padding">
                        <h2>Associacão detectores</h2>
                      </div>
                      <div class="col-lg-12 col-sm-12 no-padding padding-top-20 ibox-content">
                        <div class="col-lg-2 col-sm-2">
                        </div>
                        <div class="col-lg-2 col-sm-2">
                          <p><strong>ESTÁGIO</strong></p>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                            <p><strong>AUSÊNCIA DE DETECÇÃO MÍNIMA</strong></p>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                          <p><strong>AUSÊNCIA DE DETECÇÃO MÁXIMA</strong></p>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                          <p><strong>DETECÇÃO PERMANENTE MÍNIMA</strong></p>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                          <p><strong>DETECÇÃO PERMANENTE MÁXIMA</strong></p>
                        </div>
                      </div>
                      <div class="col-sm-12 no-padding" data-ng-repeat="detector in dadosCurrentDetectores">
                        <div class="col-lg-2 col-sm-2">
                          <p><strong>{{ detector.nome }}</strong></p>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                          <p class="view-group"><strong>E{{ detector.estagio.posicao }} <i class="fa fa-eye"></i></strong></p>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                          <p>{{ detector.tempoAusenciaDeteccaoMinima }}s</p>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                          <p>{{ detector.tempoAusenciaDeteccaoMaxima }}s</p>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                          <p>{{ detector.tempoDeteccaoPermanenteMinima }}s</p>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                          <p>{{ detector.tempoDeteccaoPermanenteMaxima }}s</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row links-revisao">
    <div class="col-sm-12 col-lg-12 bg-border-footer pg-bt-footer actions clearfix">
      <a ui-sref="app.controladores" data-toggle="tooltip" data-placement="top" title="Salvar" class="btn btn-primary btn-footer right">
        <i class="fa fa-arrow-right"></i> {{ 'geral.crud.salvar' | translate }}
      </a>
      <a ui-sref="app.wizard_controladores.associacao_detectores({id: $state.params.id})" data-toggle="tooltip" data-placement="top" title="Associação de Detectores" class="btn btn-outline btn-primary btn-footer right m-r-sm right">
        <i class="fa fa-arrow-left"></i> {{ 'plugins.steps.labels.previous' | translate }}
      </a>
    </div>
  </div>
</fieldset>
