<!-- done requets. -->
<span data-ng-if="statusTransaction === 'ABORTED' || statusTransaction === 'COMPLETED'"
    data-ng-bind-html="statusTransaction === 'COMPLETED' | trueOrFalseIcon"></span>

<!-- pending requests -->
<span data-ng-if="statusTransaction === 'ABORT' || statusTransaction === 'COMMIT'"
    data-ng-bind-html="statusTransaction === 'COMMIT' | trueOrFalseIcon"></span>

<!-- in progress requests -->
<influunt-loading data-ng-if="statusTransaction !== 'ABORT' && statusTransaction !== 'ABORTED' && statusTransaction !== 'COMPLETED'"></influunt-loading>
