<!-- timeline -->
<div class="modal inmodal" id="modal-timeline" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <div class="wrapper wrapper-content animated fadeInRight">
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h2>{{ pageTitle | translate }}</h2>
                </div>

                <div class="no-padding padding-top-20 ibox-content text-center" data-ng-if="versoes.length === 0">
                  <i class="fa fa-exclamation-circle m-t-lg"></i>
                  <p>{{ 'historico.vazio' | translate }}</p>
                </div>

                <div class="ibox-content" id="ibox-content" data-ng-if="versoes.length > 0">
                  <div id="vertical-timeline" class="vertical-container dark-timeline">
                    <div class="vertical-timeline-block" ng-repeat="versao in versoes">
                      <div class="vertical-timeline-icon" ng-class="$first ? 'navy-bg' : 'yellow-bg'">
                        <i class="fa fa-file-o"></i>
                      </div>
                      <div class="vertical-timeline-content">
                        <hgroup>
                          <!-- <a href="#" class="btn btn-sm btn-primary"> Visualizar</a> -->
                          <!-- <div class="clearfix"></div> -->
                          <span class="vertical-date">{{versao.dataCriacao | influuntDate: 'fromNow'}} <br/><small>{{versao.dataCriacao | influuntDate: 'LL'}}</small></span>
                        </hgroup>
                        {{versao.descricao}}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          {{ 'geral.crud.fechar' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /MODAIS -->
