<div class="middle-box text-center  animated fadeInDown" ng-init="checarTokenValido()">
  <div>
    <div>
      <img src="images/logo-escura.png" alt="Influunt" style="width: 256px; height: auto">
    </div>
    <h3>{{'titulo_padrao' | translate}}</h3>
    <form class="m-t" name="redefinirSenhaForm" data-ng-submit="submitRedefinirSenha(redefinirSenhaForm.$valid)" novalidate>
      <div class="form-group login senha" data-ng-class="{'has-error': redefinirSenhaForm.senha.$invalid && (!redefinirSenhaForm.senha.$pristine || submited) || error}">
        <input type="password" class="form-control" name="senha" placeholder="{{ 'login.novaSenha' | translate }}" data-ng-model="credenciais.senha" required>
        <p ng-show="redefinirSenhaForm.senha.$invalid && (!redefinirSenhaForm.senha.$pristine || submited)" class="help-block error-msg">{{ 'geral.campo_obrigatorio' | translate }}</p>
      </div>

      <div class="form-group login novaSenha" data-ng-class="{'has-error': redefinirnovaSenhaForm.novaSenha.$invalid && (!redefinirnovaSenhaForm.novaSenha.$pristine || submited) || error || redefinirSenhaForm.novaSenha.$error.influuntMatch}">
        <input type="password" class="form-control" name="novaSenha" placeholder="{{ 'login.confirmarSenha' | translate }}" data-ng-model="credenciais.novaSenha" required influunt-match="credenciais.senha">
        <p ng-show="redefinirnovaSenhaForm.novaSenha.$invalid && (!redefinirnovaSenhaForm.novaSenha.$pristine || submited)" class="help-block error-msg">{{ 'geral.campo_obrigatorio' | translate }}</p>
        <p ng-show="redefinirSenhaForm.novaSenha.$error.influuntMatch" class="help-block error-msg">{{ 'login.senhasIguais' | translate }}</p>
      </div>


      <check-browser required="browsersRequired" rejected="browsersbrowsersRejected"></check-browser>
      <button type="submit" class="btn btn-primary block full-width m-b" id="acessar" >{{ 'login.redefinir' | translate }}</button>
    </form>
  </div>
</div>
