<div class="middle-box text-center  animated fadeInDown">
  <div>
    <div>
      <img src="images/logo-escura.png" alt="Influunt" style="width: 256px; height: auto">
    </div>
    <h3>{{'titulo_padrao' | translate}}</h3>
    <form class="m-t" name="loginForm" data-ng-submit="submitLogin(loginForm.$valid)" novalidate>
      <div class="form-group login usuario" data-ng-class="{'has-error': loginForm.usuario.$invalid && (!loginForm.usuario.$pristine || submited)}">
        <input type="text" class="form-control" name="usuario" placeholder="{{ 'login.usuario' | translate }}" data-ng-model="credenciais.login" required>
        <p ng-show="loginForm.usuario.$invalid && (!loginForm.usuario.$pristine || submited)" class="help-block error-msg">{{ 'geral.campo_obrigatorio' | translate }}</p>
      </div>
      <div class="form-group login senha" data-ng-class="{'has-error': loginForm.senha.$invalid && (!loginForm.senha.$pristine || submited)}">
        <input type="password" class="form-control" name="senha" placeholder="{{ 'login.senha' | translate }}" data-ng-model="credenciais.senha" required>
        <p ng-show="loginForm.senha.$invalid && (!loginForm.senha.$pristine || submited)" class="help-block error-msg">{{ 'geral.campo_obrigatorio' | translate }}</p>
      </div>

      <check-browser required="browsersRequired" rejected="browsersRejected"></check-browser>
      <button type="submit" class="btn btn-primary block full-width m-b" id="acessar" >{{ 'login.acessar' | translate }}</button>
      <a ui-sref="recuperar_senha"><small>{{ 'login.esqueceu_sua_senha' | translate }}</small></a>
    </form>
  </div>
</div>
