<div id="form">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">

          <div class="ibox-content">
            <form class="simple_form form-horizontal"
                method="post"
                name="formRelatorioAuditoria"
                novalidate="novalidate"
                data-ng-submit="gerarRelatorioControladoresEntreverdes()">

              <div class="form-group">
                <label class="control-label col-sm-2 control-label">{{ 'relatorios.inicio' | translate }}</label>
                <div class="col-sm-9">
                  <input type="datetime"
                      class="form-control data-inicio"
                      date-time
                      data-ng-model="relatorio['dataAtualizacao_start']"
                      min-view="date"
                      default-view="date"
                      auto-close="true"
                      format="DD/MM/YYYY"/>
                </div>
                <div class="cols-sm-3">
                    <a data-ng-click="gg()">PDF</a>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2 control-label">{{ 'relatorios.fim' | translate }}</label>
                <div class="col-sm-9">
                  <input type="datetime"
                      class="form-control data-fim"
                      date-time
                      data-ng-model="relatorio['dataAtualizacao_end']"
                      min-view="date"
                      default-view="date"
                      auto-close="true"
                      format="DD/MM/YYYY"/>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2 control-label">{{ 'relatorios.tipo' | translate }}</label>
                <div class="col-sm-9">
                  <input type="radio" name="tipoRelatorio" ichecks value="PDF" data-ng-model="relatorio.tipoRelatorio"> PDF
                  <input type="radio" name="tipoRelatorio" ichecks value="CSV" data-ng-model="relatorio.tipoRelatorio"> CSV
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <input class="btn btn-primary" name="commit" type="submit" value="{{ 'relatorios.gerar' | translate }}">
                  <a class="btn btn-default" ui-sref="app.areas">{{ 'geral.crud.voltar' | translate }}</a>
                </div>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

