<pesquisa-lateral
    data-ng-model="pesquisa.filtro"
    campos="pesquisa.campos"
    on-close="index()">
</pesquisa-lateral>


<div class="wrapper wrapper-content animated fadeInRight" data-ng-init="index()">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">

        <div class="ibox-content">
          <!-- botão de novo fabricante -->
          <div class="pull-left actions">
            <a class="btn btn-xs btn-primary" tooltips tooltip-template="{{ 'relatorios.exportarCsv' | translate }}" data-ng-click="gerarRelatorioLogCSV()">
              {{ 'relatorios.CSV' | translate }}
            </a>
          </div>

          <table datatable="ng" dt-options="datatables.options" dt-instance="datatables.instance" class="table table-bordered table-hover">
            <div class="table">
              <thead>
                <tr>
                  <th>{{ 'relatorios.horario' | translate }}</th>
                  <th>{{ 'relatorios.clc' | translate }}</th>
                  <th>{{ 'relatorios.nomeCruzamento' | translate }}</th>
                  <th>{{ 'relatorios.mensagem' | translate }}</th>
                  <th>{{ 'relatorios.tipoFalha' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="falha in lista">
                  <td>{{falha.horario}}</td>
                  <td>{{falha.clc}}</td>
                  <td>{{falha.endereco}}</td>
                  <td>{{falha.mensagem}}</td>
                  <td>{{falha.tipo | translate}}</td>
                </tr>
              </tbody>
            </div>
          </table>
          <ng-include src="'views/common/footer-pagination.html'"></ng-include>
        </div>

      </div>
    </div>
  </div>
</div>

