<button data-toggle="modal"
        data-target="#modal-impor-modo"
        class="btn btn-w-m btn-primary"
        data-ng-disabled="!(aneisSelecionados && aneisSelecionados.length > 0)">
        {{ 'imporConfig.imporModo' | translate }}
</button>

<!-- modal | imposicao de modo. -->
<div class="modal inmodal" id="modal-impor-modo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <div class="row text-left">
          <div class="col-sm-12">
            <imposicao-modo
                aneis-selecionados="aneisSelecionados"
                ids-transacoes="idsTransacoes"
                track-transaction="trackTransaction"
                dismiss-on-submit="true">
            </imposicao-modo>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
