<div class="acoes">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h3 class="fecharAcoes">
          {{ currentAnel.CLA }}
          <i class="fa fa-times right" data-ng-click="closeAcoesAnel()"></i>
        </h3>
      </div>
      <div class="ibox-content">
        <p>{{ currentAnel.localizacao }}</p>
      </div>


      <div class="ibox-content">
        <h3>{{ 'controladores.mapaControladores.status.titulo' | translate }}</h3>
        <ul>
          <li>
            <strong>{{ 'controladores.mapaControladores.status.statusControlador' | translate }}:</strong>
            <span ng-bind-html="currentControlador.status | statusControlador"></span>
          </li>
          <li>
            <strong>{{ 'controladores.mapaControladores.status.online' | translate }}: </strong>
            <span data-ng-bind-html="currentControlador.online | trueOrFalseIcon"></span>
          </li>
          <li>
            <strong>{{ 'controladores.mapaControladores.status.modoOperacao' | translate }}: </strong>
            <span>{{ currentAnel.modoOperacao }}</span>
          </li>
          <li>
            <strong>{{ 'controladores.mapaControladores.status.planoVigente' | translate }}: </strong>
            <a data-ng-click="showDiagramaIntervalos(currentAnel.planoVigente)">
              {{ 'controladores.geral.plano' | translate}} {{ currentAnel.planoVigente.posicao }} - {{ currentAnel.planoVigente.descricao }}
            </a>
          </li>

          <li data-ng-if="currentAnel.hasPlanoImposto">
            <strong>{{ 'controladores.mapaControladores.planoImposto' | translate }}</strong>
            <liberar-imposicao anel="currentAnel" ids-transacoes="{}"></liberar-imposicao>
          </li>

        </ul>
      </div>

      <div class="ibox-content" ng-init="openPlanos()">
        <h3 class="btnPlanos">
          {{ currentAnel.planos.length }} {{ 'controladores.mapaControladores.planos' | translate }}
          <i class="fa fa-angle-down right" />
        </h3>
        <ul class="planos">
          <li data-ng-repeat="plano in currentAnel.planos">
            <a data-ng-click="showDiagramaIntervalos(plano)">{{ 'controladores.geral.plano' | translate}} {{ plano.posicao }} - {{ plano.descricao }}</a>
          </li>
        </ul>
      </div>

      <div class="ibox-content">
        <h3>{{ 'controladores.mapaControladores.acoes' | translate }}</h3>

        <imposicao-plano
            aneis-selecionados="[currentAnel]"
            ids-transacoes="{}">
        </imposicao-plano>
        <imposicao-modo
            aneis-selecionados="[currentAnel]"
            ids-transacoes="{}">
        </imposicao-modo>
        <sincronizacao aneis-selecionados="[currentAnel]" ids-transacoes="{}" track-transaction="true"></sincronizacao>
      </div>
    </div>
  </div>
</div>
