<div class="container-fluid wrapper wrapper-content animated fadeInRight dashboard" ng-init="loadDashboard()">
  <div class="col-lg-12">
    <input type="checkbox" ichecks data-ng-model="eventos.exibirTodosAlertas">
    <span>{{ 'controladores.mapaControladores.exibirAlertasDeEventos' | translate }}</span>
  </div>
  <div class="col-lg-8 col-sm-12">
    <div class="row">
      <div class="col-lg-12 no-padding">
        <div data-toggle="modal"
             data-target="#modalControladores"
             class="col-lg-3 col-sm-6"
             ng-click="carregarControladores(true)"
             permission permission-only="'visualizarStatusControladoresOnline'">
          <div class="widget style1 navy-bg falseBtn">
            <div class="row">
              <div class="col-lg-3 col-sm-3">
                <h2 class="font-bold">{{dadosOnlines['true'] || 0}}</h2>
              </div>
              <div class="col-lg-8 col-sm-7 text-right">
                <span> {{ 'main.controlOn' | translate }} </span>
              </div>
            </div>
          </div>
        </div>
        <div data-toggle="modal"
             data-target="#modalControladores"
             class="col-lg-3 col-sm-6"
             ng-click="carregarControladores(false)"
             permission permission-only="'visualizarStatusControladoresOffline'">

          <div class="widget style1 red-bg falseBtn">
            <div class="row">
              <div class="col-lg-3 col-sm-3">
                <h2 class="font-bold">{{dadosOnlines['false'] || 0}}</h2>
              </div>
              <div class="col-lg-8 col-sm-7 text-right">
                <span> {{ 'main.controlOff' | translate }} </span>
              </div>
            </div>
          </div>
        </div>
        <div data-toggle="modal" data-target="#myModal" class="col-lg-3 col-sm-6">
          <div class="widget style1 blue-bg falseBtn">
            <div class="row">
              <div class="col-lg-3 col-sm-3">
                <h2 class="font-bold">{{planosImpostos['true'] || 0}}</h2>
              </div>
              <div class="col-lg-8 col-sm-7 text-right">
                <span> {{ 'main.controlImposicao' | translate }} </span>
              </div>
            </div>
          </div>
        </div>
        <div data-toggle="modal" data-target="#myModal" class="col-lg-3 col-sm-6">
          <div class="widget style1 lazur-bg falseBtn">
            <div class="row">
              <div class="col-lg-3 col-sm-3">
                <h2 class="font-bold">{{modosOperacoes['MANUAL'] || 0}}</h2>
              </div>
              <div class="col-lg-8 col-sm-7 text-right">
                <span> {{ 'main.controlManual' | translate }} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 padding-top-20">
        <div class="col-lg-12 white-bg padding-bottom-20">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>{{ 'main.controlStatus' | translate }}</h5>
            </div>
            <div class="col-lg-12 no-padding padding-top-20">
              <div class="col-lg-4 col-sm-4">
                <button type="button" class="btn btn-danger m-r-sm">{{dadosStatus['NOVO'] || 0}}</button> {{ 'main.novo' | translate }}
              </div>
              <div class="col-lg-4 col-sm-4">
                <button type="button" class="btn btn-primary m-r-sm">{{dadosStatus['CONFIGURADO'] || 0}}</button> {{ 'main.configurado' | translate }}
              </div>
              <div class="col-lg-4 col-sm-4">
                <button type="button" class="btn btn-info m-r-sm">{{dadosStatus['ATIVO'] || 0}}</button> {{ 'main.ativo' | translate }}
              </div>
            </div>
            <div class="col-lg-12">
              <hr>
            </div>
            <div class="col-lg-12 no-padding padding-botton-20">
              <div class="col-lg-4 col-sm-4">
                <button type="button" class="btn btn-info m-r-sm">{{dadosStatus['INOPERANTE'] || 0}}</button> {{ 'main.inoperante' | translate }}
              </div>
              <div class="col-lg-4 col-sm-4">
                <button type="button" class="btn btn-success m-r-sm">{{dadosStatus['OPERANDO_COM_FALHAS'] || 0}}</button> {{ 'main.operandoFalhas' | translate }}
              </div>
              <div class="col-lg-4 col-sm-4">
                <button type="button" class="btn btn-danger m-r-sm">{{dadosStatus['INATIVO'] || 0}}</button> {{ 'main.inativo' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 padding-top-20">
        <div class="col-lg-12 white-bg padding-bottom-20">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>{{ 'main.controlModo' | translate }}</h5>
            </div>
            <div class="col-lg-12 no-padding padding-top-20">
              <div class="col-lg-4 col-sm-4">
                <button type="button" class="btn btn-danger m-r-sm">{{modosOperacoes['ATUADO'] || 0}}</button> {{ 'main.atuado' | translate }}
              </div>
              <div class="col-lg-4 col-sm-4">
                <button type="button" class="btn btn-primary m-r-sm">{{modosOperacoes['TEMPO_FIXO_COORDENADO'] || 0}}</button> {{ 'main.coordenado' | translate }}
              </div>
              <div class="col-lg-4 col-sm-4">
                <button type="button" class="btn btn-info m-r-sm">{{modosOperacoes['TEMPO_FIXO_ISOLADO'] || 0}}</button> {{ 'main.isolado' | translate }}
              </div>
            </div>
            <div class="col-lg-12">
              <hr>
            </div>
            <div class="col-lg-12 no-padding padding-botton-20">
              <div class="col-lg-4 col-sm-4">
                <button type="button" class="btn btn-info m-r-sm">{{modosOperacoes['APAGADO'] || 0}}</button> {{ 'main.apagado' | translate }}
              </div>
              <div class="col-lg-4 col-sm-4">
                <button type="button" class="btn btn-success m-r-sm">{{modosOperacoes['INTERMITENTE'] || 0}}</button> {{ 'main.interminente' | translate }}
              </div>
              <div class="col-lg-4 col-sm-4">
                <button type="button" class="btn btn-danger m-r-sm">{{modosOperacoes['MANUAL'] || 0}}</button> {{ 'main.manual' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-sm-12">
    <div class="ibox float-e-margins white-bg">
      <div class="ibox-content ibox-heading yellow-bg">
        <h3 data-ng-bind-html="'main.falhasRegistradas' | translate:{ FALHAS: (errosControladores | falhaNaoRecuperada).length || 0 }"></h3>
        <small>
          <i class="fa fa-check-circle"></i>
          <span data-ng-bind-html="'main.recuperaFalhas' | translate:{FALHAS: (errosControladores | falhaRecuperada).length}"></span>
        </small>
      </div>
      <div class="ibox-content lista-falhas inspinia-timeline">
        <div class="timeline-item" ng-repeat="erro in errosControladores | limitTo: 10">
          <div class="row">
            <div class="col-xs-3 date">
              <i class="fa fa-plug" data-ng-class="erro.recuperado ? 'text-navy' : 'text-danger'"></i> {{erro.data | influuntDate: 'HH:mm:ss'}}
              <br>
              <small class="text-navy">{{erro.data | influuntDate: 'fromNow'}}</small>
            </div>
            <div class="col-xs-7 content no-top-border">
              <p class="m-b-xs"><strong>{{ erro.descricaoEvento | humanize }}</strong></p>
              <p><strong>{{erro.clc}}</strong><br>{{ erro.endereco | nomeEndereco }}</p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <ng-include src="'/views/dashboard/modal_controladores.html'"></ng-include>

</div>

  <script>
    $(document).ready(function() {
      $('.footable').footable();
    });
  </script>
