<div class="container-fluid wrapper wrapper-content animated fadeInRight dashboard">

  <div class="col-lg-12">
    <input type="checkbox" ichecks data-ng-model="$root.eventos.exibirTodosAlertas" />
    <span>{{ 'controladores.mapaControladores.exibirAlertasDeEventos' | translate }}</span>
  </div>

  <div class="col-lg-12">
    <div class="col-lg-8 col-sm-12">
      <div class="row">
        <div class="col-lg-12 padding-top-20">
          <div class="col-lg-12 white-bg padding-bottom-20">

            <div class="ibox-title">
              <h5 tooltips tooltip-template="{{ 'main.statusConexaoHint' | translate }}" tooltip-side="right">
                {{ 'main.resumo' | translate }}
              </h5>
            </div>

            <div class="row">
              <div class="col-lg-12 no-padding white-bg">
                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="chart"
                        data-ng-if="!isOnlineOfflineChartEmpty"
                        donut-chart
                        donut-data="onlineOfflineChart"
                        donut-label-color='"#000000"'
                        donut-background-color='"#ffffff"'
                        donut-colors='["#1ab394","#ed5565"]'
                        donut-formatter='"number"'>
                    </div>
                    <div class="chart" data-ng-if="isOnlineOfflineChartEmpty">
                      <h2 class="content-not-available">{{ 'main.conteudoNaoDisponivel' | translate }}</h2>
                    </div>
                    <div class="text-center">
                      <label>{{ 'main.statusConexao' | translate }}</label>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="chart"
                        data-ng-if="!isDadosStatusChartEmpty"
                        donut-chart
                        donut-data="dadosStatusChart"
                        donut-label-color='"#000000"'
                        donut-background-color='"#ffffff"'
                        donut-colors='["#1ab394","#ed5565","#f8ac59", "#d1dade", "#5e5e5e"]'
                        donut-formatter='"number"'>
                    </div>
                    <div class="chart" data-ng-if="isDadosStatusChartEmpty">
                      <h2 class="content-not-available">{{ 'main.conteudoNaoDisponivel' | translate }}</h2>
                    </div>
                    <div class="text-center">
                      <label>{{ 'main.statusFisico' | translate }}</label>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="chart"
                        data-ng-if="!isStatusLogicosChartEmpty"
                        donut-chart
                        donut-data="statusLogicosChart"
                        donut-label-color='"#000000"'
                        donut-background-color='"#ffffff"'
                        donut-colors="['#d1dade', '#1ab394', '#1c84c6', '#f8ac59']"
                        donut-formatter='"number"'>
                    </div>
                    <div class="chart" data-ng-if="isStatusLogicosChartEmpty">
                      <h2 class="content-not-available">{{ 'main.conteudoNaoDisponivel' | translate }}</h2>
                    </div>
                    <div class="text-center">
                      <label>{{ 'main.statusLogico' | translate }}</label>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="chart"
                        data-ng-if="!isModosOperacoesChartEmpty"
                        donut-chart
                        donut-data="modosOperacoesChart"
                        donut-label-color='"#000000"'
                        donut-background-color='"#ffffff"'
                        donut-colors='["#1ab394","#23c6c8","#1c84c6","#f8ac59", "#5e5e5e", "#d1dade"]'
                        donut-formatter='"number"'>
                    </div>
                    <div class="chart" data-ng-if="isModosOperacoesChartEmpty">
                      <h2 class="content-not-available">{{ 'main.conteudoNaoDisponivel' | translate }}</h2>
                    </div>
                    <div class="text-center">
                      <label>{{ 'main.modo' | translate }}</label>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 padding-top-20">
          <div class="col-lg-12 white-bg padding-bottom-20">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5 tooltips tooltip-template="{{ 'main.statusConexaoHint' | translate }}" tooltip-side="right">
                  {{ 'main.statusConexao' | translate }}
                </h5>
              </div>
              <div class="col-lg-12 no-padding padding-top-20">
                <table class="table table-bordered">
                  <thead>
                      <th>{{ 'main.status' | translate }}</th>
                      <th>{{ 'main.numeroControladores' | translate }}</th>
                      <th>{{ 'main.numeroAneis' | translate }}</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span class="label label-primary"
                            tooltips tooltip-template="{{ 'main.hintModoOnline' | translate }}"
                            tooltip-side="right">{{ 'main.online' | translate }}
                        </span>
                      </td>
                      <td>{{ dadosOnlines['true'] || 0 }}</td>
                      <td>{{ aneisOnlines['true'] || 0 }}</td>
                    </tr>
                    <tr>
                      <td>
                        <span <span class="label label-danger"
                            tooltips tooltip-template="{{ 'main.hintModoOffline' | translate }}"
                            tooltip-side="right">{{ 'main.offline' | translate }}
                        </span>
                      </td>
                      <td>{{ dadosOnlines['false'] || 0 }}</td>
                      <td>{{ aneisOnlines['false'] || 0 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 padding-top-20">
          <div class="col-lg-12 white-bg padding-bottom-20">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5 tooltips tooltip-template="{{ 'main.statusFisicoHint' | translate }}" tooltip-side="right">
                  {{ 'main.statusFisico' | translate }}
                </h5>
              </div>
              <div class="col-lg-12 no-padding padding-top-20">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>{{ 'main.status' | translate }}</th>
                      <th>{{ 'main.numeroAneis' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span
                            class="label label-primary"
                            tooltips tooltip-template="{{ 'main.operacaoNormalHint' | translate }}"
                            tooltip-side="right">
                          {{ 'main.operacaoNormal' | translate | uppercase }}
                        </span>
                      </td>
                      <td>{{ statusFisicoAneis.NORMAL || 0 }}</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="label label-danger"
                            tooltips tooltip-template="{{ 'main.operandoComFalhasHint' | translate }}"
                            tooltip-side="right">
                          {{ 'main.operandoComFalhas' | translate | uppercase }}
                        </span>
                      </td>
                      <td>{{ statusFisicoAneis.COM_FALHAS || 0 }}</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="label label-warning"
                            tooltips tooltip-template="{{ 'main.amareloIntermitentePorfalhaHint' | translate }}"
                            tooltip-side="right">
                          {{ 'main.amareloIntermitentePorfalha' | translate | uppercase }}
                        </span>
                      </td>
                      <td>{{ statusFisicoAneis.AMARELO_INTERMITENTE_POR_FALHA || 0 }}</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="label"
                              tooltips tooltip-template="{{ 'main.apagadoPorFalhaHint' | translate }}"
                              tooltip-side="right">
                          {{ 'main.apagadoPorFalha' | translate | uppercase }}
                        </span>
                      </td>
                      <td>{{ statusFisicoAneis.APAGADO_POR_FALHA || 0 }}</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="label label-modo-manual"
                              tooltips tooltip-template="{{ 'main.manualHint' | translate }}"
                              tooltip-side="right">
                          {{ 'main.manual' | translate | uppercase }}
                        </span>
                      </td>
                      <td>{{ statusFisicoAneis.MANUAL || 0 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 padding-top-20">
          <div class="col-lg-12 white-bg padding-bottom-20">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5 tooltips tooltip-template="{{ 'main.statusLogicoHint' | translate }}" tooltip-side="right">
                  {{ 'main.statusLogico' | translate }}
                </h5>
              </div>
              <div class="col-lg-12 no-padding padding-top-20">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>{{ 'main.status' | translate }}</th>
                      <th>{{ 'main.numeroControladores' | translate }}</th>
                      <th>{{ 'main.numeroAneis' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span ng-bind-html="'EM_CONFIGURACAO' | statusControlador"
                              tooltips tooltip-template="{{ 'main.emConfiguracaoHint' | translate }}"
                              tooltip-side="right">
                        </span>
                      </td>
                      <td>{{ statusLogicoControladores['EM_CONFIGURACAO'] || 0 }}</td>
                      <td>{{ statusLogicoAneis['EM_CONFIGURACAO'] || 0 }}</td>
                    </tr>
                    <tr>
                      <td>
                        <span ng-bind-html="'CONFIGURADO' | statusControlador"
                              tooltips tooltip-template="{{ 'main.configuradoHint' | translate }}"
                              tooltip-side="right"></span>
                      </td>
                      <td>{{ statusLogicoControladores['CONFIGURADO'] || 0 }}</td>
                      <td>{{ statusLogicoAneis['CONFIGURADO'] || 0 }}</td>
                    </tr>
                    <tr>
                      <td>
                        <span ng-bind-html="'SINCRONIZADO' | statusControlador"
                              tooltips tooltip-template="{{ 'main.sincronizadoHint' | translate }}"
                              tooltip-side="right"></span>
                      </td>
                      <td>{{ statusLogicoControladores['SINCRONIZADO'] || 0 }}</td>
                      <td>{{ statusLogicoAneis['SINCRONIZADO'] || 0 }}</td>
                    </tr>
                    <tr>
                      <td>
                        <span ng-bind-html="'EDITANDO' | statusControlador"
                              tooltips tooltip-template="{{ 'main.editandoHint' | translate }}"
                              tooltip-side="right"></span>
                      </td>
                      <td>{{ statusLogicoControladores['EDITANDO'] || 0 }}</td>
                      <td>{{ statusLogicoAneis['EDITANDO'] || 0 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 padding-top-20">
          <div class="col-lg-12 white-bg padding-bottom-20">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>{{ 'main.modo' | translate }}</h5>
              </div>
              <div class="col-lg-12 no-padding padding-top-20">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>{{ 'main.modo' | translate }}</th>
                      <th>{{ 'main.numeroAneis' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><span class="label label-primary">{{ 'planos.modosOperacao.TEMPO_FIXO_COORDENADO' | translate | uppercase }}</span></td>
                      <td>{{ modosOperacoesPorAneis['TEMPO_FIXO_COORDENADO'] || 0 }}</td>
                    </tr>
                    <tr>
                      <td><span class="label label-info">{{ 'planos.modosOperacao.TEMPO_FIXO_ISOLADO' | translate | uppercase }}</span></td>
                      <td>{{ modosOperacoesPorAneis['TEMPO_FIXO_ISOLADO'] || 0 }}</td>
                    </tr>
                    <tr>
                      <td><span class="label label-success">{{ 'planos.modosOperacao.ATUADO' | translate | uppercase }}</span></td>
                      <td>{{ modosOperacoesPorAneis['ATUADO'] || 0 }}</td>
                    </tr>
                    <tr>
                      <td><span class="label label-warning">{{ 'planos.modosOperacao.INTERMITENTE' | translate | uppercase }}</span></td>
                      <td>{{ modosOperacoesPorAneis['INTERMITENTE'] || 0 }}</td>
                    </tr>
                    <tr>
                      <td><span class="label ">{{ 'planos.modosOperacao.APAGADO' | translate | uppercase }}</span></td>
                      <td>{{ modosOperacoesPorAneis['APAGADO'] || 0 }}</td>
                    </tr>

                    <tr>
                      <td>
                        <span class="label label-modo-manual">{{ 'planos.modosOperacao.MANUAL' | translate | uppercase }}</span>
                      </td>
                      <td>{{ modosOperacoesPorAneis['MANUAL'] || 0 }}</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12">
      <div class="ibox float-e-margins white-bg">
        <div class="ibox-content ibox-heading yellow-bg">
          <h3 data-ng-bind-html="'main.falhasRegistradas' | translate:{ FALHAS: (errosControladores | falhaNaoRecuperada).length || 0 }"></h3>
          <small>
            <i class="fa fa-check-circle"></i>
            <span data-ng-bind-html="'main.recuperaFalhas' | translate:{FALHAS: (errosControladores | falhaRecuperada).length}"></span>
          </small>
        </div>
        <div class="ibox-content lista-falhas inspinia-timeline">
          <div class="timeline-item" ng-repeat="erro in errosControladores | limitTo: 10">
            <div class="row">
              <div class="col-xs-3 date">
                <i class="fa fa-plug"
                  data-ng-class="{'text-navy': erro.recuperado && erro.tipoEventoControlador !== 'ALARME','text-danger': !erro.recuperado && erro.tipoEventoControlador !== 'ALARME','text-warning': erro.tipoEventoControlador === 'ALARME'}">
                </i> {{erro.data | influuntDate: 'HH:mm:ss'}}
                <br>
                <small class="text-navy">{{erro.data | influuntDate: 'fromNow'}}</small>
              </div>
              <div class="col-xs-7 content no-top-border">
                <p class="m-b-xs"><strong>{{ erro.descricaoEvento | humanize }}</strong></p>
                <p><strong>{{erro.clc}}</strong><br>{{ erro.endereco | nomeEndereco }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-include src="'/views/dashboard/modal_controladores.html'"></ng-include>

<script>
  $(document).ready(function() {
    $('.footable').footable();
  });
</script>
