<div class="container-fluid wrapper wrapper-content animated fadeInRight" data-ng-init="init()">
  <section role="complementary" class="basic-wizard">
    <div class="content clearfix wizard-body">
      <div class="step-content tabs-container body">
        <fieldset>

          <div class="row" ng-if="somenteVisualizacao">
            <div class="col-sm-12 col-lg-12 actions clearfix padding-right-20">
              <div class="right">
                <a class="btn btn-primary" type="button"
                   tooltips tooltip-side="bottom" tooltip-template="{{ 'geral.tooltip.ver' | translate }} {{ 'controladores.geral.historico' | translate }}"
                   data-target="#modal-timeline" data-toggle="modal">
                  <i class="fa fa-code-fork"></i> {{ 'controladores.geral.historico' | translate }}
                </a>
                <a class="btn btn-primary" type="button"
                   tooltips tooltip-side="bottom" tooltip-template="{{ 'geral.tooltip.editar' | translate }} {{ 'controladores.geral.tabelaHorario' | translate }}"
                   ng-click="editarTabelaHoraria(objeto.id)"
                   ng-if="currentVersaoTabelaHoraria.statusVersao === 'EDITANDO' || currentVersaoTabelaHoraria.statusVersao === undefined"
                   permission permission-only="'criarTabelaHoraria'">
                  <i class="fa fa-edit"></i> {{ 'crud.editar' | translate }}
                </a>
                <a class="btn btn-primary" type="button"
                   tooltips tooltip-side="bottom" tooltip-template="{{ 'geral.tooltip.editar' | translate }} {{ 'controladores.geral.tabelaHorario' | translate }}"
                   ng-click="clonarTabelaHoraria(objeto.id)"
                   ng-if="currentVersaoTabelaHoraria.statusVersao === 'ATIVO'"
                   permission permission-only="'criarTabelaHoraria'">
                  <i class="fa fa-edit"></i> {{ 'crud.editar' | translate }}
                </a>
              </div>
            </div>
          </div>

          <div class="row" ng-if="!somenteVisualizacao">
            <div class="col-sm-12 col-lg-12 actions clearfix padding-right-20">
              <div class="right">
                <a class="btn btn-danger" type="button"
                    tooltips tooltip-side="bottom" tooltip-template="{{ 'controladores.geral.cancelarEdicao' | translate }} {{ 'controladores.geral.tabelaHorario' | translate }}"
                    ng-click="cancelarEdicao(objeto.id)"
                    ng-if="currentVersaoTabelaHoraria.statusVersao === 'EDITANDO'">
                  <i class="fa fa-trash"></i> {{ 'controladores.geral.cancelarEdicao' | translate }}
                </a>
              </div>
            </div>
          </div>

          <ng-include src="'views/tabela_horarios/tabs-eventos.html'"></ng-include>


          <div class="col-sm-12 col-lg-12 bg-border-footer pg-bt-footer actions clearfix" ng-if="!somenteVisualizacao">
            <div class="right">
              <a tooltips tooltip-template="Descartar" ui-sref="app.controladores" class="btn btn-outline btn-info btn-footer right m-r-sm right">
                {{ 'tabelaHorarios.descartar' | translate }}
              </a>
              <a data-ng-click="submitForm()" go-to-top tooltips tooltip-template="Salvar" class="btn btn-primary btn-footer right">
                {{ 'geral.crud.salvar' | translate }}
              </a>
            </div>
          </div>

          <influunt-modal-timeline></influunt-modal-timeline>

        </fieldset>
      </div>
    </div>
  </section>
</div>
