<div class="container-fluid wrapper wrapper-content animated fadeInRight" data-ng-init="init()">
  <section role="complementary" class="basic-wizard">
    <div class="content clearfix wizard-body">
      <div class="step-content body">
        <fieldset>
          <influunt-tabs class="tabpanel"
                         data-on-activate="selecionaAnelTabelaHorarios"
                         data-aneis-ativos="aneis"
                         data-error-check="anelTemErro">
          </influunt-tabs>
        
          <div class="row">
            <uib-alert type="danger" close="closeAlertAnel(currentAnelIndex, 'all')" data-ng-if="errors.general || errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosDePedestre || errors.aneis[currentAnelIndex].checkQuantidadeGruposSemaforicosVeiculares">
              <div style="padding-left: 12px;">
                <ul>
                  <li data-ng-repeat="message in errors.general">{{ message }}</li>
                </ul>
              </div>
            </uib-alert>
          </div>
          <div>
            <div class="col-lg-12 col-sm-12 bg-border no-padding">
              <div class="ibox float-e-margins">
                <div class="tabpanel">
                  <div class="col-lg-12 col-sm-12 tabs-container no-padding">
                    <div class="ui-layout-content tab-content">
                      <div id="tabs-1">
                        <ng-include src="'views/tabela_horarios/tabs-eventos.html'">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-12 bg-border-footer pg-bt-footer actions clearfix">
            <a data-ng-click="submitForm()" data-toggle="tooltip" data-placement="top" title="Salvar" class="btn btn-primary btn-footer right">
              {{ 'geral.crud.salvar' | translate }}
            </a>
            <a goToTop data-toggle="tooltip" data-placement="top" title="Descartar" class="btn btn-outline btn-primary btn-footer right m-r-sm right">
              {{ 'tabelaHorarios.descartar' | translate }}
            </a>
          </div>
        </fieldset>
      </div>
    </div>
  </section>
</div>