<div class="col-lg-7 col-sm-7 no-padding-left">
  <table class="table table-hover text-center uppercase">
    <thead>
    <tr>
        <th></th>
        <th data-ng-if="TabelaHorariaService.isCurrentTipoEventoNormal()">{{ 'tabelaHorarios.dias' | translate }}</th>
        <th data-ng-if="TabelaHorariaService.isCurrentTipoEventoEspecial() || TabelaHorariaService.isCurrentTipoEventoNaoRecorrente()">{{ 'tabelaHorarios.nome' | translate }}</th>
        <th data-ng-if="TabelaHorariaService.isCurrentTipoEventoEspecial()">{{ 'tabelaHorarios.data' | translate }}</th>
        <th data-ng-if="TabelaHorariaService.isCurrentTipoEventoNaoRecorrente()">{{ 'tabelaHorarios.mesAno' | translate }}</th>
        <th colspan="2">{{ 'tabelaHorarios.horario' | translate }}</th>
        <th colspan="3">{{ 'tabelaHorarios.plano' | translate }}</th>
    </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="evento in currentEventos" influunt-evento
        data-evento="evento"
        data-planos="currentPlanos"
        data-dias="dias"
        data-horarios="horarios"
        pode-remover="true"
        on-verifica-atualizacao-de-eventos="verificaAtualizacaoDeEventos"
        on-visualizar-plano="visualizarPlano"
        on-remover-evento="removerEvento"
        erros="errors.aneis[currentAnelIndex].tabelaHorario.eventos">
      </tr>
      <tr influunt-evento="visualizarPlano"
        data-evento="currentNovoEvento"
        data-planos="currentPlanos"
        data-dias="dias"
        data-horarios="horarios"
        pode-remover="false"
        on-verifica-atualizacao-de-eventos="verificaAtualizacaoDeEventos"
        on-visualizar-plano="visualizarPlano"
        on-remover-evento="removerEvento">
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-5 col-sm-5 no-padding-right lightgray-bg" ng-show="!TabelaHorariaService.isCurrentTipoEventoNaoRecorrente()">
  <ng-include src="'views/tabela_horarios/quadro-horarios.html'">
</div>
<!-- MODAL -->
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <ng-include src="'views/planos/tabela-planos.html'"></ng-include>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
