<div class="no-padding-left" data-ng-class="{'col-lg-12 col-sm-12': currentTipoEvento !== 'NORMAL', 'col-lg-7 col-sm-7': currentTipoEvento === 'NORMAL'}">
  <table class="table table-hover text-center uppercase">
    <thead>
    <tr>
        <th></th>
        <th data-ng-if="tabelaHorariaService.isCurrentTipoEventoNormal()">{{ 'tabelaHorarios.dias' | translate }}</th>
        <th data-ng-if="tabelaHorariaService.isCurrentTipoEventoEspecial() || tabelaHorariaService.isCurrentTipoEventoNaoRecorrente()">{{ 'tabelaHorarios.nome' | translate }}</th>
        <th data-ng-if="tabelaHorariaService.isCurrentTipoEventoEspecial()">{{ 'tabelaHorarios.diaMes' | translate }}</th>
        <th data-ng-if="tabelaHorariaService.isCurrentTipoEventoNaoRecorrente()">{{ 'tabelaHorarios.diaMesAno' | translate }}</th>
        <th>{{ 'tabelaHorarios.horas' | translate }}</th>
        <th>{{ 'tabelaHorarios.minutos' | translate }}</th>
        <th>{{ 'tabelaHorarios.segundos' | translate }}</th>
        <th colspan="3">{{ 'tabelaHorarios.plano' | translate }}</th>
    </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="evento in currentEventos" influunt-evento
        data-evento="evento"
        data-planos="planos"
        data-dias="dias"
        data-horarios="horarios"
        data-minutos="minutos"
        data-segundos="segundos"
        pode-remover="true"
        on-verifica-atualizacao-de-eventos="verificaAtualizacaoDeEventos"
        on-visualizar-plano="visualizarPlano"
        on-remover-evento="removerEvento"
        erros="currentErrosEventos[$index]"
        read-only="somenteVisualizacao">
      </tr>
      <tr influunt-evento="visualizarPlano"
        data-evento="currentNovoEvento"
        data-planos="planos"
        data-dias="dias"
        data-horarios="horarios"
        data-minutos="minutos"
        data-segundos="segundos"
        pode-remover="false"
        on-verifica-atualizacao-de-eventos="verificaAtualizacaoDeEventos"
        on-visualizar-plano="visualizarPlano"
        on-remover-evento="removerEvento"
        read-only="somenteVisualizacao">
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-5 col-sm-5 no-padding-right lightgray-bg" data-ng-show="currentTipoEvento === 'NORMAL'">
  <ng-include src="'views/tabela_horarios/quadro-horarios.html'">
</div>
<!-- MODAL -->
<div class="modal inmodal" id="modalDiagramaIntervalos" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content animated bounceInRight">
      <div class="modal-body">
        <fieldset>
          <influunt-tabs class="tabpanel"
                         data-on-activate="selecionaAnel"
                         active-tab="currentAnelIndex"
                         data-error-check="anelTemErro"
                         data-aneis-ativos="aneis">
          </influunt-tabs>
          <div class="col-lg-12 col-sm-12 ibox white-bg no-padding">
            <div class="ibox float-e-margins">
              <div class="tabpanel">
                <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
                  <div class="ui-layout-content tab-content">
                    <div id="tabs-1">
                      <section>
                        <div class="col-lg-12 col-sm-12 no-padding table-create-plan overflow">
                          <ng-include src="'views/planos/tabela-planos.html'"></ng-include>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
