  <table class="table table-hover">
  <thead>
  <tr>
      <th>{{ 'tabelaHorarios.hr' | translate }}</th>
      <th>{{ 'tabelaHorarios.dom' | translate }}</th>
      <th>{{ 'tabelaHorarios.seg' | translate }}</th>
      <th>{{ 'tabelaHorarios.ter' | translate }}</th>
      <th>{{ 'tabelaHorarios.qua' | translate }}</th>
      <th>{{ 'tabelaHorarios.qui' | translate }}</th>
      <th>{{ 'tabelaHorarios.sex' | translate }}</th>
      <th>{{ 'tabelaHorarios.sab' | translate }}</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>00</td>
      <td class="horarioColor1 horaStripes"></td>
      <td class="horarioColor1"></td>
      <td class="horarioColor1"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>01</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="horarioColor2"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>02</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>03</td>
      <td class="horarioColor1"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>04</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>05</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>06</td>
      <td class="horarioColor1"></td>
      <td class="horarioColor1"></td>
      <td class="horarioColor1"></td>
      <td class="horarioColor1"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>07</td>
      <td></td>
      <td></td>
      <td class="horarioColor5"></td>
      <td class="horarioColor5"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>08</td>
      <td class="horarioColor7 horaStripes"></td>
      <td class="horarioColor7 horaStripes"></td>
      <td class="horarioColor7 horaStripes"></td>
      <td class="horarioColor7 horaStripes"></td>
      <td class="horarioColor7 horaStripes"></td>
      <td class="horarioColor7"></td>
    </tr>
    <tr>
      <td>09</td>
      <td class="horarioColor1"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="horarioColor6"></td>
    </tr>
    <tr>
      <td>10</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="horarioColor6"></td>
    </tr>
    <tr>
      <td>11</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="horarioColor6"></td>
    </tr>
    <tr>
      <td>12</td>
      <td class="horarioColor1"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="horarioColor6"></td>
    </tr>
    <tr>
      <td>13</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="horarioColor6"></td>
    </tr>
    <tr>
      <td>14</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="horarioColor6"></td>
    </tr>
    <tr>
      <td>15</td>
      <td class="horarioColor1"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>16</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>17</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>18</td>
      <td class="horarioColor1"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>19</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>20</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>21</td>
      <td class="horarioColor1"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>23</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
