<div class="col-lg-12 col-sm-12 no-padding ibox white-bg">
  <div class="ibox float-e-margins">
    <div class="tabpanel">
      <div class="col-lg-12 col-sm-12 tabs-container m-t-md">
        <influunt-tabs class="tabpanel"
                       data-on-activate="selecionaTipoEvento"
                       data-aneis-ativos="tipoEventos"
                       data-error-check="tipoEventoTemErro"
                       data-name-tabs="Eventos">
        </influunt-tabs>
        <div class="ui-layout-content tab-content">
          <div>
            <div class="col-lg-12 col-sm-12 bg-border no-padding" style="background:#f2f2f2">
              <div class="ibox float-e-margins">
                <div class="tabpanel">
                  <div class="col-lg-12 col-sm-12 tabs-container no-padding">
                    <div class="ui-layout-content tab-content">
                      <div id="tabs-1">
                        <ng-include src="'views/tabela_horarios/tabelas.html'">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
