<div class="col-lg-12 col-sm-12 no-padding ibox white-bg">
  <div class="ibox float-e-margins">
    <div class="tabpanel">
      <div class="col-lg-12 col-sm-12 tabs-container m-t-md">
        <ul class="nav nav-tabs">
          <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active"><a class="" data-toggle="tab" href="#horarios" aria-expanded="false">Eventos</a></li>
          <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab"><a class="" data-toggle="tab" href="#horarios-1" aria-expanded="false">Eventos Especiais</a></li>
        </ul>
        <div class="ui-layout-content tab-content">
          <div class="m-t-md">
            <div class="col-lg-12 col-sm-12 bg-border no-padding">
              <div class="ibox float-e-margins">
                <div class="tabpanel">
                  <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
                    <div class="ui-layout-content tab-content">
                      <div id="tabs-1">
                        <ng-include src="'views/tabela_horarios/tabelas.html'">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
