log
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
imagens/*
/bin/
local
form.properties
*-tcplocalhost1883
*-tcp1270011883
*-tcpmosquittorarolabscombr1883
*-tcp17781648711017
*.log
