logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
/log
test-result
server.pid
*.eml
/dist/
.cache*
project/sbteclipse.sbt
*.ucls
app/models/modelo.png
