  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-12" ng-repeat="(k,v) in controladores">
        <div class="widget p-xl" ng-class="{'navy-bg': v.ativo,'red-bg': !v.ativo}">
          <h2>
            Controlador # {{k}}
          </h2>
          <ul class="list-unstyled m-t-md">
            <li>
              <span class="fa fa-clock-o m-r-xs"></span>
              <label>Tempo do Intervalo:</label> {{v.status.argumentos[1]}} ms
            </li>
            <li>
              <span class="fa fa-clock-o m-r-xs"></span>
              <label>Atraso:</label> {{v.status.argumentos[0]}} ms
            </li>
          </ul>

          <div class="white-bg">
            <table class="table">
              <tbody>
                <tr>
                  <td ng-repeat="estado in v.status.estadoDosGrupos track by $index">
                    <button type="button" class="btn m-r-sm" ng-class="class(estado)">G{{$index + 1}}</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>