<div class="container-fluid wrapper wrapper-content animated fadeInRight" data-ng-init="inicializaWizard()">
  <div class="col-lg-12 col-sm-12">
    <section role="complementary" class="basic-wizard">
      <div class="col-lg-12 col-sm-12 no-padding">
        <div class="ibox float-e-margins">
          <div id="wizard" wizard on-step-changing="wizardEventCtrl.onChange">

            <h1>{{ 'controladores.dadosBasicos' | translate }}</h1>
            <div class="step-content">
              <div class="text-center m-t-md">
                <div class="col-lg-12 col-sm-12">
                  <div class="ibox float-e-margins">
                    <div class="">
                      <form name="formDadosBasicos" novalidate>
                        <div class="col-lg-5 col-sm-5">
                          <div class="form-group" />

                          <div class="form-group">
                            <label>{{ 'controladores.cidade' | translate }}:</label>
                            <select name="cidade" class="form-control"
                              data-ng-options="cidade as cidade.nome for cidade in data.cidades"
                              data-ng-model="objeto.cidade"></select>
                          </div>

                          <div class="form-group">
                            <label>{{ 'controladores.area' | translate }}:</label>
                            <select name="area" class="form-control"
                              data-ng-options="area as area.descricao for area in objeto.cidade.areas"
                              data-ng-model="objeto.area"></select>
                          </div>

                          <div class="form-group">
                            <label>{{ 'controladores.descricao' | translate }}:</label>
                            <textarea type="text" placeholder="" name="descricao" class="form-control"
                              data-ng-model="objeto.descricao" required></textarea>
                          </div>
                          <div class="form-group">
                            <label>{{ 'controladores.numeroSMEE' | translate }}:</label>
                            <input type="text" placeholder="" name="numeroSMEE" class="form-control"
                              data-ng-model="objeto.numeroSMEE">
                          </div>

                          <div class="form-group">
                            <label>{{ 'controladores.idControlador' | translate }}:</label>
                            <input type="text" placeholder="" name="idControlador" class="form-control"
                              data-ng-model="objeto.idControlador">
                          </div>

                          <div class="col-lg-4 col-sm-4 no-padding-right">
                            <div class="form-group">
                              <label>{{ 'controladores.numeroSMEEConjugado1' | translate }}:</label>
                              <input type="text" placeholder="" name="numeroSMEEConjugado1" class="form-control"
                                data-ng-model="objeto.numeroSMEEConjugado1">
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-4 no-padding-right">
                            <div class="form-group">
                              <label>{{ 'controladores.numeroSMEEConjugado2' | translate }}:</label>
                              <input type="text" placeholder="" name="numeroSMEEConjugado2" class="form-control"
                                data-ng-model="objeto.numeroSMEEConjugado2">
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-4 no-padding-right">
                            <div class="form-group">
                              <label>{{ 'controladores.numeroSMEEConjugado3' | translate }}:</label>
                              <input type="text" placeholder="" name="numeroSMEEConjugado3" class="form-control"
                                data-ng-model="objeto.numeroSMEEConjugado3">
                            </div>
                          </div>

                          <div class="form-group">
                            <label>{{ 'controladores.versaoFirmware' | translate }}:</label>
                            <input type="text" placeholder="" name="firmware" class="form-control"
                              data-ng-model="objeto.firmware">
                          </div>

                          <footer class="form-group">
                            <p><small>{{ 'geral.auditoria.dataCriacao' | translate }}: {{ objeto.dataCriacao | date:"short" }}</small></p>
                            <p><small>{{ 'geral.auditoria.dataAtualizacao' | translate }}: {{ objeto.dataAtualizacao | date:"short" }}</small></p>
                            <p><small>{{ 'geral.auditoria.atualizadoPor' | translate}}: {{ objeto.atualizadoPor }}</small></p>
                          </footer>

                        </div>
                        <div class="col-lg-4 col-sm-4 maps">
                          <figure>
                            <div id="mapid" influunt-map style="border: 1px solid black; width: 100%; height: 280px;"></div>
                          </figure>

                          <div class="col-lg-6 col-sm-6 no-padding">
                            <div class="form-group">
                              <label>{{ 'controladores.latitude' | translate }}:</label>
                              <input type="text" placeholder="" name="coordenada_latitude" class="form-control"
                                data-ng-model="objeto.coordenada.latitude">
                            </div>
                          </div>
                          <div class="col-lg-6 col-sm-6 no-padding-right">
                            <div class="form-group">
                              <label>{{ 'controladores.longitude' | translate }}:</label>
                              <input type="text" placeholder="" name="coordenada_longitude" class="form-control"
                                data-ng-model="objeto.coordenada.longitude">
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 divider">
                          <div class="form-group">
                            <label class="col-sm-12 no-padding control-label">{{ 'controladores.fornecedor' | translate }}</label>
                            <div class="col-sm-12 no-padding">
                              <select name="fornecedor" class="form-control"
                                data-ng-options="fornecedor as fornecedor.nome for fornecedor in fornecedores"
                                data-ng-model="objeto.fornecedor"></select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-12 no-padding control-label">{{ 'controladores.modelo' | translate }}</label>
                            <div class="col-sm-12 no-padding">
                              <select name="modelo" class="form-control"
                                data-ng-options="modelo as modelo.nome for modelo in modelos"
                                data-ng-model="objeto.modelo"></select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-12 no-padding control-label">{{ 'controladores.tipo' | translate }}</label>
                            <div class="col-sm-12 no-padding">
                              <select name="tipo" class="form-control"
                                data-ng-options="tipo as tipo.nome for tipo in tipos"
                                data-ng-model="objeto.tipo"></select>
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-4 no-padding">
                            <h1><b>{{ objeto.maxEstagios }}</b></h1>
                            <p>{{ 'controladores.maxEstagios' | translate }}</p>
                          </div>
                          <div class="col-lg-4 col-sm-4 no-padding-right">
                            <h1><b>{{ objeto.maxGrupoSemaforos }}</b></h1>
                            <p>{{ 'controladores.maxGrupoSemaforos' | translate }}</p>
                          </div>
                          <div class="col-lg-4 col-sm-4 no-padding-right">
                            <h1><b>{{ objeto.maxAneis }}</b></h1>
                            <p>{{ 'controladores.maxAneis' | translate }}</p>
                          </div>
                          <div class="clearfix"></div>
                          <div class="col-lg-4 col-sm-4 no-padding">
                            <h1><b>{{ objeto.maxDetectorVeicular }}</b></h1>
                            <p>{{ 'controladores.maxDetectorVeicular' | translate }}</p>
                          </div>
                           <div class="col-lg-4 col-sm-4 no-padding-right">
                            <h1><b>{{ objeto.maxDetectorPedestre }}</b></h1>
                            <p>{{ 'controladores.maxDetectorPedestre' | translate }}</p>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h1>{{ 'controladores.aneis' | translate }}</h1>
            <div class="step-content">
              <div class="text-center m-t-md rings">
                <div class="col-lg-3 col-sm-3">
                   <div class="col-lg-4 col-sm-4"><p class="activ">{{ 'controladores.ativo' | translate | uppercase }}</p></div>
                   <div class="col-lg-4 col-sm-4"><p class="rings">{{ 'controladores.anel' | translate | uppercase }}</p></div>
                   <div class="clearfix"></div>
                   <div class="col-lg-12 col-sm-12">
                    <nav>
                      <ul>
                        <li>
                          <div class="i-checks">
                            <label><span class="number">1</span><input type="checkbox" value="">03597162-1</label>
                          </div>
                        </li>
                         <li>
                          <div class="i-checks"><label><span class="number">2</span><input type="checkbox" value="">03597162-2</label></div>
                        </li>
                         <li>
                          <div class="i-checks"><label><span class="number">3</span><input type="checkbox" value="">03597162-3</label></div>
                        </li>
                        <li>
                          <div class="i-checks"><label><span class="number">4</span><input type="checkbox" value="">03597162-4</label></div>
                        </li>
                      </ul>
                    </nav>
                   </div>
                </div>
                <div class="col-lg-6 col-sm-6 groups">
                  <div class="col-lg-3 col-sm-3">
                    <div class="form-group"><label><p>{{ 'controladores.gruposPedestres' | translate }}</p></label>
                    <input type="text" placeholder="" class="form-control"></div>
                  </div>
                  <div class="col-lg-3 col-sm-3">
                    <div class="form-group"><label><p>{{ 'controladores.gruposSinaisVeiculares' | translate }}</p></label>
                    <input type="text" placeholder="" class="form-control"></div>
                  </div>
                  <div class="col-lg-3 col-sm-3">
                    <div class="form-group"><label><p>{{ 'controladores.numeroDetectores' | translate }}</p></label>
                    <input type="text" placeholder="" class="form-control"></div>
                  </div>
                  <div class="col-lg-3 col-sm-3">
                    <div class="form-group"><label><p>{{ 'controladores.numeroDetectoresPedestres' | translate }}</p></label>
                    <input type="text" placeholder="" class="form-control"></div>
                  </div>
                  <div class="col-lg-12 col-sm-12">
                    <div class="form-group"><label><p>{{ 'controladores.descricao' | translate }}</p></label>
                      <textarea type="text" placeholder="" class="form-control"></textarea>
                    </div>
                    <div class="form-group"><label><p>{{ 'controladores.numeroSMEE' | translate }}</p></label>
                    <input type="text" placeholder="" class="form-control"></div>
                  </div>
                  <div class="col-lg-12 col-sm-12">
                    <div class="form-group"><label><p>{{ 'controladores.localizacao' | translate }}</p></label>
                      <figure>
                        <div id="mapid" influunt-map style="border: 1px solid black; width: 100%; height: 280px;"></div>
                      </figure>

                      <div class="col-lg-6 col-sm-6 no-padding">
                        <div class="form-group">
                          <label>{{ 'controladores.latitude' | translate }}:</label>
                          <input type="text" placeholder="" name="coordenada_latitude" class="form-control"
                            data-ng-model="objeto.coordenada.latitude">
                        </div>
                      </div>
                      <div class="col-lg-6 col-sm-6 no-padding-right">
                        <div class="form-group">
                          <label>{{ 'controladores.latitude' | translate }}:</label>
                          <input type="text" placeholder="" name="coordenada_latitude" class="form-control"
                            data-ng-model="objeto.coordenada.latitude">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-3 movements">
                  <hgroup>
                    <label for=""><p>{{ 'controladores.movimentos' | translate }}</p></label>
                  </hgroup>
                  <form class="dropzone" id="my-awesome-dropzone">
                    <div class="dropzone-previews"></div>
                    <div class="fallback">
                      <input name="step_into_the_sun" type="file" multiple />
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <h1>Verdes conflitantes</h1>
            <div class="step-content">
              <div class="text-center m-t-md">
                <div class="col-lg-12 col-sm-12 figures">
                  <div class="bxslider">
                    <ul class="bxslider">
                      <li>
                        <figure class="rings-1"><img src="http://placehold.it/180x150&text=FooBar1" /></figure>
                        <p>NomeDaImagem.jpg</p>
                      </li>
                       <li>
                        <figure class="rings-1"><img src="http://placehold.it/180x150&text=FooBar2" /></figure>
                        <p>Imgname.jpg</p>
                      </li>
                       <li>
                        <figure class="rings-2"><img src="http://placehold.it/180x150&text=FooBar2" /></figure>
                        <p>Imgname.jpg</p>
                      </li>
                       <li>
                        <figure><img src="http://placehold.it/180x150&text=FooBar4" /></figure>
                        <p>NomeDaImagem.jpg</p>
                      </li>
                       <li>
                        <figure><img src="http://placehold.it/180x150&text=FooBar5" /></figure>
                        <p>NomeLongoDeImagem... .jpg</p>
                      </li>
                       <li>
                        <figure class="rings-3"><img src="http://placehold.it/180x150&text=FooBar6" /></figure>
                        <p>NomeLongoDeImagem... .jpg</p>
                      </li>
                       <li>
                        <figure class="rings-4"><img src="http://placehold.it/180x150&text=FooBar7" /></figure>
                        <p>NomeDaImagem.jpg</p>
                      </li>
                      <li>
                        <figure class=""><img src="http://placehold.it/180x150&text=FooBar8" /></figure>
                        <p>NomeDaImagem.jpg</p>
                      </li>
                      <li>
                        <figure><img src="http://placehold.it/180x150&text=FooBar9" /></figure>
                        <p>NomeDaImagem.jpg</p>
                      </li>
                      <li>
                        <figure><img src="http://placehold.it/180x150&text=FooBar10" /></figure>
                        <p>NomeDaImagem.jpg</p>
                      </li>
                      <li>
                        <figure><img src="http://placehold.it/180x150&text=FooBar11" /></figure>
                        <p>NomeDaImagem.jpg</p>
                      </li>
                       <li>
                        <figure><img src="http://placehold.it/180x150&text=FooBar12" /></figure>
                        <p>Imgname.jpg</p>
                      </li>
                    </ul>
                  </div>
                </div>
                 <div class="col-lg-12 col-sm-12 tableless">
                  <table class="tg" border="1" cellpadding="1" width="100%">
                    <thead>
                      <tr>
                      <th colspan="2" class="tg-031e"></th>
                      <th>G1</th>
                      <th>G2</th>
                      <th>G3</th>
                      <th>G4</th>
                      <th>G5</th>
                      <th>G6</th>
                      <th>G7</th>
                      <th>G8</th>
                      <th>G9</th>
                      <th>G10</th>
                      <th>G11</th>
                      <th>G12</th>
                      <th>G13</th>
                      <th>G14</th>
                      <th>G15</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td rowspan="6" class="tg-031e rings-1">Anel 1</td>
                      <td class="tg-yw4l">G1</td>
                      <td class="clickable disabled"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickableclickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                    </tr>
                      <tr>
                      <td class="tg-yw4l">G2</td>
                      <td class="clickable"></td>
                      <td class="clickable disabled"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      </tr>
                      <tr>
                      <td class="tg-yw4l">G3</td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable disabled"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      </tr>
                      <tr>
                      <td class="tg-yw4l">G4</td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable disabled"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      </tr>
                      <tr>
                      <td class="tg-yw4l">G5</td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable disabled"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      </tr>
                      <tr>
                      <td class="tg-yw4l">G6</td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable disabled"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      </tr>
                      <tr>
                      <td rowspan="3" class="tg-031e rings-2">Anel 2</td>
                      <td class="tg-yw4l">G7</td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable disabled"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      </tr>
                      <tr>
                      <td class="tg-yw4l">G8</td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable disabled"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      </tr>
                      <tr>
                      <td class="tg-yw4l">G9</td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable disabled"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      <td class="clickable"></td>
                      </tr>
                    </tbody>
                  </table>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
  $(document).ready(function(){
    // $("#wizard").steps();
    // $("#form").steps({
    //   bodyTag: "fieldset",
    //   onStepChanging: function (event, currentIndex, newIndex)
    //   {

    //     if (currentIndex > newIndex)
    //     {
    //       return true;
    //     }


    //     if (newIndex === 3 && Number($("#age").val()) < 18)
    //     {
    //       return false;
    //     }

    //     var form = $(this);


    //     if (currentIndex < newIndex)
    //     {

    //       $(".body:eq(" + newIndex + ") label.error", form).remove();
    //       $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
    //     }

    //     //form.validate().settings.ignore = ":disabled,:hidden";

    //     return form.valid();
    //   },
    //   onStepChanged: function (event, currentIndex, priorIndex)
    //   {
    //     if (currentIndex === 2 && Number($("#age").val()) >= 18)
    //     {
    //       $(this).steps("next");
    //     }

    //     if (currentIndex === 2 && priorIndex === 3)
    //     {
    //       $(this).steps("previous");
    //     }
    //   },
    //   onFinishing: function (event, currentIndex)
    //   {
    //     var form = $(this);

    //     //form.validate().settings.ignore = ":disabled";


    //     return form.valid();
    //   },
    //   onFinished: function (event, currentIndex)
    //   {
    //     var form = $(this);


    //     form.submit();
    //   }
    // })

    $('.i-checks').iCheck({
      checkboxClass: 'icheckbox_square-green',
      radioClass: 'iradio_square-green',
    });

    // $("#my-awesome-dropzone").dropzone({
    //   url: "/file/post",
    //   dictDefaultMessage: "Arraste imagens para este local",
    //   dictFallbackMessage: "Seu navegador não suporta arrastar e soltar upload de arquivos.",
    //   autoProcessQueue: false,
    //   uploadMultiple: true,
    //   parallelUploads: 100,
    //   thumbnailHeight: 100,
    //   thumbnailWidth: 100,
    //   clickable: true,
    //   paramName: true,
    //   maxFiles: 100,
    // });

    $(".tableless table .clickable").click(function() {
      $( this ).toggleClass( "active" );
    });

  });
</script>
