<div class="container-fluid wrapper wrapper-content animated fadeInRight no-padding" ng-init="inicializaMapa()">
  <div class="col-lg-12 col-sm-12 no-padding mapa-container">

    <div class="ibox float-e-margins">
      <fieldset>
        <div class="row margin-top-20">
          <div class="col-sm-12 col-lg-12 actions clearfix padding-right-20">
            <div class="right">
              <a class="btn btn-primary btn-outline btn-footer right m-r-sm" ui-sref="app.controladores">{{ 'geral.crud.voltar' | translate }}</a>
              <a class="btn btn-primary btn-outline btn-footer right m-r-sm"
                  data-ng-click="legendaAgrupamentos()"
                  data-toggle="modal" data-target="#modal-legenda-agrupamentos" aria-hidden="true">
                {{ 'controladores.mapaControladores.legenda.titulo' | translate }}
              </a>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <section role="complementary" class="">
      <div
        influunt-map
        markers="markers"
        areas="areas"
        agrupamentos="agrupamentos"
        options="{scrollWheelZoom: false}"
        map-id="map.id"
        on-click-marker="setCurrentObject($markerData)"
        class="influunt-map area-mapa"></div>

      <div class="ajutes theme-config">
        <filtro-mapa ng-model="filtro"></filtro-mapa>
      </div>

      <ng-include src="'views/controladores/mapa/acoes-anel.html'"></ng-include>
    </section>
  </div>
</div>

<!-- modal para legenda -->
<ng-include src="'views/controladores/modal-legenda-mapa.html'"></ng-include>

<!-- modal diagrama de intervalos -->
<div class="modal inmodal" id="modalDiagramaIntervalos" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <h2>{{ 'controladores.geral.plano' | translate }} {{ currentPlano.posicao }}</h2>
        <h5>{{ currentPlano.descricao }}</h5>
      </div>
      <div class="modal-body">
        <fieldset>
          <div class="col-lg-12 col-sm-12 ibox white-bg no-padding">
            <div class="ibox float-e-margins">
              <div class="tabpanel">
                <div class="col-lg-12 col-sm-12 padding-top-20 tabs-container">
                  <div class="ui-layout-content tab-content">
                    <div id="tabs-1">
                      <section>
                        <div class="col-lg-12 col-sm-12 no-padding table-create-plan overflow">
                          <ng-include src="'views/planos/tabela-planos.html'"></ng-include>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
