<!-- modal para legenda -->
<div class="modal inmodal" id="modal-legenda-agrupamentos" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <h3>{{ 'controladores.mapaControladores.legenda.titulo' | translate }}</h3>
        <hr>
        <div class="form-group">
          <div class="col-sm-6">
            <!-- controlador -->
            <div class="row">
              <div class="col-sm-6 texto-legenda">{{ 'controladores.mapaControladores.legenda.controlador' | translate }}</div>
              <div class="col-sm-6">
                <img src="images/leaflet/influunt-icons/controlador.svg" class="marker-legenda" />
              </div>
            </div>
            <!-- controlador em falha -->
            <div class="row">
              <div class="col-sm-6 texto-legenda">{{ 'controladores.mapaControladores.legenda.controladorEmFalha' | translate }}</div>
              <div class="col-sm-6">
                <img src="images/leaflet/influunt-icons/controlador-em-falha.svg" class="marker-legenda" />
              </div>
            </div>

            <!-- controlador offline -->
            <div class="row">
              <div class="col-sm-6 texto-legenda">{{ 'controladores.mapaControladores.legenda.controladorOffline' | translate }}</div>
              <div class="col-sm-6">
                <img src="images/leaflet/influunt-icons/controlador-offline.svg" class="marker-legenda" />
              </div>
            </div>
            <hr>

            <!-- anel em operacao normal -->
            <div class="row">
              <div class="col-sm-6 texto-legenda">{{ 'controladores.mapaControladores.legenda.anelOperacaoNormal' | translate }}</div>
              <div class="col-sm-6">
                <img src="images/leaflet/influunt-icons/anel-controle-central.svg" class="marker-legenda" />
              </div>
            </div>

            <!-- Operando com falhas -->
            <div class="row">
              <div class="col-sm-6 texto-legenda">{{ 'controladores.mapaControladores.legenda.anelOperandoComFalhas' | translate }}</div>
              <div class="col-sm-6">
                <img src="images/leaflet/influunt-icons/anel-em-falha.svg" class="marker-legenda" />
              </div>
            </div>

            <!-- amarelo intermitente por falha -->
            <div class="row">
              <div class="col-sm-6 texto-legenda">{{ 'controladores.mapaControladores.legenda.anelAmareloIntermitentePorFalhas' | translate }}</div>
              <div class="col-sm-6">
                <img src="images/leaflet/influunt-icons/anel-controle-local.svg" class="marker-legenda" />
              </div>
            </div>

            <!-- apagado por falha -->
            <div class="row">
              <div class="col-sm-6 texto-legenda">{{ 'controladores.mapaControladores.legenda.anelApagadoPorFalha' | translate }}</div>
              <div class="col-sm-6">
                <img src="images/leaflet/influunt-icons/anel-offline.svg" class="marker-legenda" />
              </div>
            </div>

            <!-- anel em controle manual -->
            <div class="row">
              <div class="col-sm-6 texto-legenda">{{ 'controladores.mapaControladores.legenda.anelControleManual' | translate }}</div>
              <div class="col-sm-6">
                <img src="images/leaflet/influunt-icons/anel-controle-manual.svg" class="marker-legenda" />
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 texto-legenda">{{ 'controladores.mapaControladores.legenda.subarea' | translate }}</div>
              <div class="col-sm-6">
                <div class="agrupamento-sample subarea"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 texto-legenda">{{ 'controladores.mapaControladores.legenda.corredor' | translate }}</div>
              <div class="col-sm-6">
                <div class="agrupamento-sample corredor"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 texto-legenda">{{ 'controladores.mapaControladores.legenda.rota' | translate }}</div>
              <div class="col-sm-6">
                <div class="agrupamento-sample rota"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          {{ 'crud.fechar' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
