<div id="form" data-ng-init="show()">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>
              {{ pageTitle | translate }}
              <small style="margin-left: 2px;">{{ objeto.descricao }} - #{{ minid }}</small>
            </h5>
          </div>
          <div class="ibox-content">
            <div class="widget-box">
              <div class="widget-body">
                <div class="widget-main">
                  <table class="table table-bordered table-striped">
                    <tbody>
                      <tr>
                        <th>{{ 'controladores.descricao' | translate }}</th>
                        <th>{{ objeto.descricao }}</th>
                      </tr>
                      <tr>
                        <th>{{ 'controladores.firmware' | translate }}</th>
                        <th>{{ objeto.firmware }}</th>
                      </tr>
                      <tr>
                        <th>{{ 'controladores.CLC' | translate }}</th>
                        <th>{{ objeto.CLC }}</th>
                      </tr>
                      <tr>
                        <th>{{ 'controladores.modelo' | translate }}</th>
                        <th>{{ objeto.modelo.descricao }}</th>
                      </tr>
                      <tr>
                        <th>{{ 'controladores.numeroSMEE' | translate }}</th>
                        <th>{{ objeto.numeroSMEE }}</th>
                      </tr>
                      <tr>
                        <th>{{ 'controladores.numeroSMEEConjugado1' | translate }}</th>
                        <th>{{ objeto.numeroSMEEConjugado1 }}</th>
                      </tr>
                      <tr>
                        <th>{{ 'controladores.numeroSMEEConjugado2' | translate }}</th>
                        <th>{{ objeto.numeroSMEEConjugado2 }}</th>
                      </tr>
                      <tr>
                        <th>{{ 'controladores.numeroSMEEConjugado3' | translate }}</th>
                        <th>{{ objeto.numeroSMEEConjugado3 }}</th>
                      </tr>
                      <tr>
                        <th>{{ 'controladores.latitude' | translate }}</th>
                        <td>{{ objeto.latitude }}</td>
                      </tr>
                      <tr>
                        <th>{{ 'controladores.longitude' | translate }}</th>
                        <td>{{ objeto.longitude }}</td>
                      </tr>
                      <tr>
                        <th>{{ 'geral.auditoria.dataCriacao' | translate }}</th>
                        <td>{{ objeto.dataCriacao | date }}</td>
                      </tr>
                      <tr>
                        <th>{{ 'geral.auditoria.dataAtualizacao' | translate }}</th>
                        <td>{{ objeto.dataAtualizacao | date }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <hr>
            <a class="btn btn-default" ui-sref="app.controladores">{{ 'geral.crud.voltar' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
