<div class="ibox-content">
  <form class="simple_form form-horizontal"
      method="post"
      name="formConfiguracoesControladores"
      novalidate="novalidate"
      data-ng-submit="save()">

    <div class="form-group"  data-ng-class="{'has-error': errors.descricao}">
      <label class="control-label col-sm-2 control-label">{{ 'modelos_controladores.descricao' | translate }}</label>
      <div class="col-sm-9">
        <input class="string optional form-control" name="descricao" type="text" data-ng-model="objeto.descricao">
        <p class="help-block error-msg" data-ng-repeat="error in errors.descricao">{{ error }}</p>
      </div>
    </div>
    <div class="form-group"  data-ng-class="{'has-error': errors.fabricante}">
      <label class="control-label col-sm-2 control-label">{{ 'modelos_controladores.fabricante' | translate }}</label>
      <div class="col-sm-9">
        <select name="fabricante" class="form-control"
          data-ng-options="fabricante.id as fabricante.nome for fabricante in fabricantes"
          data-ng-model="objeto.fabricante.id"></select>
        <p class="help-block error-msg" data-ng-repeat="error in errors.fabricante">{{ error }}</p>
      </div>
    </div>
    <div class="form-group"  data-ng-class="{'has-error': errors.configuracao}">
      <label class="control-label col-sm-2 control-label">{{ 'modelos_controladores.configuracao' | translate }}</label>
      <div class="col-sm-9">
        <select name="configuracao" class="form-control"
          data-ng-options="configuracao.id as configuracao.descricao for configuracao in configuracoes"
          data-ng-model="objeto.configuracao.id"></select>
        <p class="help-block error-msg" data-ng-repeat="error in errors.configuracao">{{ error }}</p>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        <input class="btn btn-primary" name="commit" type="submit" value="{{ 'geral.crud.salvar' | translate }}">
        <a class="btn btn-default" ui-sref="app.modelos_controladores">{{ 'geral.crud.voltar' | translate }}</a>
      </div>
    </div>

  </form>
</div>
