<pesquisa-lateral
    data-ng-model="pesquisa.filtro"
    campos="pesquisa.campos"
    on-close="index()">
</pesquisa-lateral>

<div class="wrapper wrapper-content animated fadeInRight" data-ng-init="index()">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{ pageTitle | translate }}</h5>
        </div>
        <div class="ibox-content">

          <!-- botão de nova usuario -->
          <div class="pull-right actions">
            <a class="btn btn-small btn-primary btn-rounded" tooltips tooltip-template="Adicionar novo usuário" ui-sref="app.usuarios_new">
              <i class="fa fa-plus"></i>
              {{ 'geral.crud.novo' | translate }}
            </a>
          </div>

          <table datatable="ng" dt-options="datatables.options" dt-instance="datatables.instance" class="table table-striped table-bordered table-hover">
            <div class="table">
              <thead>
                <tr>
                  <th sortable-th
                    data-ng-model="pesquisa"
                    data-name="nome"
                    data-label="{{ 'usuarios.nome' | translate }}"
                    data-ng-click="index()">
                  </th>
                  <th sortable-th
                    data-ng-model="pesquisa"
                    data-name="login"
                    data-label="{{ 'usuarios.login' | translate }}"
                    data-ng-click="index()">
                  </th>
                  <th sortable-th
                    data-ng-model="pesquisa"
                    data-name="email"
                    data-label="{{ 'usuarios.email' | translate }}"
                    data-ng-click="index()">
                  </th>
                  <th sortable-th
                    data-ng-model="pesquisa"
                    data-name="perfil.nome"
                    data-label="{{ 'usuarios.perfil' | translate }}"
                    data-ng-click="index()">
                  </th>
                  <th>{{ 'geral.crud.opcoes' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="usuario in lista">
                  <td>{{ usuario.nome }}</td>
                  <td>{{ usuario.login }}</td>
                  <td><a href="mailto:{{ usuario.email}}" target="_top">{{ usuario.email }}</a></td>
                  <td data-ng-bind-html="usuario.perfil | resourceToString"></td>
                  <td>
                    <a ui-sref="app.usuarios_show({id: usuario.id})" class="btn btn-primary btn-xs">
                      {{ 'geral.crud.visualizar' | translate }}
                    </a>
                    <a ui-sref="app.usuarios_edit({id: usuario.id})" class="btn btn-primary btn-xs" data-ng-if="!usuario.root">
                      {{ 'geral.crud.editar' | translate }}
                    </a>
                    <a data-ng-click="confirmDelete(usuario.id)" class="btn btn-danger btn-xs" data-ng-if="!usuario.root">
                      {{ 'geral.crud.excluir' | translate }}
                    </a>
                    <a ui-sref="app.usuarios_access_log({id: usuario.id})" class="btn btn-info btn-xs">
                      {{ 'usuarios.access_log' | translate }}
                    </a>
                  </td>
                </tr>
              </tbody>
            </div>
          </table>

          <ng-include src="'views/common/footer-pagination.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</div>
