<div class="ibox-content">
  <form class="simple_form form-horizontal"
      method="post"
      name="formModelos"
      novalidate="novalidate"
      data-ng-submit="save()">

    <div class="form-group" data-ng-class="{'has-error': errors.descricao}">
      <label class="col-sm-2 control-label">{{ 'modelos.descricao' | translate }}</label>
      <div class="col-sm-9">
        <input class="string optional form-control" name="descricao" type="text" data-ng-model="objeto.descricao">
        <p class="help-block error-msg" data-ng-repeat="error in errors.descricao">{{ error }}</p>
      </div>
    </div>

    <div class="form-group" data-ng-class="{'has-error': errors.fabricante}">
      <label class="col-sm-2 control-label">{{ 'modelos.fabricante' | translate }}</label>
      <div class="col-sm-9">
        <select name="fabricante" class="form-control"
          data-ng-options="fabricante.id as fabricante.nome for fabricante in fabricantes"
          data-ng-model="objeto.fabricante.id"></select>
        <p class="help-block error-msg" data-ng-repeat="error in errors.fabricante">{{ error }}</p>
      </div>
    </div>

    <div class="form-group" data-ng-class="{'has-error': errors.limiteEstagio}">
      <label class="col-sm-2 control-label">{{ 'modelos.limiteEstagio' | translate }}</label>
      <div class="col-sm-9">
        <input class="string optional form-control" name="limiteEstagio" type="number" data-ng-model="objeto.limiteEstagio">
        <p class="help-block error-msg" data-ng-repeat="error in errors.limiteEstagio">{{ error }}</p>
      </div>
    </div>

    <div class="form-group" data-ng-class="{'has-error': errors.limiteGrupoSemaforico}">
      <label class="col-sm-2 control-label">{{ 'modelos.limiteGrupoSemaforico' | translate }}</label>
      <div class="col-sm-9">
        <input class="string optional form-control" name="limiteGrupoSemaforico" type="number" data-ng-model="objeto.limiteGrupoSemaforico">
        <p class="help-block error-msg" data-ng-repeat="error in errors.limiteGrupoSemaforico">{{ error }}</p>
      </div>
    </div>

    <div class="form-group" data-ng-class="{'has-error': errors.limiteAnel}">
      <label class="col-sm-2 control-label">{{ 'modelos.limiteAnel' | translate }}</label>
      <div class="col-sm-9">
        <input class="string optional form-control" name="limiteAnel" type="number" data-ng-model="objeto.limiteAnel">
        <p class="help-block error-msg" data-ng-repeat="error in errors.limiteAnel">{{ error }}</p>
      </div>
    </div>

    <div class="form-group" data-ng-class="{'has-error': errors.limiteDetectorPedestre}">
      <label class="col-sm-2 control-label">{{ 'modelos.limiteDetectorPedestre' | translate }}</label>
      <div class="col-sm-9">
        <input class="string optional form-control" name="limiteDetectorPedestre" type="number" data-ng-model="objeto.limiteDetectorPedestre">
        <p class="help-block error-msg" data-ng-repeat="error in errors.limiteDetectorPedestre">{{ error }}</p>
      </div>
    </div>

    <div class="form-group" data-ng-class="{'has-error': errors.limiteDetectorVeicular}">
      <label class="col-sm-2 control-label">{{ 'modelos.limiteDetectorVeicular' | translate }}</label>
      <div class="col-sm-9">
        <input class="string optional form-control" name="limiteDetectorVeicular" type="number" data-ng-model="objeto.limiteDetectorVeicular">
        <p class="help-block error-msg" data-ng-repeat="error in errors.limiteDetectorVeicular">{{ error }}</p>
      </div>
    </div>

    <div class="form-group" data-ng-class="{'has-error': errors.limiteTabelasEntreVerdes}">
      <label class="col-sm-2 control-label">{{ 'modelos.limiteTabelasEntreVerdes' | translate }}</label>
      <div class="col-sm-9">
        <input class="string optional form-control" name="limiteTabelasEntreVerdes" type="number" data-ng-model="objeto.limiteTabelasEntreVerdes">
        <p class="help-block error-msg" data-ng-repeat="error in errors.limiteTabelasEntreVerdes">{{ error }}</p>
      </div>
    </div>

    <div class="form-group" data-ng-class="{'has-error': errors.limitePlanos}">
      <label class="col-sm-2 control-label">{{ 'modelos.limitePlanos' | translate }}</label>
      <div class="col-sm-9">
        <input class="string optional form-control" name="limitePlanos" type="number" data-ng-model="objeto.limitePlanos">
        <p class="help-block error-msg" data-ng-repeat="error in errors.limitePlanos">{{ error }}</p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        <input class="btn btn-primary" name="commit" type="submit" value="{{ 'geral.crud.salvar' | translate }}">
        <a class="btn btn-default" ui-sref="app.modelos">{{ 'geral.crud.voltar' | translate }}</a>
      </div>
    </div>

  </form>
</div>
