<div class="form-group col-md-9">

  <div ng-repeat="area in cidade.areas">
    <div class="form-group">
      <label class="control-label col-md-2">Descrição </label>
      <div class="col-md-3">
        <input type="text" class="form-control" ng-model="area.descricao" placeholder="Descrição"/>
      </div>
      <div class="col-md-2">
        <a ng-click="removeAddress($index, user)" class="btn btn-xs btn-danger">X</a>
      </div>
    </div>
    <hr/>
  </div>

  <div class="form-group">
    <div class="col-md-offset-6">
      <a ng-click="addArea()" class="btn btn-success btn-xs">+ Add area</a>
    </div>
  </div>
</div>

